In [ ]:

  
{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Final Project Module 2: Statistical Analysis and Hypothesis Testing\n",
    "\n",
    "\n",
    "* Student name: BRITTA BETTENDORF\n",
    "* Student pace: FULL TIME\n",
    "* Instructor name: RAFAEL CARRASCO"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### The Scientific Method\n",
    "<img src=\"The+Scientific+Method.jpg\" height=\"50%\" width=\"50%\">"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Based on this schema, my steps will be the same for every question posed:\n",
    "#### 1. Doing some exploratory RESEARCH\n",
    "- Exploring the existing data\n",
    "- Feature engineering\n",
    "\n",
    "#### 2. Defining the HYPOTHESIS\n",
    "- Defining the null and alternative hypothesis\n",
    "- Explaining how to choose between using a one-tailed test (directional hypothesis) or a two-tailed test (non-directional hypothesis)\n",
    "- Setting significance level\n",
    "\n",
    "#### 3. STATISTICAL TESTING\n",
    "- Justifying the appropriate statistical test\n",
    "- Checking its assumptions\n",
    "- Calculating test statistic and p-value\n",
    "- Calculating effect size\n",
    "\n",
    "#### 4. Drawing CONCLUSIONS \n",
    "- Evaluating the results and interpreting them"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Project Northwind Database"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The Northwind database is a sample database used by Microsoft to demonstrate the features of some of its products, including SQL Server and Microsoft Access. The database contains the sales data for a fictitious company called Northwind Traders, which imports and exports specialty foods from around the world."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [],
   "source": [
    "# import libraries\n",
    "import sqlalchemy\n",
    "import pandas as pd\n",
    "import numpy as np\n",
    "\n",
    "from sqlalchemy import create_engine\n",
    "from sqlalchemy import inspect\n",
    "\n",
    "import matplotlib.pyplot as plt\n",
    "import seaborn as sns\n",
    "plt.style.use('seaborn')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']\n"
     ]
    }
   ],
   "source": [
    "# connecting to the Database using SQLAlchemy\n",
    "engine = create_engine(\"sqlite:///Northwind_small.sqlite\")\n",
    "\n",
    "# create an inspector object\n",
    "inspector = inspect(engine)\n",
    "\n",
    "# get names of tables in database\n",
    "print(inspector.get_table_names())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [],
   "source": [
    "# write a quick function that prints the columns of a table and each column's type\n",
    "\n",
    "def get_columns_info(table_name):    \n",
    "    \"\"\" Function takes in table name and prints columns' names\n",
    "    and datatypes \"\"\"\n",
    "    \n",
    "    cols_list = inspector.get_columns(table_name)    \n",
    "    print(f\"Table Name: {table_name}\\n\")\n",
    "    for col in cols_list:\n",
    "        print(f\"Name: {col['name']} \\t Type: {col['type']}\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Table Name: OrderDetail\n",
      "\n",
      "Name: Id \t Type: VARCHAR(8000)\n",
      "Name: OrderId \t Type: INTEGER\n",
      "Name: ProductId \t Type: INTEGER\n",
      "Name: UnitPrice \t Type: DECIMAL\n",
      "Name: Quantity \t Type: INTEGER\n",
      "Name: Discount \t Type: FLOAT\n"
     ]
    }
   ],
   "source": [
    "# calling the function to test it\n",
    "get_columns_info('OrderDetail')"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 1. Question: Preferences vs. Sales"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "> Do customers spend significantly more money on imported products than on domestic ones? So might there be a chance to sell more by focusing on imported products?"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 1.1 - Exploratory Research"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Table Name: Order\n",
      "\n",
      "Name: Id \t Type: INTEGER\n",
      "Name: CustomerId \t Type: VARCHAR(8000)\n",
      "Name: EmployeeId \t Type: INTEGER\n",
      "Name: OrderDate \t Type: VARCHAR(8000)\n",
      "Name: RequiredDate \t Type: VARCHAR(8000)\n",
      "Name: ShippedDate \t Type: VARCHAR(8000)\n",
      "Name: ShipVia \t Type: INTEGER\n",
      "Name: Freight \t Type: DECIMAL\n",
      "Name: ShipName \t Type: VARCHAR(8000)\n",
      "Name: ShipAddress \t Type: VARCHAR(8000)\n",
      "Name: ShipCity \t Type: VARCHAR(8000)\n",
      "Name: ShipRegion \t Type: VARCHAR(8000)\n",
      "Name: ShipPostalCode \t Type: VARCHAR(8000)\n",
      "Name: ShipCountry \t Type: VARCHAR(8000)\n"
     ]
    }
   ],
   "source": [
    "get_columns_info('Order')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {
    "scrolled": false
   },
   "outputs": [],
   "source": [
    "# joining \"Supplier\", \"Product\", \"OrderDetail\", \"Order\" and \"Customer\" tables \n",
    "# using the pd.read_sql_query() method and giving them meaningful column names in that step\n",
    "\n",
    "df1 = pd.read_sql_query('''SELECT p.Id product_id, p.ProductName product_name, s.Id supplier_id, \n",
    "                            s.Country supplier_country, s.Region supplier_region, od.Quantity order_quantity,\n",
    "                            od.UnitPrice unit_price, c.Id customer_id, c.Country customer_country, \n",
    "                            c.Region customer_region\n",
    "                            FROM Supplier s\n",
    "                            JOIN Product p ON s.Id = p.SupplierId\n",
    "                            JOIN OrderDetail od ON p.Id = od.ProductId\n",
    "                            JOIN [Order] o ON od.OrderId = o.Id\n",
    "                            JOIN Customer c ON o.CustomerId = c.Id\n",
    "                            ;''', engine)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1. Rows and Columns:\n",
      "(2078, 10)\n",
      "...............................\n",
      "\n",
      "2. Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2078 entries, 0 to 2077\n",
      "Data columns (total 10 columns):\n",
      "product_id          2078 non-null int64\n",
      "product_name        2078 non-null object\n",
      "supplier_id         2078 non-null int64\n",
      "supplier_country    2078 non-null object\n",
      "supplier_region     2078 non-null object\n",
      "order_quantity      2078 non-null int64\n",
      "unit_price          2078 non-null float64\n",
      "customer_id         2078 non-null object\n",
      "customer_country    2078 non-null object\n",
      "customer_region     2078 non-null object\n",
      "dtypes: float64(1), int64(3), object(6)\n",
      "memory usage: 162.4+ KB\n",
      "None\n",
      "...............................\n",
      "\n",
      "3. Dataframe:\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>product_id</th>\n",
       "      <th>product_name</th>\n",
       "      <th>supplier_id</th>\n",
       "      <th>supplier_country</th>\n",
       "      <th>supplier_region</th>\n",
       "      <th>order_quantity</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>customer_id</th>\n",
       "      <th>customer_country</th>\n",
       "      <th>customer_region</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>11</td>\n",
       "      <td>Queso Cabrales</td>\n",
       "      <td>5</td>\n",
       "      <td>Spain</td>\n",
       "      <td>Southern Europe</td>\n",
       "      <td>12</td>\n",
       "      <td>14.0</td>\n",
       "      <td>VINET</td>\n",
       "      <td>France</td>\n",
       "      <td>Western Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>42</td>\n",
       "      <td>Singaporean Hokkien Fried Mee</td>\n",
       "      <td>20</td>\n",
       "      <td>Singapore</td>\n",
       "      <td>South-East Asia</td>\n",
       "      <td>10</td>\n",
       "      <td>9.8</td>\n",
       "      <td>VINET</td>\n",
       "      <td>France</td>\n",
       "      <td>Western Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>72</td>\n",
       "      <td>Mozzarella di Giovanni</td>\n",
       "      <td>14</td>\n",
       "      <td>Italy</td>\n",
       "      <td>Southern Europe</td>\n",
       "      <td>5</td>\n",
       "      <td>34.8</td>\n",
       "      <td>VINET</td>\n",
       "      <td>France</td>\n",
       "      <td>Western Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>14</td>\n",
       "      <td>Tofu</td>\n",
       "      <td>6</td>\n",
       "      <td>Japan</td>\n",
       "      <td>Eastern Asia</td>\n",
       "      <td>9</td>\n",
       "      <td>18.6</td>\n",
       "      <td>TOMSP</td>\n",
       "      <td>Germany</td>\n",
       "      <td>Western Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>51</td>\n",
       "      <td>Manjimup Dried Apples</td>\n",
       "      <td>24</td>\n",
       "      <td>Australia</td>\n",
       "      <td>NSW</td>\n",
       "      <td>40</td>\n",
       "      <td>42.4</td>\n",
       "      <td>TOMSP</td>\n",
       "      <td>Germany</td>\n",
       "      <td>Western Europe</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   product_id                   product_name  supplier_id supplier_country  \\\n",
       "0          11                 Queso Cabrales            5            Spain   \n",
       "1          42  Singaporean Hokkien Fried Mee           20        Singapore   \n",
       "2          72         Mozzarella di Giovanni           14            Italy   \n",
       "3          14                           Tofu            6            Japan   \n",
       "4          51          Manjimup Dried Apples           24        Australia   \n",
       "\n",
       "   supplier_region  order_quantity  unit_price customer_id customer_country  \\\n",
       "0  Southern Europe              12        14.0       VINET           France   \n",
       "1  South-East Asia              10         9.8       VINET           France   \n",
       "2  Southern Europe               5        34.8       VINET           France   \n",
       "3     Eastern Asia               9        18.6       TOMSP          Germany   \n",
       "4              NSW              40        42.4       TOMSP          Germany   \n",
       "\n",
       "  customer_region  \n",
       "0  Western Europe  \n",
       "1  Western Europe  \n",
       "2  Western Europe  \n",
       "3  Western Europe  \n",
       "4  Western Europe  "
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('1. Rows and Columns:')\n",
    "print(df1.shape)\n",
    "print('...............................')\n",
    "print('\\n2. Info:')\n",
    "print(df1.info())\n",
    "print('...............................\\n\\n3. Dataframe:')\n",
    "df1.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Feature Engineering"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "imported    1945\n",
       "domestic     133\n",
       "Name: country_preference, dtype: int64"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Whenever supplier_country and customer_country match,\n",
    "# the new \"country_preference\" column will be labeled \"domestic\", otherwise \"imported\"\n",
    "df1['country_preference'] = np.where(df1['supplier_country'] == df1['customer_country'], 'domestic', 'imported')\n",
    "df1['country_preference'].value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Okay, in terms of numbers this is **too obvious**, so let's make it more difficult and define imported vs. domestic via regions:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "imported    1780\n",
       "domestic     298\n",
       "Name: region_preference, dtype: int64"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Whenever supplier_REGION and customer_REGION match,\n",
    "# the new \"region_preference\" column will be labeled \"domestic\", otherwise \"imported\"\n",
    "df1['region_preference'] = np.where(df1['supplier_region'] == df1['customer_region'], 'domestic', 'imported')\n",
    "df1['region_preference'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>product_id</th>\n",
       "      <th>product_name</th>\n",
       "      <th>supplier_id</th>\n",
       "      <th>supplier_country</th>\n",
       "      <th>supplier_region</th>\n",
       "      <th>order_quantity</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>customer_id</th>\n",
       "      <th>customer_country</th>\n",
       "      <th>customer_region</th>\n",
       "      <th>country_preference</th>\n",
       "      <th>region_preference</th>\n",
       "      <th>spending</th>\n",
       "      <th>domestic_spending</th>\n",
       "      <th>imported_spending</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>11</td>\n",
       "      <td>Queso Cabrales</td>\n",
       "      <td>5</td>\n",
       "      <td>Spain</td>\n",
       "      <td>Southern Europe</td>\n",
       "      <td>12</td>\n",
       "      <td>14.0</td>\n",
       "      <td>VINET</td>\n",
       "      <td>France</td>\n",
       "      <td>Western Europe</td>\n",
       "      <td>imported</td>\n",
       "      <td>imported</td>\n",
       "      <td>168.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>168.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>42</td>\n",
       "      <td>Singaporean Hokkien Fried Mee</td>\n",
       "      <td>20</td>\n",
       "      <td>Singapore</td>\n",
       "      <td>South-East Asia</td>\n",
       "      <td>10</td>\n",
       "      <td>9.8</td>\n",
       "      <td>VINET</td>\n",
       "      <td>France</td>\n",
       "      <td>Western Europe</td>\n",
       "      <td>imported</td>\n",
       "      <td>imported</td>\n",
       "      <td>98.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>98.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   product_id                   product_name  supplier_id supplier_country  \\\n",
       "0          11                 Queso Cabrales            5            Spain   \n",
       "1          42  Singaporean Hokkien Fried Mee           20        Singapore   \n",
       "\n",
       "   supplier_region  order_quantity  unit_price customer_id customer_country  \\\n",
       "0  Southern Europe              12        14.0       VINET           France   \n",
       "1  South-East Asia              10         9.8       VINET           France   \n",
       "\n",
       "  customer_region country_preference region_preference  spending  \\\n",
       "0  Western Europe           imported          imported     168.0   \n",
       "1  Western Europe           imported          imported      98.0   \n",
       "\n",
       "   domestic_spending  imported_spending  \n",
       "0                0.0              168.0  \n",
       "1                0.0               98.0  "
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# constructing a column with the amount spent\n",
    "df1['spending'] = np.multiply(df1['order_quantity'], df1['unit_price'])\n",
    "\n",
    "# if preference is domestic, then fill domestic_spending with the corresponding spending - if not, make it zero\n",
    "df1['domestic_spending'] = np.where(df1['region_preference'] == 'domestic', df1['spending'], 0.0)\n",
    "\n",
    "# same vice versa\n",
    "df1['imported_spending'] = np.where(df1['region_preference'] == 'imported', df1['spending'], 0.0)\n",
    "\n",
    "df1.head(2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "metadata": {},
   "outputs": [],
   "source": [
    "# drop all columns we don't need and group by customer\n",
    "df1_test = df1[['customer_id', 'domestic_spending', 'imported_spending']]\n",
    "df1_test = df1_test.groupby('customer_id').sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1. Rows and Columns:\n",
      "(85, 2)\n",
      "...............................\n",
      "\n",
      "2. Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Index: 85 entries, ALFKI to WOLZA\n",
      "Data columns (total 2 columns):\n",
      "domestic_spending    85 non-null float64\n",
      "imported_spending    85 non-null float64\n",
      "dtypes: float64(2)\n",
      "memory usage: 2.0+ KB\n",
      "None\n",
      "...............................\n",
      "\n",
      "3. Dataframe:\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>domestic_spending</th>\n",
       "      <th>imported_spending</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ALFKI</th>\n",
       "      <td>2534.2</td>\n",
       "      <td>2062.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>ANATR</th>\n",
       "      <td>0.0</td>\n",
       "      <td>1402.95</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AROUT</th>\n",
       "      <td>4335.0</td>\n",
       "      <td>9471.50</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>BERGS</th>\n",
       "      <td>879.5</td>\n",
       "      <td>26088.65</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>BLAUS</th>\n",
       "      <td>940.8</td>\n",
       "      <td>2299.00</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             domestic_spending  imported_spending\n",
       "customer_id                                      \n",
       "ALFKI                   2534.2            2062.00\n",
       "ANATR                      0.0            1402.95\n",
       "AROUT                   4335.0            9471.50\n",
       "BERGS                    879.5           26088.65\n",
       "BLAUS                    940.8            2299.00"
      ]
     },
     "execution_count": 12,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('1. Rows and Columns:')\n",
    "print(df1_test.shape)\n",
    "print('...............................')\n",
    "print('\\n2. Info:')\n",
    "print(df1_test.info())\n",
    "print('...............................\\n\\n3. Dataframe:')\n",
    "df1_test.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 1.2 - Hypothesis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "$H_0$: People do not spend more money on imported food, so the difference between the average amount spent on each is zero (or less).\n",
    "\n",
    "> $H_0: \\mu_d =< 0$\n",
    "\n",
    "$H_1$: People spend more money on imported products.\n",
    "\n",
    "> $H_1:  \\mu_d > 0$\n",
    "\n",
    "I set my significance level: \n",
    "\n",
    "> **$\\alpha$ = 0.05**\n",
    "\n",
    "Since I specify the direction of the difference, it's a **one-tailed** test."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 1.3 - Statistical Analysis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Appropriate Test"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "To determine whether the mean difference between two unrelated groups is significantly different from zero, the **independent t-test** is typically used.\n",
    "\n",
    "The test statistic t follows a **t-Distribution with ($n_1$ + $n_2$ - 2) degrees of freedom**, where $n_1$ ist the size of sample 1 and $n_2$ ist the size of sample 2. "
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### t-test Assumptions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* The **independent variable is categorical** with at least two levels (groups). <br> This assumption is met, as \"food_preference\" is either \"domestic\" or \"imported\".\n",
    "\n",
    "* The **dependent variable must be continuous**, which is measured on an interval or ratio scale. <br> This assumption is met, as \"spending\" is metric.\n",
    "\n",
    "* The **dependent variable should not contain any significant outliers.**  <br> This can be observed by using boxplots (see below).\n",
    "\n",
    "* The **variances between the two groups are equal**. <br> This can be tested using statistical tests e.g. Levene’s test (see below)."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAl8AAADECAYAAAChgUS0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAFlJJREFUeJzt3X+U3XV95/HnTCaRpk5o7F5s9YCsYt+gdC2hGASEHBBoxJr1R89ij7YakMXGbqOcIxSDSVvYjd2SteWHdANpiq2WY5Baf0TS3UgS+ZWKcddg8g7+Iq67eCZpQgbCr0nu/vH9pk7nzJ17Z7j53pk7z8c5Obn3+31/v/f9HZhPXvfz/d7v7anX60iSJKkavZ1uQJIkaToxfEmSJFXI8CVJklQhw5ckSVKFDF+SJEkVMnxJkiRVqK9ZQUTMAFYDARwCPgAcC3wJeKws+3Rm3hURy4FLgCFgaWZujYiTgLVAHdgOLMnMw6PVtvXIJEmSJqGm4Qv4TYDMPDsiFgCrKILXqsy88UhRRMwDzgPmA8cDdwNnlPXLMvO+iLgNWBQRjzeolSRJ6mpNw1dm/n1EfLl8+irgp8DpQETEIorZr6XAOcCGzKwDuyOiLyJqZe2mcvv1wEVAjlabmQPtPDhJkqTJppWZLzJzKCL+GngH8G7glcDtmflIRHwcWA7sB/YO22yQ4vRkTxmyhi+b06C2YfgaGjpU7+ub0dJBSZIkdVhPoxUthS+AzPzdiLgaeBg4KzN/Uq66B7gJ+CLQP2yTfopAdniUZQca1Da0b9/BVlvVNFer9TMwMNjpNiR1GccWjUet1t9wXdNPO0bE+yLiD8unBynC1Bci4o3lsguAR4D7gYsjojciTgB6M3MPsK28VgxgIbBljFpJkqSu1srM1xeAv4qIzcBMiuu7fgzcHBHPA08AV2TmgYjYAjxIEeqWlNtfBayOiFnADmBdZh5qUCtJktTVeur1evOqSWBgYHBqNKqO89SApKPBsUXjUav1N7zmy5usSpIkVcjwJUmSVCHDlyRJUoUMX5IkSRUyfEmSJFXI8CVJklQhw5ckSVKFDF+SJEkVMnxJkiRVyPAlSZJUIcOXJElShQxfkiRJFTJ8SZIkVcjwJUmSVCHDlyRJUoX6mhVExAxgNRDAIeADQA+wFqgD24ElmXk4IpYDlwBDwNLM3BoRJ7Va2+ZjkyRJmnRamfn6TYDMPBv4BLCq/LMsM99MEcQWRcQ84DxgPnApcEu5/XhqJUmSulrT8JWZfw9cUT59FfBT4HRgU7lsPfAW4BxgQ2bWM3M30BcRtXHWSpIkdbWmpx0BMnMoIv4aeAfwbuBtmVkvVw8CxwJzgL3DNjuyvGcctQONepg7dzZ9fTNaaVeiVuvvdAuSpohTTz2VRx99tK37fP3rX8/27dvbuk91j5bCF0Bm/m5EXA08DPzcsFX9wH7gQPl45PLD46htaN++g622qmmuVutnYGCw021ImiK+/vUHW6pbvHIja645v+X9Og5Nb2NNAjQ97RgR74uIPyyfHqQIU9+MiAXlsoXAFuB+4OKI6I2IE4DezNwDbBtHrSRJUldrZebrC8BfRcRmYCawFNgBrI6IWeXjdZl5KCK2AA9ShLol5fZXjaNWkiSpq/XU6/XmVZPAwMDg1GhUHedpR0lHw3hPO2p6q9X6exqt8yarkiRJFTJ8SZIkVcjwJUmSVCHDlyRJUoUMX5IkSRUyfEmSJFXI8CVJklQhw5ckSVKFDF+SJEkVMnxJkiRVyPAlSZJUIcOXJElShQxfkiRJFTJ8SZIkVcjwJUmSVCHDlyRJUoX6xloZETOBNcCJwEuA64H/A3wJeKws+3Rm3hURy4FLgCFgaWZujYiTgLVAHdgOLMnMw6PVtvvAJEmSJqMxwxfwXmBvZr4vIn4R2Ab8MbAqM288UhQR84DzgPnA8cDdwBnAKmBZZt4XEbcBiyLi8Qa1kiRJXa9Z+Po8sG7Y8yHgdCAiYhHF7NdS4BxgQ2bWgd0R0RcRtbJ2U7nteuAiIEerzcyBsRqZO3c2fX0zxnl4mq5qtf5OtyCpCzm2qB3GDF+Z+RRARPRThLBlFKcfb8/MRyLi48ByYD+wd9img8CxQE8ZsoYvm9OgdszwtW/fwRYPSdNdrdbPwMBgp9uQ1IUcW9SqsYJ60wvuI+J44OvAZzLzs8A9mflIufoe4DTgADD8VfopAtnhUZY1qpUkSep6Y4aviHg5sAG4OjPXlIvvjYg3lo8vAB4B7gcujojeiDgB6M3MPcC2iFhQ1i4EtoxRK0mS1PWaXfN1LTAXuC4iriuXfRT4VEQ8DzwBXJGZByJiC/AgRaBbUtZeBayOiFnADmBdZh5qUCtJktT1eur1evOqSWBgYHBqNKqO85ovSUfD4pUbWXPN+Z1uQ1NErdbf02idN1mVJEmqkOFLkiSpQoYvSZKkChm+JEmSKmT4kiRJqpDhS5IkqUKGL0mSpAoZviRJkipk+JIkSaqQ4UuSJKlChi9JkqQKGb4kSZIqZPiSJEmqkOFLkiSpQoYvSZKkCvWNtTIiZgJrgBOBlwDXA98F1gJ1YDuwJDMPR8Ry4BJgCFiamVsj4qRWa9t/aJIkSZNPs5mv9wJ7M/PNwELgZmAVsKxc1gMsioh5wHnAfOBS4JZy+/HUSpIkdb1m4evzwHXDng8BpwObyufrgbcA5wAbMrOembuBvoiojbNWkiSp64152jEznwKIiH5gHbAM+LPMrJclg8CxwBxg77BNjyzvGUftwFi9zJ07m76+GS0ckgS1Wn+nW5DUhRxb1A5jhi+AiDgeuAe4NTM/GxF/Omx1P7AfOFA+Hrn88Dhqx7Rv38FmJRJQDI4DA4OdbkNSF3JsUavGCupjnnaMiJcDG4CrM3NNuXhbRCwoHy8EtgD3AxdHRG9EnAD0ZuaecdZKkiR1vWYzX9cCc4HrIuLItV9/APxFRMwCdgDrMvNQRGwBHqQIdEvK2quA1S3WSpIkdb2eer3evGoSGBgYnBqNquM87SjpaFi8ciNrrjm/021oiqjV+nsarfMmq5IkSRUyfEmSJFXI8CVJklQhw5ckSVKFDF+SJEkVMnxJkiRVyPAlSZJUIcOXJElShQxfkiRJFTJ8SZIkVcjwJUmSVCHDlyRJUoUMX5IkSRUyfEmSJFXI8CVJklShvlaKImI+8MnMXBAR84AvAY+Vqz+dmXdFxHLgEmAIWJqZWyPiJGAtUAe2A0sy8/BotW09KkmSpEmqafiKiI8B7wOeLhfNA1Zl5o3DauYB5wHzgeOBu4EzgFXAssy8LyJuAxZFxOMNaiVJkrpeKzNf3wfeCXymfH46EBGxiGL2aylwDrAhM+vA7ojoi4haWbup3G49cBGQo9Vm5kDbjkqSJGmSahq+MvPuiDhx2KKtwO2Z+UhEfBxYDuwH9g6rGQSOBXrKkDV82ZwGtWOGr7lzZ9PXN6NZuxIAtVp/p1uQ1EHvWfZVnnrmhbbvd/HKjW3d30t/biafu/6tbd2nJr+Wrvka4Z7M3H/kMXAT8EVg+L92/RSB7PAoyw40qB3Tvn0HJ9CqpqNarZ+BgcFOtyGpg5565gXWXHN+W/d5NMaWxSs3Ol51qbEmASbyacd7I+KN5eMLgEeA+4GLI6I3Ik4AejNzD7AtIhaUtQuBLWPUSpIkdb2JzHx9CLg5Ip4HngCuyMwDEbEFeJAi0C0pa68CVkfELGAHsC4zDzWolSRJ6notha/M/BFwZvn4W8BZo9SsAFaMWLaL4pONTWslSZKmA2+yKkmSVCHDlyRJUoUMX5IkSRUyfEmSJFXI8CVJklQhw5ckSVKFDF+SJEkVMnxJkiRVyPAlSZJUIcOXJElShQxfkiRJFTJ8SZIkVcjwJUmSVCHDlyRJUoUMX5IkSRUyfEmSJFWor5WiiJgPfDIzF0TEScBaoA5sB5Zk5uGIWA5cAgwBSzNz63hq23xckiRJk1LTma+I+BhwO3BMuWgVsCwz3wz0AIsiYh5wHjAfuBS4ZQK1kiRJXa+Vma/vA+8EPlM+Px3YVD5eD1wEJLAhM+vA7ojoi4jaeGozc2CsJubOnU1f34xxHJqms1qtv9MtSOqwozEOTJV9anJrGr4y8+6IOHHYop4yOAEMAscCc4C9w2qOLB9P7Zjha9++g81alYBiIBsYGOx0G5I6rN3jwNEaWxyvutNYoXoiF9wfHva4H9gPHCgfj1w+nlpJkqSuN5HwtS0iFpSPFwJbgPuBiyOiNyJOAHozc884ayVJkrpeS592HOEqYHVEzAJ2AOsy81BEbAEepAh0SyZQK0mS1PVaCl+Z+SPgzPLxLopPK46sWQGsGLGs5VpJkqTpwJusSpIkVcjwJUmSVCHDlyRJUoUMX5IkSRUyfEmSJFXI8CVJklQhw5ckSVKFDF+SJEkVmsgd7iVJmtQu2/0P7Lr8zrbuc1db91a4bNYvAOcfhT1rMjN8SZK6zh0nvJ0117Q31NRq/QwMDLZ1nytXbuTstu5RU4GnHSVJkipk+JIkSaqQ4UuSJKlChi9JkqQKGb4kSZIqNOFPO0bENuDJ8ukPgb8E/hwYAjZk5h9FRC9wK/AG4Dng8sz8XkScObL2RRyDJEnSlDGh8BURxwBk5oJhy74NvAv4AfCViJgHnAgck5lvKgPXjcAi4LaRtZn5rRdxHJIkSVPCRGe+3gDMjogN5T5WAC/JzO8DRMS9wAXALwNfA8jMhyLi1yNiToNaw5ckSep6Ew1fB4E/A24HXgusB/YPWz8IvBqYw89OTQIcKpcdGKV2THPnzqavb8YE29V0U6v1d7oFSR12NMaBqbJPTW4TDV+7gO9lZh3YFRFPAi8btr6fIozNLh8f0UsRvPpHqR3Tvn0HJ9iqppujcRdqSVNPu8eBozW2OF51p7FC9UQ/7biY4votIuIVFCHr6Yh4TUT0ABcDW4D7gbeWdWcC38nMA8Dzo9RKkiR1vYnOfN0BrI2IbwB1ijB2GPhbYAbFJxgfjoh/Ai6MiAeAHuAD5fZXjqx9EcegaeLcc+ezc+eOtu7z5JNPYfNm//eTJFVnQuErM58HfnuUVWeOqDtMEbRGbv/QyFqpmVZD0uKVG9v+hbqSJLWLN1mVJEmqkOFLkiSpQoYvSZKkChm+JEmSKmT4kiRJqpDhS5IkqUITvc+XJEmT2uKVGzvdQlM/f4z/DE9H/leXJHWdo3GvP+8hqHYxfKmjfv9Tm3n62aG277fd73h//pg+blp6blv3KUmangxf6qinnx1q+zvJo/Hlt1Ph9IUkaWrwgntJkqQKGb4kSZIqZPiSJEmqkOFLkiSpQoYvSZKkCnXs044R0QvcCrwBeA64PDO/16l+1BmX7f4Hdl1+Z1v3uauteytcNusXAO/vI0l68Tp5q4l/DxyTmW+KiDOBG4FFHexHHXDHCW+fEreaWLlyI2e3dY+SpOmqk+HrHOBrAJn5UET8egd7UQdNhXto+RUgUvc699z57Ny5o6Xa41a1ts+TTz6FzZsffhFdqZt18l+UOcCTw54fioi+zBz1due1Wn9PNW2pSl+60clOSZ21Y8d3O92CpplOXnB/AOgf9ry3UfCSJEnqFp0MX/cDbwUor/n6Tgd7kSRJqkQnTzveA1wYEQ8APcAHOtiLJElSJXrq9Xqne5AkSZo2vMmqJElShQxfkiRJFTJ8SZIkVcjwpXGLiGMi4kcVvdYVETEzIn4tIj5RxWuOR0T8RkSsLR9/ocPtSFNS+Xt0xVF+jQ+Po3ZlRLz/KLbTcg+TdezTi+NtuzXZXQvcmZnfBr7d6WbGkpnv7HQP0lSUmV+r4GWWATdX8DptNRXGPo2f4UstiYiXAn8LzAW+Vy47DbgJOAQ8C3yQYjb1LuDHwInA3wGnAqcBX8nMayPiV4G/oLjFyF5gMTCr3K4XmAlcCbwR+CXg7yLiU8CVmXlpRFwGfAiYAXwxM1c06PlXgLXAC8AQ8DvAa4GPA4fLff/3zLylQU+nAVcDzwP/FrgrM2+IiFOANcDT5Z995es9kZm/FBH3UQyWp1J8k8NvZebjEXEd8A5gAJgNXJeZ97X+X0HqTuUs029Q/J6NNXbcB+wETqb4Xf0PmflERNxI8ZV1AJ/NzD8vZ6R/sfzzFeBlEXEr8AfAbRRjQS+wLDPvi4h3UQS0AYrxaOcY/b6TYmx4AfgRxdjyibKv4yjGyd/PzG9ExG8BH6UYJ7+RmddExIryWI8DXgV8JDPvHa2HiFjAz8a+xyjukRnAT4F3lXV3Aq8of3bnZuYrWv3ZqzM87ahWvR/YnpnnAn9ZLlsNfDgzzwNuBY5869mrgcuAtwF/QjHwzC+XHdluSWYuAL4KfIwiaD0JLAT+EzAnM+8AngAuPdJERBwHXAO8GTgdOLYMhqO5EHgEeAtwA8WACPBK4O3AmcBHyn2O1hMUA+O7gDcNW/YnwCcy8y3AAw1ee2u5/h+B90TEG8pjO4PiS+V/ucF20nTWbOwAeKD8Pb0LuDYi3kYRZM6kCGC/Xb6ZAtiYmWdl5g3AP2fm7wGXA3vKsWwRcEtZ+6cUY8XFwMEmfb4H+G+ZeQ6wgeJNFsDBzDwfeC9wS0S8DPgj4IKy9pURcWFZ+1xmLqQIgx9psYdXU7xpexNQoxhPrgB+mJlnAyuAlzfpXZOA4Uutej2wFSAzH6Z4x/eKckocYHNZA/CDzHwS2A/8NDP/OTOfBY7cVO4U4NbyXexiinds64FNwBeBP6aYmRrNqylC4DOZeTgzP5KZTzWovQPYQ/EF7h+mmP2CYvB+LjOfAbYDr2nQE8B3MnMoM58Gnhn5s6B4FzqabeXfPwaOKfe/NTMPla/7zQbbSdNZs7EDYGP59wMUM0CnAFsys56ZLwAPAa8ra3KU1/hV4K3l7/rdQF9EvBw4kJl7M7NO4zdVR3wUODciNgFn8bPxaiNAZj5KMbN+EkVI+mr5eq+jGMNgxBjRYg97MvPHw7crj/+B8nV3UsyaaZIzfKlVOylmf46cbpwJ/N+I+Hfl+vOAXeXjZnfuTeB3ynevH6M4JbAA+H+ZeRFwPfCfy9rD/Ov/T78PnBwRLyl7WRcRr2zwOosoBuULgM9TnCYA+LWImBERsymC1GMNemp0LP/ys6B45zmakds9CpwREb1l76c12E6azlq56/fp5d9nU/xe7aA85RgRMynC0GNlzfA3cT3l3zuBz5W/6wspxoZ9FLPotbKm0e/1EVcAK8pZ/x6Kywn+pbeIOBX4CfBDipB0Yfl6NwEPNzjWvS30MNrPZzs/G5tfA/ybJr1rEjB8qVW3UEyZfwNYAjxHcY3XzRGxhX89dd7Mh4A7y+1WAv8b+F/AByPiQeC/Av+lrN1CcRqwByAzB4BPApvK2m9l5k8avM43gRvK17mSYuCDIjiuL/d9fWbuadBTI79Hcbrjf1KcEmkqM79THsdDFF+t9UL5R9L4vL+ccboEuCEzvwz8sBwPHgLWZea3RtnuuxHxNxSXTZxc7uMB4PHMfJ7iK+7ujYj/QXEd1Vi2Av8YERspZri+XC4/rRwXbgc+WI5XqyjGq4cpwt6u0XaYmUPj7OGIO4ATI2IzxWnHZ1vcTh3k1wtpWhl+8WrFr3sc8O7MvLWc+XoUOD8zd1fZhzSVlafurixPr00q5UX0T2TmbRW/7lnASzNzQ0S8FvhaZr6myh40fn7aUVNe+Qmm142yamF5fdVksIfitOM/UZw6uN3gJU1eETGL4mL6kTIz/2PV/YzhB8DnImI5xaz+kg73oxY48yVJklQhr/mSJEmqkOFLkiSpQoYvSZKkChm+JEmSKmT4kiRJqtD/BxvKb4umjAXWAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 720x216 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# boxplots for checking outliers\n",
    "df1_test[['domestic_spending', 'imported_spending']].plot(kind='box', ylim=(0, 35000), figsize=(10,3));"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> The no-outlier assumption is met."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "LeveneResult(statistic=11.696748186462553, pvalue=0.0007859534371347589)"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Levene Test for testing homogeneity of variances\n",
    "from scipy import stats\n",
    "stats.levene(df1_test['domestic_spending'], df1_test['imported_spending'])"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> The test is significant, meaning there is **no homogeneity of variances and we can't proceed**. A viable alternative would be to conduct a **Welch’s t-test**, also named \"unequal variances t-test\"."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Welch’s t-test Assumptions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The first three assumptions for the t-test were already met. Lastly, we're testing the following:\n",
    "\n",
    "* The **distribution of the two groups should follow the normal distribution**. <br> This can be tested using a Shapiro test (see below)."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(0.4288530945777893, 1.4724160334067695e-16)"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# testing normality for first group\n",
    "stats.shapiro(df1_test['domestic_spending'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(0.6535995602607727, 7.408941082170939e-13)"
      ]
     },
     "execution_count": 16,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# testing normality for second group\n",
    "stats.shapiro(df1_test['imported_spending'])"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> Shapiro’s test is significant which indicates that the groups are **not normally distributed**."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAYYAAAEFCAYAAADnpECTAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XmYFOXV9/HvbDCiwzDGAXcEokeDBoMSEBdw14SoMaImJhqXiD6DCwIqBI0bRKK4IK4oi0ryqiguPCKaqKgxGtcoAocIiII8CeKIgyzDLO8fVYNdMsz00FPdMP37XJeX3dVVdZ/TPfTp+66qu3Jqa2sRERGpk5vpAEREZMuiwiAiIhEqDCIiEqHCICIiESoMIiISocIgIiIR+ZkOQJqPme0BLAA+DBflAquA29z90UzFBWBmzwO/cvcvzOxZYIi7z0lj+9OBqe4+6TvL+wLj3H3fdMWS0PZ44B53f6cJ2+wALHf3nHpe2wm4DfgBUAusAUa5+1PNFHJScZnZCcBR7n5x3O1KPFQYWp417r5/3RMz6wj8zcyq3f3xDMZ1dN0Dd/9JBuPYkhwN3NuM+7sf+Ku7nwZgZj8A/m5mvd19bjO20yB3fxp4Ol3tSfNTYWjh3H2xmV0NDAUeN7Ni4E5gf4JflTOA4e5eZWZrgVuAo4DtgGuA/sB+wOfAz9z9GzPbB7gd+B6QB4x19wlmth0wEdgTqAHeAQYAD4ThvGRmPwFeBU5x97fN7BxgMFANfAGc5e6fJeZgZv2A4UAroD0w2d2vCn/tjwQWAvsCBcAAd/+7me0MTAZ2BhaH2zXIzH4L/IKgp9URWAKMBwYCewG3uPuYcL3+CestDeP+3Mx2Be4G9gBywlhvCntzrwJzw9deDWObYmZnAvPC93S/MI+/AUPDz+XkMM/VwFsNpLATsI2Z5bp7jbvPCX+9l4f5VQE3AscD2xJ87k+Er50L/E+Y0wpgoLvPM7NJwNdhXLsBHwBnuvuqTcUVvj+nuHs/M3sZ+AdwMLA78FfgfHevCde7kqBn8yJwibvnm9neBH8zheF7eL+739VA3tLMdIwhO/yL4B82wFiCf/j7AQcC3YAh4Wutgf9z9x8TfKneD1xKMDRRDJxoZvnAVOBKdz8A6AMMMbNewM+BorDH0iPcZ2d3Pzt8fHjil76ZdQNGA8e5+w8JfmX+PjFwM8shKBxnufuBQC9gWDh0AdATGOPuPyIoSqPC5XcCb7h7V+BiYO8k36tDgQuAHxJ8EZ4OHAn8BLjBzOr+zfQh+CL7AUEBHBsunwK85O77EXwZ/trMTg9f2xW43t33cvdzCYrtGe7+JnAr8E74nv4I2AG4zMw6ABOAX4SvLW4g9iEERey/ZvaUmQ0FFrr7/4Wv5wGrw/2cCkwws1Iz6wOcBRwavo9/AqYl7PcA4DhgH4Ki1r+JcXUB+obv6fFAn7A3M5pgyOlHBMUnL1x/KPBMuN+fAIclvO+SBnqzs0Mtwa86CP5hjnP3WndfB9wTLqtTN9y0APjQ3Ze6ew2wCNie4JdzF4IvlfeBWcA2BF9mrwFdw1+JVxIc2/i4gbiOBGbWFQt3v83dL0hcwd1rgZ8BB5jZHwh6NDkEv3gBFrv7++Hjd8MYIej1TAr38THBL9JkvOXunyXk/Hz4eAHBL9g24XrPu/v88PF44Fgz25agGNwZtrsyjKHu/a0i+PVcn37AgPA9fQf4MUHxPoTgc6g7HrPJoSd3f5HgV/lJwJsE79s8M+uRsNq4cN0PCI5FHQb8FPg+8HrY/p+AEjOrey+fc/d17r4+3Gb7psRF8CVf4+5fAx+H2x9L8B4uCde5I2H9acDlZvYEcDJwcfgZSJqoMGSHHkQPSCdOkJVLMHRRZ13C4/X17CsPWOnu+9f9R/ArfqK7LyL4gvkj0Bb4q5n9rIG4qhJjMbNtwmEEEpZtC7wHdCf44h8axlV38HVNwuq1CcsTH9e1lYx133le33vw3f3lEgyF5X6nzbrX6t7fde6+qTjygP4J72lPgl//kEQeZtbezO4Cat39NXcf5e6HAY8Q9AYaijsPeCih7e4EvcnycL1NvcfJvr/1bV/1ne2r6x64+3SC4chHCX5wfBgO0UmaqDC0cGa2F3AVMCZcNBMYaGY5ZtYaOB94oQm7dGCNmf063P9uwGyCX/QXEgznPO/uV4RtdQ+3qyZagABeAo4Kz6aB4HjEn76zzp4ERWaEuz9DMCTRmm+HHTbluTA3zGx34PAm5JiMI81sl/DxBQS/iiuAN4CysN1i4Ew2/f5W8e17MhMYlPC5PE1QGF4h6IV1C9f77Sb29SXBwexLwuE3zKwNQe/u3YT1zgxf604wvDYrbPuXCZ/DBQTHOBqSbFybMpPgs697D8+re8HM/gyc5u7/j+C4x9dhHpImKgwtzzZm9n7437sEQxnD3P1/w9cvJjgQ+2H4nxMcQEyKu1cCJwLnmdkHwPPAVe7+d+BBgi/sOWb2DsFxibqx98eAWWa2b8K+PiToATxnZv8iGMeODCURHOycTjAkMpdgeGQOQc+kIWXAD8JtHgDeb2T9ploCPBTufw+CYzEAZxAUjQ+BfwJPEA5p1eMJ4GEzO4bgc9mW4DOpG+b5k7svB35FcJD6XaBTfTsKeyLHAAcBi8xsNsFw0nR3n5Cw6sHhfiYQfPmWu/vzBOP9L4Sf6a+Ak8NhvHolG1cD288HBgEzzextguMXdcOd1wNnhH8TbxIMLb3SlP1LanI07bZI0ySedZPpWJrCzGqBUnf/YguIpRNB7+X68Aylk4Er3L1nhkMTdLqqiGTGEoLTdT8MT6NdCZyT2ZCkjnoMIiISoWMMIiISocIgIiIRW/QxhuXLK1Ia5yopaUN5+erGV2xhlHf2ydbcszVvaDj30tKijSZZbIoW3WPIz2/sVPeWSXlnn2zNPVvzhnhzb9GFQUREmk6FQUREIlQYREQkQoVBREQiVBhERCRChUFERCJUGEREJGKLvsBNRJrH4Jcvadb9jel7e7PuT7Ys6jGISOzWrVvHKac0dDO/5vPUU09QVVXFv//tTJw4Pi1tNsUbb7zOyJHXADB8+NDMBrMJLbrHMOCZAaxZu6k7MyZHv4xEti4PPTSR4477KXvuaey5p2U6nAaNGnVTpkOoV4suDCKSOatXr+a660ZQUVHBLrsEt2yeP38et956E3l5ebRq1YrLLx9BbW0NV189jA4dOrBs2TKOPPIYFi1awPz5Tu/ehzBgQBkLFnzMbbfdRG1tLcXFxQwb9gfWr1/P4MFlrFu3nurqKoYMGc7cubP58ssVXHPNcPr3/yVPPfU41177R6ZPf5Jp0x6npqaaQw7pw7nnDqg35k8/XcyoUdeSn59PXl4eI0Zcy2effcqDD04gNzeXFStWcMIJP+cXvzi13pjmz5/HlCkPUlCQz7Jln3PEEUdz1lnn8skni/jjH6+jsHAbttmmkKKitgCccMKxPP30TAYOPJ899zQWLlzA6tWruP760ey4405MmnQ/r7zyEu3albB27VrOO+8Cunc/MPbPToVBRGIxY8YzdOrUhQEDyvjoo9m8++7bjB49kiuvHMGeexqvvvoy48bdQlnZpSxbtpRbb72TdevW0r//iTz55LO0bl3IKaf8jAEDyhg9+gaGDbuaTp06M336k0yZMpn99utGUVERo0Zdw6JFi/jmm1X063cSkyY9wDXXjOKjjz4EoLz8Sx5+eDKTJ/+FgoJWjBt3K6tXr6ZNmzYbxfzWW29itjcXXXQZ//rXe1RUfA3AF18sZ8KEKdTW1nDmmadzxBFH1RtTjx49+c9/ljFp0l9Yv349J510HGeddS7333835503gB49evHww5NYvPiTjdreZ5+uXHLJYO69905eeGEmvXr15o03Xmf8+AepqlrPmWeeHuvnlSi2whDe/vC34dNCYH+CG7nfTnAT9Ofd/dq42heRzFq0aCE9ex4EQNeu+5Kfn88XXyzfMLzTrVt37rlnHAA77bQL2223HQUFBWy//fa0bVsMQE5OMEno4sWLGDPmRgCqq6vYbbeO9OrVm/Ly/3DllYPJz8/nrLPOrTeOpUuX0qlTF1q3LgTg4osHbzLmfv1OZMqUyQwefBHbbrsdAwaUAbDvvj+kVatWAHTu3IWlS5fUG1Pw+vfJz88nPz9/Q5uLFi1kn32C253vt9/+9RaGvfYK3pcOHTqwYsUKFi9exD77dCUvL4+8vDz23nufht/wZhTbwWd3n+Tufd29L/AOwc3O7yG4gfghQE8z6x5X+yKSWbvvvgezZwe/2ufPn0dVVRU77FDKxx//G4D333+X3XbbHfi2AGx6Xx0ZMeI6xo27jwsvvJiDDjqY9957h/bt23PrrXdy1lnncu+9d4b7yiXxzpS77LIrn376CZWVlQCMGHE5y5f/t952XnttFt26/Yjbb7+bww8/kilTJgPw73/Pp7q6mrVr17Jo0UJ23XX3emMK2t/Ue/EBAPPmfVRv2999Dzp16sK8eR9RU1NDZWUl8+d7g+9Rc4p9KMnMDgS6AsOAQe6+IFw+EzgSeHdT25aUtEl5atltCgtS2r60tCil7TNla407VdmaNzSc+4P9J6QxksCAAecwbNgwLr74fDp37kxhYWtuvHEUI0eOpLa2lry8PEaNGkVOTg4FBXmUlhaxbl0r8vJyN+SSm5tDaWkRN9xwPaNHX0d1dTUAI0eOpF27dgwaNIjJkyeTm5vLwIFllJYW0bNnD4YPv4yysjJaty5gr71254ILBjBo0IXk5ORw+OGH84MfdKk35t69ezB06FAefPB+cnNzGTZsGKtWrQJqGD78Mr766isGDixjzz13qzem//73v7RuXbBR/KNGXc+gQYOYOvXPbL/99hQWtqa0tGjD661a5VNS0obS0iK2266QtWtb06vXjzjyyCMoKzuXkpISCgtbs8MObSOfc1x/77Hf89nMngDuAP4NPO7uPcPl5wCd3X3EprZN9UY9I94YkpVnJZWWFrF8eUWmw0i7bM0bsjf3dOT97rtvbziInU7l5V/y0kt/4+ST+1NZWclvfnMqt99+DzvuuCPQcO6p3qgn1h6DmbUD9nb3l8ysLZBY3oqAr+JsX0SkPjfffCOffLJwo+VjxozdcFwg04qL2zFv3hzOO+9McnKgX7+TNhSFuMU9lHQY8FcAd//azCrNrAuwEDgW0MFnEUm7IUOuTHrd7t0PTMspot+Vm5vL8OF/SHu7EH9hMIIiUOcCYAqQR3BW0psxty8iIk0Ua2Fw95u+8/wNoFecbYqISGo0V5KIiEToymeRLFC4ZGKz7m/trmc36/5ky6Ieg4jE4o03Xuepp56ItY2HH3446XXvvvsOnn32mRijST6GLXXm1zrqMYhILHr16h17G3fffTfHHnti7O00ty195lcVBhGJxbPPPsObb77O559/3uDMqQMHnk/HjntsmD/o2mtH8b3v7cAdd9zKBx+8D8DRRx/Hqaf+kpEjr2HlypV8/fVKDjroYFauXMnNN9/IpZcO4aabRrFkyWfU1NTwu99dSPfuB/Lyy39j8uQHaNeuhPXr19Ox4x6bjHfWrBd5+OHJ5Ofns9NOOzNixLVMnDieTz/9hPLycioqvubSSy+nW7f9efHFv/LII1PIzc3lhz/cnwsvvIgHHriXZcs+p7y8nP/8ZxkXXXQZPXseVG8MiRfNnX76z9lvv258+ulitt9+e2644U9UVa3n+uv/wIoVy2nfvgPvv/8eTz31XBo+tYAKg4jEqrGZUyGYpG7o0OE88cRjPPTQRHr06MWyZZ9z332TqK6u5sILz+WAA3oAcMABB3LaaWcAMG3aYwwZciXTpk2luLgdw4ZdzcqVX1FWdj4PP/wod901lvHjJ9O2bTFDhzZ8F7sXXpjJaaf9iqOOOpYZM6bzzTffANC6dSFjx97DwoULuPbaEdxxxz1MmHAv99//EIWFhVx//VW89dYbABQUtGLMmLG89dYb/OUvU+jZ86BGY/j886XcfvvddOiwIxdeeA5z585hzpzZ7Lzzztxww2gWL/6E3/zm1Gb7PJKhwiAisWps5lRgw5f+fvv9kNdem0X79h3o1m1/cnJyyM/Pp2vX/TZcqbz77h03amPBgo/54IP3mDNnNhDMdvrllyvYdtttKS5uBwTFpyEXXTSIhx6axJNPPk7Hjntw2GF9I7F17tyFL79cwZIln/HVV+UMGXIxENx3YunSpcC3M6S2b78jlZXrkoqhuLgdHTrsGG7XgcrKdSxevIiePYOhuI4d96Bdu5IGY29uOvgsIrFqbOZUAPe5AHzwwb/o1KkzHTt22jCMVFVVxezZH7DrrnUzsX77tVU311vHjntw1FHHMm7cfYwZM5bDDz+KoqK2rFr1DeXl5QDMmzenwRiefnoa5557PuPG3UdtbS2vvPJyJLaFCz+mtLSUnXbahfbtO3DbbXcxbtx9nHLKaXTtum8YW3SfbdsWNxpDfe9P585dNszGunTpElauTO/sQeoxiGSBLf300mefnc4jj/yZwsJCrrrqOoqL2/Hee+8wYMDZrF+/niOOOAqzvTfarkuXLlx33VVceeVVjB59AwMHns8336zi5z/vT0FBAcOHX83gwQMpKiomP7/hr7t99unKpZeWUVxcTJs2bejd+xCmTn2E+fOdSy65kDVr1nD55SMoKSnhtNPOYODA86murmannXbmiCOOrnef+fn5TYqhTr9+JzJy5LWUlf2OHXfcccO9INIl9tlVU6HZVTePZtrMPltz7gMHns/QocMbPDC8KXHn/cAD9/K9732Pk046JbY26vPhh/9izZo1/PjHvfjss08ZPPgiHn30qcg6W+3sqiIiW5L169czaFDZRst3370jl1/++wxEVL+dd96Fa675PRMn3kdVVRWXXXZFWttXj6ER6jFsPbI1b8je3LM1b4i3x6CDzyIiEqHCICIiESoMIiISocIgIiIRKgwiIhKhwiAiIhEqDCIiEqHCICIiESoMIiISEeuUGGY2DDgBaAXcBcwCJgG1wGygzN1r4oxBRESaJrYeg5n1BXoDBwN9gN2AW4AR7n4okANsfffkExFp4eLsMRwLfAhMA9oCQ4HfEfQaAGYAx4Sv16ukpA35+XkpBbFNYUFK25eWFqW0faZsrXGnKlvzhuzNPVvzhvhyj7Mw7AB0BPoBnYCngVx3r5sYrwIobmgH5eWrUw4i1Un0tsYJurJ1YrFszRuyN/dszRsanUQvpX3HWRhWAPPcvRJwM1tLMJxUpwhI722JRESkUXGelfQacJyZ5ZjZzsC2wN/CYw8AxwOvxti+iIhshth6DO4+3cwOA/5JUIDKgEXAeDNrBcwFpsbVvoiIbJ5YT1d198vrWdwnzjZFRCQ1usBNREQiVBhERCRChUFERCJUGEREJEKFQUREIlQYREQkQoVBREQiVBhERCRChUFERCJUGEREJEKFQUREIlQYREQkQoVBREQiVBhERCRChUFERCJUGEREJEKFQUREIlQYREQkQoVBREQiVBhERCQiP86dm9l7wMrw6SLgXuB2oAp43t2vjbN9ERFputgKg5kVArh734Rl7wO/ABYC/2tm3d393bhiEBGRpouzx9ANaGNmz4ftXAO0dvcFAGY2EzgSUGEQEdmCxFkYVgM3A/cDewIzgK8SXq8AOje0g5KSNuTn56UUxDaFBSltX1palNL2mbK1xp2qbM0bsjf3bM0b4ss9zsIwH/jY3WuB+Wa2Etg+4fUiooViI+Xlq1MOYs3a9Sltv3x5RcoxpFtpadFWGXeqsjVvyN7cszVvaDj3VAtGnGclnQOMATCznYE2wDdm1sXMcoBjgVdjbF9ERDZDnD2GB4BJZvYaUEtQKGqAKUAewVlJb8bYvoiIbIbYCoO7VwK/quelXnG1KSIiqdMFbiIiEhHrBW6ZdmjlXCprqlPaR+GSiU3eZu2uZ6fUpohIJqnHICIiESoMIiISocIgIiIRKgwiIhKhwiAiIhFJnZVkZs8CE4GnwusTRESkhUq2xzAaOI5gzqM7zaxHjDGJiEgGJdVjcPdZwCwz2wY4BXjczL4mmDn1bndfF2OMIiKSRkkfYzCzvsA4YBTwHHAx0AF4OpbIREQkI5I9xrCY4K5rE4GB7r4mXP4y8HZs0YmISNol22M4AjjN3R8EMLPvA7h7jbt3jys4ERFJv2QLw08Jho8A2gPPmNn58YQkIiKZlGxhOB84FMDdFwMHABfFFZSIiGROsoWhAEg886iS4OY7IiLSwiQ77faTwItm9ihBQfgFOhtJRKRFSqrH4O5XAGMBA7oAY919RJyBiYhIZjRlrqS5wKMEvYcvzeyweEISEZFMSvY6hjuBnwELEhbXEpzGKiIiLUiyxxiOAazuwjYREWm5ki0MC4Gcpu7czNoD7wBHA1XAJIKexmygzN1rmrpPERGJV7KF4Utgjpm9DqytW+ju52xqAzMrAO4F6noZtwAj3P1lM7sHOBGYtllRi4hIbJItDM/x7ZXPyboZuAcYFj4/AJgVPp5BMDylwiAisoVJdtrtyWa2B9AVmAns5u6LNrW+mf0WWO7uM82srjDkuHvdRXEVQHFj7ZaUtCE/Py+ZEDepVYrbFxUVNn2b0qKU2mwOpVtADJmQrXlD9uaerXlDfLkne1bSacAIYBugN/APMxvi7g9vYpNzgFozOwrYH3iQYI6lOkXAV421W16+OpnwGlRZVZ3S9hUVaxtf6TvWLq9Iqc1UlZYWsTzDMWRCtuYN2Zt7tuYNDeeeasFI9jqGKwgKQoW7/xf4Ed8OEW3E3Q9z9z7u3hd4HzgTmBHe0wHgeODVzQ1aRETik2xhqHb3DaXJ3ZcBTT2jaDBwrZn9A2gFTG3i9iIikgbJHnz+yMwGAgVmtj/wPwQ9gUaFvYY6fZoWnoiIpFuyPYYyYBeCU08nAF8TFAcREWlhkj0r6RuCYwqbPK4gIiItQ7JnJdWw8f0Xlrn7rs0fkoiIZFKyPYYNQ07hFc0nAQfFFZSIiGROU6bdBsDd17v7Y2hmVRGRFinZoaQzE57mEFwBvT6WiEREJKOSPV318ITHtcAXwGnNH46IiGRasscYzo47EBER2TIkO5S0iI3PSoJgWKnW3Ts3a1QiIpIxyQ4l/RlYB4wnOLZwBtAD+H1McYmISIYkWxiOdfcDE57fbmbvuPviOIISEZHMSfZ01ZxwCm0AzKwfwbQYIiLSwiTbYzgfeNDMdiQ41jAPOCu2qEREJGOSPSvpHaCrme0ArAnnThIRkRYoqaEkM+toZi8A/wCKzOzF8FafIiLSwiR7jOFe4CZgFfAf4C8Et+sUEZEWJtnCsIO7Pw/g7rXuPh5oG19YIiKSKckWhjVmtivhRW5mdgjBdQ0iItLCJHtW0iBgOtDFzN4Htgf6xxaViIhkTLKFoQPBlc57AXnAPHevjC0qERHJmGQLw5/c/X+Bj+IMRkREMi/ZwrDAzCYAbwJr6ha6+ybPTDKzPIK5lQyoBs4mmHRvEsGxitlAmbvXbFbkIiISiwYPPpvZLuHDFQRf6r0I7s1wONC3kX3/DMDdDwauBm4J/xvh7oeG+ztxcwMXEZF4NNZjeAbo7u5nm9lgdx+T7I7d/Ukzmx4+7Uhw/cNPgVnhshnAMcC0JsYsIiIxaqww5CQ8PgNIujAAuHuVmU0Gfg6cAvRz97r7OlQAxQ1tX1LShvz8vKY0uZFWKW5fVFTY9G1Ki1JqszmUbgExZEK25g3Zm3u25g3x5d5YYUi8OU/OJtdqgLufZWZXEByf2CbhpSLgq4a2LS9fvTlNRlRWVae0fUXF2iZvs3Z5RUptpqq0tIjlGY4hE7I1b8je3LM1b2g491QLRrIXuEH9d3DbJDP7jZkNC5+uBmqAt82sb7jseODVpuxTRETi11iPoauZLQwf75LwOJlbej4BTDSzV4AC4FJgLjDezFqFj6dufugiIhKHxgrDXpu743Bq7lPreanP5u5TRETi12Bh0K07RUSyT1OOMYiISBZQYRARkQgVBhERiVBhEBGRCBUGERGJUGEQEZEIFQYREYlQYRARkYhkb9QjTVC4ZGLG2l6769kZa1tEWgb1GEREJEKFQUREIlQYREQkQoVBREQiVBhERCRChUFERCJUGEREJEKFQUREIlQYREQkQoVBREQiVBhERCQilrmSzKwAmADsAbQGbgDmAJOAWmA2UObuNXG0LyIimy+uHsOvgRXufihwPDAOuAUYES7LAU6MqW0REUlBXLOrPgZMTXheBRwAzAqfzwCOAaY1tJOSkjbk5+elFEirFLcvKipMaft0KyotAqA0/H+2yda8IXtzz9a8Ib7cYykM7r4KwMyKCArECOBmd68NV6kAihvbT3n56pRjqayqTmn7ioq1KceQTmuXV1BaWsTy5RWZDiXtsjVvyN7cszVvaDj3VAtGbAefzWw34CXgIXf/M5B4PKEI+CqutkVEZPPFUhjMrAPwPHCFu08IF79nZn3Dx8cDr8bRtoiIpCauYwzDgRLgKjO7Klx2CTDWzFoBc4kegxARkS1EXMcYLiEoBN/VJ472RESk+egCNxERiVBhEBGRCBUGERGJUGEQEZEIFQYREYlQYRARkQgVBhERiVBhEBGRCBUGERGJUGEQEZEIFQYREYlQYRARkQgVBhERiVBhEBGRCBUGERGJUGEQEZEIFQYREYlQYRARkQgVBhERiVBhEBGRiPw4d25mPYHR7t7XzL4PTAJqgdlAmbvXxNm+iIg0XWw9BjO7HLgfKAwX3QKMcPdDgRzgxLjaFhGRzRfnUNIC4OSE5wcAs8LHM4CjYmxbREQ2U2xDSe7+uJntkbAox91rw8cVQHFj+ygpaUN+fl5KcbRKcfuiosLGV9qCFJUWAVAa/j/bZGvekL25Z2veEF/usR5j+I7E4wlFwFeNbVBevjrlRiurqlPavqJibcoxpNPa5RWUlhaxfHlFpkNJu2zNG7I392zNGxrOPdWCkc6zkt4zs77h4+OBV9PYtoiIJCmdPYbBwHgzawXMBaamsW0REUlSrIXB3T8BeoWP5wN94mxPRERSpwvcREQkQoVBREQiVBhERCRChUFERCJUGEREJEKFQUREIlQYREQkIp0XuG2VHpv/SLO0R2g4AAAEF0lEQVTsp/9epzXLfkRE4qYeg4iIRKjH0MIULpkIKwspTPPkf2t3PTut7YlIfNRjEBGRCBUGERGJUGEQEZEIFQYREYlQYRARkQidlZQmzXE9hK6FEJF0UI9BREQiVBhERCRCQ0lbkWSHo1rl51FZVb3J1+MYkipcMrHZ95kMXVgn0vzUYxARkQgVBhERiUjrUJKZ5QJ3Ad2AdcB57v5xOmOQlqVwycQNQ2yNDaE1pjmG2DI2G28G5sdKp0wOGWbjMGm6ewwnAYXufhBwJTAmze2LiEgj0l0YDgGeA3D3N4AD09y+iIg0Iqe2tjZtjZnZ/cDj7j4jfP4p0Nndq9IWhIiINCjdPYavgaLE9lUURES2LOkuDH8HfgJgZr2AD9PcvoiINCLdF7hNA442s9eBHEBXJ4mIbGHSeoxBRES2fLrATUREIlQYREQkQoVBREQiWtzsqi1p2g0zKwAmAHsArYEbgDnAJKAWmA2UuXuNmf0B+ClQBVzq7v80s+8nu24682oKM2sPvAMcTRDvJFp47mY2DDgBaEXwtzyL7Mi7AJhM8PdeDfyOFv6Zm1lPYLS7921K/M2xbkNxtcQeQ0uaduPXwAp3PxQ4HhgH3AKMCJflACeaWXegD9ATOB24M9y+KetuccIvinuBNeGiFp+7mfUFegMHE8S6G1mQd+gnQL679wauA0bSgnM3s8uB+4HCcFFcuW60bmOxtcTC0JKm3XgMuCrheRVwAMEvSIAZwFEEOT/v7rXu/imQb2alTVx3S3QzcA/wefg8G3I/luD6nmnAM8B0siNvgPkEseUCbYH1tOzcFwAnJzyPK9f61m1QSywMbYGVCc+rzWyrHDJz91XuXmFmRcBUYASQ4+515xhXAMVsnHPd8qasu0Uxs98Cy919ZsLibMh9B4IfM/2BC4ApBDMEtPS8AVYRDCPNA8YDY2nBn7m7P05Q/OrElWt96zaoJRaGFjXthpntBrwEPOTufwYSxwaLgK/YOOe65U1Zd0tzDsHFkC8D+wMPAu0TXm+pua8AZrp7pbs7sJboP+SWmjfAIILc9yI4RjiZ4DhLnZacO8T3b7u+dRvUEgtDi5l2w8w6AM8DV7j7hHDxe+E4NATHHV4lyPlYM8s1s90JiuEXTVx3i+Luh7l7H3fvC7wPnAnMyILcXwOOM7McM9sZ2Bb4WxbkDVDOt794vwQKyJK/91Bcuda3boO2yiGWRrSkaTeGAyXAVWZWd6zhEmCsmbUC5gJT3b3azF4F/kFQ7MvCdQcD45Ncd2vQlHy2ytzdfbqZHQb8k29jXEQLzzt0KzAhjLUVwd//22RH7hDf3/dG6zYWiKbEEBGRiJY4lCQiIilQYRARkQgVBhERiVBhEBGRCBUGERGJUGEQEZEIFQYREYn4/xMTnGgquC9mAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# additional histograms for visual inspection for what we already know\n",
    "plt.figure(figsize=(6,4))\n",
    "df1_test['domestic_spending'].plot(kind='hist', color='green', alpha=0.6, legend=True)\n",
    "df1_test['imported_spending'].plot(kind='hist',  color='orange', alpha=0.4, legend=True)\n",
    "plt.title('Domestic and Imported Spendings');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Yes, it's not normally distributed, but **Welch's t-test remains robust for skewed distributions** and large sample sizes. \n",
    "\n",
    "Nevertheless, we should keep in mind that reliability decreases for skewed distributions and smaller samples."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Test Statistic"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "To conduct a Welch's t-Test, we just use the stats.ttest_ind() method and passing “False” in the equal_var-argument. It returns the t statistic and a p-value - but (!) for a two-tailed test."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "4.519665767821693"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# calculating t-value and two-tailed p-value \n",
    "t, p_two = stats.ttest_ind(df1_test['imported_spending'], df1_test['domestic_spending'], \n",
    "                           equal_var=False)\n",
    "t"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "We now have the t-value. What's left are the degrees of freedom to finally get an accurate p-value for our one-tailed test."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "124.0"
      ]
     },
     "execution_count": 19,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# writing a function that calculates degrees of freedom\n",
    "\n",
    "def welch_df(a, b):\n",
    "    \"\"\" Calculates the effective degrees of freedom for two samples. \"\"\"\n",
    "    s1 = a.var(ddof=1) \n",
    "    s2 = b.var(ddof=1)\n",
    "    n1 = a.size\n",
    "    n2 = b.size    \n",
    "    num = (s1/n1 + s2/n2)**2\n",
    "    denom = (s1/n1)**2/(n1 - 1) + (s2/ n2)**2/(n2 - 1)\n",
    "    df = num/denom\n",
    "    return round(df,0)\n",
    "\n",
    "df = welch_df(df1_test['imported_spending'], df1_test['domestic_spending'])\n",
    "df"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Eventually I calculate the p-value; this is the **area of rejecting the null hypothesis**. \n",
    "\n",
    "Given our directional alternative hypothesis: \n",
    "\n",
    "> $\\mu_d > 0$\n",
    "\n",
    "this area of rejecting is on the right (\" > 0 \"). \n",
    "\n",
    "In other words: I'm trying to get the probability that my test statistic exists GIVEN the null hypothesis is true. If this probabilty is very small, I will reject the null hypothesis and instead work with the alternative hypothesis."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "7.129045843212722e-06"
      ]
     },
     "execution_count": 20,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# using the cumulative density function (CDF) with the t-value und df\n",
    "p = 1 - stats.t.cdf(t, df)\n",
    "p"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The findings **are statistically significant**! We can reject the null hypothesis in support of the alternative."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Effect Size"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "For different types of t-tests, a widely used measure of effect size is Cohen's d.\n",
    "\n",
    "To calculate Cohen's d, the function below will take in the two samples we are comparing. By calculating the mean and standard deviation, it will eventually return Cohen's d:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {},
   "outputs": [],
   "source": [
    "from statistics import mean, stdev\n",
    "from math import sqrt\n",
    "\n",
    "def cohens_d(x, y):\n",
    "    \"\"\" Function takes in two samples as arguments and \n",
    "    calculates Cohens's as a measure of effect size. \"\"\"\n",
    "    cohens_d = (mean(x) - mean(y)) / (sqrt((stdev(x)**2 + stdev(y)**2) / 2))\n",
    "    print(cohens_d)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "0.6932850810422416\n"
     ]
    }
   ],
   "source": [
    "cohens_d(df1_test['imported_spending'], df1_test['domestic_spending'])"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Not bad! A value > 0.5 is considered a medium effect, while a value > 0.8 is considered a strong effect. \n",
    "\n",
    "**With 0.7 we're close to a strong effect.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 1.4 - Conclusions"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>domestic_spending</th>\n",
       "      <th>imported_spending</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>85.000000</td>\n",
       "      <td>85.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>3296.524118</td>\n",
       "      <td>12134.546941</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>8142.956245</td>\n",
       "      <td>16084.684694</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>100.800000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>99.000000</td>\n",
       "      <td>2580.400000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>543.500000</td>\n",
       "      <td>6973.630000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>2080.000000</td>\n",
       "      <td>14987.050000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>56220.890000</td>\n",
       "      <td>97539.990000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       domestic_spending  imported_spending\n",
       "count          85.000000          85.000000\n",
       "mean         3296.524118       12134.546941\n",
       "std          8142.956245       16084.684694\n",
       "min             0.000000         100.800000\n",
       "25%            99.000000        2580.400000\n",
       "50%           543.500000        6973.630000\n",
       "75%          2080.000000       14987.050000\n",
       "max         56220.890000       97539.990000"
      ]
     },
     "execution_count": 23,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df1_test.describe()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**A one-tailed Welch's t-test with $\\alpha$ = 0.05 was used to analyze customers' spending on domestic and imported products with the hypothesis that people spend more money on imported products:**\n",
    "\n",
    "* The average expenditures on imported products are much higher (12134 ± 16084 units) compared to the expenditures on domestic products (3296 ± 8142 units).\n",
    "\n",
    "* There is a **statistically significant difference** between domestic and imported expenditures with t(124) = 4.5197 and p = 0.000007129.\n",
    "\n",
    "* Therefore, I may reject the null hypothesis in support of the alternative: People spend more money on imported products.\n",
    "\n",
    "* Moreover, the calculated effect size points to a **medium to high practical significance**.\n",
    "\n",
    "* My $\\alpha$ = 0.05 is effectively the probability that I might mistakenly reject the null hypothesis when it is actually true. This is called a \"Type 1 Error\". <br> With a significance level set to 5%, I am saying that only a small probability of a Type 1 error occurring is acceptable. The opposite is a \"Type 2 Error\" where I may mistakenly support the null hypothesis when the alternative is actually true.\n",
    "\n",
    "**The results could be used to think about a strategy focusing on imported products for different regions to maximize revenues.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 2. Question: Frequency vs. Profitability"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "> Do people who order more frequently than average, also generate more sales? If so, it would make sense for companies to target customers who, regardless of how much or how little they spend, make more frequent purchases on the whole."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 2.1 - Exploratory Research"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Table Name: Customer\n",
      "\n",
      "Name: Id \t Type: VARCHAR(8000)\n",
      "Name: CompanyName \t Type: VARCHAR(8000)\n",
      "Name: ContactName \t Type: VARCHAR(8000)\n",
      "Name: ContactTitle \t Type: VARCHAR(8000)\n",
      "Name: Address \t Type: VARCHAR(8000)\n",
      "Name: City \t Type: VARCHAR(8000)\n",
      "Name: Region \t Type: VARCHAR(8000)\n",
      "Name: PostalCode \t Type: VARCHAR(8000)\n",
      "Name: Country \t Type: VARCHAR(8000)\n",
      "Name: Phone \t Type: VARCHAR(8000)\n",
      "Name: Fax \t Type: VARCHAR(8000)\n"
     ]
    }
   ],
   "source": [
    "get_columns_info('Customer')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "metadata": {
    "scrolled": false
   },
   "outputs": [],
   "source": [
    "# joining \"Order\", \"OrderDetail\" and \"Customer\" tables using the pd.read_sql_query() method \n",
    "# giving them meaningful column names in that step\n",
    "\n",
    "df2 = pd.read_sql_query('''SELECT c.Id customer_id, o.Id order_id,\n",
    "                            od.Quantity quantity, od.UnitPrice unit_price, od.discount discount\n",
    "                            FROM OrderDetail od \n",
    "                            JOIN [Order] o ON od.OrderId = o.Id\n",
    "                            JOIN Customer c ON o.CustomerId = c.Id\n",
    "                            ;''', engine)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1. Rows and Columns:\n",
      "(2078, 5)\n",
      "...............................\n",
      "\n",
      "2. Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2078 entries, 0 to 2077\n",
      "Data columns (total 5 columns):\n",
      "customer_id    2078 non-null object\n",
      "order_id       2078 non-null int64\n",
      "quantity       2078 non-null int64\n",
      "unit_price     2078 non-null float64\n",
      "discount       2078 non-null float64\n",
      "dtypes: float64(2), int64(2), object(1)\n",
      "memory usage: 81.2+ KB\n",
      "None\n",
      "...............................\n",
      "\n",
      "3. Dataframe:\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>customer_id</th>\n",
       "      <th>order_id</th>\n",
       "      <th>quantity</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>discount</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>VINET</td>\n",
       "      <td>10248</td>\n",
       "      <td>12</td>\n",
       "      <td>14.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>VINET</td>\n",
       "      <td>10248</td>\n",
       "      <td>10</td>\n",
       "      <td>9.8</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>VINET</td>\n",
       "      <td>10248</td>\n",
       "      <td>5</td>\n",
       "      <td>34.8</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>TOMSP</td>\n",
       "      <td>10249</td>\n",
       "      <td>9</td>\n",
       "      <td>18.6</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>TOMSP</td>\n",
       "      <td>10249</td>\n",
       "      <td>40</td>\n",
       "      <td>42.4</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  customer_id  order_id  quantity  unit_price  discount\n",
       "0       VINET     10248        12        14.0       0.0\n",
       "1       VINET     10248        10         9.8       0.0\n",
       "2       VINET     10248         5        34.8       0.0\n",
       "3       TOMSP     10249         9        18.6       0.0\n",
       "4       TOMSP     10249        40        42.4       0.0"
      ]
     },
     "execution_count": 26,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('1. Rows and Columns:')\n",
    "print(df2.shape)\n",
    "print('...............................')\n",
    "print('\\n2. Info:')\n",
    "print(df2.info())\n",
    "print('...............................\\n\\n3. Dataframe:')\n",
    "df2.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Mean:   24.44705882352941\n",
      "Median: 20.0\n"
     ]
    }
   ],
   "source": [
    "# calculate the mean and median amount of orders\n",
    "mean = df2.groupby('customer_id')['order_id'].count().mean()\n",
    "median = df2.groupby('customer_id')['order_id'].count().median()\n",
    "print('Mean:  ', mean)\n",
    "print('Median:', median)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "It's usually more appropriate to stick to the median."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Feature Engineering"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>customer_id</th>\n",
       "      <th>order_id</th>\n",
       "      <th>quantity</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>discount</th>\n",
       "      <th>spend_gross</th>\n",
       "      <th>spend_net</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>VINET</td>\n",
       "      <td>10248</td>\n",
       "      <td>12</td>\n",
       "      <td>14.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>168.0</td>\n",
       "      <td>168.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>VINET</td>\n",
       "      <td>10248</td>\n",
       "      <td>10</td>\n",
       "      <td>9.8</td>\n",
       "      <td>0.0</td>\n",
       "      <td>98.0</td>\n",
       "      <td>98.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  customer_id  order_id  quantity  unit_price  discount  spend_gross  \\\n",
       "0       VINET     10248        12        14.0       0.0        168.0   \n",
       "1       VINET     10248        10         9.8       0.0         98.0   \n",
       "\n",
       "   spend_net  \n",
       "0      168.0  \n",
       "1       98.0  "
      ]
     },
     "execution_count": 28,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# multiplying quantity and unit price to get a column with gross spending\n",
    "df2['spend_gross'] = np.multiply(df2['quantity'], df2['unit_price'])\n",
    "\n",
    "# subtracting discount to get net spending\n",
    "df2['spend_net'] = np.subtract(df2['spend_gross'], df2['discount'])\n",
    "\n",
    "df2.head(2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>spend_gross</th>\n",
       "      <th>spend_net</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ALFKI</th>\n",
       "      <td>4596.20</td>\n",
       "      <td>4595.15</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>ANATR</th>\n",
       "      <td>1402.95</td>\n",
       "      <td>1402.95</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AROUT</th>\n",
       "      <td>13806.50</td>\n",
       "      <td>13805.80</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             spend_gross  spend_net\n",
       "customer_id                        \n",
       "ALFKI            4596.20    4595.15\n",
       "ANATR            1402.95    1402.95\n",
       "AROUT           13806.50   13805.80"
      ]
     },
     "execution_count": 29,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# FIRST dataframe by spending\n",
    "df2_spending = df2.groupby('customer_id')[['spend_gross','spend_net']].sum()\n",
    "df2_spending.head(3)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 30,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>order_amount</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ALFKI</th>\n",
       "      <td>12</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>ANATR</th>\n",
       "      <td>10</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AROUT</th>\n",
       "      <td>30</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             order_amount\n",
       "customer_id              \n",
       "ALFKI                  12\n",
       "ANATR                  10\n",
       "AROUT                  30"
      ]
     },
     "execution_count": 30,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# SECOND dataframe by sales frequency\n",
    "df2_frequency = pd.DataFrame(df2.groupby('customer_id')['order_id'].count())\n",
    "df2_frequency.rename(columns={'order_id':'order_amount'}, inplace=True)\n",
    "df2_frequency.head(3)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>order_amount</th>\n",
       "      <th>sales_frequency</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ALFKI</th>\n",
       "      <td>12</td>\n",
       "      <td>Below Median</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>ANATR</th>\n",
       "      <td>10</td>\n",
       "      <td>Below Median</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AROUT</th>\n",
       "      <td>30</td>\n",
       "      <td>Above Median</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             order_amount sales_frequency\n",
       "customer_id                              \n",
       "ALFKI                  12    Below Median\n",
       "ANATR                  10    Below Median\n",
       "AROUT                  30    Above Median"
      ]
     },
     "execution_count": 31,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# creating a new column in second dataframe, \n",
    "# where all customers with a total amount of orders UP TO MEDIAN are classified as \"Below Median\"\n",
    "# and all customers with a total amount of orders GREATER THAN MEDIAN as \"Above Median\"\n",
    "\n",
    "df2_frequency['sales_frequency'] = df2_frequency['order_amount'].apply(lambda x: 'Below Median' \n",
    "                                                                       if x <= median \n",
    "                                                                       else 'Above Median')\n",
    "\n",
    "df2_frequency.head(3)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 32,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Below Median    43\n",
       "Above Median    42\n",
       "Name: sales_frequency, dtype: int64"
      ]
     },
     "execution_count": 32,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df2_frequency.sales_frequency.value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>spend_gross</th>\n",
       "      <th>spend_net</th>\n",
       "      <th>order_amount</th>\n",
       "      <th>sales_frequency</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ALFKI</th>\n",
       "      <td>4596.20</td>\n",
       "      <td>4595.15</td>\n",
       "      <td>12</td>\n",
       "      <td>Below Median</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>ANATR</th>\n",
       "      <td>1402.95</td>\n",
       "      <td>1402.95</td>\n",
       "      <td>10</td>\n",
       "      <td>Below Median</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AROUT</th>\n",
       "      <td>13806.50</td>\n",
       "      <td>13805.80</td>\n",
       "      <td>30</td>\n",
       "      <td>Above Median</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             spend_gross  spend_net  order_amount sales_frequency\n",
       "customer_id                                                      \n",
       "ALFKI            4596.20    4595.15            12    Below Median\n",
       "ANATR            1402.95    1402.95            10    Below Median\n",
       "AROUT           13806.50   13805.80            30    Above Median"
      ]
     },
     "execution_count": 33,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# concat first and second dataframe\n",
    "df2_full = pd.concat([df2_spending, df2_frequency], axis=1)\n",
    "df2_full.head(3)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(85, 4)"
      ]
     },
     "execution_count": 34,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df2_full.shape"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 2.2 - Hypothesis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "$H_0$: People who order more frequently (= above the median) do not spend more money on average than people who order less frequently.\n",
    "\n",
    "> $H_0: \\mu_1 = \\mu_2$\n",
    "\n",
    "$H_1$: People who order more frequently also spend more money on average than people who order less frequently.\n",
    "\n",
    "> $H_0: \\mu_1 > \\mu_2$\n",
    "\n",
    "I set my significance level to: \n",
    "\n",
    "> **$\\alpha$ = 0.05**\n",
    "\n",
    "Since I specify the direction of the difference, it's a **one-tailed** test. "
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 2.3 - Statistical Analysis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Appropriate Test"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "To determine whether the mean difference between two unrelated groups is significantly different from zero, the **independent t-test** is used.\n",
    "\n",
    "The test statistic t follows a **t-Distribution with ($n_1$ + $n_2$ - 2) degrees of freedom**, where $n_1$ is the size of sample 1 and $n_2$ ist the size of sample 2. "
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### t-test Assumptions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* The **independent variable is categorical** with at least two levels (groups). <br> This assumption is met, as sales frequency is categorized in either below or above median.\n",
    "\n",
    "* The **dependent variable must be continuous** - this is measured on an interval or ratio scale. <br> This assumption is met, as \"spending\" is metric.\n",
    "\n",
    "* The **dependent variable should not contain any significant outliers.**  <br> This can observed by using boxplots (see below).\n",
    "\n",
    "* The **variances between the two groups are equal**. <br> This can be tested using statistical tests e.g. Levene’s test (see below).\n",
    "\n",
    "* The **distribution of the two groups should follow the normal distribution**. <br> This can be checked with histograms (see below)."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 35,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAnEAAAFXCAYAAADNkBiOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XmYnWV9//H3JAMiOEC0Q6sCokW/LC0gCEGBEFlEBBu3KiK4AFJrZKnIUguC1taIEq2IYNEQcP/JoqIiqAESWSsEkRK+gLJY14EGEgmISeb3x/2MnI6znJnMZHIn79d15co5z/k+93OfM5Mnn3M/y93R29uLJEmS6jJpojsgSZKkkTPESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFWoc6I7IGloEbEV8DPgp82iycAy4L2Zed04bK8X6M7Mh4aoOQiYmpkfGOvtrw4R8W3g4syc22/5XOCOzPz4auzLsJ/3KNt9O/AhYFFmHjCWbUtaMxjipDo8npk79T2JiDcCc4EXTlB/dgWeOUHbVnveCrw/M7840R2RND4McVKdngX8uu9JRBwNHAusAH4LvAe4F/g+cEtmnhQR+1GC3y7AR4HHgZ2AzYCrgGMz84+tG4mI04A3A8uBu5t2nwe8C5gcEY9m5r/0W+dVTfsrgNuA/YA9genAkcBGwKOZ+fKB2s/M30TENcCnM/Pips0/PY+I5cAs4MCmrfdn5qVN3ZHAuymnijzctHdXRDwHuBB4DvBA854Hs2dEvAHYuPlc3ge8CXh3Zu7RbGdL4EZgq8x8suW97wnMpoyW9gIfycxLIuJFwDlAF/Ds5nN5U2Y+0e+zG6z/A7Y72BuIiE8AuwHPj4huYEdK6P5r4NvAaZSf0d5NmwspP/8lETEN+FSznRubz3k6sFXzM/ibZhvT+z3/F+D1Td/vbz6vXzU/uxuAPYAtgR8AR2fmyog4GPhws85jlN+rg4HtMvMtLZ/p2Zn54sHer7Su8pw4qQ5Pj4jbmj8PAP8BfAQgIvYBTgJenpk7Al8GvkH5T/gw4K0RMYMS4A7NzN82bU4F9ge2a/78Q+sGI+IdlP/Ad83MHYA7gLmZeRNwHvC1AQLcs4AvAIc1I4dXA89tKdkemN4EuAHbb+OzmAwsy8xdgDcCcyKiOyL2Bt4G7NX8h38mcFmzzjnAjZm5PSXsbjNE+5sD+1IC7o7AO4GvA1tHxPZNzVHAha0BrvFBYHbTtyOAfZrl72zqdwe2Bp4PHNS64jD9H6zdAWXmPwE/Bk7MzE80izfMzO0z82TgFEpw3qX5nfkVMCsi1gcuBt7X9OFHlNA+pIh4K/C3wG7Nz/27wOdaSv6aEgR3oPzM946IvwS+CLyj+fl/jBLOzwcOjoi+kd6jKb9vkvoxxEl1eDwzd2r+PA94FfD1iHg+8EpKoOoBaM7zei5llOjXlABxGfDZzJzf0ubczPx9Zv4BuAjof97UgcAFmflY8/w/gH2b/+gHMw24MzN/0vTlQmBJy+u3Z2bf89G03+fTTfu3U84VnEYJRVsD10fEbZQQNKUJA32jkGTmvcC8Idr+QmY+1gS0LwL7N48/BxwVEZOBtwP/OcC6/w84JyK+RBnxfH+z/GSgJyJOAs6ljAg+o9+6Q/V/sHZH4kctjw8GZgALm229hhLkdwD+kJk/AMjMLwGPtNH2wcDuwI+b9o4BouX1yzNzZfOzv5cyKrgH5fzDhc22Ls3MAzPzd5TRwsMjYgrl9/JLo3i/0lrPECdVqPlP9l7KIbO+Q2ytOoD1msfbUw6xTu1Xs7zl8STK4c9W/dudRDkFo2OIri0f4PWVLY9/32b7vf3a6R/sBur7ZEoA26kZDdoZeAmweID2Wtfvr/VzmAT0HWI+j3Lo99WU8HFf/xUz87OUEanvU8LH7RGxAfAVyojSA8AngFv5889p0P4P0e5I9P/sj2vZ1m7AGyiH2Pv3q+/9D/UzmQx8tKW9l1BCWp/HWx73tbOclp9/RHRExA7N03MoI46HApdkZmvfJTUMcVKFmnOstqKcy/Q94JDm3Ke+w6APA/dGxG7AcZT/VDeJiONamnlTRDytCQNvAy7vt5nvAUdExEbN82OB+c3I3XKeComtrgNe1PefcUS8HtiUPw+Zw7Xf0/SZiOgbIWr11ua1nSmHRq8FrgTeHBHPbmreBfywZVtHN+tsCbx8gP70OaTf53IFQGb+gnJu1ycoo2l/JiKuB17cjIYe3bz3v6IErw9l5tea0qmU4NNq0P4P0e5oXQm8JyLWj4hJlEOYHwESeDwiXt1s91VAd7NOD7BlRGwWER3AIf3aOyoiNm6ef4hyWH0oNwHbthyinkEZ+SQzr6eE//fhoVRpUIY4qQ6t58TdRjlv6ejMvDszv08JFvMi4r8pweNgykn/XwGOycxfUg4BfiAi+k4QXwYsoByOXABc0G+bn6echH5zRCyijAy9pXltHnBARJzdukJm/i9ltOqiiLiVEl6WN9vqb6j2Pwy8IiLuoASC+f3W3aNpfw7lAoHFmXkV5WT970fE7ZRRnNdlZi8wE9iu2c7nKRcWDOa+5vNY2Gz3wpbXLqCEr+8Osu5JwIciYiFwDfDBzLyfcvjzsoj4KfBZSujcunXFYfo/WLuj9a+Uiw8WAndSRsZOyMzlwOuAk5ptHQI80fTvzqbvP6Zc8NA6Evk5yiHQG5vfwR0ov2+Das7NfAtwYfM7/V7+bzC8APhVc8hc0gA6ensH+oIsaW02XvdDa0ZiTgXOyMxlzUjZd4DnNGFkLLYxLvdVa2O7kyjn4j2QmR9dndueSBHxe+BvVjE0jnSbnZTzOL/YMnopqR9vMSJpzDS3qHgS+K+I+CPlfKo3jlWAmygR0QU8SDlcfMIEdweAiDiRp0Yu+/tYc1FCdZrD59dRQtzXJ7g70hrNkThJkqQKeU6cJElShQxxkiRJFTLESZIkVcgQJ0mSVCFDnCS1ISLe0EzmPh5t7xoR3tRW0ogY4iRp4m0PbD7RnZBUF+8TJ6k6EfEMyh39X0iZnukWyuwUH6HMT7oNZb7Ot2fmoohYnzIbwt6UGRcWAsc297W7H5gL7AtsCVyUmac12/kQ5V5sDwP3tNm3J4BZwCuAZwNnZua5zWtHAu+mfIF+GHgP8BhlVopNIuKCzHzHaD8XSesWR+Ik1ei1QFcz2fquzbIXUOZbPTszd6CEvL75O0+hTP+1S2buCPyKErT6PCMz9wJeBrwvIp4fETOA1wM7Ncs3abNvTwMeysyXUSaV/0REbBARe1OmRNsrM18MnAlc1szJ+gFggQFO0kg4EiepRj8C/r05R+37wCcpE7X/JDMXNDVzgHMi4lmUuWQ3BfaPCID1gd+1tPdNgMz8ZUT8DngmsB9waWYuBYiIOcCxbfbvm83ft1JC3UbAQZT5Uq9v+gAwJSKe2f7blqSnOBInqTqZeR8lEH0E2Bj4AdBFGW3r09H8vYJyCPW4zNypGb3bjTJK1ufxlse9Let2tCxvbXs4jzf97JsSp6Ppwxda+rAzZeRw8QjalaQ/McRJqk5E/CPlcOlVmXkycCUlFO0UETs0ZUcD12fmI83r74mI9ZuJ7M+nBMChXAH8fURs2qxz+Cp2+0rgzRHx7Ob5u4AfNo+XA+utYvuS1jGGOEk1uogysnVnRNxCOV/tduA3wL9FxE+B1/BU8PpX4H7KBQ13UkbGhpzIPjO/Szkk+2PgJuDRVelwZl5Fubji+xFxO3Ao8LpmtO5G4AURcemqbEPSuqWjt7d3+CpJWsNFxHTg05n5NxPdF0laHbywQZJGICJOpNx2ZCAfy8wvrc7+SFp3tTUSFxGbUe7DtD/l3I25lJN/7wBmZubKiDidcvXVcuD4zLw5IrZut3as35gkSdLabNhz4iJiPeCzPHX11mzg1OaeSh3AjIjYmXITzanAIcA5o6iVJElSm9q5sOHjwHmUm2MC7AJc2zy+gnIvpT0pV4n1ZuaDQGdEdI+wVpIkSW0aMsRFxNuBnsy8smVxR8u9j5ZSrgrbmP975Vbf8pHUSpIkqU3DXdhwBNAbEftRpp65CNis5fUu4BFgSfO4//KVI6gd0vLlK3o7OycPVyZJkrQ26Rj0hXZvMdJMb/Mu4GPAWZl5TUScB1wN3EuZB3B/YHPg8szcMSIub7d2uO339Cz1Xigate7uLnp6lk50NyStg9z/aFV0d3cNGuJGc4uRE4DzI2J9YBFwcWauiIgFwA2UQ7QzR1ErSZKkNlVzs19H4rQq/CYsaaK4/9GqGGokzmm3JEmSKmSIkyRJqpAhTpIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKGeIkSZIqZIiTJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqpAhTpIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKGeIkSZIqZIiTJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqlDncAURMRk4HwhgBfAOYBPgcuCepuzczPxaRJwOHAQsB47PzJsjYmtgLtAL3AHMzMyVA9WO6TuTJElaiw0b4oBXA2TmHhExHZhNCXCzM/OsvqKI2BnYG5gKbAFcAuza1J+amddExHnAjIh4YJBaSZIktWHYEJeZ34iIbzdPnwf8FtgFiIiYQRmNOx7YE7gqM3uBByOiMyK6m9prm/WvAF4B5EC1mdkzlm9OkiRpbdXWOXGZuTwiLgTOBi4GbgZOzMxpwM+B04GNgUdbVltKOeza0YS11mWD1UqSJKkN7RxOBSAz3xYRJwM3AS/LzF82L11GCXffBLpaVukCHgFWDrBsySC1g5oyZUM6Oye3213pz3R3dw1fJEnjwP2PxkM7FzYcDmyemR8BllFC2aURcUxzMcK+wC3AdcCZEfFxYHNgUmY+FBELI2J6Zl4DHAhcDdw7UO1Q/Vi8eNmo36TU3d1FT8/Sie6GpHWQ+x+tiqG+ALQzEncpcEFEzAfWo5z/9gvg0xHxJPAb4OjMXBIRC4AbKIdpZzbrnwCcHxHrA4uAizNzxSC1kiRJakNHb2/v8FVrgJ6epXV0VGskvwlLmijuf7Qquru7OgZ7zZv9SpIkVcgQJ0mSVKG2r06V1jTTpk3lrrsWjXm722yzLfPn3zTm7UqSNJYMcarWSILWEbPmMeeUfcaxN5IkrV4eTpUkSaqQIU6SJKlChjhJkqQKGeIkSZIqZIiTJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqpAhTpIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKGeIkSZIqZIiTJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqpAhTpIkqUKdwxVExGTgfCCAFcA7gA5gLtAL3AHMzMyVEXE6cBCwHDg+M2+OiK3brR3j9yZJkrTWamck7tUAmbkH8AFgdvPn1MzcixLoZkTEzsDewFTgEOCcZv2R1EqSJKkNw4a4zPwGcHTz9HnAb4FdgGubZVcA+wF7AldlZm9mPgh0RkT3CGslSZLUhmEPpwJk5vKIuBB4LfAG4ODM7G1eXgpsAmwMPNyyWt/yjhHU9gzWhylTNqSzc3I73ZUG1N3dNdFdkLSOcv+j8dBWiAPIzLdFxMnATcDTW17qAh4BljSP+y9fOYLaQS1evKzdrkoD6ulZOtFdkLQO6u7ucv+jURvqC8Cwh1Mj4vCI+Ofm6TJKKPtxRExvlh0ILACuAw6IiEkRsSUwKTMfAhaOoFaSJEltaGck7lLggoiYD6wHHA8sAs6PiPWbxxdn5oqIWADcQAmHM5v1TxhBrSRJktrQ0dvbO3zVGqCnZ2kdHdUa6YhZ85hzyj4T3Q1J6yAPp2pVdHd3dQz2mjf7lSRJqpAhTpIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKeZ84rVGO+eR8Hnti+UR3oy0bbdDJ2cdPm+huSFrDeZ84rYqh7hPX9typ0urw2BPLx+WmvOOxEz1i1rwxbU+SpJHwcKokSVKFDHGSJEkVMsRJkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklQhQ5wkSVKFDHGSJEkVMsRJkiRVyBAnSZJUIUOcJElShTqHejEi1gPmAFsBTwM+DPwPcDlwT1N2bmZ+LSJOBw4ClgPHZ+bNEbE1MBfoBe4AZmbmyoFqx/qNSZIkrc2GDHHAYcDDmXl4RDwLWAh8CJidmWf1FUXEzsDewFRgC+ASYFdgNnBqZl4TEecBMyLigUFqJUmS1KbhQtzXgYtbni8HdgEiImZQRuOOB/YErsrMXuDBiOiMiO6m9tpm3SuAVwA5UG1m9ozZu5IkSVrLDRniMvP3ABHRRQlzp1IOq34uM2+JiH8BTgceAR5uWXUpsAnQ0YS11mUbD1I7ZIibMmVDOjsnt/m2VLPu7q5q2h2vvkpau7iv0HgYbiSOiNgCuAz4TGZ+OSI2zcxHmpcvA84Gvgm0/oZ2UYLdygGWLRmkdkiLFy8brkRriZ6epWPeZnd317i0Ox5tSlq7jNf+R+uGob4ADHl1akT8JXAVcHJmzmkWXxkRuzWP9wVuAa4DDoiISRGxJTApMx8CFkbE9Kb2QGDBELWSJElq03Ajce8HpgCnRcRpzbL3Ap+MiCeB3wBHZ+aSiFgA3EAJhjOb2hOA8yNifWARcHFmrhikVpIkSW0a7py444DjBnjpZQPUngGc0W/Z3ZQrUYetlSRJUvu82a8kSVKFDHGSJEkVMsRJkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklQhQ5wkSVKFDHGSJEkVMsRJkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklQhQ5wkSVKFOod6MSLWA+YAWwFPAz4M3AnMBXqBO4CZmbkyIk4HDgKWA8dn5s0RsXW7tWP/1iRJktZew43EHQY8nJl7AQcCnwZmA6c2yzqAGRGxM7A3MBU4BDinWX8ktZIkSWrTcCHu68BpLc+XA7sA1zbPrwD2A/YErsrM3sx8EOiMiO4R1kqSJKlNQ4a4zPx9Zi6NiC7gYuBUoCMze5uSpcAmwMbAoy2r9i0fSa0kSZLaNOQ5cQARsQVwGfCZzPxyRJzZ8nIX8AiwpHncf/nKEdQOacqUDensnDxcmdYC3d1dwxetIe2OV18lrV3cV2g8DHdhw18CVwHvycwfNosXRsT0zLyGcp7c1cC9wJkR8XFgc2BSZj4UEW3XDtfRxYuXjeoNqj49PUvHvM3u7q5xaXc82pS0dhmv/Y/WDUN9ARhuJO79wBTgtIjoOzfuOOBTEbE+sAi4ODNXRMQC4AbKIdqZTe0JwPlt1kqSJKlNQ4a4zDyOEtr623uA2jOAM/otu7vdWkmSJLXPm/1KkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcgQJ0mSVKFhZ2yQVqcjH/wWdx910Zi3e/eYtwhHrr8psM84tCxJ0vAMcVqjfH7Lv2POKWMfjMbjjumzZs1jjzFtUZKk9nk4VZIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKGeIkSZIqZIiTJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqpAhTpIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKdbZTFBFTgY9m5vSI2Bm4HLinefnczPxaRJwOHAQsB47PzJsjYmtgLtAL3AHMzMyVA9WO6buSJElayw0b4iLiJOBw4LFm0c7A7Mw8q6VmZ2BvYCqwBXAJsCswGzg1M6+JiPOAGRHxwCC1kiRJalM7I3E/A14HfKF5vgsQETGDMhp3PLAncFVm9gIPRkRnRHQ3tdc2610BvALIgWozs2fM3pUkSdJabthz4jLzEuCPLYtuBk7MzGnAz4HTgY2BR1tqlgKbAB1NWGtdNlitJEmS2tTWOXH9XJaZj/Q9Bs4Gvgl0tdR0AY8AKwdYtmSQ2iFNmbIhnZ2TR9Fd1aa7u2v4ojWk3fHqq6S1i/sKjYfRhLgrI+KY5mKEfYFbgOuAMyPi48DmwKTMfCgiFkbE9My8BjgQuBq4d6Da4Ta6ePGyUXRVNerpWTrmbXZ3d41Lu+PRpqS1y3jtf7RuGOoLwGhC3D8Cn46IJ4HfAEdn5pKIWADcQDlEO7OpPQE4PyLWBxYBF2fmikFqJUmS1Ka2Qlxm3g/s3jy+FXjZADVnAGf0W3Y35UrUYWslSZLUPm/2K0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklQhQ5wkSVKFDHGSJEkVMsRJkiRVyBAnSZJUIUOcJElShUYzd6o0ro6YNW+iu9CWjTbwn48kaeJ09Pb2TnQf2tLTs7SOjmqNdMSsecw5ZZ+J7oakdVB3dxc9PUsnuhuqVHd3V8dgr3k4VZIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlChjhJkqQKGeIkSZIqZIiTJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqpAhTpIkqUKGOEmSpAp1tlMUEVOBj2bm9IjYGpgL9AJ3ADMzc2VEnA4cBCwHjs/Mm0dSO8bvS5KkcTNt2lTuumvRmLe7zTbbMn/+TWPertZOw4a4iDgJOBx4rFk0Gzg1M6+JiPOAGRHxALA3MBXYArgE2HWEtZIkVWEkQeuIWfOYc8o+49gbravaOZz6M+B1Lc93Aa5tHl8B7AfsCVyVmb2Z+SDQGRHdI6yVJElSm4YdicvMSyJiq5ZFHZnZ2zxeCmwCbAw83FLTt3wktT1D9WPKlA3p7Jw8XHelQXV3d010FySto9z/aDy0dU5cPytbHncBjwBLmsf9l4+kdkiLFy8bRVelp/T0LJ3oLkhaR7n/0WgN9QVgNFenLoyI6c3jA4EFwHXAARExKSK2BCZl5kMjrJUkSVKbRjMSdwJwfkSsDywCLs7MFRGxALiBEgxnjqJWkiRJbero7e0dvmoN0NOztI6Oao3k1WGSJor7H62K7u6ujsFe82a/kiRJFTLESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklQhQ5wkSVKFDHGSJEkVMsRJkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklQhQ5wkSVKFDHGSJEkVMsRJkiRVqHOiOyCN1rRpU7nrrkVt1282u726bbbZlvnzbxplryRJWj0McarWSIJWd3cXPT1Lx7E3kiStXh5OlSRJqpAhTpIkqUKjPpwaEQuBR5un9wGfBf4DWA5clZkfjIhJwGeAHYE/AEdl5r0RsXv/2lV4D5IkSeucUYW4iNgAIDOntyy7DXg98HPgOxGxM7AVsEFmvrQJbmcBM4Dz+tdm5q2r8D4kSZLWKaMdidsR2DAirmraOAN4Wmb+DCAirgT2BZ4NfA8gM2+MiJdExMaD1BriJEkT5phPzuexJ5aPS9tHzJo3pu1ttEEnZx8/bUzbVH1GG+KWAR8HPge8ELgCeKTl9aXAC4CNeeqQK8CKZtmSAWqHNGXKhnR2Th5ld6VyhaokDeaxJ5Zz+VkzJrobbXn1Cd90n6ZRh7i7gXszsxe4OyIeBZ7Z8noXJdRt2DzuM4kS4LoGqB3S4sXLRtlVyVuMSGrPeOwnxmv/4z5t3TBUWB/t1alHUM5vIyKeQwlrj0XEX0dEB3AAsAC4DnhVU7c78NPMXAI8OUCtJEmS2jTakbjPA3Mj4kdALyXUrQS+BEymXHF6U0T8F7B/RFwPdADvaNZ/V//aVXgPkiRJ65xRhbjMfBI4dICXdu9Xt5IS2Pqvf2P/WkmSJLXPm/1KkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcgQJ0mSVKHR3idOkqS1ypEPfou7j7pozNu9e8xbhCPX3xTYZxxaVk0McZIkAZ/f8u+Yc8rYB6PxmHZr1qx57DGmLapGHk6VJEmqkCFOkiSpQoY4SZKkChniJEmSKmSIkyRJqpAhTpIkqUKGOEmSpAoZ4iRJkipkiJMkSaqQIU6SJKlCTrslSVLjiFnzJroLbdloA//7FnT09vZOdB/a0tOztI6Oao00HnMXSlI7jpg1b1zmZNW6obu7q2Ow1zycKkmSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklShCbtGOSImAZ8BdgT+AByVmfdOVH8kSZJqMpEjca8BNsjMlwKnAGdNYF8kSZKqMpEhbk/gewCZeSPwkgnsiyRJUlUm8pbPGwOPtjxfERGdmbl8ojokSVI7pk2byl13LWq7frPZ7dVts822zJ9/0yh7pXXNRIa4JUBXy/NJQwW4oe5YLLWju7tr+CJJasOiRXdOdBekCT2ceh3wKoCI2B346QT2RZIkqSoTORJ3GbB/RFwPdADvmMC+SJIkVaWjt9d55SVJkmrjzX4lSZIqZIiTJEmqkCFOkiSpQoY4rXYRcXJE/DoiNmieXxMR24zj9qZHRG9EvKnf8tsjYm6bbWwTEdc0j78aEeuPfU8ljYdmH/C7Zl9zbURcP9Q+p6n/6hht132Pxo0hThPhLcBXgUNW4zbvAt7c9yQi/hbYaDQNZeYhmfnkWHVM0moxLzOnZ+bewBnAx1fTdt33aNxM5C1GtA6KiOnAz4DzgC8Cc5uXPhQRfwH8AXhrZvZExFmU6dkAvgx8BlgE7JiZj0XEicBy4GLgP4ENgCeAozPzF/02/RPgRRGxaWY+AhwGfAnYsunX3wPvBVYAP8rMUyLi2U1NB/CblvdwP7ANsDUwm/JlaFPg2My8PiLuodwHMYDfAq/PzBWr8LFJGltTgPvhT6HqU5R/5w8DR7QWRsRbgOMp+6Z7gKOBm4BXAoubdfbOzIURcSvw0sz8Q0sT7ns0bhyJ0+p2FPC5zEzgDxExtVl+aWbuA1wO/HNEHAw8H9idEuQOpey8LgFe36xzCHAR5RsG2JUwAAAGc0lEQVT1pzLz5c3jWYNs+1LgtRHRAewGXA8QEc8EPgjsm5l7As+NiP2BE4CvNO1+Y4D2tgdOyMz9KDvUvnsdvgA4LTNfCnQDu47kA5I0LvZpDqfeAMyhfPkDOB+YmZnTge8CJ/WtEBHPouwb9mn2DY8A/0DZHxxA2TfdR7nn6XbA3f0CXB/3PRoXjsRptYmIKZRZOjaLiGOATYD3NC/Pb/6+HjgI+DWwIDN7gT9GxI3AdsDngHMj4i7KDvPh5pv0+yPiZMo318EON3wZOBf4ObCgZfnWlB3edyMCynRwL6DsKL/Q1FwH/GO/9n4JnBYRjzfrLGmWP9QyEvgLygihpIk1LzMPAYjyD/2GiHgusC3wmebf/nrA3S3rvAD478xc2jyfD7wCOAf4F+DB5u9jKYMilwyybfc9GheOxGl1Ogz4fGa+IjNfCUyl7BC7Kd9OAfYC7qAcNt0TICLWA14G3JOZ91CC2omUb9BQzjk5ufkm/Q889Q37/8jMn1PORTmWcii3z32UHd7+TRtnUw6X3AW8tKkZ6Bvtp4DTM/NtlGnj+ub39Q7a0prtty2Pk3IKx3TKKNx3Wl67D9guIvrOYdub8uXxDsqRgt0oo3fPAGYAVwy0Mfc9Gi+GOK1OR/HUt0sycxnlm+sLgdc0V2DtD8zKzG8D9zWHPm4ELs7MW5tVPw/sDFzdPH8fcHpEXEs5vHr7EH34GrBFZv7p23Zm9lAOSVwbETcBB1K+jZ8GvLrp198N0NYXgW9GxALgRcBz2vwcJK1+fYdTfwhcBbw3Mx+njHJd1Pw7nkXL/iMzHwJOB65ujgb8BWVEDeBaoCczVzaPf5eZvx9i++57NOacdkuSJKlCjsRJkiRVyBAnSZJUIUOcJElShQxxkiRJFTLESZIkVcib/UqqSnPbhTMy85oxam9L4PvA48BeLTd2laQ1miFO0rpuOnBLZh460R2RpJEwxEmacBGxOWXC742AlZQ7229BmUPy6cDTgCMy8/p+650CvBGYDFwJnEyZhugrwF81ZR/MzG8Nst2dgA8Dz4iI8yiTje9OmZz8bMoI3bnAs4BlwDHNROfPp9y4uosyjdIbM3OziDgDIDPPaNq/nxISfwF8rHk8GZibmZ+IiOnA+5u2t6Xcff/QzHwyIv4JeBdlYvTLgX+jTNv0gsxcEhFbAd/NzO3a+YwlrX08J07SmuBI4NuZ+RLgA8A0SoA5ODN3BM4E/rl1hYh4JbALZVqiFwPPBd4CvBa4PzN3adrda7CNZuZtzfa+lZnvahZvkJnbZea5wIXASZm5M3A08NWm5hzgC03f/osyddxQ3tlsb2fKVE0zIqKvXy+jzCG8LSU8HhARuwLvbmp3aN7nCylTQr2hWe+tTf8kraMciZO0JvgBcGlEvJgSVD4FnEeZeigoI1gr+q2zH2X+3Vua50+nTEg+B/j3ZnLz7wD/OsK+3AQQEc+gBMQLmsnJoYzYPYsyh+YhzbKLgM8O0+Z+wE4RsU9fO8DfAncCd2Tm/zTbXAQ8Ewjg8sx8tGV9ImIOcEbzHg8F+tqTtA5yJE7ShMvM64DtKIdE30SZSPxmyiTj8ymhrqPfapOBT2bmTpm5EyXQ/Vtm3gNsQzk8uxdwc0SMZF/3eEv7T/S137KN/21qOpq+9wLLm3V6+/VzvZa2TmppZ3dKEAN4oqW+b/0/0jKZeUQ8JyI2bT6L50bE64D7MvNXI3hfktYyhjhJEy4izgQOy8wLKYcWp1NCzL8DVwOvowShVvOAwyPiGRHRCXwDeENEvIdyHtzXKYckNwM2HmmfmlGweyLisKaP+1NCFJQJ1N/WLJ9BOZcP4CFg+2b5bsCzW/r6zohYrxnh+xElyA1mAfCqlvf2FeAlTWC8kBJq5470PUlauxjiJK0JzqYEsNuAy4CDgduAu4D/BnqA57WukJmXA5dQDn/e0dRfSDm8GRHxU0oYOjEzHxllv94CHBURtwMfAd7UBKnjgf2b/r6mpf6rwDMj4k7gGGBhs/w84J7m+Y+BC4a6RUpm3gp8GrgB+AkwPzN/0LKNjSihVdI6rKO3t3f4KknSoCKiNzP7H+4dj+1MolzwsU1mHjve25O0ZvPCBklrvYj4GLD/AC/9ODOPWt39WQWX0lzBOtEdkTTxHImTJEmqkOfESZIkVcgQJ0mSVCFDnCRJUoUMcZIkSRUyxEmSJFXIECdJklSh/w8weuqq8+q/GQAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 720x360 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# boxplots for checking outliers\n",
    "df2_full.boxplot('spend_net', by='sales_frequency', figsize=(10,5))\n",
    "plt.ylim(0,40000);"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> The no-outlier assumption is met."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "LeveneResult(statistic=0.0, pvalue=1.0)"
      ]
     },
     "execution_count": 36,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Levene Test for testing homogeneity of variances\n",
    "from scipy import stats\n",
    "\n",
    "# create criteria for each sample\n",
    "crit_above = df2_full['sales_frequency']=='Above Median'\n",
    "crit_below = df2_full['sales_frequency']=='Below Median'\n",
    "\n",
    "stats.levene(crit_above, crit_below)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> The test is not significant, meaning there is homogeneity of variances and we can proceed."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAA08AAAEuCAYAAABWCSnMAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3Xu8ZuXc+PHPNDNqZ6YabOdDjl8eD1I9IjUNUigkp/QkFQkJhZCo6EHSGUmkokQnp1AOlUo9kfo5f5Mc8ohGpppppvP+/XGtu7nbc++91z7cx/m8X695zX2v4/da99rrWt91XWutWSMjI0iSJEmSxrdGtwOQJEmSpH5g8iRJkiRJNZg8SZIkSVINJk+SJEmSVIPJkyRJkiTVYPIkSZIkSTXM6XYAktQOEbE9cAAQwFLgEuA9mXlNB2O4ClgvM9ePiAOreJ6ZmVd1aP1PB74MPAE4LTPf2DRuEXB+i9mOy8y3dCK+6YiItwNPy8w92riObwAvz8xZLcaNAN/MzO0mWMYs4DRga+BWSsz/bke8MyEi1gEOBK7OzM+1GN/8fpMRYAXwE+CNmfn3jgQpSV1ky5OkgRMRTwBOB64HXg3sB7wA+HoXwzoZeCHQseQNeBnwdOBg4KgxpjmWElfj35GdCW3ajgEe0u0gangE8BrgF8CbejlxqmwI7A2sNc40P6XsK1sDHwJeBBzR/tAkqftseZI0iB5CuTi0HLgmM78dEdcBj6laAragtLocAmwHPJSSWO2VmbdHxKbA0cCTgT8A+2bmD5paaz4ObAs8FjgP2CkzV1TzfQZ4HPANYKgppp2pWp4i4ibgT8BngQ2qf5cCO2bmDRHxROB44L+Ai6tybDdGC8h/UhKe5wD/prRyfBh4LfDRarKPURLJX7bYVtdW6wAgM2+LiPWr+L5VxfCbqryHADtSWhy+AeyTmbeOivenlNaIhZm5XkTsAnwJeEVmfqPF95cBnwAeDVwFvDMzr2ia7oPAG4EHVr/RHqxsMXt5RFyQmYtGbZOXAp+sfoel1TbZC3jMBNv9yVU5ngFcACxosb1WEREnUvajTwLvBm4HDszMzwPXVZM9D1gjIh5SlesU4KXAYcAXq5ieB9wIHJ2ZR1TLbiQmj66mezlwZWZuV633DcCCzLypxff9gbcAawM/oOzfN0wQb2PbHhER62XmgS2KfCNln2n8jd0N/KOKdxfG+L0pydZbgCdm5jURsTXwfeCt1TRj7V9/Bm4A5gKPAh4PnAA8H1gTuBJ4c2b+ZuxfSZJmhi1PkgbRZcDZlBO230bE9ZRk4oLMbO52tAvwEUrXtt2BfSJiASVp+AfwZuD3wFkR8bCm+XalnHj+ANgeeEVErAmcQUnE3gL8HXjSBHG+gXLS+BVKy9ibquFfBjYC3gH8mHLCvIqImFfF8KRq3s8A+1Bamc6tlkMVz7ljxHAoJdlZAayIiOYWh4WUk+uDgPdRtsdHgf2BV1XDAU6lJE7vqtaz7QTlbsTfaCH8WbXs5cA3IqI56dyJkkD9ivIbPaeKCUqi9u6maRvd5N5F2f6vpiRBewL/2TTZWNv9VEpCtXc133PrlKOyLrAJ8DZgNnBkRMyu4gc4a1SsT67Weyrldwrg7cCJwOERsW2VaJ1OqavfAMynJFETioidKb9VY5/YmJKgTRTve6rxx1JaS1t5KWV/uZWSRP2N0ro5kU9X/7+h+n8nYBklkRxv/4Kyf51K2WZvoPzdvZ+SWK9JSbokqe1MniQNnMy8OzO3BzajtBJdSznhuiQiHtA06ecy81TgncDNwJaUk/MHAttQTup2AOYBmzfNd2xmfgVo3BMyTDn5fVi1zK9m5gcoJ5Xj+XpmfoHS+gAwXCVEmwBnZeYXM/MQSpLQypaUZO3gap2foCQv/w38syo3wP9m5vVjLKPRatX4d3vTuO9Wy72YkhANUVrkPg88AHhJRKxLOTE/MzOPz8xPUVpzxtLcerYVcD9Kq9wplK5gjwSe1jTNJzLzNFYmgsOZeUX1eXHTZwCq5PgVlOToBcB/VKOaf/dW230d4JnAGdV2P5xyn9xk7JWZXwN+RNlW85qWcd2oWI/LzEbX0kWU/eckyv1GAC8Bnl0t45DMPIPSQnPPOOtv3raNBPZjlG3xOODFNeJtxHh1Zl5Laz+h7CubUy5ArAecM1FMVcvQhcDOETGf8jt9NTOXMsb+1bScv2fmoZn5Dco2XU5Jsl5CSRA/Nsb6JWlG2W1P0sCJiNcAr6d0+9mvGnYA5cR0Y+COatL7Vf83WqPuoXQNgnIF/LuULk93AQk8pRp3S/V/YzmzWHlS23xcbW7laqXVcmY3fZ5IqxPpWWMMH8tfMvOy5gER0fh4Y9PguZQT/e2r7+sBiynbZmTUOtds+tzYBo3tcv9Ry4TS+nEl5eR9BXA1K5OeVttoTBGxNqX73z8orYN/oSRJzfO1WuboOJtjr2sysTa27ZxqunMorTezKfvcn4EnVtM0tu3cUcucaNveTemiejelpenmiGi+aDqpbdtkSdM+c3FEvBJ4aUQ8eIKYoCQ6X6e0jt4fOK4p3lb7V8O9+2LVrfOplG57z6G0nr4HeGrN+CVpykyeJA2i/6NckX5YRHyCckL6KuA24Nes7E63e0T8ltJVa11KF7hLKF2JtgP+H6Ur0RasPJEdS1JOeHePiN9THtTwKMrJe22ZeXNEXA5sHxEXAA8GNh1j8gsoJ5X7RcQtlC5dW1FaNe5pSoKmqjkh+j6lm9TWlJPcTwNfyMy3RcTFTfE+mtLl8OZqvhuq/7ePiH+xsosclO19D6VL5Q3AB6r5H1sjtjuBx0bE8zPzx03Dn1TN/1dKEvfaavhsxpGZSyPip5QumG8G1qG0XLbLPdV6b46IyyitOE+m7Dd7U+L+IXAT8N7q992B+yY4jW27a0T8gdJy1/B9yj68I6Xl8hjgssx8yQT7RSOR2igiNhjjyZDDEbFlFcv6lL+Pv1H2xfF+byjdaf9O6fp6RVNrXMv9i5UtYffuixHxYcqFkI+y8r68x0XE7My8e7zCSdJ02W1P0sDJzEsoTziDcg/JCZQHB2wz6nHKP6ScsL+RcgX8yMz8F+UEbgXlno/HAztn5nWMIzPvpFw1v45yb8ljKfcrTcXrKC0xR1AeXnApJVkYvc5bKCfMf6zK+A5KK8s+U1zveA6ktBbsXq3jW5SnGEI5Ef4VpcvV06rYG34IfJXSDfJYmp54mJm/pWyzB1C65a0J7JCZt9aI5zjKb7PvqOG/pDz0YSPKCfgfquFPY2I7AZcDn6Js19NrzDMTXkVJhA+ntJh+DDi9ejLf6yjb5ThKi1yzz1CS/YMorXenNY07nvIkvBdXn39BufdtIr+gJFvbUe5tamVTSuJ7XhXDXygPiLibcX5vgMy8qxoPpXtew4GMvX+NdmhVprdWyx8BXmXiJKkTZo2MTLZXgiT1t6an5u2dmT33aO6I+CKlS1PjYQGfAf6WmRt2NbCaqhaoDTJzvW7HMmjqvl+qF0XEwykta5+ldMt7dGYu625UkjQ5tjxJUu85k9KF62RKi8w1rNr9Seo3T6M8gnwNYDcTJ0n9yJYnSZIkSarBlidJkiRJqsHkSZIkSZJqMHmSJEmSpBpMniRJkiSpBpMnSZIkSarB5EmSJEmSajB5kiRJkqQaTJ4kSZIkqQaTJ0mSJEmqweRJkiRJkmoweZIkSZKkGkyeJEmSJKkGkydJkiRJqsHkSZIkSZJqMHmSJEmSpBpMniRJkiSpBpMnSZIkSarB5EmSJEmSapjT7QA6afHipSPdjqHdFixYmyVLlnc7jLaznIPFcg6Wico5PDx/VgfD6SvTqaf6bf/qt3jBmDul32Lut3jBmCcyXj1ly9OAmTNndrdD6AjLOVgs52BZXcrZa/ptu/dbvGDMndJvMfdbvGDM02HyJEmSJEk1mDxJkiRJUg0mT5IkSZJUg8mTJEmSJNVg8iRJkiRJNZg8SZIkSVINJk+SJEmSVIPJkyRJkiTVMKfbAfSTFQcc0+0QGDpor26HIEnqYfPmvbOr61+27Kiurl+S2smWJ0mSJEmqweRJkiRJkmoweZIkSZKkGkyeJEmSJKkGkydJkiRJqsHkSZIkSZJqMHmSJEmSpBpMniRJkiSpBpMnSZIkSarB5EmSJEmSajB5kiRJkqQaTJ4kSZIkqYY53Q6gWURsAhySmYsi4jTgodWo9YHLMnOHpmlnAX8D/lANujQzP9DJeCVJajaqHtsAOAa4G7gd2Dkz/9nVACVJ09IzyVNE7Au8HrgVoJEoRcQC4Hxg71GzPB74RWa+tJNxSpLUyuh6DDgK2Cszr4qIPYD3Aft0Kz5J0vT1Ure9PwLbtxh+EHBMZl4/avhGwCMi4vyI+G5ERNsjlCRpbKPrsR0y86rq8xzgts6HJEmaST3T8pSZZ0bE+s3DIuLBwAtYtdUJ4Hrg45l5ekRsBnwF+K/x1rFgwdrMmTN7yjEuHpo75XlnyvDw/BmZZhBYzsFiOQfL6lLOZqPrscZFv4jYFHg7sHCiZUy3nirbvbt11dBQ/d++H/cTY+6Mfou53+IFY56qnkmexvAq4NTMvLvFuJ8DdwFk5sUR8YiImJWZI2MtbMmS5dMKZsWKO6c1/0xYvHjpuOOHh+dPOM0gsJyDxXIOlonK2QuVX6dExGuBDwLbZObiiaafTj3V2O7z5nW3rlq2rN4+3o9/D8bcGf0Wc7/FC8ZcZ11j6aVue61sCXxvjHEHAO8CiIhnAH8dL3GSJKmTImInSovTosy8ttvxSJKmr9dbngK4T4UTEecB2wKfAL4SEdtQWqB26Xh0kiS1EBGzgaOBvwJnVbflXpiZB3Q1MEnStPRU8pSZfwae3fT9qS2m2ar6eAewTWcikyRpYqPqsQd0MRRJUhv0erc9SZIkSeoJJk+SJEmSVIPJkyRJkiTVYPIkSZIkSTWYPEmSJElSDSZPkiRJklSDyZMkSZIk1WDyJEmSJEk1mDxJkiRJUg0mT5IkSZJUg8mTJEmSJNUwp9sBSJKkwTFv3jtrTjmXefPunPH1L1t21IwvU5IabHmSJEmSpBpMniRJkiSpBpMnSZIkSarB5EmSJEmSajB5kiRJkqQaTJ4kSZIkqQaTJ0mSJEmqoafe8xQRmwCHZOaiiNgQ+Dbwh2r0sZn5taZph4CvAA8GlgJvyMzFnY5ZkiRJ0uqhZ5KniNgXeD1wazVoQ+DwzDxsjFneCvwqMw+MiB2A/YG6b+aTJEmSpEnppW57fwS2b/q+EbBNRPwkIr4YEfNHTb8Z8P3q8/eALTsQoyRJkqTVVM8kT5l5JnBn06DLgfdm5kLgWuCAUbOsA9xcfV4KrNv2ICVJkiSttnqm214LZ2fmTY3PwDGjxt8CNFqj5gM3MYEFC9ZmzpzZUw5o8dDcKc87U4aHRzfATW2aQWA5B4vlHCyrSzklSauXXk6ezo2IvTLzcuAFwBWjxl8CvITSQvVi4KKJFrhkyfJpBbRixZ0TT9RmixcvHXf88PD8CacZBJZzsFjOwTJROQc5sRr14KMnACcCI8CvgT0z855uxidJmp6e6bbXwluBIyPiAuC5wMEAEXFeRNwPOBZ4akRcDLwZOKhbgUqSVD346AvAWtWgw4H9M3NzYBbw8m7FJkmaGT3V8pSZfwaeXX3+BbBpi2m2qj7eAby6Y8FJkjS+xoOPvlx93wi4sPr8PWArSjd0SVKf6qnkSZKkfpWZZ0bE+k2DZmXmSPW51oONpntvbukS2f37c+saasO9xEND75nxZTYbHp5oiuPauv6p6Meusv0Wc7/FC8Y8VSZPkiS1R/P9TbUebDSde3Mb95rNm9f9+3PrGBqa2xP3Ek9GnZiXLeut+xr78V7Lfou53+IFY66zrrH08j1PkiT1sysjYlH1udaDjSRJvc2WJ0mS2uPdwPHVQ45+B5zR5XgkSdNk8iRJ0gwZ9eCjq4EtuhqQJGlG2W1PkiRJkmoweZIkSZKkGkyeJEmSJKkGkydJkiRJqsHkSZIkSZJqMHmSJEmSpBpMniRJkiSpBpMnSZIkSarB5EmSJEmSajB5kiRJkqQaTJ4kSZIkqQaTJ0mSJEmqweRJkiRJkmoweZIkSZKkGkyeJEmSJKmGOd0OoFlEbAIckpmLImID4BjgbuB2YOfM/Oeo6a8Ebq6+/ikzd+1owJIkSZJWGz2TPEXEvsDrgVurQUcBe2XmVRGxB/A+YJ+m6dcCyMxFHQ5VkiRJ0mqol7rt/RHYvun7Dpl5VfV5DnDbqOmfAawdEedFxI8j4tmdCFKSJEnS6qlnWp4y88yIWL/p+/UAEbEp8HZg4ahZlgOfAr4APBH4XkREZt411joWLFibOXNmTznGxUNzpzzvTBkenj8j0wwCyzlYLOdgWV3KKUlavfRM8tRKRLwW+CCwTWYuHjX6auCazBwBro6IG4GHAdeNtbwlS5ZPK54VK+6c1vwzYfHipeOOHx6eP+E0g8ByDhbLOVgmKqeJlSSpX/VSt737iIidKC1OizLz2haT7AYcVk37cGAd4PrORShJkiRpddKTLU8RMRs4GvgrcFZEAFyYmQdExMnA/sAXgRMj4mJgBNhtvC57kiRJkjQdtZKniPgu8CXgm5l5R7uCycw/A40HPzxgjGl2bvq6Y7tikSQNjk7VY5KkwVa35ekQYGfg0Ig4BzgxM3/WvrA0lhUHHDPu+MVDc9t6b9bQQXu1bdmS1EbWY5KkaauVPGXmhcCFETEEvAo4MyJuoTzp7tjMvL2NMUqSNC3dqsciYi5wErA+5aXvu2fm79uxLklS+9V+YERELAI+DXwM+D7wDuAhwLfaEpkkSTOoS/XYS4A5mbkp8BHgf9q4LklSm9W95+kvwLWU/uJvz8wV1fALgJ+3LTpJkmZAF+uxq4E5EbEG5amw3X/nhSRpyure8/R8YGlm3hARQxHxhMy8JjPvATZsY3ySJM2EbtVjyyhd9n4PPAjYdryJp/sy9/IOre6/0L2uoR54+fxkTRTz0FDvvcesH9+t1m8x91u8YMxTVTd52gbYhVLBPBj4dkQckZmfb1dgkiTNoG7VY3sD52bmByLiUcCPI+JpmXlbq4mn8zL3xsuJ583rj8atoTY/4Kgd6sS8bFlvvQi7H1/O3W8x91u8YMx11jWWuvc8vRnYHCAz/wJsBPjYNUlSv+hWPbYEuLn6/G9Ks9DUm5YkSV1Vt+VpLtD8JKI7KC+mlSSpH3SrHjsCOCEiLgLuB+yXmbd2YL2SpDaomzx9g9LV4OuUyuaV+JQ9SVL/6Eo9lpnLgNe0ez2SpM6o1W0vM98HHA0E8Hjg6Mzcv52BSZI0U6zHJEkzofZ7noDfAV+nXL37d0QsbE9IkiS1hfWYJGla6r7n6TPAS4E/Ng0eoTz6VZKknmY9JkmaCXXvedoKiMZLBSVJ6jPWY5Kkaavbbe9aYFY7A5EkqY2sxyRJ01a35enfwG8j4qfAvS/2y8zd2hKVJEkzy3pMkjRtdZOn71f/JEnqR9ZjkqRpq5U8ZeZJEbE+8FTgXOBRmfmndgYmSdJMsR6TJM2EWvc8RcRrgW8DRwEPAC6NiJ3aGZgkSTPFekySNBPqPjDifcCmwNLMvAF4JvCBtkUlSdLMsh6TJE1b3Xue7s7MpREBQGZeHxH3zHQwEbEJcEhmLoqIJwAnUt7D8Wtgz8y8p2naIeArwIOBpcAbMnPxTMckSRoIHanHJEmDrW7L028i4u3A3IjYICI+D1w1k4FExL7AF4C1qkGHA/tn5uaUx8u+fNQsbwV+VY0/Gdh/JuORJA2UttdjkqTBVzd52hN4BLACOAG4BXjbDMfyR2D7pu8bARdWn78HbDlq+s1Y+eSkVuMlSWroRD0mSRpwdZ+2dyulb3jb+odn5pnVk5AaZmXmSPV5KbDuqFnWAW4eZ/wqFixYmzlzZk85xsVDc6c8bycNtTHO4eH5bVv2ZPVSLO1kOQeL5eyOTtRjkqTBVyt5qvqFj4wafH1mPnLmQ7pXc1/0+cBNo8bfUg0fa/wqlixZPq2AVqy4c1rzd8LQ0Ny2xrl48dK2LXsyhofn90ws7WQ5B4vlXDm+07pUj0mSBkzdlqd7u/dFxFxgO+A57QqqcmVELMrMC4AXA+ePGn8J8BLg8mr8RW2OR5LUp7pUj0mSBkzdp+3dKzPvBE6PiA+2IZ5m7waOj4j7Ab8DzgCIiPOAbYFjgZMi4mLgDmDHNscjSRoAHazHJEkDpm63vZ2bvs6ivKF9xvuGZeafgWdXn68GtmgxzVbVxzuAV890DJKkwdOpekySNNjqtjw9r+nzCPAv4LUzH44kSW1hPSZJmra69zzt2u5AJElqF+sxSdJMqNtt70+s+pQiKF0fRjLzcTMalSRJM8h6TJI0E+p22zsVuB04ntJH/L+B/wK82VaS1A+sxyRJ01Y3edo6Mzdu+n5URFyRmX9pR1CSJM0w6zFJ0rStMfEkAMyKiC0bXyJiW8pLaiVJ6gddq8ci4gMRcWlEXBERb+zEOiVJ7VG35enNwMkR8VBKn/HfA29oW1SSJM2srtRjEbEI2BR4LrA28J52r1OS1D51n7Z3BfDUiHgQsCIzb21vWJIkzZwu1mNbA78CzgbWAd7bofVKktqgVre9iHhMRPwAuBSYHxE/joj12xqZJEkzpIv12IOAjSkvdX8LcEpEzOrAeiVJbVC3295xwKHAIcA/ga8CJwML2xSXJEkzqVv12I3A7zPzDiAj4jZgGLih1cQLFqzNnDmzp7yy4eH5wNwpz99pQ0P9E2vDRDEPDc3vUCT1lf2iv/RbzP0WLxjzVNVNnh6UmedFxCGZOQIcHxF7tjMwSZJmULfqsYuBd0bE4cDDgPtTEqqWlixZPuUVDQ/PZ/Hipcybd+eUl9FJQ0NzWbGiP2JtqBPzsmVLOxRNPY39op/0W8z9Fi8Yc511jaXu0/ZWRMQjqV4wGBGbUd6XIUlSP+hKPZaZ3wGuBC4Hvg3smZl3t3u9kqT2qNvytDfwHeDxEXEV8ABK/21JkvpB1+qxzNy3E+uRJLVf3eTpIZQ3sT8JmM3K/tuSJPUD6zFJ0rTVTZ4+mZnnAL9pZzCSJLWJ9ZgkadrqJk9/jIgTgP8FVjQGZubJbYlKkqSZZT0mSZq2cR8YERGPqD7eCMwCng08r/q3qK2RSZI0TdZjkqSZNFHL07eBDTNz14h4d2Ye1omgJEmaIdZjkqQZM9Gjypvfgv7f7QxEkqQ2sB6TJM2YiVqeRpo+zxpzqjaJiF2AXaqvawEbAA/NzJuq8UcDzwUab8x6eWbe3OEwJUm9q6v1mCRpsNR9YATctwLqiMw8ETgRICI+A5zQSJwqGwJbZ+a/Oh2bJKnvdLwekyQNlomSp6dGxLXV50c0fZ4FjGTm49oX2koRsTHw1Mzcs2nYGsATgc9HxEOAL2bmCZ2IR5LUN3qiHpMkDYaJkqcndSSKie0HHDRq2P2BY4DDKS88PD8ifp6ZvxxrIQsWrM2cObOnHMTioblTnreThtoY5/Dw/LYte7J6KZZ2spyDxXJ2XK/UY5KkATBu8pSZf+lUIGOJiPWAJ2fm+aNGLQeOyszl1XQ/Bp4BjJk8LVmyfFqxrFhx57Tm74ShobltjXPx4qUTT9QBw8PzeyaWdrKcg8VyrhzfKb1Qj0mSBsdET9vrBQuBH7YY/iTg4oiYHRFzgc2AX3Q0MkmSJEmrjck8MKJbArj23i8R+wDXZOa3IuIU4DLgTuDkzPxNl2KUJEmSNOB6PnnKzENHfT+86fMngU92PChJkiRJq51+6LYnSZIkSV1n8iRJkiRJNZg8SZIkSVINJk+SJEmSVIPJkyRJkiTVYPIkSZIkSTWYPEmSJElSDSZPkiRJklSDyZMkSZIk1WDyJEmSJEk1zOl2AJIkDbqIeDBwBfDCzPx9t+ORJE2NLU+SJLVRRMwFjgNWdDsWSdL02PKkSVlxwDFdXf/QQXt1df2SNAWfAj4HfKDbgUiSpsfkSZKkNomIXYDFmXluREyYPC1YsDZz5sye8vqGh+cDc6c8f6cNDfVPrA0TxTw09J4ORTKe4+7zrewX/aXfYu63eMGYp8rkSZKk9tkNGImILYENgJMj4mWZ+Y9WEy9ZsnzKKxoens/ixUuZN+/OKS+jk4aG5rJiRX/E2tAvMS9btvTez439op/0W8z9Fi8Yc511jcXkSZKkNsnMhY3PEXEB8JaxEidJUu/zgRGSJEmSVIMtT5IkdUBmLup2DJKk6bHlSZIkSZJq6PmWp4i4Eri5+vqnzNy1adzuwB7AXcDBmfmdLoQoSZIkaTXQ08lTRKwFrbs6RMRDgXcAGwNrARdHxA8y8/aOBilJkiRptdDTyRPwDGDtiDiPEut+mXlZNe5ZwCVVsnR7RFwDPB34WXdClSRJkjTIev2ep+WUN7NvDbwFOCUiGgnfOqzszgewFFi3s+FJkiRJWl30esvT1cA1mTkCXB0RNwIPA64DbgGa32A1H7hpvIVN983ti/vkTej9+Mb2uppfWtYLb5nuBMs5WCynJEn9q9eTp92ApwFvi4iHU1qbrq/GXQ78T3Vf1JrAU4Bfj7ew6by5HeiLt4r3y9vPp6rxZul+fDP2VFjOwWI5V46XJKkf9Xq3vS8C60XExcDXKMnUOyLiZdUb2o8GLgJ+DHwwM2/rXqiSJEmSBllPtzxl5h3AjqMG/7Rp/PHA8R0NSpIkSdJqqddbniRJkiSpJ5g8SZIkSVINJk+SJEmSVIPJkyRJkiTVYPIkSZIkSTWYPEmSJElSDSZPkiRJklSDyZMkSZIk1WDyJEmSJEk1mDxJkiRJUg0mT5IkSZJUg8mTJEmSJNVg8iRJkiRJNZg8SZIkSVINJk+SJEmSVMOcbgcgSdKgioi5wAnA+sCawMGZ+a2uBiVJmjJbniRJap+dgBszc3PgxcCnuxyPJGkabHmSpD6z4oBjurr+oYP26ur6+8zpwBlN3+/qViCSpOkzeZIkqU0ycxlARMynJFH7jzf9ggVrM2fO7Cmvb3h4PjB3yvN32tBQ/8Ta0A8xDw3Nv8/3sl/0l+nFvMeMxVHX8PDoIcd1PIbJWv32i5lh8iRJUhtFxKOAs4HPZuap4027ZMnyKa9neHg+ixcvZd68O6dpiCiIAAAVK0lEQVS8jE4aGprLihX9EWtDv8S8bNnSez839ot+Mt2YO/030Gq/aP4NetHquF9Mdl1j6enkaaIbbSNiH+CNwOJq0B6ZmZ2OU5KkViLiIcB5wNsz80fdjkeSND09nTyx8kbb10fEA4ErgeanFG0I7JyZV3QlOkmSxrcfsAD4UER8qBr24sxc0cWYJElT1OvJ00Q32m4EfCAiHgqck5kf71hkkiRNIDPfCbyz23FIkmZGTydPNW60PQ34DHALcHZEbJuZ3xlredO9EXdxH9wkCv1xM+tUNfdB7YWbBjvBcg6WmShnt49FdcqwuvyekqTVS08nTzD2jbYRMQs4MjNvrr6fAzwTGDN5ms6NuEBf3CTaLzezTlXjRsF+vNFxKiznYJmpcnb7b3yiMkxUThMrSVK/6unkaYIbbdcBfh0RTwFuBZ5PebiEJEmSJM24nk6eaH2j7fHA/TPz8xGxH3A+cDvwo8z8bpfilCRJkjTgejp5muhG28z8MvDlzkUkSZIkaXXV08mT1ItWHHBMx9a1uMU9bEMH7dWx9UuSJGmlNbodgCRJkiT1A5MnSZIkSarB5EmSJEmSajB5kiRJkqQaTJ4kSZIkqQaftidJkjRA5s1rfsvLXObNu3PMaXtTP8asZvfdB2dK/f1i2bKj2rD+wpYnSZIkSarB5EmSJEmSajB5kiRJkqQaTJ4kSZIkqQaTJ0mSJEmqweRJkiRJkmoweZIkSZKkGkyeJEmSJKkGkydJkiRJqsHkSZIkSZJqMHmSJEmSpBpMniRJkiSphjndDmA8EbEG8FngGcDtwJsy85qm8bsDewB3AQdn5ne6EqgkSS1MVI9JkvpLr7c8bQeslZnPAd4PHNYYEREPBd4BPBfYGvh4RKzZlSglSWptzHpMktR/ej152gz4PkBmXgZs3DTuWcAlmXl7Zt4MXAM8vfMhSpI0pvHqMUlSn+npbnvAOsDNTd/vjog5mXlXi3FLgXXHW9jw8PxZ04rms/tNa3bNrOHh+d1ZsftBW3Tt9+ywGSlnH+yDq8vvWcN49dgqpltPle1+wnQW0VFDQ92OYPKMuTP6LebR8fZD/O09TrfnOFR3u7Zz+/d6y9MtQPMvu0ZThTN63Hzgpk4FJklSDePVY5KkPtPrydMlwEsAIuLZwK+axl0ObB4Ra0XEusBTgF93PkRJksY0Xj0mSeozvd5t72zghRHxU2AWsGtE7ANck5nfioijgYsoSeAHM/O2LsYqSdJoq9RjXY5HkjQNs0ZGRrodgyRJkiT1vF7vtidJkiRJPcHkSZIkSZJq6PV7nlZbETGX8pzH9YE1gYOB3wInAiOUh2PsmZn3RMQBwDbAXcC7MvPyiHhC3Wk7Wa6xRMSDgSuAF1JiO5EBK2dEfAB4GXA/4LPAhQxYOav99iTKfns3sDsD9ntGxCbAIZm5aDLxzsS0XSznBsAxlN/0dmDnzPxnROwO7FHFfnBmficiHgScCgwBfwd2zczlk5m2k+XsdxGxBuV48gzKb/OmzLymyzG1qr/+Bnwb+EM12bGZ+bVe2v8j4kpWPlb+T8BxwFFVbOdl5kFjbe/qYSD3mbbNse4C7FJ9XQvYANgROBS4rhp+AOW+8F6It+3HzTbHPNYx8GjguZTX5QC8HJhLzWNgm2PekGn+zbV7O4+K9zTgodWo9YHLMnOHiPgW8EDgTmBFZr642+cKtjz1rp2AGzNzc+DFwKeBw4H9q2GzgJdXfxxbAJsAOwCfqeafzLRdVVW0xwErqkEDV86IWARsSjnIbgE8igEsJ+WpYnMyc1PgI8D/MEDljIh9gS9QTlagfWVbZdp2l61Zi3IeBeyVmYuAs4D3RcRDgXdQ9umtgY9HxJrAh4FTq9ivBPaYzLQdKuIg2Q5YKzOfA7wfOKzL8UDr+mtD4PDMXFT9+1ov7f8RsRZAU3y7Ap+jJCSbAZtU8Y61vVtN2zaZeWIjVsqFx3dQtvG+TWW4sBfi7eBxs50xr3IMrIZvCGzdtM1vZnLHwHbGPK2/uXZv59HxZuYO1fZ9BeXVQ3tXkz4B2Kwqw4u7FW8zk6fedTrwoabvdwEbUVorAL4HbEk58J2XmSOZ+VdgTkQMT3LabvsU5UD+9+r7IJZza8ojis+mXAn6DoNZzqurONagvBz0TgarnH8Etm/63q6ytZq2k0aXc4fMvKr6PAe4DXgWcElm3l6dMFwDPJ1Spu9X0zZin8y0mpx7t2FmXgZs3N1wgLHrr20i4icR8cWImE9v7f/PANaOiPMi4scRsRBYMzP/mJkjwLnAC2ixvSNinTGmbbuI2Bh4amZ+nrLddouIiyLisIiY0yPxduq42c6YVzkGVvXcE4HPR8QlEbFbNX4yx8B2xjzdv7l2b+fR8TYcBByTmddHxEOA9YBvR8TFEbFtU9m6dq5g8tSjMnNZZi6tdvYzgP2BWdWBDkoT8bqs+vb6xvDJTNs1VdeDxZl5btPggSsn8CDKSc2rgbcAp1Beljlo5VxGaW7/PXA8cDQD9Htm5pmUhLChXWVrNW3HjC5nZl4PEBGbAm8HjmDs2JuHT1TOVtNqckZv27urk+auGaP+uhx4b2YuBK6ldCnrpf1/OeVC3taUY/SXqmGjY1tle1fDbmkxbSfsRznZBPgBsBewEJhHKUfX4+3gcbNtMY9xDLw/pSvfTsCLgLdFxNOZ3DGwbTEz/b+5tsbcIt7GLRwvoHTJg3Kbw2GUFtTtgSOqabp6rmDy1MMi4lHA+cCXM/NUoLnP93xKs+bot9c3hk9m2m7ajfIOlAsofbZPBh7cNH5QynkjcG5m3pGZSbly3/xHPSjl3JtSzidRruSeRDn4NQxKORva9TfZatquiojXUlqIt8nMxYwde/PwicrZalpNzuhtu0Zm3tWtYBpa1F9nZ+YV1eizgWfSW/v/1cBXqqvWV1NOwh7QIo5VtneLYR2JOSLWA56cmedXg07IzGurk8pv0nobdy3eJn15LtPiGLgcOCozl2fmUuDHlHpvMsfAdpru31w3Yn4Vpcvj3dX3fwCfy8y7MvMGSjfI6Ha8Jk89qmqqPA94X2aeUA2+srp3Bko/8osob6/fOiLWiIhHUyrOf01y2q7JzIWZuUXVz/UqYGfge4NWTuBi4EURMSsiHk65YvWjASznElZe+fk35cbZgdtvm7SrbK2m7ZqI2IlytXVRZl5bDb4c2Dwi1oqIdYGnUG7cvYRy7xusjH0y02py7t2GUR4C8KvuhjNm/XVuRDyr+vwCyn06vbT/70Z1P1B1jF4buDUiHh8RsygtUo2/2fts78y8BbijxbTtthD4YRXLLOCXEfHIalzzNu6VeBv6rk4Y4xj4JODiiJgd5d7tzYBfMLljYDtN92+uG3XvlpRueM3fvw4QEfOA/wR+1+14fdpe79oPWAB8KCIafcffCRwdEfej7DxnZObdEXERcCklGd6zmvbdwPE1p+01k4m9L8qZ5cliCykH0EZMf2LAyknpynBCFdf9KPvxzxm8cja0a19dZdqOlWiUiJhN6X75V+CsiAC4MDMPiPKkqYsosX8wM2+LiIOBk6I8WepfwI6ZeWvdaTtewP53NqX1/qeUG6d37XI80Lr+2gc4MiLuoFxNfnNm3tJD+/8XgRMj4mLKE7x2o1zdPgWYTbmX4n8j4me03t5vGT1tB2IOSncsMnMkIt5E+RtdQXk67/GUbnq9Em9DX9XxExwDTwEuo3Q/OzkzfzOZY2A74wbeCnx6qn9zXap7792nATLzexGxdURcRvl73C8z/xURXY131sjIyMRTSZIkSdJqzm57kiRJklSDyZMkSZIk1WDyJEmSJEk1mDxJkiRJUg0mT5IkSZJUg8mTJEmSJNVg8iRJkiRJNZg8SZIkSVINJk+SJEmSVIPJkyRJkiTVYPIkSZIkSTWYPEmSJElSDSZPkiRJklSDyZMkSZIk1WDyJEmSJEk1mDxJkiRJUg0mT5KmJCJmdTsGSZImw7pL0zWn2wFIDRHxDmBv4GHAdcCnMvO4Dqz3U8C7M3NWRBwIHADMz8xlbV7v/pTy3gY8OTOXVsPnAF8HXgj8JDO3aWccUxERmwPvB7YZNXx94E/AXpn56S6EJkkzwjrp3jppF+BLwNMy89fjzP8Y4CwggI9l5sfaGe9URMTuwJOBd48avgs1yiiBLU/qERHxbOAo4BzglcDPgc9FxCYdDuVkStKyogPrejtwDfDGRiVVeQLwCuA04KAOxDEV7wSe2u0gJKkdrJPuUyedW8XwpwnmfzGwIfABygXAXvRx4IHdDkL9zZYn9Yrh6v+bgMuAS4ALgVsAImIE+BywEHgocERmHlyN2xd4FzAb+DLwPuBRlAP9ocB2wIMoVw0/VjXZHwrsBlwL/K0pjp2prvJFxHuq5R5V/f934L8z8xcR8WhKpfZflCRnIXBJZu7SXKiIeFgV95bA4iruoyLiAuAh1b/3A99vmu131f9vAv4vIt4GbA7cADwSeCywz+gyZ+bdEfHaqmz3q4a/B3gasDFNV9Wq9c/LzI0jYhg4Hng+5erquzPz+9UVz1XKDzydcjJBRPw5M9dnVZtUV23XAT6cmZ8ffWWvEQMlUfwz8KHq9/kP4DfArsDpwKeraW4EDszMLzct62uU1q+FwOur32+Isg/tlJnXt4hNkiZinbTS1lTH7oho1CXvB94L3Aq8GbgdOLaa/mjgeRHxw6rMTwB+WpVvleN5FdchwO6UOuj/AS/JzAdFxInAtpn5oKbtflhmviciNgKOo7R0/Qx4c2ZeU5Xlzuq3ehFwKfBq4AhK4vSGiGD0tqm8OSJ2AP5FSSIvHSsG4ErgK8BzM/OnEbEncAzweErjxBeq3+O3wNsy8+fVsprr8w2BE6vf6y5K0rlnZt7VIjb1CFue1Ct+QDnAfZByUPkBcGtm/q5pmh0oV43OAT4aEZtFxFbAJ4DDgQ9RDr67Ns3zGuBAIIGPRMQ6wPaUJvsvUyqh540T17qUA/M7gcdRKgwolcMGwB6Ug/QTxpj/VODZlMrldODIiHhNtf5bgPMY1X2gKgOUyvTk6vPjqm2yByXJWaXMEfFwykH4GuBtjOpSN46jqvj3BC4GvhYRjStzrcp/LnAR8E9KMtXKZsB+lArtsxHxxLFWnpnXAT8EXlsNejWwHDiDsj9sRelK8lXgSxHx5KbZ16Rsk3uqaY6hJJ3rAdvWKr0krco6aXwvBPYC7g98lJLwNLpq71R9p1rXfpRko+XxPCK2B/YFTqFst1dMtPKImAucSUk030I5nz2xaZItgauAI4EXAK8DPtlUxk+OtWjgrcBc4NQJ7o86C7iZlXXXq4CLM/NPlN9yNuX3uA44vYoZ7luf70hJTnej7EvPAp45UfnVXSZP6gmZeRvlasx2wAnAI4CTI+L1TZOdnplfoVQaAFtQDsSNq3bHUVo6XtA0z3GZeSrlas5sYAHlxP42YO/qqteZE4S3d2aeCPyelVcjFwJnVPHsRams7iMiHgAsAo7NzFMy873AX4BXZuYV1TzXV5+bXVb9/9vMvLb6fBdwUGZ+d5wyPwtYCzggM8+iVFZjaa4QtqJ0wTuZUqGuQ2mpaln+qjXnBuC2zLxkjOV/PjPPAD5M2e6turo0x3AC8PQqMXo1cFbVv38r4OHV+A9Wy9qiab4jqt/3z5QK6u2UpOlw7luRSlJt1kkT+lBmfpXSIjecmUsoCSGUFq8l1edLM/PLmXk5Yx/PFwJ3VOU6CfhGqxWOSmQCeAzwckrrzxbAphExVI2/OjM/Cnyq+j6cmb9tKuNvxyjXgZl5JvBZYH3K794yhsxcQUkCX1216C0EToqIecBzKPvPVyjJ8fqUpAnuW59fBtwN/A/waErPj5+NEZt6hMmTekLVDetM4LuZuTvwRKBx8tzQuGozUv1/TzXsTmBTysHqRcBHmuZp9NtuVCSzqvlnsXL/H2F8zctoHDhnc9+T/1bLGBlj3ETraxlDZt5dfR6rzI1m/nuq/9dssc5GV92hpnFzgW9Wy3oepRJqrjxblX8ijd+qEctdE8TwDeDflGSrkcg1lnN5FdtCyknId5rmuwkgM2+mXK3bh9KN5DOUK6ySNGnWSROqWy/c1PR5rON5o35oxDG67hqr3oLSpfE5lN9lM0oiMjo+Joix2Vh1V6sYoCSCD6NcsLud0prXWMbnqti2pCRSf2/E1qjPM/N/KV3rj6Z0mfxh1f1PPczkSb3i35QrSCdFxLaUvtTzKH2KG14ZEW+gXNGD0v/8R5QD1SuBjYDvUboTjOfHlIPzkRGxM6WlY7LOr+LZidJV4X6jJ6iuvF0KvDUidqz6dD+Gcp/OZN3T9HmsMl9O6e52QES8inK/U8O/qv9fExGvo3TvaF7e5pR+2ntR+rrPniCeO4D1qt+qlT2qfuMfqaa9dLwYMvN2SrLzOuD/qpgasW1AqVx2pHR1aFxphWq7RMQWwD8oXUTOobSMPWqCMkjSWKyTZsbouqvV8fx8SvkPrZ6G97Kmef4FrBsRr6R0g2z4LeWY/zLKvUNHAJ/OzDsmiOcO4InVA0FaObha19uAzMx/jBMDVSvRryldOL+ZmbdU2/lKSne8R1MuCp5erfs+26R6wuFvqq/foCRr1l09zuRJPSEzv0U5cd+YcrVvD8rB8OimyX5CaVl4BbBfZv60mu99lMrmE5QWi89NsK7vAB+jHLzfRTmoTdaewC+r+JZQkpZWB+0dKE9pOp7S133PzDx7Cuu711hlzswbKPf7PK0afmHTbOdRKsh3UMrdfDPwHpR7mD5D2f5vysx/ThDG1yhX4w4ZY/wJlG4Iz6LcxPuXCWKAlU9nOiUzG5XLhyhJ1ccpXR/ek5lXjV5ZZl5IuY/gFZRuFEsolZ8kTZp1Ulu0PJ5n5jmUlpvdKA/IuKhpniMpPSFOrL7/He694LYtJRE5iVLW3WrEcBLloUe7jjH+bMq2uZOV9/S2jKFJo+46uWnYqyndyb9IaVF6fRXzaEdS6sWDKV0Fz2Hs+7HUI2aNjEyltVbqrOYn7HQ7FoCIOIzSd/s0yoHxOGCfzDyiq4E16af3VkTE8yj3W70W+I/M/H2XQ5KkMVkntc/op9v1qoiYT+kqeAjl3rX1m7rXa4D5qHJpar5NuWJ0GqWP9WmUykpTcxjlZtoPmzhJ0qRZJ3Xe2pRWyRuBPUycVh+2PEmSJElSDd7zJEmSJEk1mDxJkiRJUg0mT5IkSZJUg8mTJEmSJNVg8iRJkiRJNZg8SZIkSVIN/x9OCzTXFnggCwAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 1008x288 with 2 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# separate both samples\n",
    "series_above = df2_full['spend_net'].where(crit_above).dropna()\n",
    "series_below = df2_full['spend_net'].where(crit_below).dropna()\n",
    "\n",
    "# plot histograms\n",
    "fig, (ax1, ax2) = plt.subplots(1,2, figsize=(14,4))\n",
    "\n",
    "ax1.hist(series_above, color='crimson', alpha=0.6)\n",
    "ax1.set_xlabel('\\nSpending of frequent buyers', fontweight='bold')\n",
    "ax1.set_ylabel('Frequency\\n')\n",
    "\n",
    "ax2.hist(series_below, color='yellow', alpha=0.6)\n",
    "ax2.set_xlabel('\\nSpending of infrequent buyers', fontweight='bold')\n",
    "ax2.set_ylabel('Frequency\\n')\n",
    "\n",
    "plt.suptitle('Spending of Frequent and Infrequent Buyers', fontweight='bold');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> It's **not normally distributed**, but the independent t-test remains quite robust for violations of normality. \n",
    "\n",
    "Nevertheless, we should keep in mind that as a parametric test, the independent t-test delivers best and most reliable results if both groups are normally distributed. Reliability decreases for skewed distributions."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Test Statistic"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "To conduct a t-test, we just use the stats.ttest_ind() method. It returns the t statistic and a p-value - but for a two-tailed test!"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "5.430934452008424"
      ]
     },
     "execution_count": 38,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# calculating t-value and two-tailed p-value \n",
    "from scipy import stats\n",
    "t, p_two = stats.ttest_ind(series_above, series_below)\n",
    "t"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "We now have the t-value and only need to get the degrees of freedom for both samples to finally calculate an accurate p-value for our one-tailed test."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "42"
      ]
     },
     "execution_count": 39,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# checking the length of the above-sample\n",
    "n1 = series_above.shape[0]\n",
    "n1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "43"
      ]
     },
     "execution_count": 40,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# checking the length of the below-sample\n",
    "n2 = series_below.shape[0]\n",
    "n2"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Lastly, I calculate the p-value; this is the **area of rejecting the null hypothesis**. \n",
    "\n",
    "Given our directional alternative hypothesis: \n",
    "\n",
    "> $\\mu_1 > \\mu_2$ or stated differently: $\\mu_1 - \\mu_2 > 0$\n",
    "\n",
    "this area of rejecting is on the right (\" > 0 \"). \n",
    "\n",
    "In other words: I'm trying to get the probability that my test statistic exists GIVEN the null hypothesis is true. If this probability is very small, I will reject the null hypothesis and instead work with the alternative hypothesis."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "2.7358377197028716e-07"
      ]
     },
     "execution_count": 41,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# using the cumulative density function (CDF) with the t-value und df's of both samples\n",
    "\n",
    "p = 1 - stats.t.cdf(t, n1+n2-2)\n",
    "p"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The independent t-test results are **significant!** Therefore, we can reject the null hypothesis in support of the alternative."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#### Effect Size"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "To calculate the effect size, I use the function I created before for the first question:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "metadata": {},
   "outputs": [],
   "source": [
    "from statistics import mean, stdev\n",
    "from math import sqrt\n",
    "\n",
    "def cohens_d(x, y):\n",
    "    \"\"\" Function takes in two samples as arguments and \n",
    "    calculates Cohens's as a measure of effect size. \"\"\"\n",
    "    cohens_d = (mean(x) - mean(y)) / (sqrt((stdev(x)**2 + stdev(y)**2) / 2))\n",
    "    print(cohens_d)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 43,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1.1713479126118411\n"
     ]
    }
   ],
   "source": [
    "cohens_d(series_above, series_below)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Cohen's d may also take values above 1 (it's defined from -∞ to +∞). In our case it's an **eminently big effect**!"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 2.4 - Conclusions"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 44,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\n",
      "Frequent Customers' Spending:\n",
      "count        42.000000\n",
      "mean      26917.445238\n",
      "std       27175.137126\n",
      "min        6089.900000\n",
      "25%       12894.525000\n",
      "50%       18486.850000\n",
      "75%       28280.957500\n",
      "max      117477.440000\n",
      "Name: spend_net, dtype: float64\n",
      "\n",
      "Infrequent Customers' Spending:\n",
      "count       43.000000\n",
      "mean      4209.113953\n",
      "std       3631.026596\n",
      "min        100.800000\n",
      "25%       1645.150000\n",
      "50%       3361.000000\n",
      "75%       5169.650000\n",
      "max      18136.350000\n",
      "Name: spend_net, dtype: float64\n"
     ]
    }
   ],
   "source": [
    "print(\"\\nFrequent Customers' Spending:\")\n",
    "print(series_above.describe())\n",
    "print(\"\\nInfrequent Customers' Spending:\")\n",
    "print(series_below.describe())"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**A one-tailed t-test with $\\alpha$ = 0.05 was used to analyze whether customers who order more frequently also spend more money on average than customers who order less frequently:**\n",
    "\n",
    "* A customer who buys more often than the median value was classified as a frequent customer, and all other customers as infrequent customers.\n",
    "\n",
    "* The average spending of a frequent customer is much higher (26917 ± 27175 units) than the average spending of an infrequent customer (4209 ± 3631 units). Note that the standard deviation of the first may also lead to negative spending, perhaps due to discounts.\n",
    "\n",
    "* There was a **statistically significant difference** between both groups' expenditures with t(42) = 5.4309 and p = 0.00000055.\n",
    "\n",
    "* I can therefore reject the null hypothesis in support of the alternative: Frequent buyers also spend more money in general.\n",
    "\n",
    "* Moreover, the calculated effect size is extremely high, pointing to a **large practical significance**.\n",
    "\n",
    "* My $\\alpha$ = 0.05 is effectively the probability that I might mistakenly reject the null hypothesis when it is actually true. This is called a \"Type 1 Error\". <br> With a significance level set to 5%, I am saying that only a small probability of a Type 1 error occurring is acceptable. The opposite is a \"Type 2 Error\" where I may mistakenly support the null hypothesis when the alternative is actually true.\n",
    "\n",
    "**The results could be used to think about a strategy targeting customers who - regardless of how much or how little they spend - make more frequent purchases on the whole, in order to generate higher revenues.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 3. Question: Effect of Discount on Sales"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "> Does discount level have a statistically significant effect on the quantity of product in an order? If so, at what level(s)?"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 3.1 - Exploratory Research"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 45,
   "metadata": {},
   "outputs": [],
   "source": [
    "# using the pd.read_sql_query() method to get the \"OrderDetail\" table only\n",
    "df3 = pd.read_sql_query('''SELECT * FROM OrderDetail;''', engine)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 46,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1. Rows and Columns:\n",
      "(2155, 6)\n",
      "...............................\n",
      "\n",
      "2. Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2155 entries, 0 to 2154\n",
      "Data columns (total 6 columns):\n",
      "Id           2155 non-null object\n",
      "OrderId      2155 non-null int64\n",
      "ProductId    2155 non-null int64\n",
      "UnitPrice    2155 non-null float64\n",
      "Quantity     2155 non-null int64\n",
      "Discount     2155 non-null float64\n",
      "dtypes: float64(2), int64(3), object(1)\n",
      "memory usage: 101.1+ KB\n",
      "None\n",
      "...............................\n",
      "\n",
      "3. Dataframe:\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Id</th>\n",
       "      <th>OrderId</th>\n",
       "      <th>ProductId</th>\n",
       "      <th>UnitPrice</th>\n",
       "      <th>Quantity</th>\n",
       "      <th>Discount</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>10248/11</td>\n",
       "      <td>10248</td>\n",
       "      <td>11</td>\n",
       "      <td>14.0</td>\n",
       "      <td>12</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>10248/42</td>\n",
       "      <td>10248</td>\n",
       "      <td>42</td>\n",
       "      <td>9.8</td>\n",
       "      <td>10</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>10248/72</td>\n",
       "      <td>10248</td>\n",
       "      <td>72</td>\n",
       "      <td>34.8</td>\n",
       "      <td>5</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>10249/14</td>\n",
       "      <td>10249</td>\n",
       "      <td>14</td>\n",
       "      <td>18.6</td>\n",
       "      <td>9</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>10249/51</td>\n",
       "      <td>10249</td>\n",
       "      <td>51</td>\n",
       "      <td>42.4</td>\n",
       "      <td>40</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         Id  OrderId  ProductId  UnitPrice  Quantity  Discount\n",
       "0  10248/11    10248         11       14.0        12       0.0\n",
       "1  10248/42    10248         42        9.8        10       0.0\n",
       "2  10248/72    10248         72       34.8         5       0.0\n",
       "3  10249/14    10249         14       18.6         9       0.0\n",
       "4  10249/51    10249         51       42.4        40       0.0"
      ]
     },
     "execution_count": 46,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('1. Rows and Columns:')\n",
    "print(df3.shape)\n",
    "print('...............................')\n",
    "print('\\n2. Info:')\n",
    "print(df3.info())\n",
    "print('...............................\\n\\n3. Dataframe:')\n",
    "df3.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 47,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0.00    1317\n",
       "0.05     185\n",
       "0.10     173\n",
       "0.20     161\n",
       "0.15     157\n",
       "0.25     154\n",
       "0.03       3\n",
       "0.02       2\n",
       "0.01       1\n",
       "0.04       1\n",
       "0.06       1\n",
       "Name: Discount, dtype: int64"
      ]
     },
     "execution_count": 47,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df3.Discount.value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Due to some anomalous discount levels (rare cases), I'll drop these and work only with the no-discount group and the 5 groups of discounts that have substantial numbers of cases:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 48,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0.00    1317\n",
       "0.05     185\n",
       "0.10     173\n",
       "0.20     161\n",
       "0.15     157\n",
       "0.25     154\n",
       "Name: Discount, dtype: int64"
      ]
     },
     "execution_count": 48,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "crit = (df3.Discount == 0.00) | (df3.Discount == 0.05) | (df3.Discount == 0.10) | (df3.Discount == 0.15) | (df3.Discount == 0.20) | (df3.Discount == 0.25)\n",
    "\n",
    "df3_test = df3.loc[crit]\n",
    "df3_test.Discount.value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 49,
   "metadata": {
    "scrolled": false
   },
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXoAAAD3CAYAAAAT+Z8iAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAD+5JREFUeJzt3W+MXFd5x/Hv2hPHcbu2FmUSaJs00EpPedFAnQrnn2OXBhwnUFdUaq0W0QY1jVpTMIqaJmCwqVJSqpCKP0GtHEWBtuEFDmlohMEVCZExQRbUoFhNnjS0kVsloLVZxxtMAra3L+a6na521rt3ZmeyZ74fydKdc8/dcx5d63fP3pm5OzI1NYUkqVxLBj0BSdLCMuglqXAGvSQVzqCXpMIZ9JJUuMagJzDd+PhkVx8DGhtbwcTE8V5NZ1EYtpqHrV6w5mHRTc3N5uhIp33FregbjaWDnkLfDVvNw1YvWPOwWKiaiwt6SdL/Z9BLUuEMekkqnEEvSYUz6CWpcAa9JBXOoJekwhn0klQ4g16SCveyewRCt95604MDGfeeW944kHEl6Uxc0UtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEMekkqnEEvSYUz6CWpcAa9JBXOoJekws3pMcURsQb4SGauj4jXA58ATgIvAe/IzO9HxA3AjcAJ4LbMfCgizgXuA84BngWuz8zjC1GIJGlmZ1zRR8TNwN3A8qrpY8CfZuZ64PPAn0fEK4F3A1cAG4DbI+Js4IPAfZm5FjhA60IgSeqjudy6+S7wtrbXmzPz29V2A3gReAOwLzNfyszngaeBi4ErgS9VfXcDV/dk1pKkOTvjrZvMvD8iLmp7/RxARFwOvAu4itYq/vm2wyaBVcDKtvbTbbMaG1tBo7F0jtN/+Wg2R4d6/H4btnrBmofFQtRc608JRsTvAO8HrsvM8Yg4BrTPbhQ4Cpxu/1Fb26wmJhbnLfzx8cmBjd1sjg50/H4btnrBmodFNzXPdoGY96duIuLttFby6zPzP6rm/cDaiFgeEauA1wIHgX3AtVWfjcDe+Y4nSerOvII+IpYCH6e1Ov98RHw1Ij6Umd+r2vcCDwPvz8wXgduAzRGxD7gM+GRPZy9JOqM53brJzGeAS6uXr+jQZyewc1rb94FrupifJKlLfmFKkgpn0EtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEMekkqnEEvSYUz6CWpcAa9JBXOoJekwhn0klQ4g16SCmfQS1LhDHpJKpxBL0mFM+glqXAGvSQVzqCXpMIZ9JJUuMZcOkXEGuAjmbk+In4RuBeYAg4CWzLzVERsB64DTgBbM3N/p769L0OS1MkZV/QRcTNwN7C8aroT2JaZa4ERYFNErAbWAWuAzcBdnfr2dvqSpDOZy62b7wJva3t9CfBotb0buBq4EtiTmVOZeQhoRESzQ19JUh+d8dZNZt4fERe1NY1k5lS1PQmsAlYCR9r6nG6fqe+sxsZW0GgsncPUX16azdGhHr/fhq1esOZhsRA1z+ke/TTt99hHgaPAsWp7evtMfWc1MXG8xpQGb3x8cmBjN5ujAx2/34atXrDmYdFNzbNdIOp86uZARKyvtjcCe4F9wIaIWBIRFwJLMvNwh76SpD6qs6K/CdgZEcuAJ4BdmXkyIvYCj9G6eGzp1LcHc5YkzcOcgj4znwEurbafovUJm+l9dgA7prXN2FeS1D9+YUqSCmfQS1LhDHpJKpxBL0mFM+glqXAGvSQVzqCXpMIZ9JJUOINekgpn0EtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEMekkqnEEvSYUz6CWpcAa9JBXOoJekwjXqHBQRZwGfBi4CTgI3ACeAe4Ep4CCwJTNPRcR24Lpq/9bM3N/9tCVJc1V3RX8t0MjMy4G/AP4SuBPYlplrgRFgU0SsBtYBa4DNwF3dT1mSNB91g/4poBERS4CVwE+AS4BHq/27gauBK4E9mTmVmYeqY5pdzlmSNA+1bt0AL9C6bfMkcC7wFuCqzJyq9k8Cq2hdBI60HXe6fbzTDx4bW0GjsbTmtAan2Rwd6vH7bdjqBWseFgtRc92gfy/w5cy8NSIuAB4GlrXtHwWOAseq7entHU1MHK85pcEaH58c2NjN5uhAx++3YasXrHlYdFPzbBeIurduJoDnq+0fAGcBByJifdW2EdgL7AM2RMSSiLgQWJKZh2uOKUmqoe6K/m+AeyJiL62V/PuAbwI7I2IZ8ASwKzNPVn0eo3VR2dKDOUuS5qFW0GfmC8Bvz7Br3Qx9dwA76owjSeqeX5iSpMIZ9JJUOINekgpn0EtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEMekkqnEEvSYUz6CWpcAa9JBXOoJekwhn0klQ4g16SCmfQS1LhDHpJKpxBL0mFM+glqXAGvSQVrlH3wIi4FfgNYBnwKeBR4F5gCjgIbMnMUxGxHbgOOAFszcz93U5akjR3tVb0EbEeuBy4AlgHXADcCWzLzLXACLApIlZX+9cAm4G7ejBnSdI81F3RbwAeBx4AVgJ/BtxAa1UPsBt4M5DAnsycAg5FRCMimpk53ukHj42toNFYWnNag9Nsjg71+P02bPWCNQ+Lhai5btCfC/w88Bbg1cAXgCVVoANMAqtoXQSOtB13ur1j0E9MHK85pcEaH58c2NjN5uhAx++3YasXrHlYdFPzbBeIukF/BHgyM38MZES8SOv2zWmjwFHgWLU9vV2S1Cd1P3XzNeCaiBiJiJ8Bfgr4SnXvHmAjsBfYB2yIiCURcSGtVf/hbictSZq7Wiv6zHwoIq4C9tO6WGwB/hPYGRHLgCeAXZl5MiL2Ao+19ZMk9VHtj1dm5s0zNK+bod8OYEfdcSRJ3fELU5JUOINekgpn0EtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEMekkqnEEvSYUz6CWpcAa9JBXOoJekwhn0klQ4g16SCmfQS1LhDHpJKpxBL0mFM+glqXAGvSQVrtHNwRFxHvAt4E3ACeBeYAo4CGzJzFMRsR24rtq/NTP3dzVjSdK81F7RR8RZwN8BP6qa7gS2ZeZaYATYFBGrgXXAGmAzcFd305UkzVc3t27uAP4WeLZ6fQnwaLW9G7gauBLYk5lTmXkIaEREs4sxJUnzVOvWTUT8ATCemV+OiFur5pHMnKq2J4FVwErgSNuhp9vHO/3ssbEVNBpL60xroJrN0aEev9+GrV6w5mGxEDXXvUf/TmAqIq4GXg98Bjivbf8ocBQ4Vm1Pb+9oYuJ4zSkN1vj45MDGbjZHBzp+vw1bvWDNw6Kbmme7QNS6dZOZV2XmusxcD3wbeAewOyLWV102AnuBfcCGiFgSERcCSzLzcJ0xJUn1dPWpm2luAnZGxDLgCWBXZp6MiL3AY7QuKlt6OJ4kaQ66DvpqVX/auhn27wB2dDuOJKkevzAlSYUz6CWpcAa9JBXOoJekwhn0klQ4g16SCmfQS1LhDHpJKpxBL0mFM+glqXAGvSQVzqCXpMIZ9JJUOINekgpn0EtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEMekkqXKPOQRFxFnAPcBFwNnAb8G/AvcAUcBDYkpmnImI7cB1wAtiamfu7n7Ykaa7qrujfDhzJzLXARuCTwJ3AtqptBNgUEauBdcAaYDNwV/dTliTNR60VPfA5YFfb6xPAJcCj1evdwJuBBPZk5hRwKCIaEdHMzPFOP3hsbAWNxtKa0xqcZnN0qMfvt2GrF6x5WCxEzbWCPjNfAIiIUVqBvw24owp0gElgFbASONJ26On2jkE/MXG8zpQGbnx8cmBjN5ujAx2/34atXrDmYdFNzbNdIGq/GRsRFwCPAH+fmfcBp9p2jwJHgWPV9vR2SVKf1H0z9nxgD/CuzPxK1XwgItZn5ldp3bd/BHga+OuIuAP4OWBJZh7uftpq99abHhzIuPfc8saBjCtpfureo38fMAZ8ICI+ULW9B/h4RCwDngB2ZebJiNgLPEbrt4ct3U5YkjQ/de/Rv4dWsE+3boa+O4AddcaRZjKo32DA32K0ONVd0UvSgvKC3jsGvTQP7/yrhwcy7j9/dNNAxlUZDHpJmqa0C7rPupGkwhn0klQ4g16SCmfQS1LhDHpJKpxBL0mFM+glqXAGvSQVzqCXpMIZ9JJUOINekgpn0EtS4Qx6SSqcQS9JhTPoJalwBr0kFc6gl6TCGfSSVDiDXpIKZ9BLUuEW/I+DR8QS4FPA64CXgD/MzKcXelxJUks/VvS/CSzPzMuAW4CP9mFMSVKlH0F/JfAlgMz8BvCrfRhTklQZmZqaWtABIuJu4P7M3F29PgS8JjNPLOjAkiSgPyv6Y8Bo+5iGvCT1Tz+Cfh9wLUBEXAo83ocxJUmVBf/UDfAA8KaI+DowAlzfhzElSZUFv0cvSRosvzAlSYUz6CWpcAa9JBWuH2/G9sSZHqUQETcANwIngNsy86GIOBe4DzgHeBa4PjOP933yNdWs+RXAU8DBqtsDmfmx/s68vrk8MiMimsDXgV/OzBcj4hzgH4DzgEng9zNzvL8zr69mzSPAfwP/XnV5LDNv7eO0uzKH/9vvBTZXL7+YmR8q/Tx3qLkn53kxreg7PkohIl4JvBu4AtgA3B4RZwMfBO7LzLXAAVqhuJjUqXk18NnMXF/9WzQhX5n1kRkRsQHYA5zf1vzHwOPVef4MsK1Pc+2VOjX/AvCvbed50YR8Zbb/268Bfg+4HLgMeHNEXEzB53mWmntynhdT0M/2KIU3APsy86XMfB54Gri4/RhgN3B1/6bbE3VqvgRYHRGPRsTnIuJV/Z50l870yIxTtM7jD2Y6hvLOM8xc8yXAz0bEIxHxxYiIvsy0d2ar+b+AazLzZGaeAs4CXqTs89yp5p6c58UU9CuB59ten4yIRod9k8Cqae2n2xaTOjU/CWzPzHXAPwGf6MdEe2i2msnMf8nMI7McU9p57lTzc8DtmflrwIdp3dJYTDrWnJk/yczDETESEXcABzLzKQo+z7PU3JPzvJiCfrZHKUzfNwocndZ+um0xqVPzw8AjVdsDwK8s9CR7rM4jM0o+z518E3gQIDO/RmvVN7JA81sIs9YcEcuBf6z6/MkMxxR3njvU3JPzvJiCfrZHKewH1kbE8ohYBbyW1puR/3sMsBHY27/p9kSdmu8Gfqvq8+vAt/o33Z6o88iMks9zJ9uBrdUxrwMOZeZi+vZjx5qrIHsQ+E5m3piZJ6cfQ2HneZaae3KeF803Y9vesb6Y/3uUwrXA05n5heoTKH9E6+L14cy8PyLOBz5N6wp5GPjdzPzhQAqooWbNrwbuqfr/kNY7+88NpIAazlRzW79ngF+qPoGygtZ5fhXwY1rn+Xt9nnptNWseo/Vr/E/T+tTVlsx8ss9Tr222moGlwGeBb7QdcivwHQo9z3Su+Ul6cJ4XTdBLkupZTLduJEk1GPSSVDiDXpIKZ9BLUuEMekkqnEEvSYUz6CWpcP8DCeFReEEJRw8AAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "df3_test.Discount.hist(figsize=(6, 4));"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> Most customers don't get any discounts and the five different discount levels themselves are represented quite evenly."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 50,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAmYAAAFXCAYAAAAI4oIfAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAHdtJREFUeJzt3XuUXGWZ7/FvJ02IaBODNjPqQfEyPmAQGMJFBZKIOAo64lKP6Ig3BOHIRUdnqSii4/ESXIqDCuLgYFBHZw5o1GFEweEWEUQUlGDyIB7FGQddLYYQCCAhff7Yu6Xsk3Snq6t6v131/azFsmrX3u9+8lTZ/et379p7YHR0FEmSJDVvTtMFSJIkqWIwkyRJKoTBTJIkqRAGM0mSpEIYzCRJkgphMJMkSSrEYNMFSJq+iNgV+DlwU71oLrAReGtmXt2F/Y0Cw5n5uwnWeQFwQGae1un9z4SIuAi4MDNXjFu+AlidmR9tc9z3AScAv64XbQf8BDgtM39Wr3MjsCwz72yr+A6JiAXAysw8pMk6pH5iMJN6x72ZuffYk4h4ObAC+IuG6tkP2KmhfZfuXzPzxLEnEfFq4LKIWJSZd7W+jw1bCOzfdBFSPzGYSb3rUcDtY08i4o3AycCDwG+BE4FbgUuBH2bm2yPiUKowtxg4HbgX2BvYGbgEODkzH2jdSUS8B3glsAm4pR73CcDxwNyIWJ+Z7x63zeH1+A8CNwKHAgcBy4A3AA8H1mfms7c0fmb+JiKuAD6VmRfWY/7xeURsApYDh9VjvSszv1qv9wbgTVSnctxRj7c2Ih4LnA88Frit/jdvzUER8TJgx7ovfwccCbwpMw+s9/N44Fpg18z8wwRjkZlfqMPZ3wDnjM1IUv2M/jzw6HrVf8/M99TjnwK8tu7Lz4DXZeb6Nvt1X92vvwIeA3wkMz8NfA54WD2DtzgzH5zo3yFp+jzHTOodD4uIG+v/bgPOBD4MEBGHAG8Hnp2ZewFfAr4GjAJHAa+JiCOoQtnfZOZv6zEPAJ4LPK3+77jWHUbE66nCz36ZuSewGliRmd8HzqGaGRofyh4FfAE4qp4Zuhx4XMsqi6gO4z17a+NvQy/mAhszczHwcuC8iBiOiKVUYebgzPxL4CPAynqbs4BrM3MRVYDdbYLx/wfwHKrQuhdwLHAB8JSIWFSvcwxw/mShrMWPgaePW3Ys8H8zcx/gYOAvImJBRLwIeB3wzMzcA/gFcOI0+rU98LvMfBbwMuDjETEfeD31TKyhTJoZBjOpd4z9At07M58AHA5cEBFPBJ5PFZJGAOrzph5HNZtzO1UAWAl8JjOvahlzRWbenZn3U83cPG/cPg8DPpeZ99TPzwSeExHzJqhzCfDTzPxxXcv5wF0tr/8kM8eetzP+mE/V4/+E6ty7JcALgKcA36tngT4CLIyInahm7VbU29wKXDbB2F/IzHvq0PVF4Ln1488Cx0TEXKrg9I/bUOeYUarzAlt9C3hpRHyTKhS/MzPX17VekJnr6nrfmpkfZHr9+nr9vz+iCmoPn0LtkjrEYCb1qMz8DtWhyv2pZpDG3xh3gOrEc6hmqX5LNUPWalPL4zlUhx5bjR93DtXht4EJStu0hdc3tzy+exvHHx03zvjwsaXa51KFqr3r2bp9gH2BdVsYr3X78Vr7MAcYO7x7DtVhxL+m+oLALyYYY7z9eOjLGwBk5g+AJ1IFvF2B6yJicV3bH/sSEY+svwAynX7dW+9zbPuJ3kNJXWIwk3pURDyV6pf5DVQzL6+IiOH6tddTnV91a0TsD7yZKqAsiIg3twxzZERsXx/Wei3wb+N28y3g6IgYm105GbiqnmHbxEPBr9XVwFMjYs+6lpcCj+T/D46TjT9S10xEPA3Yc9y2r6lf24fqsOSVwLeBV0bEY+p1jgf+o2Vfb6y3eTzw7C3UM+YV4/pyMUBm/idwDfBx4NMTbP8n6vPengT8n3HLlwPvycyvUb1HNwN7AN8BXhIRO9arvg94K9Pr15ZsojpP0JAmzRBP/pd6x9hJ2mPmAG/MzFuAWyLi41Tf/JtD9Uv6hVSHq74MnJSZv46I11HNyowdztwIrKL6dt6FVCeDt/onYJd6mzlUM3Svql+7DPhSRHwyM08a2yAzfx8RrwQ+HxGbgeupAsD4w3iTjf8B4Pz6shxrgavGbXtg/YWHOcCR9WG/SyLidODSet93AS/JzNGIOAH4XESsAf6L6ksJW/OLui9DVIeAz2957XNUh1G/OcH2R0bEQVRhdA6QVOfV3TduvX+o/42rgfupzkP7l8y8vw5XV0cEVIHtWOCeafRrS24HrgNujoiDM/OObdhG0jQMjI5u6Y9USf1uutfrmmDcHYFTgfdl5sZ6Ruvfgce2HEab7j4mvc5aN9Rh6FPAbZl5+kzuW1Jv8FCmpBlVn9j/B+AH9QzfZ4CXdyqUNSUihqgODz8e+ETD5UiapZwxkyRJKoQzZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhvI6ZpOJFxCDwNqprcg1Q/VF5BXBaN66tFRHHAPMy8+yIOB54ZGYub13e6X1KEjhjJml2+CKwGFiamU+nunn4bcA1LVe/76SDgB0AMvOczFw+frkkdYOXy5BUtIjYD/gG8OTM3Djuta9T3eLpTcDLMvP6evkvx55HxLuAI4CHUd3p4O8yc2VEvI/qllWPAZ4A/Bo4CngG1R0H7gU+BAwDj6a6dVPr8pOBEzPz0nqfnwVuyswzu9EHSf3BGTNJpTsIuH58KKtdChy4tQ0j4gnAoVS3O9oTeDfw/pZVDgb+Z2buRnU7o+MzcyVVEPx4Zp41tuIWln+a6jZIYxeXfRF/emsmSZoyg5mk2W6rP8cy8zaqm5m/qr4h+PHAI1pWuaK+EwFUN3vfaQr7XQE8t74x/FHARZl551QKl6TxDGaSSnc1sF9E7AAQEfMi4lH1a4cA11LdDHygZZt59br7ANcAOwKXAKePW+/elsfjx5hQHcIuoAplRwPnbPs/SZK2zGAmqWiZeR1wObAiIhYCTwJWRcRXgD2Bs4ARYF+AiFhGdd4YwBKqw6BnAFcCLwbmbsNuNwHbbcPys6jONZtT1ylJ02IwkzQbHAVcTxWuLqCaEdsEbKA6sf8dwJvrm6K/Gvhhvd2XgUdHxBrgp8DdwE71OWETuRg4PiJOmWh5Zv4YWIezZZI6xG9lSpq1IuKRwL6Z+Z2G9v9kquupxVa+nCBJU2Iwk6Q2RMT7gTdSfZPza03XI6k3GMwkSZIK4TlmkiRJhTCYSZIkFcJgJkmSVIjBJnc+MrJhVp/gtnDhDqxb5xexmmL/m2X/m2X/m2X/mzXb+z88PLTVi1k7YzYNg4Pbcp1KdYv9b5b9b5b9b5b9b1Yv999gJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEGt2WliDgAOD0zl0XE3sAngQeB+4HXZOZvI+JY4DhgE/CBzLyoW0VLkiT1oklnzCLi7cBngfn1ojOBkzJzGfBV4B0R8efAycCBwPOAD0fE9l2pWJIkqUdty6HMnwMvaXn+isy8sX48CNwH7A9cnZn3Z+Z64FZgz45WKkmS1OMmPZSZmV+JiF1bnt8OEBHPAk4EllDNkq1v2WwDsGCysRcu3IHBwblTLLksw8NDTZfQ1+x/s+x/s+x/s+x/s3q1/9t0jtl4EXEk8G7gBZk5EhF3Aa0dGgLunGycdes2trP7YgwPDzEysqHpMvqW/W+W/W+W/W+W/W/WbO//RKFyysEsIo6iOsl/WWb+vl58HfDBiJgPbA/sDqyeeqmSJEn9a0rBLCLmAp8AfgV8NSIArszM90bEJ4BVVOetvTsz7+t0sZIkSb1sm4JZZv4SeEb9dKetrHMucG5nypIkSeo/XmBWkiSpEAYzSZKkQhjMJEmSCmEwkyRJKoTBTJIkqRAGM0mSpEIYzCRJkgphMJMkSSqEwUySJKkQBjNJkqRCGMwkSZIKYTCTJEkqhMFMkiSpEAYzSZKkQhjMJEmSCmEwkyRJKoTBTJIkqRAGM0mSpEIYzCRJkgphMJMkSSqEwUySJKkQBjNJkqRCGMwkSZIKYTCTJEkqhMFMkiSpEAYzSZKkQhjMJEmSCmEwkyRJKoTBTJIkqRAGM0mSpEIMbstKEXEAcHpmLouIpwArgFFgNXBCZm6OiPcCLwA2AW/JzOu6VLMkSVJPmnTGLCLeDnwWmF8vOgM4NTMPBgaAIyJiH2ApcADwCuCs7pQrSZLUu7blUObPgZe0PF8MXFk/vhg4FDgIuCQzRzPzV8BgRAx3tFJJkqQeN+mhzMz8SkTs2rJoIDNH68cbgAXAjsAdLeuMLR+ZaOyFC3dgcHDulAouzfDwUNMl9DX73yz73yz73yz736xe7f82nWM2zuaWx0PAncBd9ePxyye0bt3GNnZfjuHhIUZGNjRdRt+y/82y/82y/82y/82a7f2fKFS2863MGyJiWf34MGAVcDXwvIiYExGPB+Zk5u/aGFuSJKlvtTNj9jbg3IiYB6wBLszMByNiFXANVdg7oYM1SpIk9YWB0dHRydfqkpGRDc3tvANm+1TqbGf/m2X/m2X/m2X/mzXb+z88PDSwtde8wKwkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhRhsZ6OI2A44H9gVeBA4FtgErABGgdXACZm5uSNVSpIk9YF2Z8wOBwYz81nA+4EPAmcAp2bmwcAAcERnSpQkSeoP7QazW4DBiJgD7Ag8ACwGrqxfvxg4dPrlSZIk9Y+2DmUCd1MdxlwLPBp4IbAkM0fr1zcACyYbZOHCHRgcnNtmCWUYHh5quoS+Zv+bZf+bZf87Z4899uDmm2/u2viLFi1i9erVXRu/H/Xq57/dYPa3wLcz85SI2AW4DJjX8voQcOdkg6xbt7HN3ZdheHiIkZENTZfRt+x/s+x/s+x/Z11++TVTWv/o5Zdx3jsPmdI2vl+dM9s//xOFynYPZa4D1tePfw9sB9wQEcvqZYcBq9ocW5IkqS+1O2P2ceC8iFhFNVP2LuB64NyImAesAS7sTImSJEn9oa1glpl3Ay/fwktLp1eOJElS//ICs5IkSYVo91Cm1HFLlhzA2rVrujb+brvtzlVXfb9r40uSNF0GMxVjqqGpnW9FSZJUMg9lSpIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIbxXpiQVYMmSA1i7dk3Xxt9tt92nfD9aSTPPYCZJBZhqaDp6+WWc985DulSNpKZ4KFOSJKkQBjNJkqRCGMwkSZIKYTCTJEkqhMFMkiSpEAYzSZKkQhjMJEmSCmEwkyRJKoQXmJUkSY3yzhcPMZhJkqRGeeeLh3goU5IkqRAGM0mSpEIYzCRJkgphMJMkSSpE2yf/R8QpwIuAecDZwJXACmAUWA2ckJmbO1CjJElSX2hrxiwilgHPAg4ElgK7AGcAp2bmwcAAcESHapQkSeoL7R7KfB5wE7AS+DfgImAx1awZwMXAodOuTpIkqY+0eyjz0cATgBcCTwS+AczJzNH69Q3AgskGWbhwBwYH57ZZQuftscce3HzzzV0bf9GiRaxevbpr4/ej4eGhpkvoGX7+Zx8//82y/83q1f63G8zuANZm5h+AjIj7qA5njhkC7pxskHXrNra5++64/PJrprR+Oxe4GxnZMKX1NTH72Tl+/mcf+9ks+9+s2dz/iUJlu4cyvws8PyIGIuKxwMOB/6jPPQM4DFjV5tiSJEl9qa0Zs8y8KCKWANdRhbsTgF8A50bEPGANcGHHqpQkSeoDbV8uIzPfvoXFS6dRiyRJUl/zArOSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFWJwOhtHxM7AD4HnApuAFcAosBo4ITM3T7dASZKkftH2jFlEbAd8Bri3XnQGcGpmHgwMAEdMvzxJkqT+MZ1DmR8FzgH+u36+GLiyfnwxcOg0xpYkSeo7bR3KjIjXASOZ+e2IOKVePJCZo/XjDcCCycZZuHAHBgfntlNCMYaHh5ouoVivPPWb3H3vA13dx9HLL+va2I942HZ8+QOHd238XuDnf+v8/DfL/ve+Xv350+45ZkcDoxFxKLA38Hlg55bXh4A7Jxtk3bqNbe6+HCMjG5ouoVh33/sA573zkK6NPzw81NX+H738Mt/fSdifrfPz3yz73/tmc38mCpVtHcrMzCWZuTQzlwE3Aq8BLo6IZfUqhwGr2hlbkiSpX03rW5njvA04NyLmAWuACzs4tiRJUs+bdjCrZ83GLJ3ueJIkSf3KC8xKkiQVwmAmSZJUCIOZJElSITp58r8kSRIn/cNV3HPfpq7uo5vXkXv4/EE++ZYlXRt/IgYzSZLUUffct2nWX0euKR7KlCRJKoTBTJIkqRAGM0mSpEIYzCRJkgphMJMkSSqEwUySJKkQBjNJkqRCGMwkSZIKYTCTJEkqRE9f+d9bQqif+fmXpNmnp4OZt4RQP/PzL0mzj4cyJUmSCmEwkyRJKoTBTJIkqRAGM0mSpEIYzCRJkgphMJMkSSqEwUySJKkQBjNJkqRC9PQFZiVJ0sx7w6++wS3HfL5r49/StZErb5j3SKB7F+ieiMFMkiR11D89/kWz+s4jy5dfxoFdG31iHsqUJEkqhMFMkiSpEAYzSZKkQhjMJEmSCtHWyf8RsR1wHrArsD3wAeCnwApgFFgNnJCZmztSpSRJUh9o91uZRwF3ZOarI+JRwA3AjcCpmXlFRJwDHAGs7FCdkjSreLmAZtl/zVbtBrMLgAtbnm8CFgNX1s8vBv4Kg5mkPuXlAppl/zVbtRXMMvNugIgYogpopwIfzczRepUNwILJxlm4cAcGB+e2U8I2Gx4ecvyG9MJfrMPDR3R5L91j/5s3238+zOafPzD7+2P/e3v8rWn7ArMRsQvVjNjZmfmliPhIy8tDwJ2TjbFu3cZ2d7/NuvkXTbf/YoLu1t9tPfEXq/3fKvs/OX/+NMv+N8v+b91Eoa+tb2VGxJ8BlwDvyMzz6sU3RMSy+vFhwKp2xpYkSepX7c6YvQtYCLwnIt5TL3sz8ImImAes4U/PQZMkSdIk2j3H7M1UQWy8pdMrp7N64Rwbv5UjSVL/6OmbmPfEOTZdG12SJJXGK/9LkiQVwmAmSZJUCIOZJElSIQxmkiRJhejpk/8lqUlHL7+s6RLa9vD5/nrQ9Pj5b4//z5OkLujmN8Kh+qXX7X1I7fLz3z6DmbrKv5gkSdp2/uZR1/gXkyRJU+PJ/5IkSYUwmEmSJBXCQ5mSpJ7kOa6ajXznJUk9x3NcNVt5KFOSJKkQPT9j5lS2+pmff0maXXr6J59T2epnfv4lafbxUKYkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFcJgJkmSVAiDmSRJUiEMZpIkSYUwmEmSJBXCYCZJklQIg5kkSVIhDGaSJEmFGOzkYBExBzgb2Au4HzgmM2/t5D4kdceSJQewdu2aKW2z8xnbvu5uu+3OVVd9f4pV9Q/73yz73yz7/5COBjPgxcD8zHxmRDwD+BhwRIf3IakLpvpDa3h4iJGRDV2qpv/Y/2bZ/2bZ/4d0OpgdBHwLIDOvjYh9Ozx+V5nYm2X/JUn9rtPBbEdgfcvzByNiMDM3bWnlhQt3YHBwbodLaN+aNT9tuoS+Zv9nn+HhoaZL6Gv2v1n2v1m92v9OB7O7gNZOzdlaKANYt25jh3c/s3p5KnU2sP/Nsv/Nsv/Nsv/Nmu39nyhUdvpbmVcDhwPU55jd1OHxJUmSelanZ8xWAs+NiO8BA8DrOzy+JElSz+poMMvMzcDxnRxTkiSpX3iBWUmSpEIYzCRJkgphMJMkSSqEwUySJKkQBjNJkqRCGMwkSZIKMTA6Otp0DZIkScIZM0mSpGIYzCRJkgphMJMkSSqEwUySJKkQBjNJkqRCGMwkSZIKMdh0AaWLiDnA2cBewP3AMZl5a8vrxwLHAZuAD2TmRY0U2mPa6XtE7ATcAqyuV1uZmWfObOW9ZbL3oV5nGPge8PTMvG/mq+w97fQ9IgaA/wJ+Vq9yTWaeMoNl95xt+Dn0t8Ar6qffzMy/n/kqe087fe+lz7/BbHIvBuZn5jMj4hnAx4AjACLiz4GTgX2B+cB3I+LSzLy/sWp7x5T7DuwDfDkzT2qo5l601fcBICKeBywH/qyh+npVO31/MvCjzPzrGa20t030c+hJwKuAA4BRYFVErMzMnzRWbe+Yct+BjfTI599DmZM7CPgWQGZeSxUGxuwPXJ2Z92fmeuBWYM+ZL7EntdP3xcA+EXFlRFwQEY+Z6aJ70ETvA8Bm4FDg9zNcV69rp++LgcdFxOUR8c2IiBmptLdN9D78J/D8zHwwMzcD2wHOGHdGO33vmc+/wWxyOwLrW54/GBGDW3ltA7Bgpgrrce30fS3w3sxcCnwN+ORMFNrjJnofyMxLM/OOmS+r57XT99uBD2fms4EPAV/sfpk9b6vvQ2Y+kJm/i4iBiPgocENm3tJIlb2nnb73zOffYDa5u4ChludzMnPTVl4bAu6cqcJ6XDt9vwy4vF62EvjLbhfZByZ6H9Q97fT9euDrAJn5XarZg4Eu1dcvJnwfImI+8M/1Om+a4dp6WTt975nPv8FsclcDhwPUx7pvanntOuDgiJgfEQuA3XnoxHNNTzt9/yzw0nqd5wA/nLlye9ZE74O6p52+vxd4S73NXsCvMtObIU/PVt+H+pf+14EfZ+ZxmflgMyX2pHb63jOff29iPomWb4fsCQwAr6f6wNyamd+ovx34RqqQ+6HM/EpjxfaQdvoeEU8EzqvXv4fqmzy3N/IP6BGTvQ8t6/0S2M1vZXZGO32PiIVUh28eQfVt5RMyc+0Ml95TJnofgLnAl4FrWzY5JTOvmek6e007fac6laUnPv8GM0mSpEJ4KFOSJKkQBjNJkqRCGMwkSZIKYTCTJEkqhMFMkiSpEN4rU1LxImJXqhvU/7Re9DCqG3i/E9gFOD4zj2motv2Bl2bmO5rYv6TeYjCTNFv8d2buDX+8yOSHgAsz82CgkVBWexrexF1Sh3gdM0nFq2fMrsjMXVuWzQN+S3XF75dk5rKIeCvwWqqbfF+XmcfVt285i+rGyA8A/zsz/7W+oviZwHzgd8BxmXlrRFwBvC8zr2jdb0SsoLp/32LgccD7qW799ROqi1p+LDM/2N1OSOp1nmMmaVbKzD8APwN+AxARc6muAL4vVXiaFxGPA06iCk67A4cCp9Wh7l+AEzNzL+AcqquJT2YX4GDgRcBHM/NO4DTgG4YySZ1gMJM0m40C9wLU98z7HvADqlm0j2Xmr4GlwD9n5ubM/E1mLgKeCqzLzB/U214APKW+9+pELqnvv7ca2Kkr/yJJfc1gJmlWqme9Ati5ZfGLgf9FdX+9b0XEUqrDl6Mt2z2FLf/sG6C6D99o/Rhgu3Hr3AcwW2+OLKl8BjNJs059k+O/p7qR8c/rZcNU39q8KTNPAy6hugnyVcCRETEQETsDVwK3AY+KiP3qbV8O3JaZv6c632xRvasXb0M5m/CLVJI6xGAmabZ4bETcGBE3Aj+mOgH/lWMvZuYI8I/ADyLih1Qn9Z8HnA3cU2/zHeCkzFwPHAl8KiJWAyfWzwE+ArwpIn5EdVmOyVwHPCMilnfg3yipz/mtTEmSpEI4YyZJklQIg5kkSVIhDGaSJEmFMJhJkiQVwmAmSZJUCIOZJElSIQxmkiRJhTCYSZIkFeL/ARyCx7Kws3bhAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 720x360 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "df3_test.boxplot('Quantity', by='Discount', figsize=(10, 5));"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> There are no outliers in each discount level group with respect to the product quantity."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 51,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAmYAAAJQCAYAAAAkD6g6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzs3X+UXXV97//nJJOA6R3S1Dv0e62/rta+267eQsUWqkCiDSLQNlZ7bVfrj0jtXa5EK4VaRaEB216s0rTamqKhiKylt15QBLURFhYwqNVWQGHJfSNaLli67IgBAqFCyHz/2Gcuh5jMnDNnn7M/e87zsRbLc/Y+2Xllz8zb93z2Z3/2xOzsLJIkSWresqYDSJIkqWJjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFmGw6gJaeiDgFOA84BPga8DuZ+UC/n5Gkthq0DkbEd4Fvd3383Zn54VFkV7McMVOtImIa+CDw8swM4FvAO/v9jCS11aB1MCIC+F5mHtn1n03ZmLAxU91eDPxTZn6j8/5vgN+OiIk+PyNJbTVoHXw+8FhE7IyIr0XEH0XE8pGlV6NszFS3pwF3d73/NnAYMNXnZySprQatg5PANcBLgOOBE4E3DjGvCuIcM9VtGXCg53w91udnJKmtBqqDmbm9e0NEbAV+D/jL2hKqWI6YqW53AU/pev9jwK7MfKjPz0hSWw1UByPiVRHxs137JoBHh5ZWRbExU92uBo6JiOd03r8euGIRn5Gkthq0Dv4M8I6IWB4RTwLeAHx0yJlViInZ2QONpEqLFxEnU90CvhL4JvBq4FnAhZl55ME+k5nfayaxJNVrkDoYEauAvwaOAVYAlwJvz0z/D3sM2JhJkiQVwkuZkiRJhbAxkyRJKoSNmSRJUiFszCRJkgphYyZJklSInlb+j4ibgPs7b/8FeD/wHmAvcHVmnhsRy4BtwBHA94HXZeYd8x13Zmb3greErlmzil279vQScyRKymOWgyspz7hnmZ6e8hmoPeqlJkJZ31PdzNW/UrOZqz/95pqvLi7YmEXEoQCZua5r283Ay4FvAZ+OiOcCzwQOzcxfjIhjgD8HNvSc8mABJ8t6bmtJecxycCXlMYvqVurX0Vz9KzWbufpTZ65eRsyOAFZFxNWdz58DHJKZ3wSIiKuAXwL+C/AZgMz8x4h4Xm0pJUmSxkAvjdke4HzgQuA5wA7gvq79u6lWMz6Mxy93AjwWEZOZufdgB16zZlVPXeb09FQPMUenpDxmObiS8phFktSLXhqz24E7Oo+CuD0i7gd+pGv/FFWjtqrzes6y+ZoyoKfrsdPTU8zM7O4h5miUlMcsB1dSnnHPYiMoSb3r5a7MU6nmixERT6FqwB6KiGdHxARwIrAT+DxwcudzxwC3DCWxJEnSEtXLiNnfAhdHxA3ALFWjtg/4MLCc6q7ML0XEPwEnRMQXgAngtXUG3bZta52He4JNm04f2rElqY2GVXOtt9L8FmzMMvMR4LcOsOuY/T63D3h9TbkkSZLGjgvMSpIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRC9PCtTktSDiDgT+FVgJbANuB64mOo5w7cCmzuPr5OkA7IxwwekSxpcRKwDng+8AFgF/AGwFTgrM6+LiAuADcDljYWUVDwvZUpSPU4EbqFqvD4JfAo4imrUDGAHsL6ZaJLawhEzSarHfwaeAfwy8F+BK4FlmTnb2b8bWN1QNkktYWMmSfW4F/g/mfkIkBHxH8DTuvZPAffNd4A1a1YxObm8p79senpqsTkb1VTuks9XqdnM1Z+6ctmYSVI9bgDeFBFbgf8C/BDw2YhYl5nXAScB1853gF279vT0F01PTzEzs3uwtA1pInfJ56vUbObqT7+55mvibMwkqQaZ+amIOB74MtX83c3AvwDbI2IlcBtwWYMRJbWAjZkk1SQz//AAm9eOPIik1uqpMYuIw4GvACcAeznAujwRsQU4pbP/tMz88lASS5IkLVELLpcRESuA9wMPdzbNrctzHDABbIiI51L9Vng08JvA+4YTV5IkaenqZR2z84ELgHs67w+0Ls+xwNWZOZuZdwGTETFdd1hJkqSlbN5LmRGxEZjJzKs6jxoBmDjAujyHUd0qzn7bZ+Y7fq+3hpd6a2wvhp29pHNTUhYoK49ZJEm9WGiO2anAbESsB44ELgEO79o/ty7PA53X+2+fVy+3hpd6a2yvhpm9pHNTUhYoK8+4Z7ERlKTezXspMzOPz8y1mbkOuBl4NbCj80w4qNbl2Ql8HjgxIpZFxNOpVrv+7vBiS5IkLT2LWS7jDPZblyczH4uIncAXeXz9HkmSJPWh58asM2o25wfW5cnMc4BzBk4kSZI0pnq5K1OSJEkjYGMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUiMmFPhARy4HtQACPAa8FJoCLgVngVmBzZu6LiC3AKcBe4LTM/PKQckvS2Nu2bWvTESTVrJcRs18ByMwXAH8EbO38d1ZmHkfVpG2IiOcCa4Gjgd8E3jeUxJIkSUvUgo1ZZn4C+B+dt88AvgMcBVzf2bYDWA8cC1ydmbOZeRcwGRHT9UeWJElamnqaY5aZeyPiQ8BfAZcBE5k529m9G1gNHAbc3/XH5rZLkiSpBwvOMZuTma+JiLcAXwKe1LVrCrgPeKDzev/tB7VmzSomJ5cv+HdPT08t+JlSDTt7SeempCxQVh6zjIeIOBz4CnAC1Vzbi9lvLm5z6SS1QS+T/18FPDUzzwP2APuAf46IdZl5HXAScC1wB/CuiDgfeCqwLDO/O9+xd+3as2DA6ekpZmZ2L/i5Ug0ze0nnpqQsUFaecc8yLo1gRKwA3g883Nk0Nxf3uoi4ANgAXN5UPknt0MulzI8DPxcRnwOuAk4DNgPnRsQXgZXAZZn5FWAn8EXgY53PSNK4OB+4ALin8/5Ac3ElaV4Ljphl5kPAKw6wa+0BPnsOcM7AqSSpRSJiIzCTmVdFxJmdzQeaizuvXqd3QHtHIpvKXfL5KjWbufpTV66e55hJkg7qVGA2ItYDRwKXAId37V9wzi30Nr0Dyro83q8mcpd8vkrNZq7+9JtrvibOlf8laUCZeXxmrs3MdcDNwKuBHRGxrvORk6imekjSvBwxk6ThOAPYHhErgduolhqSpHnZmElSjTqjZnN+YC6uJM3HS5mSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBVicr6dEbECuAh4JnAI8CfA14GLgVngVmBzZu6LiC3AKcBe4LTM/PLwYkuSJC09C42YvRK4NzOPA04C/hrYCpzV2TYBbIiI5wJrgaOB3wTeN7zIkiRJS9NCjdmlwNld7/cCRwHXd97vANYDxwJXZ+ZsZt4FTEbEdN1hJUmSlrJ5L2Vm5oMAETEFXAacBZyfmbOdj+wGVgOHAfd2/dG57TPzHX/NmlVMTi5fMOT09NSCnynVsLOXdG5KygJl5TGLJKkX8zZmABHxNOByYFtmfiQi3tW1ewq4D3ig83r/7fPatWvPggGnp6eYmdm94OdKde655w7t2Fu2bCnm3JT2dSopz7hnsRGUpN7NeykzIn4UuBp4S2Ze1Nl8U0Ss67w+CdgJfB44MSKWRcTTgWWZ+d0hZZYkSVqSFhoxexuwBjg7Iubmmr0JeG9ErARuAy7LzMciYifwRapmb/OwAkuSJC1VC80xexNVI7a/tQf47DnAObWkkiQtSdu2bR3asTdtOn1ox5ZGxQVmJUmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqxIKPZJIkLSwiVgAXAc8EDgH+BPg6cDEwC9wKbM7MfQ1FlNQCNmaSVI9XAvdm5qsi4snATcDNwFmZeV1EXABsoHr2sFrGhXE1Kl7KlKR6XAqc3fV+L3AUcH3n/Q5g/ahDSWoXR8wkqQaZ+SBAREwBlwFnAedn5mznI7uB1fMdY82aVUxOLu/p75uenlp82CVqvnNS8vkqNZu5+lNXLhszSapJRDyN6lLltsz8SES8q2v3FHDffH9+1649Pf0909NTzMzsXnTOpepg56T081VitlLP2VLJNV8T56VMSapBRPwocDXwlsy8qLP5pohY13l9ErCziWyS2sMRM0mqx9uANcDZETE31+xNwHsjYiVwG9UlTkk6KBszSapBZr6JqhHb39pRZ5HUXjZmLXbuuecO5bjeui1JUjOcYyZJklQIGzNJkqRC9HQpMyKOBv4sM9dFxI9zgEeMRMQW4BSqRRVPy8wvDymzJEnSkrTgiFlE/CFwIXBoZ9NWqkeMHAdMABsi4rlUE1yPBn4TeN9w4kqSJC1dvVzK/Cbwsq73B3rEyLHA1Zk5m5l3AZMRMV1rUkmSpCVuwcYsMz8GPNq1aeIAjxg5DLi/6zMLPnpEkiRJT7SY5TL2db2ee8TIA53X+2+fV6/PhSv1uVhL1WLPd2lfp5LymEWS1IvFNGY3RcS6zLyO6hEj1wJ3AO+KiPOBpwLLMvO7Cx2ol+fClfpcrKVsMee7tK9TSXnGPYuNoCT1bjGN2RnA9u5HjGTmYxGxE/gi1eXRzTVmlCRJGgs9NWaZeSdwTOf17RzgESOZeQ5wTn3RJEmSxosLzEqSJBXCZ2VKkpaEbdu2Nh1BGpgjZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQtiYSZIkFcJ1zCRJatCw1l/btOn0oRxXw+WImSRJUiFszCRJkgrhpUz9gGE+1sShdUmSDs4RM0mSpEI4YiZJ0hLk1Y92csRMkiSpEDZmkiRJhbAxkyRJKoRzzCRJ0lgY1ry7LVu21HasWhuziFgGbAOOAL4PvC4z76jz71C7ORlV48SaKKlfdY+YvRQ4NDN/MSKOAf4c2FDz3yEdkE2fCmRN1JI0zHo77upuzI4FPgOQmf8YEc+r+fhSIyxCT2Sj2jNroqS+TMzOztZ2sIi4EPhYZu7ovL8LeFZm7q3tL5GklrAmSupX3XdlPgBMdR/fAiRpjFkTJfWl7sbs88DJAJ35FLfUfHxJahNroqS+1D3H7HLghIj4AjABvLbm40tSm1gTJfWl1jlmkiRJWjxX/pckSSqEjZkkSVIhbMwkSZIKUWxj1nmUiSSpw7ooLX1FTf6PiGcBW4HnAXupGsdbgN/PzNsbyrQBWA+sBu4DdgKXZebIT5xZ2pNHqkuJdbErW5E/d6XmgnKzlZprHNW9XMagLgTOzMwvzW3orP3zQeAFow4TEe+jKoI7gN1UC0WeBJwIvM4szWcpMU9XrifTKXKZ+b0Gc6wAfpbHC+6tmflIU3nUt6LqYleGUn/uiswF5WYrNVe3Uuppt2HV1tIas0O7iw/8v+fLNZXnZzJz7X7broyIz5ulmCxQWJ6I+HngfcBy4EFgKiImgM2Z+YURZzkFOA/4xlwW4Ccj4m2Z+YlRZtGilVYX5xT1c9el1FxQbrZScxVVT/fLNbTaWlpj9tWIuIjqob/3U/1DTwa+1lCeZRFxXGbunNsQEccDj5rlB7KsbShLiXn+Anh5Zt7dlefpwKXA0SPO8nbg2Mx8oCvLauAawMasHUqri3NKqkndSs0F5dWqOaXmgrLqabeh1dbSGrNNwEuBY4HDqJ4z9ymq1bObsBHYGhEfoVq1ex9wE/DGhrMsA6aphp1/t4Asq4HP0tyQd3eeCWAl1depqTwruotIx91AE3M1VgB79tv2cENZtDil1cU5GymnPnbbSDm1cn8bKat2ztlIWTW0W0n1tNvQamtRjVlnkuHlNF9w5vw0cCTwCPD2zPw7gIj4B+BFI86yHHgz1Q8NwCX7vR+l44EbgXcAHwZmqM7VM4E7GsiznOo3uxuA91Kdm58Ajmooz6cj4hrgaqoRjsOAFwN/30CWDwA3RsQNXVmOpTpPaoEC6+Kckupjt5Jq5f5Kq51zSquh3Uqqp92GVluLaswK9HaqwrMMuDQiDsnMD9HMD/g1VN35PZ2//znABZ19oy6Cm4B1wJXAr2bm7RHxFOCKTs5R2w78MdVvn58EjqCaiHkN8NFRh8nMd0TEz1H9kD6ZaoTjLZl5YwNZtkfElcAv8Phoyzsy8zujzqIlp6T62K2kWrm/0mrnnKJqaLeS6ul+uYZWW10TZ36PZOauzLwX2AC8ISJeSDNDqM8Dvg6cl5kvBL6amS/KzCYKzaOZ+RDV3TvfAsjMe2huaHkyM68BPg7cm5n/2snX5PyIpwMB/BTVb57P7kxYHamImKYaLTga+ExmfjIzvxMRW0adRUtOSfWxW0m1cn+l1c45JdbQbkXU027DrK2OmM3vzojYCpydmbsj4mXAVcAPjzpIZv57RLwCOL9zl0qTroyIK4BbgU9FxFXAS4B/aCjPnRHxd1Tfzw9GxJ9SDS3/WxNhCrv1/BKqS2CTwOci4uTM/L/A/ndgSf0qpj52K6xW7q+02jmnqBrarbB62m1otdXGbH6nAq+k89tMZt7d+Y3wzCbCZOZe4LSI2EiDo52Z+c7OHTsnAncBhwPvzcxPNxTpNVR3qd1Oddvy71Ndyji1oTwl3Xp+SGZ+ACAibgauiIh1NH+5Se1XVH3sVkqt3F+BtXNOaTW0W0n1tNvQamtRK/9LS0FE7ATedoDb9d+RmetGnOVzVOv93NJ5/xvAZuA/ZeZzR5lFkvpVUj3dL9fQamsxv0lIS8hG4A8i4tsR8a8RcTdwBs3crv97wF9FxI8CZOZHqe4mekYDWSSpXxspp552G1ptdcRMGkMRsSwz9zWdQ5KWkjpqq3PMpJpFxLXAIQfal5nPLyULMNIsktSvkuppt2HWVhszqX5vpVoX6NeAvWaRpEUrtYYNLZeXMqUhiIg3A3dkZuOrtZeURZL6VWoNG1YuGzNJkqRCeFemJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpEJMNh1AS09EnAKcBxwCfA34ncx84ACfmwAuBm7JzPNHGlKShmjQOhgR3wW+3fXRd2fmh4caWkVwxEy1iohp4IPAyzMzgG8B7zzA534K+Czw66NNKEnDNWgdjIgAvpeZR3b9Z1M2JmzMVLcXA/+Umd/ovP8b4Lc7vxV22wxcCFw6ynCSNAKD1sHnA49FxM6I+FpE/FFELB9uZJXCxkx1expwd9f7bwOHAVPdH8rMN2TmR0YZTJJGZNA6OAlcA7wEOB44EXjjcKKqNM4xU92WAbMH2P7YqINIUkMGqoOZub37fURsBX4P+MvBo6l0jpipbncBT+l6/2PArsx8qKE8kjRqA9XBiHhVRPxs16YJ4NEa86lgNmaq29XAMRHxnM771wNXNJhHkkZt0Dr4M8A7ImJ5RDwJeAPw0ZozqlA2ZqpVZv478Frgsoi4DfhvwBkR8byIuLnZdJI0fDXUwXOB7wG3UC218QWqmwQ0BiZmZw90GVySJEmj5oiZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBWi0ZX/Z2Z2z3tL6Jo1q9i1a8+o4syrpCxQVp6SsoB55tNElunpqf2fD7hkRcRNwP2dt/8CvB94D7AXuDozz53vz89XE0v6PupXW7O3NTe0N/u45J6vLhb9SKbJyXKe2VpSFigrT0lZwDzzKSnLUhMRhwJk5rqubTcDLwe+BXw6Ip6bmTcu5vht/tq1NXtbc0N7s5u78MZMklrkCGBVRFxNVVvPAQ7JzG8CRMRVwC8Bi2rMJI0HGzNJqsce4HyqFdqfA+wA7uvavxt41nwHWLNm1by/eU9PTw2esiFtzd7W3NDe7OOe28ZMkupxO3BHZs4Ct0fE/cCPdO2f4omN2g+Yb47K9PQUMzO768g5cm3N3tbc0N7s45J7viZu0Y1ZRJwJ/CqwEtgGXA9cDMwCtwKbM3PfYo8vSS1zKtUzETdFxFOAVcBDEfFsqjlmJ1I9A1GSDmpRjVlErAOeD7yAqvj8AbAVOCszr4uIC4ANwOU15Ryqbdu2Du3YmzadPrRjSyrK3wIXR8QNVL+gngrsAz4MLKe6K/NLDebry7DqojVRmt9iR8xOpHrq/eXAYcCbgd+lGjWDam7Fi2lJYyZJg8rMR4DfOsCuY0adRVJ7LbYx+8/AM4BfBv4rcCWwrDO3AqpJrqsXOshCE12hvZMA5wwzf0nnpqQsYJ75lJRFkvREi23M7gX+T+c3xIyI/wCe1rV/wUmuMP9EV2jvJMBuw8pf0rkpKQuYZz5NZLERlKTeLfaRTDcAL4mIic4k1x8CPtuZewZwErCzhnySJEljY1EjZpn5qYg4HvgyVXO3merxI9sjYiVwG3BZbSklSZLGwKKXy8jMPzzA5rUDZJEkSRpri72UKUmSpJrZmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFWPRDzEdt27atTUeQJEkaqtY0ZpJUuog4HPgKcAKwF7gYmAVuBTZn5r7m0klqAy9lSlINImIF8H7g4c6mrcBZmXkcMAFsaCqbpPawMZOkepwPXADc03l/FHB95/UOYH0ToSS1i42ZJA0oIjYCM5l5Vdfmicyc7bzeDaweeTBJreMcM0ka3KnAbESsB44ELgEO79o/Bdy30EHWrFnF5OTyg+6fnp4aMGbz2vZvaFvebm3NPu65bcwkaUCZefzc64i4Dng98O6IWJeZ1wEnAdcudJxdu/YcdN/09BQzM7sHztq0Nv0b2nzO25p9XHLP18TZmEnScJwBbI+IlcBtwGUN55HUAjZmklSjzFzX9XZtUzkktZOT/yVJkgphYyZJklQIGzNJkqRC2JhJkiQVwsZMkiSpEDZmkiRJhbAxkyRJKoSNmSRJUiFszCRJkgphYyZJklQIGzNJkqRC2JhJkiQVwsZMkiSpEJOD/OGIOBz4CnACsBe4GJgFbgU2Z+a+QQNKkiSNi0WPmEXECuD9wMOdTVuBszLzOGAC2DB4PEmSpPExyKXM84ELgHs6748Cru+83gGsH+DYkiRJY2dRlzIjYiMwk5lXRcSZnc0TmTnbeb0bWL3QcdasWcXk5PJ5PzM9PbWYiMUYZv6Szk1JWcA88ykpiyTpiRY7x+xUYDYi1gNHApcAh3ftnwLuW+ggu3btmXf/9PQUMzO7FxmxDMPKX9K5KSkLmGc+TWSxEZSk3i2qMcvM4+deR8R1wOuBd0fEusy8DjgJuLaOgJLUBhGxHNgOBPAY8Fqq+bYX401RknpU53IZZwDnRsQXgZXAZTUeW5JK9ysAmfkC4I+obojypihJfRlouQyAzFzX9XbtoMeTpDbKzE9ExKc6b58BfAc4hSfeFPVi4PIG4klqCReYlaSaZObeiPgQ8FdUVw36vilK0ngbeMRMkvS4zHxNRLwF+BLwpK5dC94UtdCd6vvfSHHuuecuPmhD2nYzSNvydmtr9nHPbWM2ZNu2bR3asTdtOn1ox5bUn4h4FfDUzDwP2APsA/65n5ui5rtTvaS7ewfRpn9Dm895W7OPS+75mjgbM0mqx8eBD0bE54AVwGnAbcD2iFjZee1NUZLmZWMmSTXIzIeAVxxglzdFSeqZk/8lSZIK4YiZJGlknHcrzc8RM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCmFjJkmSVAgbM0mSpEJMNh1AkpaCiFgBXAQ8EzgE+BPg68DFwCxwK7A5M/c1FFFSCzhiJkn1eCVwb2YeB5wE/DWwFTirs20C2NBgPkktYGMmSfW4FDi76/1e4Cjg+s77HcD6UYeS1C5eypSkGmTmgwARMQVcBpwFnJ+Zs52P7AZWz3eMNWtWMTm5/KD7p6en6gm7RG3btnVox96yZcvQjj0sbf1+GffcNmaSVJOIeBpwObAtMz8SEe/q2j0F3Dffn9+1a89B901PTzEzs7uWnOpf2859W79fxiX3fE2clzIlqQYR8aPA1cBbMvOizuabImJd5/VJwM4msklqD0fMJKkebwPWAGdHxNxcszcB742IlcBtVJc4JemgbMwkqQaZ+SaqRmx/a0edRVJ7eSlTkiSpEDZmkiRJhVjUpUxXuJYkSarfYkfMXOFakiSpZottzFzhWpIkqWaLupRZxwrXsPAq19DeFYBHoaRzU1IWMM98SsoiSXqiRS+XMegK1zD/KtfQ3hWAR6WUc1Pa18k8B9dEFhtBSerdoi5lusK1JElS/RY7YuYK15IkSTVb7BwzV7iWJEmqmQvMSpIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQiz6WZmSpCeKiKOBP8vMdRHx48DFwCxwK7A5M/c1mU9S+WzMJKkGEfGHwKuAhzqbtgJnZeZ1EXEBsAG4vKl8Gsy2bVuHduxNm04f2rHVPl7KlKR6fBN4Wdf7o4DrO693AOtHnkhS6zhiJkk1yMyPRcQzuzZNZOZs5/VuYPVCx1izZhWTk8sPun96emqgjCrTsL6ubf1+GffcNmaSNBzd88mmgPsW+gO7du056L7p6SlmZnbXEEulGcbXta3fL+OSe74mzkuZkjQcN0XEus7rk4CdDWaR1BI4TDp/AAAZmElEQVSOmEnScJwBbI+IlcBtwGUN55HUAjZmklSTzLwTOKbz+nZgbaOBJLWOlzIlSZIKYWMmSZJUCBszSZKkQjjHTJKkJcinFbSTI2aSJEmFsDGTJEkqhI2ZJElSIZxj1mLDnD8wLM5LkCTp4GzMJElqUBt/ydbweClTkiSpEDZmkiRJhbAxkyRJKoSNmSRJUiGc/K+RciVqSZIOzsZMkiQVY9x/gbcxk5aocS9uktRGNmaSJKkvbV17bVi5t2zZUtuxbMy0ZDhCJElqu1obs4hYBmwDjgC+D7wuM++o8++QpLawJkrqV93LZbwUODQzfxF4K/DnNR9fktrEmiipL3U3ZscCnwHIzH8Enlfz8SWpTayJkvpSd2N2GHB/1/vHIsJ5bJLGlTVRUl8mZmdnaztYRGwF/jEz/3fn/bcz86m1/QWS1CLWREn9qnvE7PPAyQARcQxwS83Hl6Q2sSZK6kvdQ+qXAydExBeACeC1NR9fktrEmiipL7VeypQkSdLi1X0pU5IkSYtkYyZJklQIGzNJkqRCFNmYdR5jIkljz3oojZdiJv9HxLOArVQrY++lahpvAX4/M29vMpskjZL1UBpfJa1AfSFwZmZ+aW5DZ92fDwIvGHWYiNgArAdWA/cBO4HLMnPknWxJWczTc6Ynz+XJzO81laOTZQXwszx+fm7NzEeazKQFFVUP+1Hiz2Ov2pq9rbmh3dlhOLW+pMbs0O4iBNWz5SJi5EEi4n1Uv6HuAHYDU8BJwInA68Y1i3l6yvPzwPuA5cCDwFRETACbM/MLDeQ5BTgP+MZcHuAnI+JtmfmJUedRz4qph/0o7eexH23N3tbc0PrsQ6v1JTVmX42Ii6ge+Hs/1RfoZOBrDWT5mcxcu9+2KyPi82OeBcyzkL8AXp6Zd89tiIinA5cCRzeQ5+3AsZn5QFee1cA1gI1ZuUqqh/0o7eexH23N3tbc0O7sQ6v1JU0q3QR8kuof9OvALwKf6mwftWURcVz3hog4Hnh0zLMcLM9a8/w/K7p/UDvuBpoall8B7Nlv28M0l0e9Kake9qO0etWPtmYvrQb2o83Zh1brixkx61xPvrzzX9M2Alsj4iNUj1HZB9wEvLHhLMuAaaph399tIMuB8qwGPktzw87deSaAlVRfq6byfDoirgGuphrpOAx4MfD3DeX5AHBjRNzQledY4L0N5VEPCquH/dhIObWzXxspq9b2aiNl1eR+bKSs+t2PodX6kkbMSvLTwJHAI8AfZObTM3MD8J4GsiwH3kw1OfJFVN+0b6b6Jm7C8cCNwEup5gTcQXW+ntlQnuVUv13dAPx3qh+QnwCOaiJMZr6D6uvzMPDkzv++pbO9iTzbgROo/g/mVqpLYy/OzL9tIo+WvJJqZ79Kq7W9Kq0m96Oo+t2PYdb6YkbMCvN2quKyDLg0Ig7JzA/RzA/oNVSXou7p/P3PAS7o7HtRA3k2AeuAK4FfzczbI+IpwBVUWUdtO/DHVL8lfhI4gurOnmuAjzaQB+DpQHQy7QK+ExE3NXRH7zRV8fgP4C8y897O9i2Zee6o82jJK6l29qu0Wtur0mpyP0qs3/0YSq13xOzAHsnMXZ3/E9sAvCEiXkgz83KeB3wdOC8zXwh8NTNflJlNFYpHM/Mhqt/MvgWQmffQ3Jylycy8Bvg4cG9m/msnXyNzFDp3Gb2Eanj7IqoC8yKqAtSES4Dbqf7P5nMR8YzO9v0n3Ep1KKl29qu0Wtur0mpyP4qq3/0YZq13xOzA7oyIrcDZmbk7Il4GXAX88KiDZOa/R8QrgPM7t+c27cqIuILqstinIuIqqm/Of2goz50R8XdU38sPRsSfUg2H/1tDeUq7y+iQzPwAQETcDFwREetoxwiG2qeY2tmvAmttr0qryf0orX73Y2i13hGzAzuV6rb0WYDOnRcvBP53E2Eyc29mnkY16tHo1ywz30m1IvkEcBdwOPDezHxrQ5FeA3wEOIvqN/RDqe5EPLWhPKXd2TUZEf8NoLO2znlUlzxWN5RHS1tRtbNfJdXaXhVYk/tRWv3ux9BqfTGPZJKWgoh4NlWRPIrH70q7kWoi9DcayHMk8JfAb2TmdzrbXgm8JzOfPOo8krQUDLPW25hJYygilmXmvqZzSJKeyDlmUo0i4lrgkAPty8znjzjOvHmAkeeRpKVgmLXexkyq11up7sr5NWBvw1mgvDyStBQMrbZ6KVOqWUS8GbgjM4tYtb20PJK0FAyrttqYSZIkFaIVtwNLkiSNAxszSZKkQtiYSZIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRA2ZpIkSYWwMZMkSSqEjZkkSVIhbMwkSZIKYWMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRCTTQfQ0hMRpwDnAYcAXwN+JzMf2O8zrwTeDMwCe4Dfy8x/HnVWSRqGQetgRHwFeBLwSOfjH87Md48ovhrkiJlqFRHTwAeBl2dmAN8C3rnfZwJ4N/CSzDwS+BPg46POKknDMGgdjIgfAp4NHJGZR3b+sykbEzZmqtuLgX/KzG903v8N8NsRMdH1me8Dr8vMf+u8/2fg/4uIlSPMKUnDMmgd/AXgQeAzEXFLRPxFRDxpVOHVLC9lqm5PA+7uev9t4DBgCngAIDPvBO4E6BSqrcCVmfkIktR+A9XBiJgCrgXeRHWJ88NUl0VPG018NcnGTHVbRjVfYn+P7b+hM1x/MVURe8lwY0nSyAxUBzPzSuDKrs/8T6rLnDZmY8BLmarbXcBTut7/GLArMx/q/lBEPB34AlWhemFm3je6iJI0VAPVwYj4lYg4vuujE8Cjw42sUtiYqW5XA8dExHM6718PXNH9gc4w/XXAxzPzNzPz4dFGlKShGrQOPhU4PyKeFBHLgdOBjw4/tkowMTt7oNFWafEi4mSq+RArgW8CrwaeBVyYmUdGxJlUdyDdst8f/aXMvHekYSVpCAapg8Au4M+AX6aacnQt8MbM/P6I4qtBNmaSJEmF8FKmJElSIWzMJEmSCmFjJkmSVAgbM0mSpELYmEmSJBWi0ZX/Z2Z2H/SW0DVrVrFr155RxqmFuUevrdnbmhv6yz49PTWx8KcE89dEKPt7ptRspeaCcrOVmgvKzdZvrvnqYrEjZpOTy5uOsCjmHr22Zm9rbmh39jYr+byXmq3UXFButlJzQbnZ6sxVbGMmSZI0bnyIuSTVJCJuAu7vvP0X4P3Ae4C9wNWZeW5T2SS1g42ZJNUgIg4FyMx1XdtuBl4OfAv4dEQ8NzNvbCahpDawMZOkehwBrIqIq6lq6znAIZn5TYCIuIrqOYg2ZpIOysYM2LZt69COvWnT6UM7tqSi7AHOBy4EngPsAO7r2r+b6iHWB7VmzaoFJxFPT08NlrJH5547nKuuW7ZsGcpx5zOqc7YYpWYrNReUm62uXDZmklSP24E7MnMWuD0i7gd+pGv/FE9s1H7AQrfbT09PMTOze9CcjRp1/pLPWanZSs0F5WbrN9d8TZx3ZUpSPU4F/hwgIp4CrAIeiohnR8QEcCKws8F8klrAETNJqsffAhdHxA3ALFWjtg/4MLCc6q7MLzWYT1IL2JhJUg0y8xHgtw6w65hRZ5HUXl7KlCRJKoSNmSRJUiFszCRJkgphYyZJklSIgSb/R8ThwFeAE6ieBXcx1d1ItwKbM3PfoAElSZLGxaJHzCJiBdUDeh/ubNoKnJWZxwETwIbB40mSJI2PQS5lng9cANzTeX8UcH3n9Q5g/QDHliRJGjuLupQZERuBmcy8KiLO7Gye6DyKBKpnwq1e6DgLPReu1Odh9aNN/4Y2Zd1fW7O3NTe0O7sklWqxc8xOBWYjYj1wJHAJcHjX/gWfCQfzPxeu1Odh9ast/4Y2n++2Zm9rbugvuw2cJPVuUZcyM/P4zFybmeuAm4FXAzsiYl3nIyfhM+EkSZL6Uucjmc4AtkfESuA24LIajy1JkrTkDdyYdUbN5qwd9HiSJEnjygVmJUmSClHnpcyh2rZta9MRJEmShsoRM0mSpELYmEmSJBXCxkySJKkQNmaSJEmFaM3kf0kqXUQcDnwFOAHYC1wMzAK3Apszc19z6SS1gSNmklSDiFgBvB94uLNpK3BWZh4HTAAbmsomqT1szCSpHucDFwD3dN4fBVzfeb0DWN9EKEnt4qVMSRpQRGwEZjLzqog4s7N5IjNnO693A6sXOs6aNauYnFw+72fa/lD4JvKXfM5KzVZqLig3W125bMwkaXCnArMRsR44ErgEOLxr/xRw30IH2bVrz7z7p6enmJnZPUDM5o06f8nnrNRspeaCcrP1m2u+Js5LmZI0oMw8PjPXdp4dfDPwamBHRKzrfOQkYGdD8SS1iCNmkjQcZwDbI2IlcBtwWcN5JLWAjZkk1agzajZnbVM5JLWTlzIlSZIKYWMmSZJUCBszSZKkQtiYSZIkFcLGTJIkqRA2ZpIkSYWwMZMkSSrEotYxi4jlwHYggMeA1wITwMXALHArsDkz99UTU5Ikaelb7IjZrwBk5guAPwK2dv47KzOPo2rSNtSSUJIkaUwsqjHLzE8A/6Pz9hnAd4CjgOs723YA6wdOJ0mSNEYW/UimzNwbER8Cfg34deCXM3O2s3s3sHqhY6xZs4rJyeUH3T/f09fbok3/hjZl3V9bs7c1N7Q7uySVaqBnZWbmayLiLcCXgCd17ZoC7lvoz+/ateeg+6anp5iZ2T1IvCK05d/Q5vPd1uxtzQ39ZbeBk6TeLepSZkS8KiLO7LzdA+wD/jki1nW2nQTsHDyeJEnS+FjsiNnHgQ9GxOeAFcBpwG3A9ohY2Xl9WT0RJUkHsm3b1qYj9G2YmTdtOn1ox5ZGZVGNWWY+BLziALvWDhZHkiRpfLnArCRJUiFszCRJkgphYyZJklSIgZbLkCRVfFSdpDo4YiZJ9fBRdZIGZmMmSTXwUXWS6uClTEmqyaCPqlvoMXXgkxTmc7BzU/I5KzVbqbmg3Gx15bIxGzIXU5TGyyCPqpvvMXXQ7sd4jcKBzk3J56zUbKXmgnKz9ZtrvibOS5mSVAMfVSepDo6YSVI9fFSdpIHZmElSDXxUnaQ6eClTkiSpEDZmkiRJhbAxkyRJKoSNmSRJUiFszCRJkgrhXZktNqzFa124VpKkZjhiJkmSVAgbM0mSpELYmEmSJBXCxkySJKkQi5r8HxErgIuAZwKHAH8CfB24GJgFbgU2Z+a+WlJKkiSNgcWOmL0SuDczjwNOAv4a2Aqc1dk2AWyoJ6IkSdJ4WGxjdilwdtf7vcBRwPWd9zuA9QPkkiRJGjuLupSZmQ8CRMQUcBlwFnB+Zs52PrIbWF1LQkmSpDGx6AVmI+JpwOXAtsz8SES8q2v3FHDfQsdYs2YVk5PLD7p/enpqsfE0gDae9zZmhvbmhnZnl6RSLXby/48CVwNvyMzPdjbfFBHrMvM6qnln1y50nF279hx03/T0FDMzuxcTTwNq23lv6/dKW3NDf9lt4CSpd4sdMXsbsAY4OyLm5pq9CXhvRKwEbqO6xClJkqQeLXaO2ZuoGrH9rR0sjiS1k8sISaqDC8xKUj1cRkjSwGzMJKkeLiMkaWCLvitTkvQ4lxGSVAcbM0mqyaDLCC20hBB4l+t8DnZuSj5npWYrNReUm62uXDZm+gHbtm0d2rE3bTp9aMeWmlTHMkLzLSEE7V5iZRQOdG5KPmelZis1F5Sbrd9c8zVxNmaSVA+XEZI0MBszSaqBywhJqoN3ZUqSJBXCxkySJKkQNmaSJEmFsDGTJEkqhI2ZJElSIWzMJEmSCuFyGZKkJcHFsbUUOGImSZJUCBszSZKkQtiYSZIkFcLGTJIkqRBO/pckaQHeWKBRccRMkiSpEDZmkiRJhRjoUmZEHA38WWaui4gfBy4GZoFbgc2ZuW/wiJIkSeNh0SNmEfGHwIXAoZ1NW4GzMvM4YALYMHg8SZKk8THIpcxvAi/ren8UcH3n9Q5g/QDHliRJGjuLbswy82PAo12bJjJztvN6N7B6kGCSJEnjps7lMrrnk00B9y30B9asWcXk5PKD7p+enqohlkoyrK9pW79X2pob2p19WJx3K2lQdTZmN0XEusy8DjgJuHahP7Br156D7puenmJmZnd96VSEYXxN2/q90tbc0F/2cWngOvNuXwU81Nk0N+/2uoi4gGre7eVN5ZPUDnUul3EGcG5EfBFYCVxW47ElqXTOu5U0sIFGzDLzTuCYzuvbgbU1ZJKk1snMj0XEM7s29T3vdqHpHTA+I5DjpMSvaYmZ5pSara5cPpJJkoaj73m3803vgHZf/tbBlfY1Lfn7rNRs/eaar4lz5X9JGo6bImJd5/VJwM4Gs0hqCUfMJGk4zgC2R8RK4DacdyupBzZmklQT591KGpSXMiVJkgphYyZJklQIGzNJkqRC2JhJkiQVwsn/Gqlt27YO7dibNp0+tGNLkjQKjphJkiQVwsZMkiSpEDZmkiRJhbAxkyRJKoSNmSRJUiFszCRJkgrhchmSJDVoWMsIuYRQO9mYaclwjTRJUtt5KVOSJKkQNmaSJEmF8FKm1APngEiSRsHGTJIkFWPc5wt7KVOSJKkQtY6YRcQyYBtwBPB94HWZeUedf4e0lAzzN8Nh2rJlS9MRWsGaqCaN+8jTgQzrnNRZE+seMXspcGhm/iLwVuDPaz6+JLWJNVFSX+puzI4FPgOQmf8IPK/m40tSm1gTJfVlYnZ2traDRcSFwMcyc0fn/V3AszJzb21/iSS1hDVRUr/qHjF7AJjqPr4FSNIYsyZK6kvdjdnngZMBIuIY4Jaajy9JbWJNlNSXutcxuxw4ISK+AEwAr635+JLUJtZESX2pdY6ZJEmSFs8FZiVJkgphYyZJklQIGzNJkqRCFNWYdR5fIknqYm2Uxkfjk/8j4lnAVqoVsfdSNYu3AL+fmbc3ma0XEbEBWA+sBu4DdgKXZWbRd1W0NTe0N3tbc6sZJdfGkr+XzbZ0co2rupfLWIwLgTMz80tzGzrr/XwQeEFjqXoQEe+jKpY7gN1UC0meBJwIvK7BaPNqa25ob/a25t5fRDyZTvHOzO81nWeJK7I2lvy9bLalk6tbqXUnIlYAP8vjDe2tmfnIoMctoTE7tLvwQPVMuYhoKk8/fiYz1+637cqI+HwjaXrX1tzQ3uxtzQ1ARPw88D5gOfAgMBURE8DmzPxCo+GWrlJrY8nfy2brX6m5iq47EXEKcB7wjblswE9GxNsy8xODHLuExuyrEXER1YN+76f6x50MfK3RVL1ZFhHHZebOuQ0RcTzwaIOZetHW3HDg7GspP3tbc8/5C+DlmXn33IaIeDpwKXB0Y6mWtlJrY8n1o23ZSqgBpeaCsuvO24FjM/OBuQ0RsRq4Bmh9Y7YJeClwLHAY1bPlPkW1YnbpNgJbI+IjVKt67wNuAt7YZKgebOTx3MuAaaph7N9tMlSPNvLE7KuBz1LIkPs8NvLE75WVVN8rpeees6K7OHbcDTgHZXhKrY0bKbfubaTc2raRMmvXRsqtTSXXnRXAnv22PUwN2RpvzDqTCy+n+WKzGD8NHAk8Arw9M/8OICL+AXhRk8EWsBx4M9UPIcAl+70v2fHAjcA7gA8DM1Rfh2cCdzQXa0HLqX4DvQF4L9U5/wngKMrOPefTEXENcDXV6M1hwIuBv2801RJWcG0sue6VXNtKrV0l16aS684HgBsj4gYez3Ys1TkcSOONWcu9napALQMujYhDMvNDlFEE5nMNVad/D1XW5wAXdPY1XVgXsglYB1wJ/Gpm3h4RTwGuoPp3lWo78MdUvyV/EjiCarLoNcBHG8zVk8x8R0T8HFXheTLV6M1bMvPGZpOpASXXvZJrW6m1q9jaVHLdycztEXEl8As8PqL9jsz8zqDHdm2cwTySmbsy815gA/CGiHghZQyzzud5wNeB8zLzhcBXM/NFmdl04erFo5n5ENXdQ98CyMx7KP+cT2bmNcDHgXsz8187/44S5nH06ulAAD9F9Rv1szsTcTVeSq57Jde2UmtX6bWpyLoTEdNUo7FHA5/JzE9m5nciYsugx3bEbDB3RsRW4OzM3B0RLwOuAn644Vzzysx/j4hXAOd37nppkysj4grgVuBTEXEV8BLgH5qNtaA7I+LvqH7mHoyIP6Ua/v63ZmP1pg231Gtkiq17hde2UmtXsbWp8LpzCdU0g0ngcxFxcmb+X2D/O1z7ZmM2mFOBV9L5jScz7+785nhmo6l6kJl7gdMiYiMtGjnNzHd27hg6EbgLOBx4b2Z+utlkC3oN1R11t1PdWv37VJdcTm0yVB+KvaVeI1d03Su1thVcu0quTSXXnUMy8wMAEXEzcEVErKOGS/qNr/wvqXwRsRN42wGWIXhHZq5rLJikJavkuhMRn6NaT+2WzvvfADYD/ykznzvIsR0xk9SLjVS31P8vHl8i4UbKWIZA0tK0kXLrzu8BfxURv5GZ38nMj3aeBPCeQQ/siJkkSVINImJZZu4b5BiOmElaUERcCxxyoH2Z+fwRx5E0BkquO/NlAwbKZmMmqRdvpVrv6NeAvQ1nkTQeSq47Q8vmpUxJPYmINwN3ZGZpK9H//+3csQkAAAgEsf23dgrh0GSCr+QqgaPKd2drmzADAIjI/HgBAPhOmAEARAgzAIAIYQYAECHMAAAiBrlwuSoFVFYKAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 720x720 with 6 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "df3_test.hist('Quantity', by='Discount', figsize=(10, 10), color='grey');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 3.2 - Hypothesis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "$H_0$: The average number of products in an order is equal for all levels of discount.\n",
    "\n",
    "> $H_0: \\mu_1 = \\mu_2 = \\mu_3 =  ...  = \\mu_i ...  = \\mu_j$\n",
    "\n",
    "$H_1$: The average number of products in an order differs between at least two levels of discount.\n",
    "\n",
    "> $H_0: \\mu_i \\neq \\mu_j$\n",
    "\n",
    "I set my significance level: \n",
    "\n",
    "> **$\\alpha$ = 0.05**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 3.3 - Statistical Analysis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Appropriate Test"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The analysis of variance or **one-way ANOVA** is used to compare the differences between the means of two or more groups within a sample, while considering only one factor or independent variable. It can be thought of as an extension of the t-test that is used to compare the means of a condition between 2 groups. \n",
    "\n",
    "ANOVA is an omnibus test, meaning it tests the data as a whole. In other words, ANOVA tests if there is a difference in the mean somewhere in the model (testing if there was an overall effect), but it does not tell us where the difference is if there is one. To find out where the difference is between the groups, we have to conduct post-hoc tests. \n",
    "\n",
    "Although it can be thought of as an extension of the t-test in terms of when to use it, mathematically speaking it’s more of a regression model and is considered a generalized linear model (GLM).\n",
    "\n",
    "The test statistic F follows an **F-distribution with $q$ - 1 degrees of freedom**, with $q$ being the number of groups. \n",
    "\n",
    "Because of the F-distribution's shape, the significance level is always specified on the right (no one-tailed or two-tailed specification is necessary)."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### ANOVA Assumptions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "There are 3 assumptions that need to be met for the results of an ANOVA test to be considered accurate and trustworthy. It’s important to note that **two assumptions apply to the residuals** and not the variables themselves. The ANOVA assumptions are the same as those for linear regression, and are:\n",
    "\n",
    "\n",
    "* **Normality** <br> The caveat to this is that if group sizes are equal, the F-statistic is robust to violations of normality.\n",
    "    \n",
    "* **Homogeneity of variance** <br> Same caveat as above; if group sizes are equal, the F-statistic is robust to this violation.\n",
    "\n",
    "* **Independent observations**\n",
    "\n",
    "If possible, it is best to have equal-sized groups so corrections to the data do not need to be made. Fortunately, we are dealing with equal-sized groups here.\n",
    "\n",
    "As two of the assumptions apply to the residuals, they are tested after conducting the ANOVA. The independence of observations can be assumed!"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Test Statistic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 52,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>sum_sq</th>\n",
       "      <th>df</th>\n",
       "      <th>F</th>\n",
       "      <th>PR(&gt;F)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Discount</th>\n",
       "      <td>12621.238965</td>\n",
       "      <td>1.0</td>\n",
       "      <td>35.487951</td>\n",
       "      <td>2.991487e-09</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Residual</th>\n",
       "      <td>762866.181622</td>\n",
       "      <td>2145.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                 sum_sq      df          F        PR(>F)\n",
       "Discount   12621.238965     1.0  35.487951  2.991487e-09\n",
       "Residual  762866.181622  2145.0        NaN           NaN"
      ]
     },
     "execution_count": 52,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "import statsmodels.api as sm\n",
    "from statsmodels.formula.api import ols\n",
    "\n",
    "# syntax for defining the ANOVA-model\n",
    "anova = ols('Quantity ~ Discount', data=df3_test).fit()\n",
    "table = sm.stats.anova_lm(anova, typ=2)\n",
    "table"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "On the left, we have our discount factor, and on the right, the probability that this factor is indeed influential. \n",
    "\n",
    "Values < .05 (i.e. our α) indicate rejection of the null hypothesis. **We can see that the discount factor appears to be highly influential.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Assumption of Homogeneity of residuals' variance:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 53,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "LeveneResult(statistic=2.9943951679841643, pvalue=0.010664285577385134)"
      ]
     },
     "execution_count": 53,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# using Levene’s test to test for equal variances between groups\n",
    "from scipy import stats\n",
    "stats.levene(df3_test['Quantity'][df3_test['Discount'] == 0.00],\n",
    "             df3_test['Quantity'][df3_test['Discount'] == 0.05],\n",
    "             df3_test['Quantity'][df3_test['Discount'] == 0.10],\n",
    "             df3_test['Quantity'][df3_test['Discount'] == 0.15],\n",
    "             df3_test['Quantity'][df3_test['Discount'] == 0.20],\n",
    "             df3_test['Quantity'][df3_test['Discount'] == 0.25])"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> Levene’s test for homogeneity of variance is significant, which indicates that the **groups don't have equal variances**. But as stated earlier, if group sizes are equal, the F-statistic is robust to this violation.\n",
    "\n",
    "**Assumption of Normality of residuals:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 54,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(0.8587857484817505, 3.172497684277456e-40)"
      ]
     },
     "execution_count": 54,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# using Shapiro-Wilk method\n",
    "stats.shapiro(anova.resid)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> The output is not labelled, but the numbers are the test statistic value, followed by the p-value. The results from the Shapiro-Wilk test are statistically significant, which indicates that the **residuals are not normally distributed**. But same as above: if group sizes are equal, the F-statistic is robust to violation of normality."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Effect Size"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "There are a few different effect sizes for an ANOVA one can use: **eta squared (η2)**, and **omega squared (ω2)**. Omega squared is considered a better measure of effect size than eta squared because it is unbiased in its calculation.\n",
    "\n",
    "+++ Something to note: For some reason, R2 is called eta squared within the ANOVA framework, but they are the same thing. R2 is a measure of how much variance is explained by the model, and is calculated by taking the explained variance and dividing it by the total variance. +++\n",
    "\n",
    "The following code uses the ANOVA table produced by statsmodels and appends the effect size measures of eta-squared (η2) and omega-squared (ω2)."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 55,
   "metadata": {
    "scrolled": false
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>sum_sq</th>\n",
       "      <th>df</th>\n",
       "      <th>F</th>\n",
       "      <th>PR(&gt;F)</th>\n",
       "      <th>mean_sq</th>\n",
       "      <th>eta_sq</th>\n",
       "      <th>omega_sq</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Discount</th>\n",
       "      <td>12621.238965</td>\n",
       "      <td>1.0</td>\n",
       "      <td>35.487951</td>\n",
       "      <td>2.991487e-09</td>\n",
       "      <td>12621.238965</td>\n",
       "      <td>0.016275</td>\n",
       "      <td>0.015809</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Residual</th>\n",
       "      <td>762866.181622</td>\n",
       "      <td>2145.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>355.648570</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                 sum_sq      df          F        PR(>F)       mean_sq  \\\n",
       "Discount   12621.238965     1.0  35.487951  2.991487e-09  12621.238965   \n",
       "Residual  762866.181622  2145.0        NaN           NaN    355.648570   \n",
       "\n",
       "            eta_sq  omega_sq  \n",
       "Discount  0.016275  0.015809  \n",
       "Residual       NaN       NaN  "
      ]
     },
     "execution_count": 55,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "def anova_effect_size(aov):       \n",
    "    \"\"\" This function takes the Anova table performed with statsmodels\n",
    "    and appends two effect size measures: eta-squared and omega-squared. \"\"\"\n",
    "    \n",
    "    # mean squared\n",
    "    aov['mean_sq'] = aov[:]['sum_sq']/aov[:]['df']\n",
    "    \n",
    "    # eta-squared (η2) \n",
    "    aov['eta_sq'] = aov[:-1]['sum_sq']/sum(aov['sum_sq'])\n",
    "    \n",
    "    # omega-squared (ω2)\n",
    "    num = (aov[:-1]['sum_sq'] - (aov[:-1]['df']*aov['mean_sq'][-1]))\n",
    "    denom = (sum(aov['sum_sq']) + aov['mean_sq'][-1])\n",
    "    aov['omega_sq'] = num / denom    \n",
    "    \n",
    "    return aov\n",
    "\n",
    "anova_effect_size(table)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "According to both measures (around 0.016), the discount only has a **small effect**."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Post-hoc Testing\n",
    "\n",
    "The overall model was significant, now we want to know **which groups actually differ**. \n",
    "\n",
    "Tukey’s HSD is one method that can be used. The Tukey HSD post-hoc comparison test controls for type I error and maintains the familywise error rate at 0.05. \n",
    "\n",
    "(Unfortunately, this method currently does not provide the t-statistic, so treatment effect size cannot be calculated.)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 56,
   "metadata": {
    "scrolled": false
   },
   "outputs": [],
   "source": [
    "from statsmodels.stats.multicomp import pairwise_tukeyhsd\n",
    "from statsmodels.stats.multicomp import MultiComparison\n",
    "\n",
    "mc = MultiComparison(df3_test['Quantity'], df3_test['Discount'])\n",
    "mc_results = mc.tukeyhsd()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 57,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAZEAAAEfCAYAAACAm/v/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XucVVX9//HXXAQEBwUd73lNPqR4QfBCeSu18lKK8c1SyxuKmQli9bXSsvT7VTNMs+xueSv7plHmT01TsRQN74riB8hbphjKCCgywsz8/ljr6GE4M3Nmc/bsveH9fDx4MGft22etfc7+7LX2PmfXdXR0ICIikkR91gGIiEhxKYmIiEhiSiIiIpKYkoiIiCSmJCIiIokpiYiISGKNWQcggZltBTwH/M3d9+007dfAsUCzu7/WzTrOBTZw99PMbDzQz92vMLNTgPXc/cJult0P+KG7j+hl3OsB3wH2A9qBjrieX/ZmPWkzs8eA/dz9jQy2/WvgQGA+UAf0B+4AznD35T0s+03gcXf/U9pxVsvMdgSeAM5y94vKys/lvfff88A4d3+o07LTgC2BhYT3Sj/gIeAL7r6km21+EjjA3U9fxdivAS4CzgXeH4t3BmYCbUCLu3+4m+WPI9Tr0FWJI67rcGBHdz9vVdeVJfVE8mUpYGa2ZanAzAYBH0qwrr2AgQDu/pPuEkhSZjYAuAd4CdjV3XcBDge+ZmYn1np7q8Ldd8kigZT5foxhZ2AXwj49sorlPgKslWpkvXcqcB1wmpklORH9SmyLkcAIwvv0O90t4O431SCBfBpY6O4z3X1cjGGXOPnD8XWXCaTW3P2PwD5mtkuPM+eYeiL50gb8Djga+N9YdgTwJ+BMWLnHUKkHYWZjgU8CB5rZ20AzK54h/pZwZrweMMXdf1wehJn1I5yt7Qs0AI8Cp7v7ok7xHgm86e7fLRW4+wvxw9ovrmsH4IfA+oQzzynufnWM+wLgRcCAt4ALgdPj6xvd/Yw430XAC8Bw4G3gOHefZWbDgB8BTcAmwGPAke6+1MxaY7vtHNvzwdgOjcDVwAYx5P/n7ufEWM8BPgssB2YDp7n7vHj2fD/hwL8F8FfgZMJJ2OWxfBnwLHC8u79J9wYReiPz4nbXBS4DdiQkjDuBrwATgNHAxWb2PmCyu78vLvMXYJ67H2tm/YGXgW2ATeO61ifsux+4+5VxmU8AZ8d9swT4srvfH3sQW8U23BL4N3CMu7/SOXAza4rtuQchGY4Dru+hvl1y9w4zuxs4OK7/hFjvfsBQ4EJ3/3F5DyDujwWE98OPY7xnE3rCbYQk9bcKm/s28F89xRRHBWa6+zqVXpfNN47w3jzY3T2eOJ1KeF+8DpwG/ItwkrWHu8+Oy/0VuDz2Ln8JfAsY22Nj5ZR6IvlzNfC5stfHAr/uzQrcfSpwE+Hs90cVZhkK7EYYgvpOHJ4odxbhQDoqnjm/TDjAdzYauK/C9h9x9wfiWepNhA/MTsBBwP+a2Zg4626Eg8QuwCLga8AhwK7AF81s07LtlNbxK+CaWH4ScJW770kYmtg6Lg/hIPRnd7dOQyonAc+6+67A3sB2ZraumR0f49stbmcmK7b7trG9SvXYFxgTy3Z291GEJLJThXYCOMPMHjOzJwkHlleAe+O07wMPx3WMJCS4yXHfPUQ4KH4fWGZmI8xsbcIB9CNx+f2BfxAS8Q2EYaZRMcYvm9meZrYd4cTk4NgDOBn4Q+zpEtviv9x9eFzPKV3U43PAbHefBVwFnNHFfFUxsyGEk5G7zWwdwv4pxXgk8N0uFm1x9+3d/XLgYuBUdx8NnEPYJ523MwJY291nrkq8Zev7LGFIbL+YQPYlfFb3jrF/F5jq7m8R2ml8XG5bYBhwc1zV7cBBcZ8WkpJIzrj7w0CbmY2KZ59NtXrjl/mRu3e4+0vAbcBHO00/FDgMeDReSzgc2L7Cetrp/j00DBjg7n8AcPeXgRuBj8fpz7n7o/HvfwJ3u/s78brPIkKyg3BN4O/x7yuBkWa2PvDfwHwz+yrhjHRToPxs8e+s7DbgU2Z2C+GM9yx3X0hIDL+KH3oIZ/P7x14ZhITUHntjc2NsTxLOfP9hZucRek/Tu2iL0nDWjoQe0VLgB3HaocCE2NYPA7sTeiWdTY1x7kforfwn9vQOI7TrMEKyuzKu6x5gbUJiOpDQ07gzTruOsP9K1wWmlfU0H+W9tu/sFMJBEeBaYFTZSUG1Lo4J9XFgGiGZXhZ7cIcCh8T2/AYr7s9y5fv2emCqmf0CGELlxDOcsN9qYTfCicxP3P1fsewQQltOj+37XWCImQ0FrgA+b2ZrEZL3L9y9DcDdFxDeC1tSUBrOyqdrgGMIF2Kv6TStg3BxtqQfvVd+MbeecCAs1wBMdPdbAeIZ4oAK63kA+GLnwngRdG9Cr6rzj7PV894Yf2unacuqiLdU9zbCsFwj8H/A/yMMNZW3zUrDSu7+oJltDRxAOJOfYWYHEepcHmt9XHdpfW+XTesA6tz9DTPbmTCc9RHgd2Z2sbtf0UU9SjG8FQ94F8SiBkIvYBa8e7NCpR+1mwqcR0iWdwD/AT5GSCxfj+ULy8b5MbONCBexTwLudPcjy6a9j9DLHFupfp03bmZ7E65hfNXMzozF7xB6I/d3V+dOvuLuN1RY/+ZxPT8jJJYbCEmlknf3rbt/w8yuJCTK4whDv7t3mr+D6k+ae/qMvUEY9vw/M7vZ3Z8n7MNr3P2/Y13qCfujxd0XmNkThGR/FGEosNxyVv4MFoZ6Ivl0LWHs9kjgN52mzQe2MLMNzawO+EwX61hO1xdkPw9gZlsQeiG3dpr+F8JF037xw/Bz3jvglbsRWNfMvmpmDXGd2wCXALOAZwhDMEfEaZsCnyIcAHtjFzMrDROdDEyPF8k/BnzH3X8Xp+1B+DB3ycwuBM6JFzUnAk8RDoy3ASeUDe+cTrhTrnOiK1/XoYQewXR3P5eQNHfrqTKxTQ8CZsSivxCGu+ri9Y2bCOPpsOJ+nE7oaRxKuC5zOzCJMLz0OuDA22Z2TNzO+wjDcqNinB81s+Fx2sGEO6x6M4zyBcKB8n3uvpW7bxVjOSK+l1bVaML7+/xYt0NjrF3uUzNrjNf5Brr7TwjXJHaK7VjOCW1XjTeAfmZW6n1/ttP0Oe5+F+F62NVxf/4F+KyZbRLnOYXQ5iU/Igy7zYg98lL86xJO0F6sMrbcURLJIXf/N+EgPCd2d8unPQ38lDBW/gDhtuBKbgVOMbOvVZi2tZk9TDhwnu7u3mn6ecDzhGGNpwlnZWd2mgd3f4dwRr8D8GQ827oRON/dr3T3ZYShsIlx2l8JB/27e2iCzuYB/xOvJxzOe9eMvk4YxniS0Cb38N7wTFcuJSSlmYQ2fI4wHPLLGN8MM5tFuC5zdA/rupWQhGaa2UPABwkXbyspXRN5lLBvBxMSAISENYgwPPZE/L80JHMTcIGZHevu7XGbi919PuFsfSihzUv74zBgfGzv2wkJ8774vjkZuD4OI50HfLKKmwAAMLNmwk0eF5eXx4Pp/cCXqllPD24nXIR2QhttQUgqXe5TD7dITwJ+Y2aPAL8HTuic/OOQ8Ntm9oGegojDm18FbjWzB1mxl1bufwj77SvufjvhIvsdse2PAo5w91KP8mbC0NxPOq3jo8DN3Z2s5F2dfgp+zWJd3L+fV5bw+ysinZnZUcBe7n5qBtseA/wCGFGWWDCzu4BJ7v5EX8dUK+qJiMgawd1/AwytcDdiqszsKkJv98ROCWQs8PciJxBQT0RERFaBeiIiIpKYkoiIiCSmJCIiIomtUV82XL68raOxsduvEdTMnXeGW8T333//PtleUamdRAphpS+flqxRSaSlpctfml4lzc1NzJ+/eIWytrZ2gJXK86xSPdKWRjtlUY80qB75sibXo7m5qctpGs4SEZHE1qieSF9ab72ufr9OyqmdRIpNSSQlW289LOsQCkHtJFJsGs4SEZHElERS8vLLL/Lyy4X9Yc4+o3YSKTYlkZS8+urLvPrqyz3PuIZTO4kUm5KIiIgkpiQiIiKJKYmIiEhiSiIiIpKYvieSkoaGvvmNrqJTO4kUm5JISnbaabesQygEtZNIsWk4S0REElMSScnixYtYvHhR1mHkntpJpNiURFIyd+7TzJ37dNZh5J7aSaTYlERERCQxJREREUlMSURERBJTEhERkcSUREREJDF92TAlw4btkHUIhaB2Eik2JZGUDBrUlHUIhaB2Eik2DWeJiEhiSiIpeeyxGTz22Iysw8g9tZNIsWk4KyUdHe1Zh1AIaieRYlNPREREEstFT8TM6oErgJ2BVmC8u88tm34G8Jn48hZ3/7aZ1QEvAXNi+f3u/rU+DFtEEug/9QYGXjqFhtnP0DZsOEsmnUnr2HFZhyUJ5SKJAIcDA9x9jJntCUwBDgMws22Ao4E9gA7g72Y2FVgCPOLun8goZhHppf5Tb2DwhBPefd046ykGTziBRaBEUlB5SSJ7AbcBuPsDZja6bNq/gI+7exuAma0FLAVGAZuZ2d3A28AZ7u59G7ZIMHTUiNqvtL6Ooe0dtV9vXyurR/28VyrO0nTaBAadf27fxZRExvtjwcMzM9t2d/KSRAYDC8tet5lZo7svd/dlwGtx+Opi4FF3n21mGwMXuPvvzWwv4Fqg28fkDRkykMbGdB7H2ty84vcd3v/+bSuW511fx5tWO/V5u9fXpbLahpTW29ferceyZRWn1y1bVoi6ZhljLd/TtVxXXpLIIqC8VvXuvrz0wswGAFcCi4FTY/FDwHIAd7/XzDYzszp37/JUoaVlSc0Dh7BD5s9fvEJZU1MzwErleVapHmlLo52yqAcPPlnzVWZSjxSU12PIvmNonPXUSvMs334ELdOm93VovZL5/qjRtpPUo7ukk5e7s+4DDgaI10Te/UTGHsifgMfdfUJpWAv4FjApzrMz8GJ3CUREsrdk0pmVyydO7uNIpFby0hOZChxoZtOBOuB4M5sMzAUagH2B/mZ2UJz/a8CFwLVmdgihR3Jcn0fdjWefDZdnttnGMo4k39ROa5bWseNYBAy87JL37s6aOFkX1QssF0nE3duBUzoVP1P294AuFj0knYhW3cKFLVmHUAhqpzVP69hxShqrkbwMZ4mISAEpiYiISGJKIiIikpiSiIiIJJaLC+urIz1sqTpqJ5FiUxJJiR77Wh21k0ixaThLREQSUxJJyfz585g/f17WYeSe2kmk2DSclZKXXnoegObmjbMNJOfUTiLFpp6IiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmu7NSstNO3T6pVyK1k0ixKYmkpKEhnWe5r27UTiLFpuGslCxd+jZLl76ddRi5p3YSKTYlkZTMmvU4s2Y9nnUYuad2Eik2JREREUlMSURERBJTEhERkcSUREREJDElERERSSzX3xMxs3rgCmBnoBUY7+5zy6afAXwmvrzF3b/d91FWtvXW22UdQiGonbLRf+oNDLx0Cg2zn6Ft2HCWTDqT1rHjsg5LCijvPZHDgQHuPgY4C5hSmmBm2wBHAx8ExgAfNbOdMomygvXWW5/11ls/6zByT+3U9/pPvYHBE06gcdZT1LW10TjrKQZPOIH+U2/IOjQpoFz3RIC9gNsA3P0BMxtdNu1fwMfdvQ3AzNYClvZ9iJJHQ0eNyDqEVVdfx9D2jtqvdt4rFcubTpvAoPPPrfn20qpHn3vxhawjyKW8J5HBwMKy121m1ujuy919GfCamdUBFwOPuvvs7lY2ZMhAGhvT+ZmN5uamFV7fd999AHzoQx9KZXtp6VyPtKXVTg31dTVdX1ZSqceyZRWL65YtS63dVpf90defj7TUsh55TyKLgPLa1rv78tILMxsAXAksBk7taWUtLUtqHiCEHTJ//uIVyt56K2yrc3meVapH2tJop+bmJuY/+GTN1peVtPbHkH3H0DjrqZXKl28/gpZp02u+vSzeV2loplif564k2R/dJZ28XxO5DzgYwMz2BN49MsQeyJ+Ax919QmlYS0S6t2TSmZXLJ07u40hkdZD3nshU4EAzmw7UAceb2WRgLtAA7Av0N7OD4vxfc/f7swlVpBhax45jETDwskveuztr4mTdnSWJ5DqJuHs7cEqn4mfK/h7Qh+GIrDZax45T0pCayPtwloiI5FiueyJFtv76G2YdQiGonUSKTUkkJVtssU3WIRSC2kmk2DScJSIiiSmJpOTFF5/lxRefzTqM3FM7iRSbkkhKXn/9P7z++n+yDiP31E4ixaYkIiIiiXV5Yd3MPt/dgu5+de3DERGRIunu7qwPdzOtA1ASERFZw3WZRNz9+PLXZjbE3VvSD0lERIqix++JmNnOwO+AgfFHEP8GfNrdH0k7uCLr169/1iEUgtpJpNiq+bLh5cBY4Dfu/rKZfQH4CbB7qpEV3A47jMw6hEJQO4kUWzV3Zw1091mlF+5+B6DTRxERqSqJLIhDWh0AZnY0sCDVqFYDb7zxOm+88XrWYeSe2kmk2KoZzvoCcBWwg5m9AcwBjk41qtXAc8/NAWDkyPUzjiTf1E4ixVZNElnH3fcys0FAg7svSjsoEREphmqGs35pZk8CpwHrphyPiIgUSI9JxN1HA0cA/YBbzOxuMzsh9chERCT3qvrtLHefA1wCXAAMBr6WZlAiIlIM1XzZcCxwFLAn8GfgS+4+Pe3AREQk/6q5sH4M4XeyjnL3ZSnHs9r4wAd2zjqEQlA7iRRbNddEPgW8BpxoZv3MbJ/0wyq+AQPWZsCAtbMOI/fUTiLF1mMSMbOJwPnAZKAJ+KmZfTntwIqura2Ntra2rMPIPbWTSLFVM5x1HLAH8A93f93MdgNmAN+rVRBmVg9cAewMtALj3X1up3magenAju6+1MzqgJcIX34EuN/dc3PB/4knHgRg5Mg9M44k39ROa7b+U29g4KVTaJj9DG3DhrNk0pm0jh2XdVjSC9UkkTZ3f8fMSq+XArU+dTwcGODuY+IvBU8BDitNNLOPARcCG5Utsy3wiLt/osaxiEgf6D/1BgZPeO/bAo2znmLwhBNYBEokBVJNErnHzL4HDDKzw4GTgbtqHMdewG0A7v6AmY3uNL0dOAB4uKxsFLCZmd0NvA2c4e5e47hEEhs6asSqraC+jqHtHbUJJktd1KN+3isVZ286bQKDzj833ZiSyNH+WPDwzKxDeFc1SeQrwEnA48DngVuAH9c4jsHAwrLXbWbW6O7L4d1fDqasNwTwCnCBu//ezPYCrgV2624jQ4YMpLGxoaaBlzQ3N63wuqGhvmJ53vV1vGm1Uy7avb5ulVfRUIN15EHFeiyrfLNn3bJlua13XuJa1fd3LT8fPSYRd28Hfhr/AWBmZxGGl2plEeGifUl9KYF04yGglGTuNbPNzKzO3bs8VWhpWbLqkVbQ3NzE/PmLVyhra2sHWKk8zyrVI21ptFMW9ajowSdXafHc1GMVdVWPIfuOoXHWUyuVL99+BC3T8vdVtFztj1WII0k9uks6VX1jvYKvJ1yuK/cBBwPEayLVfPq+BUyKy+wMvNhdAhGRfFky6czK5RMn93EksiqqGc6qpNZ9uqnAgWY2Pa77eDObDMx195u6WOZC4FozO4TQIzmuxjGtks033yrrEApB7bTmah07jkXAwMsuee/urImTdVG9YJImkZqe8cchs1M6FT9TYb6tyv5uAQ6pZRy11Ny8cdYhFILaac3WOnackkbBdZlEzOxXVE4WdejxuCIiQvc9kWkJpwkwe3a4YDhs2A4ZR5JvaieRYusyibj7VX0ZyOrmrbdychdHzqmdRIot6d1ZIiIiSiIiIpJcNb/iu9KPGprZ/6YTjoiIFEl3d2ddCGwIfNLMtiubtBbhV31r/YVDEREpmO7uzroR2B7YH7inrHw58J00g1odrLvukKxDKAS1k0ixdXd31oPAg2b2R3df2NV8Utk221jPM4naSaTgqvnG+uFmNgUonTLWAR3uns7P4YqISGFUk0S+Cezn7vn5AfsCeOWVlwDYZJPNM44k39ROIsVWzS2+LyuB9N68eS8xb95LWYeRe2onkWKrpifysJndANxOeDQuAO5+dWpRiYhIIVSTRNYFFgNjyso6ACUREZE1XDVPNjy+LwIREZHi6TGJmNlzVPhJeHffJpWIRESkMKoZztqv7O+1gLHoeSI9qqvTz5JVQ+0kUmzVDGe90KnoYjN7CDg/nZBWD7vssnvWIRSC2kmk2KoZztqn7GUdsAOwdmoRiYhIYVQznPXtsr87gNeAY9MJZ/VRetjSoEFNGUeSb2onkWKrZjjrwwBm1gQ0uPsbqUe1Gig99nXkyD0zjiTf1E4ixVbNcNY2wPXAtkCdmb0AHOnus9MOTkRE8q2aW2N+CnzX3dd396HABcDP0g1LRESKoJprIhu4+w2lF+7+f2Z2dooxvcvM6oErgJ2BVmC8u8/tNE8zMB3Y0d2XrrwWkfTNmfMMDz88g5aW1xkyZH1Gjdqd7bYbnnVYIqmrpifSama7ll6Y2ShgSXohreBwYIC7jwHOAqaUTzSzjxF+02ujPopHZCVz5jzDHXfcwoIFr9HR0cGCBa9xxx23MGfOM1mHJpK6anoik4AbzWwB4RbfocCRqUb1nr2A2wDc/QEzG91pejtwAPBwH8Wzxrvmml/UdH1bb71VzddbX19He/tKP7KQmrfeerNi+Z133sYDD9ybeL19XY+0lNfjc58bn3E0UmvV3J31gJkNA4YRei7Pu/vi1CMLBgPlT1VsM7NGd18eY7sDwKy6p+MNGTKQxsZ0nqXV3LziLaq77TY6brNYt652rkdn9fV1Nd3evHnzUllvrdfXnfb29i7LVzWOvqxHmkr16On9lXdFj7+klvWo5u6sTwPnuPuOZrYt8LSZnebuf6pZFF1bBJTXtr6UQJJoaUlnFK65uYn58zvn1dC0K5fnV+V6rOjoo0/so2iSq6YetXT99VezYMFrK5Wvv/4GHHnk5xOvt6/rkZbyehS5Pqvj/ujNMl2p5prI2YQhI9z9n8AoVvwCYpruAw4GMLM9gSf7aLsiVRs1qvJPt+y6q37SRVZ/1VwT6efur5ZeuPt/zKyv+thTgQPNbDrheszxZjYZmOvuN/VRDIk88cSDAOy0024ZR5Jvq0M7le7CeuSRGbS0LGDIkKHsuqvuzpI1QzVJ5F4z+y1wHeFnTz4D3J9qVJG7twOndCpe6ZYXd9+qL+Lpjba2tqxDKITVpZ222264koaskapJIl8EvgRMAJYB9wA/TjMoEREphh6vibh7K3Cdu38CuBRYDqRzi5OIiBRKj0nEzH4MnG9m2wPXArsCP087MBERyb9q7s7aHRgPfBq40t1PBKr7YoaIiKzWqrkm0kBINocBp5jZQGBQqlGtBjbaaNOsQygEtZNIsVWTRK4GXgHuc/d/mNnThF/2lW5suukWWYdQCGonkWKr5sL6JcDG7j42Fu3j7pelG5aIiBRBlz0RM/uZu59sZncDHeW/T2VmuPtH+iLAonruufDMrq23HpZxJPmmdhIptu6Gs0pDVuf2QRyrnTfeWJB1CIWgdhIpti6TiLuXfl79dWA48DbwtLs/1xeBiYhI/nU3nLUhcAMwAphD+MkTM7P7gc+6+8KulhURkTVDdxfWLwDuBTZy9z3cfU/CEwQfB3RhXUREur0m8kF3/0B5gbu/Y2ZfBx5LNywRESmC7noiSysVunsH4bG00o2BAwcxcKC+k9kTtZNIsXXXE+nu4c7Ff/Bzysx2zDqEQlA7iRRbd0lkBzN7tkJ5HbBJSvGIiEiBdJdE9O2vVfDaa+FhkBtssFHGkeSb2kmk2Lr7nsgLfRnI6uZf/wpfp9HBsXtqJ5Fiq+an4EVERCpSEhERkcSUREREJDElERERSUxJREREEqvmyYapM7N64ApgZ6AVGO/uc8umnwRMAJYD57v7zWY2FJgNzIyzTc3Tw7J23HFU1iEUgtpp9dV/6g0MvHQKzH6GIcOGs2TSmbSOHZd1WFJjuUgiwOHAAHcfY2Z7AlMIz3THzDYGTgdGAwOAe83sDmBX4Lfu/qWMYu5WY+NaWYdQCGqn1VP/qTcweMIJ775unPUUgyecwCJQIlnN5CWJ7AXcBuDuD5jZ6LJpuxOe794KtJrZXGAnYBSwq5ndA/wHON3dX+njuLvU2toKQP/+/TOOJN9Wt3YaOmpE7VZWX8fQ9mL+wlD9vMofxabTJjDo/HP7NJaaqeH+WPDwzJ5nKoi8JJHBQPnzSdrMrNHdl1eYthhYF3gGeNjd/2pmRwOXA92e4gwZMpDGxobaRh41Nzet8PrOO2cAsP/++6eyvbR0rkfa0mqnvq7Hu+rrarq6hhqvr88sW1axuG7ZsuLWidrtj8zenylsPy9JZBFQXqv6mEAqTWsC3gD+ASyJZVOB7/S0kZaWJT3NkkhzcxPz5y9eoaytLfzQcefyPKtUj7Sl0U5Z1ONdDz5Zs1VlWo9VNGTfMTTOemql8uXbj6Bl2vQMIlp1Nd0fGe7XJPXoLunk5e6s+4CDAeI1kfJP4gxgbzMbYGbrAh8gXEz/BfCpOM/+wMOISC4smXRm5fKJk/s4EklbXnoiU4EDzWw64VeCjzezycBcd7/JzH4A/J2Q9L7h7kvN7CzgSjM7FXgLGJ9V8CKyotax41gEDLzsEhpnP8PyYcNZMnGyLqqvhnKRRNy9HTilU/EzZdN/Dvy80zLPAR9OPzoRSaJ17Dhax46jubmJloIOy0nP8jKcJSIiBZSLnsjqaMst3591CIWgdhIpNiWRlAwdukHWIRSC2kmk2DScJSIiiSmJpOTppx/j6acfyzqM3FM7iRSbhrNS0tq6NOsQCkHtJFJs6omIiEhiSiIiIpKYkoiIiCSmJCIiIonpwnpKhg5tzjqEQlA7iRSbkkhKttxy26xDKAS1k0ixaThLREQSUxJJyUsvPc9LLz2fdRi5p3YSKTYlkZTMnz+P+fPnZR1G7qmdRIpNSURERBJTEhERkcSUREREJDElERERSUzfE0nJWmv1yzqEQlA7iRSbkkhKRozYNesQCkHtJFJsGs4SEZHElERSsnBhCwsXtmQdRu6pnUSKLdfDWWZWD1wB7Ay0AuPdfW7Z9JOACcBy4HzCPf9fAAAOAElEQVR3vzmTQCt49lkHYOTIPTOOJJg6tZFLL+3H7Nn1DBvWzqRJ7zB27PKsw8pdO4lI7+S9J3I4MMDdxwBnAVNKE8xsY+B04EPAx4ALzKx/JlHm3NSpjUyYsDazZjXQ1lbHrFkNTJiwNlOn5vocQkQKIO9Hkb2A2wDc/QEzG102bXfgPndvBVrNbC6wE/Bg34dZ2Suv1DN+/KCsw2DevLqK5aedNoDzz+9493V9PbS39228551XzyabtPfpNkWkdvKeRAYDC8tet5lZo7svrzBtMbBudysbMmQgjY0NtY8SaG5uWuF1Q0Po5NXXZ9/ZW7asq/I66utXTDBZxNvQUL9S+62qWq8vK6pHvqgeK8t7ElkElNe2PiaQStOagDe6W1lLy5LaRhc1Nzcxf/7iFcra2trZZBN48MHFXSzVd/bddyCzZq2cPLffvo1p095rk0r1SNujj7bT1kZNt5tFPdKgeuTLmlyP7pJO9qfJ3bsPOBjAzPYEniybNgPY28wGmNm6wAeAmX0fYv5NmvROxfKJEyuXi4hUK+89kanAgWY2HagDjjezycBcd7/JzH4A/J2QDL/h7kszjHUFw4fvlHUI7wp3Yb3NZZe9d3fWxIn5uDsrT+0kIr1X19HR0fNcq4n58xenUtk1uZubR6pHvqge+ZJwOKvy3TnkfzirsNrb22lv111HPVE7iRSbkkhKHn98Bo8/PiPrMHJP7SRSbEoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiSiIiIpJY3r9sWFibbbZl1iEUgtpJpNiURFKy4YabZB1CIaidRIpNw1kiIpKYkkhK5sx5mjlzns46jNxTO4kUm4azUvLmm4uyDqEQ1E4ixaaeiIiIJKYkIiIiiSmJiIhIYkoiIiKSmC6sp6Spad2sQygEtZNIsSmJpOT97/9A1iEUgtpJpNg0nCUiIokpiaRk3rx/M2/ev7MOI/fUTiLFpuGslLzyyr8A2HjjzTKOJN/UTiLFpp6IiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCRW19HRkXUMIiJSUOqJiIhIYkoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmX/HtJTNbC7gS2AroD5wPPA38GugAZgJfdPf2jEKsShf1eBG4HGgDWoHPu/urWcVYjUr1cPeb4rSjgC+5+5jsIqxOF/vjAeDnwBCggbA//plVjD3p5j31E2A5MBsYn/fPBoCZNRDa3gifh+OBOgr0Oe+iDk3U+DOunkjvHQO87u57AwcBPwQuAc6OZXXAYRnGV61K9biMcNDdD/gD8N/ZhVe1SvXAzHYBTiTsjyKoVI/vAte5+z7A2cDwDOOrRqU6fAv4jrvvRUgsh2QYX298AsDdPwR8k/AZL9rnvFIdav4ZVxLpvd8D55S9Xg6MAu6Jr28FDujroBKoVI/PuPtj8XUjsLTPo+q9lephZusDFwKTsgkpkUr740PA5mb2V+BoYFoGcfVGpTo8Cgw1szrCWfCyLALrLXf/I3ByfLkl8CoF+5x3UYeaf8Y1nNVL7v4mgJk1ATcQzhC/5+6l349ZDKybUXhVq1QPd38lln0QOA3YJ7sIq1OhHucAvwTOAN7OMLRe6eJ9dRXQ4u4HmNk3CWeN38wuyu51UYcO4Efx74XkPxG+y92Xm9lVwFhgHHBoAT/nK9Qhjc+4eiIJmNn7gLuBa9z9N0D5uGgT8EYmgfVShXpgZkcSxrAPcff5WcZXrfJ6AHOA7YAfA9cD25vZpRmGV7UK++N14KY4+c/A6Kxiq1aFOlwG7O3uw4GrgSlZxtdb7n4sMIxwbWHtskmF+ZyX18HMBtX6M66eSC+Z2UbA7cBp7n5nLH7UzPZz92mEseC7s4qvWpXqYWbHABOA/dx9QZbxVauL/bFDnLYVcL27535Yq4t63AscTEiO+wBPZRReVbqowwJgUfz7ZcIQXe6Z2eeAzd39AmAJ4UTxoSJ9zruow1hq/BnXr/j2kpldBhwJPFNWPBH4AdAPmAWc5O5tGYRXtQr1aABGAC/w3hnWPe7+rQzCq1oX++Mgd3+7LInsmUlwvdBFPY4FfgEMIgwFHeXuLRmEV5Uu6nAO4frUcuAdwmfj+b6PrnfMbBDwK2BjYC1CHWYReiSF+Jx3UYdfEe6Yq9lnXElEREQS0zURERFJTElEREQSUxIREZHElERERCQxJREREUlMSURERBJTEhERkcSUREREJDElERERSUxJREREElMSERGRxJREREQkMSURERFJTElEREQSUxIREZHElERERCQxPR5XemRmI4AngXHufmPW8XTFzDoIT5v7RVnZNODc+EjTVVl3TdbTwzYGA3cBA4Aj3H12LN8PuBmYC3QQnvU9Ezje3Rcn3Na5AO5+bi+X2xo4291PrHL+W4Dx7v5ylfOvA1wEfAx4i/Bo3XPLHrfb3bLHER77elw125LaUE9EqnEC8HvCs5nz7gIze1/WQSS0C/COu48oJZAyD7n7Lu4+0t2Hx7Kv93F8AFsC21Y7s7sf3IsEUgf8mfAY3e3dfWfgdOCamEglh9QTkW6Z2VrA0cDewHQz2xbYgXDG/4k4z5eA9wOTgYuB/QjPbP+1u38/HgC+G8tmEg5+vwTWAzaN830zbusnwF7Avwln3ee5+zQzOwv4dFzHX4D/dvdKz3a+lPBc8o91qsdWwDR33yq+PhfCmbiZzQP+COwBzAOuJBy8NgeOc/d74mpONrPvx7/PiHGtA/yI8Hz6BuAid/9tPCs+FtgA+LO7v3vAN7ONYv23IDx7/OvAI3G7G5vZTe7+yS52Scm0Uh3NbD7wELAJsBvwFeAYoA24Hfiqu7eZ2VeAk4HXgBZgRly+w93r4t/HEc/mzewAYArhZPMF4CjgB8A2ZvYj4ALgOsIz4NuB0939gU7t/jzh/bAf8HFgKLANcLu7n9qpTvsSktRHSvvW3R81s/MJz2qfFnuECwjvwSOBHYGzCT2WF4A343Z3A74PDIz1neDuz3Ve3t0f66GdpQfqiUhPDgFeiGfGfyQchG4FRpnZkDjPZ4BrgZMA3H1XYHfgMDPbO84zjHBwOBb4LPBbd9+TcBCYZGYbAKcQDkjDgeMJB0TM7OPAqPh6JLAZIbFVchGwvpmN70UdNwJudfeRhKGkse6+N3AuMKlsvjfjPMcC15pZf8IB7GF3HwXsA3zDzLaJ828OjCxPINHlwF3uvhMwjpA86oDxhB5HtwnEzAYBnwTuj0UbEJLXLsABcdpoQlu9HzjFzEYTepQj4zyb97CN/oQEcay770gYzjyWkFwfcvcvAicCN7v7aOCbhOTfnQ8CnwJ2Aj5hZjt2mr5bXHfnk4O/xWklT7i7Af8hnJzsA4wBmmLs/QgnEkfF9+IU4Oedl1cCqQ0lEenJ8cBv49+/i6/rgKnAp8xsC2B9d3+QeAAzs8eAfxAOVKUDhbv7wvjH94AXzezLwGVAP0LyOBC4zt073P0FoDQOfgChl/Aw4Yx9NOFMciXuvhw4jt4Pa90a/3+BcF2i9PeQsnl+GbfxBOEANjzGdkqs899iPUqxPRLj6ewjZet6ltBWe/QQ32gzeyxuZwbgwCVl0/8R/9+fkKCXxG1fGcv2A25x9zfd/S3C8GR3dgT+XTrQuvvX3P3yTvP8Ffiymf0GWB/4YQ/rnO7ui919CfAsoVdSroPKoyP94rSSUl0/GNf5aqzrtbF8GGHI7abYXhcRej+dl5ca0HCWdMnMNgQOIvQ6JhKSxxDgCOAa4Lz4+rq4SANh6OQPcfkNCMMLewJvl613CuFD/RtC7+aAuO42Kp/YNACXuvslcfn1CMNAFbn7TDMrDWuVdMRtlKwFLCtb5p2yaV2tu7y8Pi7fABzj7o/E2DYiDJccTVmdO+lcxzp6/iw+5O77dTXR3Uvb6mrdneu/PMZOjLsu9gDWikXLKDtwm9m6xDP9sm3eZ2bbA4cShpaOI5wIdGVp2d+d44FwcD/dzNZy92Vl5WMIw3UlpbpWqhOxXs/Gnhlm1kDobXZeXmpAPRHpzueAO919c3ffyt23BP4HOCWOfW8a5yklkbuAk8xsrXit4F5CAunsQOBid/89YIThqQbCme1nzKzOzDYlnD13xPV+zszWMbNGQuIZ10PsFxHOjsfE128AQ82sOQ7VfLy3jUEcQotDQ03AnBjbF2L5JsAThGsd3bmLMBREHPr6EO8NTa2qu4DPmtnasa2OB+4m9Oo+YWbrmtkAYGzZMq8BO8QL26WhNAc2jEkC4KuE4cblxIRnZt8lJNCrgNOAXVclcHf/O/AUcGm8PoaZjSIMGZ5XYZF7gTFmtpmZ1RMSGcAzhH1dGko9gXDCIilQEpHuHAdc0ansR8DuZjacMLy1OA7JQLgoPgd4lHDm+Ksubom9gHDHzUzCwechYGvgZ8Biwvj7VYThpLfd/c/AjYQz1ZnAY3F6l8qGtUqvFxLGzx8kJKsZPVW+gnXM7NFYz6Pi2fK3gbVjXe4i9MT+2cN6Tgc+YmZPEhLieHd/JUE8K3H3mwm3Az9EOCC/CFweh6UuJdT/HkLblpwVl7mfkDxw96WEi/NXm9kTwPbAhcAsYD0zu4ZwbWdcHDKaCny+BlU4AmgFZprZ04ThzmMqvY/c/VXgS7y3PxfF8lbgv4ApMfZjiUlbaq+uo6PSDS4ifc/MDgHq3P3mOHzyKDDa3RdkHJqIdEFJRHIjfpHtGmCdWPQ9d7+2m0VEJGNKIiIikpiuiYiISGJKIiIikpiSiIiIJKYkIiIiiSmJiIhIYkoiIiKS2P8Hm18BekBGELMAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with 0.0 (blue)\n",
    "# all groups that are significantly different from 0.0 are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name=0.0, figsize=(6,4), \n",
    "                             ylabel='Discount Level\\n', xlabel='\\nAverage Number of Products in Order');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> **All discount levels significantly differ from NO DISCOUNT - except the 0.1% discount.**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 58,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAZEAAAEfCAYAAACAm/v/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XucVVX9//HXXESEUAcc76lY8CHvMGhSXii18lZifqPEu3ipzGv11bKy9PtVM0sz7WaWYmXfNMr8qUl4KUVCEVQSPgx5ywsGzoDITZiZ3x9rHT0OZ2bObPaZfc7h/Xw8eDBnXz9r73X2Z6+199m7pqOjAxERkSRqsw5AREQql5KIiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCRWn3UAEpjZTsBzwN/c/cBO434FnAg0uvvibpZxCbCFu59lZhOBfu5+g5mdCWzu7ld0M+9Y4Efuvlsv494c+A4wFmgHOuJyftGb5ZSamc0Gxrr7kgzW/SvgEGARUANsDEwBznP3tT3M+03gSXf/U6njLJaZ7Q48BVzo7lfmDb+Ed+rf88Ax7v54p3kfBHYElhLqSj/gceDz7r6im3V+EjjY3c9ez9gnAVcClwDvj4P3BOYAbUCru3+km/lPIpTriPWJIy7rKGB3d790fZeVJbVEyssqwMxsx9wAMxsIfDjBsvYDBgC4+0+6SyBJmVl/4CHgJWCUu+8FHAVcZGanpr2+9eHue2WRQPL8IMawJ7AXYZ+OL2K+jwIblTSy3vsC8GvgLDNLciL6lbgtRgK7Eerpd7qbwd3vTCGBfAZY6u5z3P2YGMNecfRH4ucuE0ja3P2PwAFmtlePE5cxtUTKSxvwO2AC8L9x2NHAn4ALYN0WQ6EWhJmNAz4JHGJmK4FG3n2G+FvCmfHmwNXu/uP8IMysH+Fs7UCgDpgFnO3ub3SKdzzwprt/NzfA3V+IX9Z+cVm7Aj8ChhDOPK9291ti3JcDLwIGLAeuAM6On+9w9/PidFcCLwAjgJXASe4+18yGA9cDg4BtgNnAeHdfZWar43bbM27Px+J2qAduAbaIIf8/d/9GjPUbwOeAtcB84Cx3XxjPnh8lHPh3AP4KnE44CbsuDl8DPAuc7O5v0r2BhNbIwrjezYBrgd0JCWMq8BXgDGA0cJWZvRc4393fG+f5C7DQ3U80s42BV4CdgW3jsoYQ9t0P3f2mOM+RwMVx36wAvuzuj8YWxE5xG+4IvAwc5+6vdg7czAbF7flBQjI8Brith/J2yd07zOwB4LC4/FNiufsBg4Er3P3H+S2AuD9aCPXhxzHeiwkt4TZCkvpbgdV9G/ivnmKKvQJz3P09hT7nTXcMoW4e5u4eT5y+QKgXrwNnAf8mnGR90N3nx/n+ClwXW5e/AL4FjOtxY5UptUTKzy3A8XmfTwR+1ZsFuPtk4E7C2e/1BSYZDOxN6IL6TuyeyHch4UDaFM+cXyEc4DsbDTxSYP1PuPv0eJZ6J+ELswdwKPC/ZjYmTro34SCxF/AGcBFwODAK+KKZbZu3ntwyfglMisNPA252930JXRND4/wQDkJ/dnfr1KVyGvCsu48C9geGmdlmZnZyjG/vuJ45vHu7vy9ur1w5DgTGxGF7unsTIYnsUWA7AZxnZrPN7GnCgeVV4OE47gfAzLiMkYQEd37cd48TDoo/ANaY2W5mtgnhAPrROP9BwD8Iifh2QjdTU4zxy2a2r5kNI5yYHBZbAKcDf4gtXeK2+C93HxGXc2YX5TgemO/uc4GbgfO6mK4oZtZAOBl5wMzeQ9g/uRjHA9/tYtZWd9/F3a8DrgK+4O6jgW8Q9knn9ewGbOLuc9Yn3rzlfY7QJTY2JpADCd/V/WPs3wUmu/tywnaaGOd7HzAcuCsu6j7g0LhPK5KSSJlx95lAm5k1xbPPQWlV/DzXu3uHu78E3At8rNP4I4BPAbPitYSjgF0KLKed7uvQcKC/u/8BwN1fAe4APhHHP+fus+Lf/wIecPe34nWfNwjJDsI1gb/Hv28CRprZEOC/gUVm9lXCGem2QP7Z4t9Z173Ap83sbsIZ74XuvpSQGH4Zv/QQzuYPiq0yCAmpPbbGFsTYniac+f7DzC4ltJ6mdbEtct1ZuxNaRKuAH8ZxRwBnxG09E9iH0CrpbHKMcyyhtfKf2NL7FGG7Dicku5vish4CNiEkpkMILY2pcdyvCfsvd13gwbyW5ize2fadnUk4KALcCjTlnRQU66qYUJ8EHiQk02tjC+4I4PC4Pb/Ou/dnvvx9exsw2cxuBBoonHhGEPZbGvYmnMj8xN3/HYcdTtiW0+L2/S7QYGaDgRuAE8xsI0LyvtHd2wDcvYVQF3akQqk7qzxNAo4jXIid1GlcB+HibE4/ei//Ym4t4UCYrw44x93vAYhniP0LLGc68MXOA+NF0P0JrarOD2er5Z0+/tWdxq0pIt5c2dsI3XL1wP8B/4/Q1ZS/bdbpVnL3x8xsKHAw4Ux+hpkdSihzfqy1cdm55a3MG9cB1Lj7EjPbk9Cd9VHgd2Z2lbvf0EU5cjEsjwe8y+OgOkIrYC68fbNCoYfaTQYuJSTLKcB/gI8TEsvX4vClef38mNlWhIvYpwFT3X183rj3ElqZ4wqVr/PKzWx/wjWMr5rZBXHwW4TWyKPdlbmTr7j77QWWv31czs8IieV2QlIp5O196+5fN7ObCInyJELX7z6dpu+g+JPmnr5jSwjdnv9nZne5+/OEfTjJ3f87lqWWsD9a3b3FzJ4iJPtjCV2B+day7newYqglUp5uJfTdjgd+02ncImAHM9vSzGqAz3axjLV0fUH2BAAz24HQCrmn0/i/EC6a9otfhp/zzgEv3x3AZmb2VTOri8vcGfg+MBeYR+iCOTqO2xb4NOEA2Bt7mVmum+h0YFq8SP5x4Dvu/rs47oOEL3OXzOwK4BvxouY5wD8JB8Z7gVPyunfOJtwp1znR5S/rCEKLYJq7X0JImnv3VJi4TQ8FZsRBfyF0d9XE6xt3EvrT4d37cRqhpXEE4brMfcC5hO6l1wEHVprZcXE97yV0yzXFOD9mZiPiuMMId1j1phvl84QD5XvdfSd33ynGcnSsS+trNKF+XxbLdkSMtct9amb18TrfAHf/CeGaxB5xO+ZzwrYrxhKgn5nlWt+f6zS+2d3vJ1wPuyXuz78AnzOzbeI0ZxK2ec71hG63GbFFnot/M8IJ2otFxlZ2lETKkLu/TDgIN8fmbv64Z4CfEvrKpxNuCy7kHuBMM7uowLihZjaTcOA829290/hLgecJ3RrPEM7KLug0De7+FuGMflfg6Xi2dQdwmbvf5O5rCF1h58RxfyUc9B/oYRN0thD4n3g94SjeuWb0NUI3xtOEbfIQ73TPdOUaQlKaQ9iGzxG6Q34R45thZnMJ12Um9LCsewhJaI6ZPQ58iHDxtpDcNZFZhH27KSEBQEhYAwndY0/F/3NdMncCl5vZie7eHte5zN0XEc7WBxO2eW5/fAqYGLf3fYSE+UisN6cDt8VupEuBTxZxEwAAZtZIuMnjqvzh8WD6KPClYpbTg/sIF6GdsI12ICSVLveph1ukzwV+Y2ZPAL8HTumc/GOX8Eoz+0BPQcTuza8C95jZY7y7lZbvfwj77Svufh/hIvuUuO2PBY5291yL8i5C19xPOi3jY8Bd3Z2slLsaPQp+w2Jd3L9frizh71dEOjOzY4H93P0LGax7DHAjsFteYsHM7gfOdfen+jqmtKglIiIbBHf/DTC4wN2IJWVmNxNau6d2SiDjgL9XcgIBtURERGQ9qCUiIiKJKYmIiEhiSiIiIpLYBvVjw7Vr2zrq67v9GYFIYlOnhp8FHHTQQRlHIuWsQuvJOj8+zdmgkkhra5dPml4vjY2DWLRoWUmW3ZdUjvXT1tYOkNq6tT/KS1rlSLue9FaScjQ2DupynLqzREQksQ2qJSJSSptv3tUzC0XeUW31RElEJCVDhw7POgSpANVWT9SdJSIiiSmJiKTklVde5JVXKvZhrNJHqq2eKImIpOS1117htdde6XlC2aBVWz1REhERkcSUREREJDElERERSUxJREREEtPvRERSUlen57JJz6qtniiJiKRkjz32zjoEqQDVVk/UnSUiIokpiYikZNmyN1i27I2sw5AyV231RElEJCULFjzDggXPZB2GlLlqqydKIiIikpiSiIiIJKYkIiIiiSmJiIhIYkoiIiKSmH5sKJKS4cN3zToEqQDVVk+URERSMnDgoKxDkApQbfVE3VkiIpKYkohISmbPnsHs2TOyDkPKXLXVE3VniaSko6M96xCkAlRbPVFLREREEiuLloiZ1QI3AHsCq4GJ7r4gb/x5wGfjx7vd/dtmVgO8BDTH4Y+6+0V9GLaIJNDcPI+ZM2fQ2vo6DQ1DaGrah2HDRmQdliRUFkkEOAro7+5jzGxf4GrgUwBmtjMwAfgg0AH83cwmAyuAJ9z9yIxiFpFeam6ex5Qpd7/9uaVl8duflUgqU7kkkf2AewHcfbqZjc4b92/gE+7eBmBmGwGrgCZgOzN7AFgJnOfu3rdhiwSTJt3I0KE7vf13Gmpra2hv70hlWVnKL8fy5W8WnGbq1HuZPv3hvgyr19LaH0OH7gT0vp4cf/zE9V53KZRLEtkUWJr3uc3M6t19rbuvARbH7qurgFnuPt/MtgYud/ffm9l+wK1At68Ma2gYQH19aV5N2dhYHfd+qxzJ1NbWsGTJkrf/TnO51SBXjvb2wheV29vbK6KsacSYtJ6kWafTXFa5JJE3gPxS1br72twHM+sP3AQsA74QBz8OrAVw94fNbDszq3H3Lk8VWltXpB44hB2yaNGykiy7L6kcyU2YcGrqy6zG/XHbbbfQ0rJ4nWmGDNmC8eNP6OvQeiXr/ZHWupOUo7ukUy53Zz0CHAYQr4k8nRsRWyB/Ap509zNy3VrAt4Bz4zR7Ai92l0BEJHtNTfsUHD5qVOHhUv7KpSUyGTjEzKYBNcDJZnY+sACoAw4ENjazQ+P0FwFXALea2eGEFslJfR61SJ5nnw2X5Hbe2TKOpHzlLp4/8cQMWltbaGgYzKhRG9bdWdVWT8oiibh7O3Bmp8Hz8v7u38Wsh5cmIpHeW7q0NesQKsKwYSM2qKTRWbXVk3LpzhIRkQqkJCIiIokpiYiISGJKIiIiklhZXFgXqQbV9rIhKY1qqydKIiIpqbbXnkppVFs9UXeWiIgkpiQikpJFixayaNHCrMOQMldt9UTdWSIpeeml5wFobNw620CkrFVbPVFLREREElMSERGRxJREREQkMSURERFJTElEREQS091ZIinZY49u384sAlRfPVESEUlJXV1d1iFIBai2eqLuLJGUrFq1klWrVmYdhpS5aqsnSiIiKZk790nmzn0y6zCkzFVbPVESERGRxJREREQkMSURERFJTElEREQSUxIREZHEyvp3ImZWC9wA7AmsBia6+4K88ecBn40f73b3b/d9lCLB0KHDsg6haM3N85g5cwatra/T0DCEpqZ9GDZsRNZhbRAqqZ4Uo9xbIkcB/d19DHAhcHVuhJntDEwAPgSMAT5mZntkEqUIsPnmQ9h88yFZh9Gj5uZ5TJlyNy0ti+no6KClZTFTptxNc/O8rEPbIFRKPSlWWbdEgP2AewHcfbqZjc4b92/gE+7eBmBmGwGr+j5EKUeTJt2YdQjrrba2hvb2jtSXu3z5mwWHT516L9OnP5z6+kpVjr52/vnnZR1CWSr3JLIpsDTvc5uZ1bv7WndfAyw2sxrgKmCWu8/vbmENDQOory/NIwcaGweVZLl9rVrKUVtb0+fr3G677QB4+eWXU1tmKcrR3t7e5fBSbbcs9kcppPH9eOSRRwD48Ic/vN7LSirN73m5J5E3gPzS1rr72twHM+sP3AQsA77Q08JaW1ekHiCEHbJo0bKSLLsvVVM5Jkw4tc/XO2vWdADGjv1EKssr1f647bZbaGlZvM7wIUO2YPz4E1JfX7XUKyCVcixfviK1ZSWRZH90l3TK/ZrII8BhAGa2L/B0bkRsgfwJeNLdz8h1a4lI95qa9ik4fNSowsNFulPuLZHJwCFmNg2oAU42s/OBBUAdcCCwsZkdGqe/yN0fzSZUkcqQuwvriSdm0NraQkPDYEaN0t1ZkkxZJxF3bwfO7DQ4/xaS/n0YjkjVGDZshJKGpKLcu7NERKSMlXVLRKSSDBmyZdYhSAWotnqiJCKSkh122DnrEKQCVFs9UXeWiIgkpiQikpIXX3yWF198NuswpMxVWz1REhFJyeuv/4fXX/9P1mFImau2eqIkIiIiiXV5Yd3Mun3+gbvfkn44IiJSSbq7O+sj3YzrAJREREQ2cF0mEXc/Of+zmTW4e2vpQxIRkUrR4+9EzGxP4HfAgPgQxL8Bn3H3J0odnEgl6ddv46xDkApQbfWkmB8bXgeMA37j7q+Y2eeBnwB65KdInl13HZl1CFIBqq2eFHN31gB3n5v74O5TgOpKpSIikkgxSaQldml1AJjZBKClpFGJVKAlS15nyZLXsw5Dyly11ZNiurM+D9wM7GpmS4BmYEJJoxKpQM891wzAyJFDMo5Eylm11ZNiksh73H0/MxsI1Ln7G6UOSkREKkMx3Vm/MLOngbOAzUocj4iIVJAek4i7jwaOBvoBd5vZA2Z2SskjExGRslfUs7PcvRn4PnA5sClwUSmDEhGRylDMjw3HAccC+wJ/Br7k7tNKHZiIiJS/Yi6sH0d4Ttax7r6mxPGIVKwPfGDPrEOQClBt9aSYayKfBhYDp5pZPzM7oPRhiVSe/v03oX//TbIOQ8pctdWTHpOImZ0DXAacDwwCfmpmXy51YCKVpq2tjba2tqzDkDJXbfWkmO6sk4APAv9w99fNbG9gBvC9tIIws1rgBmBPYDUw0d0XdJqmEZgG7O7uq8ysBniJ8ONHgEfdXRf8JTNPPfUYACNH7ptxJJWjuXkeM2fOoLX1dRoahtDUtA/Dho3IOqySqrZ6UkwSaXP3t8ws93kVkHYaPQro7+5j4pOCrwY+lRtpZh8HrgC2ypvnfcAT7n5kyrGISB9obp7HlCl3v/25pWXx25+rPZFUk2KSyENm9j1goJkdBZwO3J9yHPsB9wK4+3QzG91pfDtwMDAzb1gTsJ2ZPQCsBM5zd085LpHEJk26cb3mr62tob29I6VostNVOZYvf7Pg9FOn3sv06Q+XOqxeS2t/DB26E7B+9eP44yeudxxpKSaJfAU4DXgSOAG4G/hxynFsCizN+9xmZvXuvhbefnIwea0hgFeBy93992a2H3ArsHd3K2loGEB9fV2qgec0Ng4qyXL7msqRXF1d7bvWXVtbs97LTGMZ5aBQOdrb2wtO297eXrblTjOu9VnW+tbvNL8fPSYRd28Hfhr/AWBmFxK6l9LyBuGifU5tLoF043Egl2QeNrPtzKzG3bs8VWhtXbH+kRbQ2DiIRYuWlWTZfUnlWD9tbeGgmFv3hAmnrtfyqn1/3HbbLbS0LF5n+JAhWzB+/Al9EVqvpLU/Zs2aDqxf/VifOJKUo7ukU9Qv1gv4WsL5uvIIcBhAvCbydBHzfAs4N86zJ/BidwlERMpLU1Ph99qNGqX33VWSYrqzCkm7rTkZOMTMpsVln2xm5wML3P3OLua5ArjVzA4ntEhOSjkmkV7Zfvudsg6houQunj/xxAxaW1toaBjMqFHVf3dWtdWTpEkk1TP+2GV2ZqfB8wpMt1Pe363A4WnGIbI+Ghu3zjqEijNs2IiqTxqdVVs96TKJmNkvKZwsatDrcUVEhO5bIg8mHCeyQZo//58ADB++a8aRSDmrtnrSZRJx95v7MhCRSrd8eeXfSSWlV231JOndWSIiIkoiIiKSXDFP8V3noYZm9r+lCUdERCpJd3dnXQFsCXzSzIbljdqI8FTftH9wKCIiFaa7u7PuAHYBDgIeyhu+FvhOKYMSqUSbbdaQdQhSAaqtnnR3d9ZjwGNm9kd3X9rVdCIS7Lyz9TyRbPCqrZ4U84v1o8zsaiCXPmuADncvzeNwRUSkYhSTRL4JjHX3OaUORqSSvfrqSwBss832GUci5aza6kkxt/i+ogQi0rOFC19i4cKXsg5Dyly11ZNiWiIzzex24D7Cq3EBcPdbShaViIhUhGKSyGbAMmBM3rAOQElERGQDV8ybDU/ui0BERKTy9JhEzOw5CjwS3t13LklEIiJSMYrpzhqb9/dGwDj0PhGRddTU6FF00rNqqyfFdGe90GnQVWb2OHBZaUISqUx77aV3g0vPqq2eFNOddUDexxpgV2CTkkUkIiIVo5jurG/n/d0BLAZOLE04IpUr97KhgQMHZRyJlLNqqyfFdGd9BMDMBgF17r6k5FGJVKDca09Hjtw340iknFVbPSmmO2tn4DbgfUCNmb0AjHf3+aUOTkREylsxtwn8FPiuuw9x98HA5cDPShuWiIhUgmKuiWzh7rfnPrj7/5nZxSWM6W1mVgvcAOwJrAYmuvuCTtM0AtOA3d191bpLESm95uZ5PPnkbFasWIH7fJqa9mHYsBFZhyVScsW0RFab2ajcBzNrAlaULqR3OQro7+5jgAuBq/NHmtnHCc/02qqP4hFZR3PzPKZMuZsVK8LXoqVlMVOm3E1z87yMIxMpvWJaIucCd5hZC+EW38HA+JJG9Y79gHsB3H26mY3uNL4dOBiY2UfxbPAmTbox6xB6VFtbQ3v7Og9ZKJnly98sOHzq1HuZPv3hxMvt63KUSn45jj9+YsbRSNqKuTtrupkNB4YTWi7Pu/uykkcWbArkv1Wxzczq3X1tjG0KgFlxbwpraBhAfX1p3qXV2Fgdt+v1VI7a2po+imT99GWc7e3tXQ5f3zgqZXv3JFeOSv+epBH/3nuHc+GGhuy2RZr7oZi7sz4DfMPddzez9wHPmNlZ7v6n1KLo2htAfmlrcwkkidbW0vTCNTYOYtGivsqrpVNMOSZMOLWPokmur/fHbbfdQkvL4nWGDxmyBePHn5B4udVYryq5POntj3DYzWpbJClHd0mnmGsiFxO6jHD3fwFNvPsHiKX0CHAYgJntCzzdR+sVKVpTU+HHWIwaVV2PtxAppJhrIv3c/bXcB3f/j5n1VRt7MnCImU0jXI852czOBxa4+519FINIt3J3YT3yyEOsXLmCwYOHMGqU7s6Swp566jEA9thj74wjSUcxSeRhM/st8GvCY08+Czxa0qgid28Hzuw0eJ1bXtx9p76IR6Qrw4aN4M03w8McquWXyFIabW1tWYeQqmKSyBeBLwFnAGuAh4AflzIoERGpDD1eE3H31cCv3f1I4BpgLVCaW5xERKSi9JhEzOzHwGVmtgtwKzAK+HmpAxMRkfJXzN1Z+wATgc8AN7n7qUBxP8wQEZGqVsw1kTpCsvkUcKaZDQAGljQqkQq01VbbZh2CVIBqqyfFJJFbgFeBR9z9H2b2DOHJviKSZ9ttd8g6BKkA1VZPirmw/n1ga3cfFwcd4O7XljYsERGpBF22RMzsZ+5+upk9AHTkP5/KzHD3j/ZFgCKV4rnnwnvahg4dnnEkUs6qrZ50152V67K6pA/iEKl4S5a0ZB2CVIBqqyddJhF3zz1e/XVgBLASeMbdn+uLwEREpPx11521JXA7sBvQTHjkiZnZo8Dn3H1pV/OKiMiGobsL65cDDwNbufsH3X1fwhsEnwR0YV1ERLq9JvIhd/9A/gB3f8vMvgbMLm1YIiJSCbpriawqNNDdOwivpRWRPAMGDGTAAP0OV7pXbfWku5ZIdy93rvwXP4ukzGz3rEOQClBt9aS7JLKrmT1bYHgNsE2J4hERkQrSXRKpjl/CiPSRxYvDC0C32GKrjCORclZt9aS734m80JeBiFS6f/87/ISqWg4OUhrVVk+KeRS8iIhIQUoiIiKSmJKIiIgkpiQiIiKJKYmIiEhixbzZsOTMrBa4AdgTWA1MdPcFeeNPA84A1gKXuftdZjYYmA/MiZNN1suyJEu7796UdQhlZfLkeq65ph/z58Pw4QM499y3GDdubdZhZa7a6klZJBHgKKC/u48xs32BqwnvdMfMtgbOBkYD/YGHzWwKMAr4rbt/KaOYRd6lvn6jrEMoG5Mn13PGGZu8/Xnu3Lr4eeUGn0iqrZ6USxLZD7gXwN2nm9novHH7EN7vvhpYbWYLgD2AJmCUmT0E/Ac4291f7eO4Rd62evVqDjtsE5Ys2aTniYtQWwvt7ZX5jKWFC2sKDj/rrP5cdlllPjUprf2x+eYrufvulWy88cYpRJW9ckkimwL57ydpM7N6d19bYNwyYDNgHjDT3f9qZhOA64BjultJQ8MA6uvr0o08amwcVJLl9jWVI7mpU2dwwQXwrW8dlNoya2sr87LlmjVdDa+htrZwgqkEaeyPCy6YjjscdFB69aS30vx+lEsSeQPIL1VtTCCFxg0ClgD/AFbEYZOB7/S0ktbWFT1Nkkhj4yAWLVpWkmX3JZVj/bS1tbPNNvDYY+msu5L3x4EHDmDu3HVP2HbZpY0HHyzN97DU0tofs2a109ZGZvs2STm6SzrlcprzCHAYQLwm8nTeuBnA/mbW38w2Az5AuJh+I/DpOM1BwExEpCyce+5bBYefc07h4VK5yqUlMhk4xMymEZ4SfLKZnQ8scPc7zeyHwN8JSe/r7r7KzC4EbjKzLwDLgYlZBS8i7xYunq/k2mv7MX9+HcOHt3HOObo7qxqVRRJx93bgzE6D5+WN/znw807zPAd8pPTRiUgS48atZdy4tbH7pDK7sKRn5dKdJSIiFagsWiIi1WDHHd+fdQhSAaqtniiJiKRk8OAtsg5BKkC11RN1Z4mISGJKIiIpeeaZ2TzzzOysw5AyV231RN1ZIilZvXpV1iFIBai2eqKWiIiIJKYkIiIiiSmJiIhIYkoiIiKSmC6si6Rk8ODGrEOQClBt9URJRCQlO+74vqxDkApQbfVE3VkiIpKYkohISl566Xleeun5rMOQMldt9URJRCQlixYtZNGihVmHIWWu2uqJkoiIiCSmJCIiIokpiYiISGJKIiIikph+JyKSko026pd1CFIBqq2eKImIpGS33UZlHYJUgGqrJ+rOEhGRxJRERFKydGkrS5e2Zh2GlLlqqydl3Z1lZrXADcCewGpgorsvyBu6nWzWAAAOEklEQVR/GnAGsBa4zN3vyiTQCrDx5NsZcM3V1M2fR9vwEaw49wJWjzsm67CqyrPPOgAjR+6bcSRSzqqtnpR7S+QooL+7jwEuBK7OjTCzrYGzgQ8DHwcuN7ONM4myzG08+XY2PeMU6uf+k5q2Nurn/pNNzziFjSffnnVoIlLhyrolAuwH3Avg7tPNbHTeuH2AR9x9NbDazBYAewCP9X2YhQ1u2i3rEACoXfhqweGDzjqDgZddkjdhDYPbO/okpnwtM+f0+TpFJB3lnkQ2BZbmfW4zs3p3X1tg3DJgs+4W1tAwgPr6uvSjBBobB607sLamJOvqtTVrCg6uWbOGuk4xdv7cFwpuuzJcZk/q6mpTX3cW5SgFleMdpagnvZXmuss9ibwB5Je2NiaQQuMGAUu6W1hr64p0o4saGwexaNGydUc89nRJ1tdbDQeOoX7uP9cZvnaX3Wh9cNrbn7ssR6mlvM6sytHW1g6Q2roz2x8pUzneLe160ltJytFd0in3ayKPAIcBmNm+QP5ReQawv5n1N7PNgA8A6hcpYMW5FxQefs75fRyJiFSbcm+JTAYOMbNpQA1wspmdDyxw9zvN7IfA3wnJ8OvuvirDWMvW6nHH8AYw4Nrvv3N31jnn6+6slI0YsUfWIUgFqLZ6UtPR0fcXUrOyaNGykhRWzfXyonKUF5WjvCTszuryYmm5d2eJVIz29nba29uzDkPKXLXVEyURkZQ8+eQMnnxyRtZhSJmrtnqiJCIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiiZX7jw1FKsZ22+2YdQhSAaqtniiJiKRkyy23yToEqQDVVk/UnSUiIokpiYikpLn5GZqbn8k6DClz1VZP1J0lkpI333wj6xCkAlRbPVFLREREElMSERGRxJREREQkMSURERFJTBfWRVIyaNBmWYcgFaDa6omSiEhK3v/+D2QdglSAaqsn6s4SEZHElEREUrJw4cssXPhy1mFImau2eqLuLJGUvPrqvwHYeuvtMo5Eylm11RO1REREJDElERERSUxJREREElMSERGRxJREREQksZqOjo6sYxARkQqlloiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiiSmJiIhIYnqKby+Z2UbATcBOwMbAZcAzwK+ADmAO8EV3b88oxKJ0UY4XgeuANmA1cIK7v5ZVjMUoVA53vzOOOxb4kruPyS7C4nSxP6YDPwcagDrC/vhXVjH2pJs69RNgLTAfmFju3w0AM6sjbHsjfB9OBmqooO95F2UYRMrfcbVEeu844HV33x84FPgR8H3g4jisBvhUhvEVq1A5riUcdMcCfwD+O7vwilaoHJjZXsCphP1RCQqV47vAr939AOBiYESG8RWjUBm+BXzH3fcjJJbDM4yvN44EcPcPA98kfMcr7XteqAypf8eVRHrv98A38j6vBZqAh+Lne4CD+zqoBAqV47PuPjt+rgdW9XlUvbdOOcxsCHAFcG42ISVSaH98GNjezP4KTAAezCCu3ihUhlnAYDOrIZwFr8kisN5y9z8Cp8ePOwKvUWHf8y7KkPp3XN1ZveTubwKY2SDgdsIZ4vfcPff8mGXAZhmFV7RC5XD3V+OwDwFnAQdkF2FxCpTjG8AvgPOAlRmG1itd1KubgVZ3P9jMvkk4a/xmdlF2r4sydADXx7+XUv6J8G3uvtbMbgbGAccAR1Tg9/xdZSjFd1wtkQTM7L3AA8Akd/8NkN8vOghYkklgvVSgHJjZeEIf9uHuvijL+IqVXw6gGRgG/Bi4DdjFzK7JMLyiFdgfrwN3xtF/BkZnFVuxCpThWmB/dx8B3AJcnWV8veXuJwLDCdcWNskbVTHf8/wymNnAtL/jaon0kpltBdwHnOXuU+PgWWY21t0fJPQFP5BVfMUqVA4zOw44Axjr7i1ZxlesLvbHrnHcTsBt7l723VpdlONh4DBCcjwA+GdG4RWlizK0AG/Ev18hdNGVPTM7Htje3S8HVhBOFB+vpO95F2UYR8rfcT3Ft5fM7FpgPDAvb/A5wA+BfsBc4DR3b8sgvKIVKEcdsBvwAu+cYT3k7t/KILyidbE/DnX3lXlJZN9MguuFLspxInAjMJDQFXSsu7dmEF5RuijDNwjXp9YCbxG+G8/3fXS9Y2YDgV8CWwMbEcowl9AiqYjveRdl+CXhjrnUvuNKIiIikpiuiYiISGJKIiIikpiSiIiIJKYkIiIiiSmJiIhIYkoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiien1uNIjM9sNeBo4xt3vyDqerphZB+FtczfmDXsQuCS+0nR9lp3KcnpYx6bA/UB/4Gh3nx+HjwXuAhYAHYR3fc8BTnb3ZQnXdQmAu1/Sy/mGAhe7+6lFTn83MNHdXyly+vcAVwIfB5YTXq17Sd7rdrub9yTCa19PKmZdkg61RKQYpwC/J7ybudxdbmbvzTqIhPYC3nL33XIJJM/j7r6Xu4909xFx2Nf6OD6AHYH3FTuxux/WiwRSA/yZ8BrdXdx9T+BsYFJMpFKG1BKRbpnZRsAEYH9gmpm9D9iVcMZ/ZJzmS8D7gfOBq4CxhHe2/8rdfxAPAN+Nw+YQDn6/ADYHto3TfTOu6yfAfsDLhLPuS939QTO7EPhMXMZfgP9290Lvdr6G8F7yj3cqx07Ag+6+U/x8CYQzcTNbCPwR+CCwELiJcPDaHjjJ3R+KizndzH4Q/z4vxvUe4HrC++nrgCvd/bfxrPhEYAvgz+7+9gHfzLaK5d+B8O7xrwFPxPVubWZ3uvsnu9glOQ/mymhmi4DHgW2AvYGvAMcBbcB9wFfdvc3MvgKcDiwGWoEZcf4Od6+Jf59EPJs3s4OBqwknmy8AxwI/BHY2s+uBy4FfE94B3w6c7e7TO2335wn1YSzwCWAwsDNwn7t/oVOZDiQkqY/m9q27zzKzywjvan8wtghbCHVwPLA7cDGhxfIC8GZc797AD4ABsbxnuPtzned399k9bGfpgVoi0pPDgRfimfEfCQehe4AmM2uI03wWuBU4DcDdRwH7AJ8ys/3jNMMJB4cTgc8Bv3X3fQkHgXPNbAvgTMIBaQRwMuGAiJl9AmiKn0cC2xESWyFXAkPMbGIvyrgVcI+7jyR0JY1z9/2BS4Bz86Z7M05zInCrmW1MOIDNdPcm4ADg62a2c5x+e2BkfgKJrgPud/c9gGMIyaMGmEhocXSbQMxsIPBJ4NE4aAtC8toLODiOG03YVu8HzjSz0YQW5cg4zfY9rGNjQoI40d13J3RnnkhIro+7+xeBU4G73H008E1C8u/Oh4BPA3sAR5rZ7p3G7x2X3fnk4G9xXM5T7m7AfwgnJwcAY4BBMfZ+hBOJY2NdvBr4eef5lUDSoSQiPTkZ+G38+3fxcw0wGfi0me0ADHH3x4gHMDObDfyDcKDKHSjc3ZfGP74HvGhmXwauBfoRkschwK/dvcPdXwBy/eAHE1oJMwln7KMJZ5LrcPe1wEn0vlvrnvj/C4TrErm/G/Km+UVcx1OEA9iIGNuZscx/i+XIxfZEjKezj+Yt61nCtvpgD/GNNrPZcT0zAAe+nzf+H/H/gwgJekVc901x2Fjgbnd/092XE7onu7M78HLuQOvuF7n7dZ2m+SvwZTP7DTAE+FEPy5zm7svcfQXwLKFVkq+Dwr0j/eK4nFxZPxSX+Vos661x+HBCl9udcXtdSWj9dJ5fUqDuLOmSmW0JHEpodZxDSB4NwNHAJODS+PnXcZY6QtfJH+L8WxC6F/YFVuYt92rCl/o3hNbNwXHZbRQ+sakDrnH378f5Nyd0AxXk7nPMLNetldMR15GzEbAmb5638sZ1tez84bVx/jrgOHd/Isa2FaG7ZAJ5Ze6kcxlr6Pm7+Li7j+1qpLvn1tXVsjuXf22MnRh3TWwBbBQHrSHvwG1mmxHP9PPW+YiZ7QIcQehaOolwItCVVXl/d44HwsH9bDPbyN3X5A0fQ+iuy8mVtVCZiOV6NrbMMLM6Qmuz8/ySArVEpDvHA1PdfXt338nddwT+Bzgz9n1vG6fJJZH7gdPMbKN4reBhQgLp7BDgKnf/PWCE7qk6wpntZ82sxsy2JZw9d8TlHm9m7zGzekLiOaaH2K8knB2PiZ+XAIPNrDF21XyitxuD2IUWu4YGAc0xts/H4dsATxGudXTnfkJXELHr68O80zW1vu4HPmdmm8RtdTLwAKFVd6SZbWZm/YFxefMsBnaNF7ZzXWkObBmTBMBXCd2Na4kJz8y+S0igNwNnAaPWJ3B3/zvwT+CaeH0MM2sidBleWmCWh4ExZradmdUSEhnAPMK+znWlnkI4YZESUBKR7pwE3NBp2PXAPmY2gtC9tSx2yUC4KN4MzCKcOf6yi1tiLyfccTOHcPB5HBgK/AxYRuh/v5nQnbTS3f8M3EE4U50DzI7ju5TXrZX7vJTQf/4YIVnN6KnwBbzHzGbFch4bz5a/DWwSy3I/oSX2rx6WczbwUTN7mpAQJ7r7qwniWYe730W4HfhxwgH5ReC62C11DaH8DxG2bc6FcZ5HCckDd19FuDh/i5k9BewCXAHMBTY3s0mEazvHxC6jycAJKRThaGA1MMfMniF0dx5XqB65+2vAl3hnf74Rh68G/gu4OsZ+IjFpS/pqOjoK3eAi0vfM7HCgxt3vit0ns4DR7t6ScWgi0gUlESkb8Ydsk4D3xEHfc/dbu5lFRDKmJCIiIonpmoiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiif1/VLUIXpAn6MgAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with 0.05 (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name=0.05, figsize=(6,4),                            \n",
    "                             ylabel='Discount Level\\n', xlabel='\\nAverage Number of Products in Order');"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 59,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAZEAAAEfCAYAAACAm/v/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XmclWX9//HXLCCipAOOewoqfsgdBg3LhVIrtxTzGyWuiUtmbt8W2y39ft2yzbLNLEXLvmaU+VOTcCkXQgEXEj4OuS8YMAMiCsrM/P64rqPH4cyZMzfnzH3uw/v5ePBg7v1z3fd17s99Xfd9zl3X1dWFiIhIEvVpByAiItmlJCIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiiTWmHYAEZjYceBr4u7vv323ab4ATgGZ3X1xkHRcAm7j7mWY2GRjo7leZ2enAxu5+SZFlxwM/dvdd+hj3xsB3gPFAJ9AV1/Orvqyn0szsEWC8uy9NYdu/AQ4CFgF1wHrANOBcd1/dy7LfBB519z9XOs5SmdmuwGPA+e5+ad74C3in/j0DHO3uD3db9h5gW2AZoa4MBB4GPuvurxfZ5seBA939rLWMfQpwKXABsEMcvTswF+gA2t39Q0WWP5FQrsPWJo64riOBXd39wrVdV5rUEqkuKwEzs21zI8xsA+CDCda1DzAYwN1/ViyBJGVmg4B7gReAMe6+B3Ak8BUzO7nc21sb7r5HGgkkz/djDLsDexCO6cQSlvswMKCikfXdGcANwJlmluRC9ItxX4wGdiHU0+8UW8DdbylDAvkksMzd57r70TGGPeLkD8XhHhNIubn7n4D9zGyPXmeuYmqJVJcO4PfAJOB/47ijgD8D/w1rthgKtSDMbALwceAgM3sDaObdV4i/I1wZbwxc4e4/zQ/CzAYSrtb2BxqAOcBZ7v5qt3gnAq+5+2W5Ee7+bPywDozr2hn4MTCMcOV5hbtfF+O+GHgOMGAFcAlwVhy+2d3PjfNdCjwLjALeAE5093lmtiPwE2AIsAXwCDDR3Vea2aq433aP+/OhuB8ageuATWLI/8/dvxFj/QbwaWA18CRwprsvjFfPDxJO/NsAfwNOJVyEXRnHvwU8BZzk7q9R3AaE1sjCuN2NgB8CuxISxnTgi8BpwFjgcjN7L3Ceu783LvNXYKG7n2Bm6wEvAdsBW8Z1DSMcux+5+zVxmcOBr8dj8zrwBXd/MLYghsd9uC3wInCsu7/cPXAzGxL35/sJyfBo4MZeytsjd+8ys7uBQ+L6PxPLPRAYClzi7j/NbwHE49FGqA8/jfF+ndAS7iAkqb8X2Ny3gf/qLabYKzDX3TcsNJw339GEunmIu3u8cDqDUC+WAGcCzxMust7v7k/G5f4GXBlbl78CvgVM6HVnVSm1RKrPdcBxecMnAL/pywrcfSpwC+Hq9ycFZhkK7EnogvpO7J7Idz7hRNoSr5xfIpzguxsL3F9g+7PdfUa8Sr2F8IHZDTgY+F8z2zvOuifhJLEH8CrwFeBQYAzwOTPbMm87uXX8GpgSx58CXOvu4whdEyPi8hBOQn9xd+vWpXIK8JS7jwH2BUaa2UZmdlKMb8+4nbm8e79vH/dXrhz7A3vHcbu7ewshiexWYD8BnGtmj5jZ44QTy8vAfXHa94FZcR2jCQnuvHjsHiacFL8PvGVmu5jZ+oQT6Ifj8gcA/yQk4j8QuplaYoxfMLNxZjaScGFySGwBnAr8MbZ0ifviv9x9VFzP6T2U4zjgSXefB1wLnNvDfCUxsybCxcjdZrYh4fjkYpwIXNbDou3uvpO7XwlcDpzh7mOBbxCOSfft7AKs7+5z1ybevPV9mtAlNj4mkP0Jn9V9Y+yXAVPdfQVhP02Oy20P7AjcGld1J3BwPKaZpCRSZdx9FtBhZi3x6nNIuSp+np+4e5e7vwDcAXyk2/TDgCOAOfFewpHATgXW00nxOrQjMMjd/wjg7i8BNwMfi9Ofdvc58e9/A3e7+5vxvs+rhGQH4Z7AP+Lf1wCjzWwY8GVgkZl9iXBFuiWQf7X4D9Z0B/AJM7uNcMV7vrsvIySGX8cPPYSr+QNiqwxCQuqMrbEFMbbHCVe+/zSzCwmtpwd62Be57qxdCS2ilcCP4rTDgNPivp4F7EVolXQ3NcY5ntBa+U9s6R1B2K87EpLdNXFd9wLrExLTQYSWxvQ47QbC8cvdF7gnr6U5h3f2fXenE06KANcDLXkXBaW6PCbUR4F7CMn0h7EFdxhwaNyfX+PdxzNf/rG9EZhqZlcDTRROPKMIx60c9iRcyPzM3Z+P4w4l7MsH4v69DGgys6HAVcDxZjaAkLyvdvcOAHdvI9SFbckodWdVpynAsYQbsVO6Tesi3JzNGUjf5d/MrSecCPM1AGe7++0A8QpxUIH1zAA+131kvAm6L6FV1f3H2ep5p49/Vbdpb5UQb67sHYRuuUbg/4D/R+hqyt83a3QruftDZjYCOJBwJT/TzA4mlDk/1vq47tz63sib1gXUuftSM9ud0J31YeD3Zna5u1/VQzlyMayIJ7yL46gGQitgHrz9sEKhH7WbClxISJbTgP8AHyUklq/G8cvy+vkxs80IN7FPAaa7+8S8ae8ltDInFCpf942b2b6EexhfMrP/jqPfJLRGHixW5m6+6O5/KLD+reN6fkFILH8gJJVC3j627v41M7uGkChPJHT97tVt/i5Kv2ju7TO2lNDt+X9mdqu7P0M4hlPc/cuxLPWE49Hu7m1m9hgh2R9D6ArMt5o1P4OZoZZIdbqe0Hc7Efhtt2mLgG3MbFMzqwM+1cM6VtPzDdnjAcxsG0Ir5PZu0/9KuGk6MH4Yfsk7J7x8NwMbmdmXzKwhrnM74HvAPGA+oQvmqDhtS+AThBNgX+xhZrluolOBB+JN8o8C33H338dp7yd8mHtkZpcA34g3Nc8G/kU4Md4BfCave+cswpNy3RNd/roOI7QIHnD3CwhJc8/eChP36cHAzDjqr4Turrp4f+MWQn86vPs4PkBoaRxGuC9zJ3AOoXtpCeDAG2Z2bNzOewndci0xzo+Y2ag47RDCE1Z96Ub5LOFE+V53H+7uw2MsR8W6tLbGEur3RbFsh8VYezymZtYY7/MNdvefEe5J7Bb3Yz4n7LtSLAUGmlmu9f3pbtNb3f0uwv2w6+Lx/CvwaTPbIs5zOmGf5/yE0O02M7bIc/FvRLhAe67E2KqOkkgVcvcXCSfh1tjczZ/2BPBzQl/5DMJjwYXcDpxuZl8pMG2Emc0inDjPcnfvNv1C4BlCt8YThKuy/+42D+7+JuGKfmfg8Xi1dTNwkbtf4+5vEbrCzo7T/kY46d/dyy7obiHwP/F+wpG8c8/oq4RujMcJ++Re3ume6ckPCElpLmEfPk3oDvlVjG+mmc0j3JeZ1Mu6bickoblm9jDwAcLN20Jy90TmEI7tewgJAELC2oDQPfZY/D/XJXMLcLGZneDunXGby919EeFqfShhn+eOxxHA5Li/7yQkzPtjvTkVuDF2I10IfLyEhwAAMLNmwkMel+ePjyfTB4HPl7KeXtxJuAnthH20DSGp9HhMPTwifQ7wWzObDdwEfKZ78o9dwm+Y2ft6CyJ2b34JuN3MHuLdrbR8/0M4bl909zsJN9mnxX1/DHCUu+dalLcSuuZ+1m0dHwFuLXaxUu3q9FPw6xbr4fn9amUJv78i0p2ZHQPs4+5npLDtvYGrgV3yEgtmdhdwjrs/1t8xlYtaIiKyTnD33wJDCzyNWFFmdi2htXtytwQyAfhHlhMIqCUiIiJrQS0RERFJTElEREQSUxIREZHE1qkvG65e3dHV2Fj0awRSxPTp4bH3Aw44IOVIJItUfzJtjS+f5qxTSaS9vcdfml4rzc1DWLRoeUXW3Z96K0dHRydA1Zd1XTkeWZErR1bqT09q7Xj0dZmeqDtLREQSW6daIrJ2Nt64p9/kE+md6k9tUhKRko0YsWPaIUiGqf7UJnVniYhIYkoiUrKXXnqOl17K7I+NSspUf2qTkoiU7JVXXuKVV17qfUaRAlR/apOSiIiIJKYkIiIiiSmJiIhIYkoiIiKSmL4nIiVraNDvjklyqj+1SUlESrbbbnumHYJkmOpPbVJ3loiIJKYkIiVbvvxVli9/Ne0wJKNUf2qTkoiUbMGCJ1iw4Im0w5CMUv2pTUoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiSiIiIpKYvmwoJdtxx53TDkEyTPWnNimJSMk22GBI2iFIhqn+1CZ1Z4mISGJKIlKyRx6ZySOPzEw7DMko1Z/apO4sKVlXV2faIUiGqf7UJrVEREQksapoiZhZPXAVsDuwCpjs7gvypp8LfCoO3ubu3zazOuAFoDWOf9Ddv9KPYYtIAq2t85k1aybt7UtoahpGS8tejBw5Ku2wJKGqSCLAkcAgd9/bzMYBVwBHAJjZdsAk4P1AF/APM5sKvA7MdvfDU4pZRPpo8eLFPPjgA28Pt7UtZtq02wCUSDKqWpLIPsAdAO4+w8zG5k17HviYu3cAmNkAYCXQAmxlZncDbwDnurv3b9giwZQpV5d9nfX1dXR2dpV9vf0tV44RI4bz/PPPFZxn+vQ7mDHjvn6Nq6/SPh7HHTc5tW0XUy1J5D3AsrzhDjNrdPfV7v4WsDh2X10OzHH3J81sc+Bid7/JzPYBrgeKvjqtqWkwjY2VeUVnc3NtPANfrBw77LB9r/NUi/6Osb6+LlPr7W/19XUsXbqUlStXFpze2dmZibKmGWM563Q511UtSeRVIL9U9e6+OjdgZoOAa4DlwBlx9MPAagB3v8/MtjKzOnfv8VKhvf31sgcO4YAsWrS8IuvuT72VY8iQZoCqL2sax2PSpJPLvs5arFc33ngdbW2L15hn2LBNmDjx+P4OrU/SPh7l2naSchRLOtXydNb9wCEA8Z7I47kJsQXyZ+BRdz8t160FfAs4J86zO/BcsQQiIulradmr4PgxYwqPl+pXLS2RqcBBZvYAUAecZGbnAQuABmB/YD0zOzjO/xXgEuB6MzuU0CI5sd+jXsc89VS45bTddpZyJJJFTz3lNDTUcdBBhzB79kza29toahrKmDF6OivLqiKJuHsncHq30fPz/h7Uw6KHViYiKWTZsva0Q5AMy9Wf0aPHKWnUkGrpzhIRkQxSEhERkcSUREREJDElERERSawqbqxLNuilQrI2VH9qk5KIlEyvN5W1ofpTm9SdJSIiiSmJSMkWLVrIokUL0w5DMkr1pzapO0tK9sILzwDQ3Lx5uoFIJqn+1Ca1REREJDElERERSUxJREREElMSERGRxJREREQkMT2dJSXbbbeibx8WKUr1pzYpiUjJGhoq8356WTeo/tQmdWdJyVaufIOVK99IOwzJKNWf2qQkIiWbN+9R5s17NO0wJKNUf2qTkoiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJFbV3xMxs3rgKmB3YBUw2d0X5E0/F/hUHLzN3b/d/1GuO0aMGJl2CFImra3zmTVrJu3tS2hqGkZLy16MHDmqottU/alN1d4SORIY5O57A+cDV+QmmNl2wCTgA8DewEfMbLdUolxHbLzxMDbeeFjaYchaam2dz7Rpt9HWtpiuri7a2hYzbdpttLbOr+h2VX9qU1W3RIB9gDsA3H2GmY3Nm/Y88DF37wAwswHAyv4PUarRlClXpx3CWquvr6Ozs6vs612x4rWC46dPv4MZM+4r+/YqVY7+dt5556YdQlWq9iTyHmBZ3nCHmTW6+2p3fwtYbGZ1wOXAHHd/stjKmpoG09hYmZ9eaG4eUpH19rdi5bj//vsB+OAHP9hf4SRWX1+XdghlUYlydHZ29ji+Uvutvr6OrbbaCoAXX3yxItvoD+vC57yvqj2JvArkl7be3VfnBsxsEHANsBw4o7eVtbe/XvYAIRyQRYuWV2Td/am3cqxYEfZftZe1uXkIkyadnHYYa61S9erGG6+jrW3xGuOHDduEiROPL/v2cuWYM2cGAOPHf6zs2+gv1V73S5GkXhVLOtV+T+R+4BAAMxsHPJ6bEFsgfwYedffTct1aIlJcS8teBcePGVN4vEgx1d4SmQocZGYPAHXASWZ2HrAAaAD2B9Yzs4Pj/F9x9wfTCVUkG3JPYc2ePZP29jaamoYyZkzln86S2lTVScTdO4HTu43Of4RkUD+GI1IzRo4cpaQhZVHt3VkiIlLFqrolItVl2LBN0w5BMkz1pzYpiUjJttlmu7RDkAxT/alN6s4SEZHElESkZM899xTPPfdU2mFIRqn+1CYlESnZkiX/YcmS/6QdhmSU6k9tUhIREZHEeryxbmZFf//A3a8rfzgiIpIlxZ7O+lCRaV2AkoiIyDquxyTi7iflD5tZk7u3Vz4kERHJil6/J2JmuwO/BwbHH0H8O/BJd59d6eCkugwcuF7aIUiGqf7UplK+bHglMAH4rbu/ZGafBX4G6Cc/1zE77zw67RAkw1R/alMpT2cNdvd5uQF3nwbokkJEREpKIm2xS6sLwMwmAW0VjUqq0tKlS1i6dEnaYUhGqf7UplK6sz4LXAvsbGZLgVZgUkWjkqr09NOtAIwePSzlSCSLVH9qUylJZEN338fMNgAa3P3VSgclIiLZUEp31q/M7HHgTGCjCscjIiIZ0msScfexwFHAQOA2M7vbzD5T8chERKTqlfTbWe7eCnwPuBh4D/CVSgYlIiLZUMqXDScAxwDjgL8An3f3ByodmIiIVL9SbqwfS/idrGPc/a0KxyNV7H3v2z3tECTDVH9qUyn3RD4BLAZONrOBZrZf5cOSajRo0PoMGrR+2mFIRqn+1KZek4iZnQ1cBJwHDAF+bmZfqHRgUn06Ojro6OhIOwzJKNWf2lRKd9aJwPuBf7r7EjPbE5gJfLdcQZhZPXAVsDuwCpjs7gu6zdMMPADs6u4rzawOeIHw5UeAB91dN/wr6LHHHgJg9OhxKUciWVSo/rS2zmfWrJm0ty+hqWkYLS17MXLkqLRClARKSSId7v6mmeWGVwLlvpw4Ehjk7nvHXwq+AjgiN9HMPgpcAmyWt8z2wGx3P7zMsYhIP2htnc+0abe9PdzWtvjtYSWS7CglidxrZt8FNjCzI4FTgbvKHMc+wB0A7j7DzMZ2m94JHAjMyhvXAmxlZncDbwDnuruXOS6RxKZMuXqtlq+vr6Ozs6tM0aQnV44RI4YD7+yXFSteKzj/9Ol3MGPGff0TXB9U0/E47rjJaYfwtlKSyBeBU4BHgeOB24CfljmO9wDL8oY7zKzR3VfD278cTF5rCOBl4GJ3v8nM9gGuB/YstpGmpsE0NjaUNfCc5uYhFVlvfytWjoaG+l7nqRbVEGN9fV1VrKMa5Jcj93dnZ2fBeTs7O6u23NUS19rW73J+PnpNIu7eCfw8/gPAzM4ndC+Vy6uEm/Y59bkEUsTDQC7J3GdmW5lZnbv3eKnQ3v762kdaQHPzEBYtWl6Rdfen3srR0RE+9NVe1mo5HpMmnbxWy1dLOdZWrhxz5swA3tkvN954HW1ti9eYf9iwTZg48fh+jbEU1XQ81iaOJOUolnRK+sZ6AV9NuFxP7gcOAYj3RB4vYZlvAefEZXYHniuWQESkurS0FH6v3Zgxet9dlpTSnVVIudt0U4GDzOyBuO6TzOw8YIG739LDMpcA15vZoYQWyYlljkm62Xrr4WmHIBnWvf7kbp7Pnj2T9vY2mpqGMmaMns7KmqRJpKxX/LHL7PRuo+cXmG943t/twKHljEOKa27ePO0QJMMK1Z+RI0cpaWRcj0nEzH5N4WRRh16PKyIiFG+J3JNwmtSoJ5/8FwA77rhzypFIFqn+1KYek4i7X9ufgUj1W7GiOp5MkWxS/alNSZ/OEhERURIREZHkSvkV3zV+1NDM/rcy4YiISJYUezrrEmBT4ONmNjJv0gDCr/qW+wuHIiKSMcWezroZ2Ak4ALg3b/xq4DuVDEqq00YbNaUdgmSY6k9tKvZ01kPAQ2b2J3df1tN8su7YbjvrfSaRHqj+1KZSvrF+pJldAeQuI+qALnevzM/hiohIZpSSRL4JjHf3uZUORqrbyy+/AMAWW2ydciSSRao/tamUR3xfUgIRgIULX2DhwhfSDkMySvWnNpXSEpllZn8A7iS8GhcAd7+uYlGJiEgmlJJENgKWA3vnjesClERERNZxpbzZ8KT+CERERLKn1yRiZk9T4Cfh3X27ikQkIiKZUUp31vi8vwcAE9D7RNZJdXX6qTVJTvWnNpXSnfVst1GXm9nDwEWVCUmq1R576N3XkpzqT20qpTtrv7zBOmBnYP2KRSQiIplRSnfWt/P+7gIWAydUJhypZrmXCm2wwZCUI5EsUv2pTaV0Z30IwMyGAA3uvrTiUUlVyr3edPTocSlHIlmk+lObSunO2g64EdgeqDOzZ4GJ7v5kpYMTEZHqVsrjEj8HLnP3Ye4+FLgY+EVlwxIRkSwoJYls4u5/yA24+/8BQysX0jvMrN7MfmZmD5rZPWa2Q4F5ms2s1cwG9UdMIoVMndrI/vsPZostNmT//QczdWoptxtFsq+UJLLKzMbkBsysBXi9ciG9y5HAIHffGzgfuCJ/opl9lPCbXpv1Uzwia5g6tZHTTlufefMa6OioY968Bk47bX0lElknlFLLzwFuNrM2wiO+Q4GJFY3qHfsAdwC4+wwzG9tteidwIDCrn+JZ5738cj2TJ2+QdhhF1ddDZ2f/xbhwYV3B8WeeOYiLLlrjxx5K1t/lqJRcOS68sJ4ttuhMOxwps7qurt4ruZkNAHYktFyecffllQ4sbvdq4GZ3vz0OPwds5+6ru833DDDK3VeusZI8q1d3dDU26l1aSbW3tzNhAjzzjF5zmu/Z7l/HzbPttv0XR7UbPrydqVOhqUn1J4MKXylR2tNZnwS+4e67mtn2wBNmdqa7/7mcEfbgVSD/ofL67gmkL9rbK9ML19w8hEWL+iWvVlTv5Wjkppsg/Khz9erv47H//oOZN2/Ni5OddurgnnuS17naq1eNrF5NZstUe8ejb8v0pJR7Il8ndBnh7v8GWnj3FxAr6X7gEAAzGwc83k/bFSnZOee8WXD82WcXHi9SS0pJIgPd/ZXcgLv/hyJNmzKbCqw0sweA7wPnmtl5Zvbxftq+5HnssYd47LGH0g6j6kyYsJqf//wNdtqpg8bGLnbaqYOf//wNJkxI3GiuSao/tamUG+v3mdnvgBsIP3vyKeDBikYVuXsncHq30fMLzDe8P+JZ13V0dKQdQtWaMGG1kkYvVH9qUylJ5HPA54HTgLeAe4GfVjIoERHJhl67s9x9FXCDux8O/ABYDegRJxER6T2JmNlPgYvMbCfgemAM8MtKByYiItWvlBvrewGTgU8C17j7yYBVNCoREcmEUu6JNBCSzRHA6WY2GMj+12ilzzbbbMu0Q5AMU/2pTaUkkeuAl4H73f2fZvYE4Zd9ZR2z5ZbbpB2CZJjqT20q5cb694DN3X1CHLWfu/+wsmGJiEgW9NgSMbNfuPupZnY30GVm+dNw9w/3R4BSPZ5+OryHbMSIHVOORLJI9ac2FevOynVZXdAPcUgGLF3alnYIkmGqP7WpxyTi7rmfV18CjALeAJ5w96f7IzAREal+xbqzNgX+AOwCtBJ+8sTM7EHg0+6+rH9CFBGRalXsxvrFwH3AZu7+fncfR3iD4KOAbqyLiEjReyIfcPf35Y9w9zfN7KvAI5UNS0REsqBYS6TgWwLdvYvwWlpZxwwevAGDB+t7ppKM6k9tKtYSKfbe3OQvjpbMMts17RAkw1R/alOxJLKzmT1VYHwdsEWF4hERkQwplkT0jSB5l8WLwwsuN9lks5QjkSxS/alNxb4n8mx/BiLV7/nnw1eEdBKQJFR/alMpPwUvIiJSkJKIiIgkpiQiIiKJKYmIiEhiSiIiIpJYKW82rDgzqweuAnYHVgGT3X1B3vRTgNOA1cBF7n6rmQ0FngTmxtmm6mVZlbXrri1phyAZ0to6n1mzZtLevoSmpmHssUcLO+ygbw7UmqpIIsCRwCB339vMxgFXEN7pjpltDpwFjAUGAfeZ2TRgDPA7d/98SjGvcxobB6QdgmREa+t8pk277e3htrbF3HXXX2loaGDkyFEpRiblVi1JZB/gDgB3n2FmY/Om7UV4v/sqYJWZLQB2A1qAMWZ2L/Af4Cx3f7mf416nrFq1CoD11lsv5Uiq15QpV5dtXfX1dXR2ZvMXhlaseK3g+Lvu+iszZtzXz9GURzmPx3HHTS7LeqpBtSSR9wD57yfpMLNGd19dYNpyYCNgPjDL3f9mZpOAK4Gji22kqWkwjY0N5Y08am4eUpH19rdi5Zg+fSYABxxwQH+Fk1hax6O+vq6q19dfOjsL/0ZrR0dHZssE5TseaZ8vyrn9akkirwL5paqPCaTQtCHAUuCfwOtx3FTgO71tpL399d5mSaS5eQiLFi2vyLr7U2/l6OgIJ4ZqL2uax2PSpJPLtq4s16sbb7yOtrbFa4wfPHhwWfdRfyrn8UjzuCYpR7GkUy1PZ90PHAIQ74k8njdtJrCvmQ0ys42A9xFupl8NfCLOcwAwCxGpCi0texUcv9VWW/dzJFJp1dISmQocZGYPEH4l+CQzOw9Y4O63mNmPgH8Qkt7X3H2lmZ0PXGNmZwArgNrpZBTJuNzN89mzZ9Le3kZT01CGDh3KJptsknJkUm5VkUTcvRM4vdvo+XnTfwn8stsyTwMfqnx0IpLEyJGjGDly1NvdJ3PmzEg7JKmAaunOEhGRDKqKlohkw7bb7pB2CJJhqj+1SUlESjZ0qPqzJTnVn9qk7iwREUlMSURK9sQTj/DEE4+kHYZklOpPbVJ3lpRs1aqVaYcgGab6U5vUEhERkcSUREREJDElERERSUxJREREEtONdSnZ0KHNaYcgGab6U5uURKRk2267fdohSIap/tQmdWeJiEhiSiJSshdeeIYXXngm7TAko1R/apOSiJRs0aKFLFq0MO0wJKNUf2qTkoiIiCSmJCIiIokpiYiISGJKIiIikpi+JyIlGzBgYNohSIap/tQmJREp2S67jEk7BMkw1Z/apO4sERFJTElESrZsWTvLlrWnHYZklOpPbarq7iwzqweuAnYHVgGT3X1B3vRTgNO14Jx1AAAOGElEQVSA1cBF7n5rKoFmQGvrfGbNmkl7+xKamobR0rIXI0eO6tM6nnrKARg9elwlQpQap/pTm6q9JXIkMMjd9wbOB67ITTCzzYGzgA8CHwUuNrP1UomyyrW2zmfatNtoa1tMV1cXbW2LmTbtNlpb56cdmohkXFW3RIB9gDsA3H2GmY3Nm7YXcL+7rwJWmdkCYDfgof4Ps7ApU65OOwQAVqx4reD46dPvYMaM+94erq+vo7Ozq8f1jBgxHCh/uY47bnJZ1yci/afak8h7gGV5wx1m1ujuqwtMWw5sVGxlTU2DaWxsKH+UQHPzkDXG1dfXVWRbfdXZ2dnj+O4xlhJzuctVaN9V4zrTUEvlaGiof/vvrMpy7PnKWY5qTyKvAvmlrY8JpNC0IcDSYitrb3+9vNFFzc1DWLRo+RrjJ006uSLb66sbb7yOtrbFa4wfNmwTJk48/u3hnsqRM2fODKD85Sq2zSR6K0dW1Fo5OjrCxUxWy1Rrx6Ovy/Sk2u+J3A8cAmBm44DH86bNBPY1s0FmthHwPmBu/4dY/Vpa9io4fsyYwuNFREpV7S2RqcBBZvYAUAecZGbnAQvc/RYz+xHwD0Iy/Jq7r0wx1qqVewpr9uyZtLe30dQ0lDFj+v501qhRu1UiPFlHqP7UpqpOIu7eCZzebfT8vOm/BH7Zr0Fl1MiRo/qcNLpbf/3BZYpG1kWqP7Wp2ruzpIp0dnb2eJNepDeqP7VJSURK9uijM3n00ZlphyEZpfpTm5REREQkMSURERFJTElEREQSUxIREZHElERERCSxqv6eiFSXrbbaNu0QJMNUf2qTkoiUbNNNt0g7BMkw1Z/apO4sERFJTElEStba+gStrU+kHYZklOpPbVJ3lpTstddeTTsEyTDVn9qkloiIiCSmJCIiIokpiYiISGJKIiIikphurEvJhgzZKO0QJMNUf2qTkoiUbIcd3pd2CJJhqj+1Sd1ZIiKSmJKIlGzhwhdZuPDFtMOQjFL9qU3qzpKSvfzy8wBsvvlWKUciWaT6U5vUEhERkcSUREREJDElERERSUxJREREElMSERGRxOq6urrSjkFERDJKLREREUlMSURERBJTEhERkcSUREREJDElERERSUxJREREElMSERGRxPQrvn1kZgOAa4DhwHrARcATwG+ALmAu8Dl370wpxJL0UI7ngCuBDmAVcLy7v5JWjKUoVA53vyVOOwb4vLvvnV6EpenheMwAfgk0AQ2E4/HvtGLsTZE69TNgNfAkMLnaPxsAZtZA2PdG+DycBNSRoc95D2UYQpk/42qJ9N2xwBJ33xc4GPgx8D3g63FcHXBEivGVqlA5fkg46Y4H/gh8Ob3wSlaoHJjZHsDJhOORBYXKcRlwg7vvB3wdGJVifKUoVIZvAd9x930IieXQFOPri8MB3P2DwDcJn/Gsfc4LlaHsn3Elkb67CfhG3vBqoAW4Nw7fDhzY30ElUKgcn3L3R+JwI7Cy36PquzXKYWbDgEuAc9IJKZFCx+ODwNZm9jdgEnBPCnH1RaEyzAGGmlkd4Sr4rTQC6yt3/xNwahzcFniFjH3OeyhD2T/j6s7qI3d/DcDMhgB/IFwhftfdc78fsxzYKKXwSlaoHO7+chz3AeBMYL/0IixNgXJ8A/gVcC7wRoqh9UkP9epaoN3dDzSzbxKuGr+ZXpTF9VCGLuAn8e9lVH8ifJu7rzaza4EJwNHAYRn8nL+rDJX4jKslkoCZvRe4G5ji7r8F8vtFhwBLUwmsjwqUAzObSOjDPtTdF6UZX6nyywG0AiOBnwI3AjuZ2Q9SDK9kBY7HEuCWOPkvwNi0YitVgTL8ENjX3UcB1wFXpBlfX7n7CcCOhHsL6+dNysznPL8MZrZBuT/jaon0kZltBtwJnOnu0+PoOWY23t3vIfQF351WfKUqVA4zOxY4DRjv7m1pxleqHo7HznHacOBGd6/6bq0eynEfcAghOe4H/Cul8ErSQxnagFfj3y8RuuiqnpkdB2zt7hcDrxMuFB/O0ue8hzJMoMyfcf2Kbx+Z2Q+BicD8vNFnAz8CBgLzgFPcvSOF8EpWoBwNwC7As7xzhXWvu38rhfBK1sPxONjd38hLIuNSCa4PeijHCcDVwAaErqBj3L09hfBK0kMZvkG4P7UaeJPw2Xim/6PrGzPbAPg1sDkwgFCGeYQWSSY+5z2U4deEJ+bK9hlXEhERkcR0T0RERBJTEhERkcSUREREJDElERERSUxJREREElMSERGRxJREREQkMSURERFJTElEREQSUxIREZHElERERCQxJREREUlMSURERBJTEhERkcSUREREJDElERERSUyvx5VemdkuwOPA0e5+c9rx9MTMughvm7s6b9w9wAXxlaZrs+6yrKeXbbwHuAsYBBzl7k/G8eOBW4EFQBfhXd9zgZPcfXnCbV0A4O4X9HG5EcDX3f3kEue/DZjs7i+VOP+GwKXAR4EVhFfrXpD3ut1iy55IeO3riaVsS8pDLREpxWeAmwjvZq52F5vZe9MOIqE9gDfdfZdcAsnzsLvv4e6j3X1UHPfVfo4PYFtg+1JndvdD+pBA6oC/EF6ju5O77w6cBUyJiVSqkFoiUpSZDQAmAfsCD5jZ9sDOhCv+w+M8nwd2AM4DLgfGE97Z/ht3/348AVwWx80lnPx+BWwMbBnn+2bc1s+AfYAXCVfdF7r7PWZ2PvDJuI6/Al9290Lvdv4B4b3kH+1WjuHAPe4+PA5fAOFK3MwWAn8C3g8sBK4hnLy2Bk5093vjak41s+/Hv8+NcW0I/ITwfvoG4FJ3/128Kj4B2AT4i7u/fcI3s81i+bchvHv8q8DsuN3NzewWd/94D4ck555cGc1sEfAwsAWwJ/BF4FigA7gT+JK7d5jZF4FTgcVAOzAzLt/l7nXx7xOJV/NmdiBwBeFi81ngGOBHwHZm9hPgYuAGwjvgO4Gz3H1Gt/3+DKE+jAc+BgwFtgPudPczupVpf0KS+nDu2Lr7HDO7iPCu9ntii7CNUAcnArsCXye0WJ4FXovb3RP4PjA4lvc0d3+6+/Lu/kgv+1l6oZaI9OZQ4Nl4ZfwnwknodqDFzJriPJ8CrgdOAXD3McBewBFmtm+cZ0fCyeEE4NPA79x9HOEkcI6ZbQKcTjghjQJOIpwQMbOPAS1xeDSwFSGxFXIpMMzMJvehjJsBt7v7aEJX0gR33xe4ADgnb77X4jwnANeb2XqEE9gsd28B9gO+Zmbbxfm3BkbnJ5DoSuAud98NOJqQPOqAyYQWR9EEYmYbAB8HHoyjNiEkrz2AA+O0sYR9tQNwupmNJbQoR8d5tu5lG+sREsQJ7r4roTvzBEJyfdjdPwecDNzq7mOBbxKSfzEfAD4B7AYcbma7dpu+Z1x394uDv8dpOY+5uwH/IVyc7AfsDQyJsQ8kXEgcE+viFcAvuy+vBFIeSiLSm5OA38W/fx+H64CpwCfMbBtgmLs/RDyBmdkjwD8JJ6rcicLdfVn847vAc2b2BeCHwEBC8jgIuMHdu9z9WSDXD34goZUwi3DFPpZwJbkGd18NnEjfu7Vuj/8/S7gvkfu7KW+eX8VtPEY4gY2KsZ0ey/z3WI5cbLNjPN19OG9dTxH21ft7iW+smT0StzMTcOB7edP/Gf8/gJCgX4/bviaOGw/c5u6vufsKQvdkMbsCL+ZOtO7+FXe/sts8fwO+YGa/BYYBP+5lnQ+4+3J3fx14itAqyddF4d6RgXFaTq6sH4jrfCWW9fo4fkdCl9stcX9dSmj9dF9eykDdWdIjM9sUOJjQ6jibkDyagKOAKcCFcfiGuEgDoevkj3H5TQjdC+OAN/LWewXhQ/1bQuvmwLjuDgpf2DQAP3D378XlNyZ0AxXk7nPNLNetldMVt5EzAHgrb5k386b1tO788fVx+QbgWHefHWPbjNBdMom8MnfTvYx19P5ZfNjdx/c00d1z2+pp3d3LvzrGToy7LrYABsRRb5F34jazjYhX+nnbvN/MdgIOI3QtnUi4EOjJyry/u8cD4eR+lpkNcPe38sbvTeiuy8mVtVCZiOV6KrbMMLMGQmuz+/JSBmqJSDHHAdPdfWt3H+7u2wL/A5we+763jPPkkshdwClmNiDeK7iPkEC6Owi43N1vAozQPdVAuLL9lJnVmdmWhKvnrrje48xsQzNrJCSeo3uJ/VLC1fHecXgpMNTMmmNXzcf6ujOIXWixa2gI0Bpj+2wcvwXwGOFeRzF3EbqCiF1fH+Sdrqm1dRfwaTNbP+6rk4C7Ca26w81sIzMbBEzIW2YxsHO8sZ3rSnNg05gkAL5E6G5cTUx4ZnYZIYFeC5wJjFmbwN39H8C/gB/E+2OYWQuhy/DCAovcB+xtZluZWT0hkQHMJxzrXFfqZwgXLFIBSiJSzInAVd3G/QTYy8xGEbq3lscuGQg3xVuBOYQrx1/38EjsxYQnbuYSTj4PAyOAXwDLCf3v1xK6k95w978ANxOuVOcCj8TpPcrr1soNLyP0nz9ESFYzeyt8ARua2ZxYzmPi1fK3gfVjWe4itMT+3ct6zgI+bGaPExLiZHd/OUE8a3D3WwmPAz9MOCE/B1wZu6V+QCj/vYR9m3N+XOZBQvLA3VcSbs5fZ2aPATsBlwDzgI3NbArh3s7RsctoKnB8GYpwFLAKmGtmTxC6O48tVI/c/RXg87xzPF+N41cB/wVcEWM/gZi0pfzquroKPeAi0v/M7FCgzt1vjd0nc4Cx7t6Wcmgi0gMlEaka8YtsU4AN46jvuvv1RRYRkZQpiYiISGK6JyIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiiSmJiIhIYv8fE+n2avDg+uoAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with 0.1 (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name=0.1, figsize=(6,4), \n",
    "                             ylabel='Discount Level\\n', xlabel='\\nAverage Number of Products in Order');"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 60,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAZEAAAEfCAYAAACAm/v/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XmcHFW5//HPLCQhMcAkGfYdkyeyZ2GJbFFAZVEIco0SdsKiIpvLxR2FewERBVHcEIWA4hWMIj9AkE0hxEAISyR5mMi+BBNmEkJIQjIzvz/OaWgm3TM9Nd1T1c33/Xrllan9OVWn66lzqrqrrrOzExERkSTq0w5ARESql5KIiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCTWmHYAEpjZ1sAzwN/dfb8u034DHAc0u/vibtZxHjDC3U83s6nAAHe/0sxOAzZw94u6WXYi8GN337GXcW8AfBeYCHQAnXE9v+rNeirNzB4FJrr7khS2/RvgQGARUAcMBO4Eznb3NT0s+y3gMXf/c6XjLJWZ7QQ8Dpzr7hfnjT+Pd+rfs8CR7v5wl2XvBbYClhLqygDgYeCz7v5mN9v8BHCAu5/Rx9inARcD5wHvj6N3AeYC7UCbu3+om+WPJ5Tr0L7EEdd1OLCTu5/f13WlSS2RbFkJmJltlRthZkOAvRKsa29gMIC7/6y7BJKUmQ0C7gNeBMa6+67A4cBXzeykcm+vL9x91zQSSJ4fxhh2AXYlHNPJJSz3YWCdikbWe58DrgdON7MkF6JfjvtiDLAjoZ5+t7sF3P3mMiSQTwFL3X2uux8ZY9g1Tv5QHC6aQMrN3f8E7Gtmu/Y4c4apJZIt7cDvgSnA/8ZxRwB/Br4Ia7cYCrUgzGwS8AngQDNbATTz7ivE3xGujDcALnX3n+YHYWYDCFdr+wENwBzgDHd/vUu8k4E33P17uRHu/lz8sA6I69oB+DEwnHDleam7XxvjvhB4HjBgOXARcEYcvsndz47zXQw8B4wGVgDHu/s8MxsF/AQYCmwCPApMdveVZrYq7rdd4v58KO6HRuBaYEQM+f+5+zdjrN8EPgOsAZ4CTnf3hfHq+UHCiX9L4G/AKYSLsCvi+NXA08AJ7v4G3RtCaI0sjNtdH7gc2ImQMO4CvgycCowHLjGzLYBz3H2LuMxfgYXufpyZDQReBrYFNo3rGk44dj9y96vjMh8HvhGPzZvAl9z9wdiC2Druw62Al4Cj3f2VroGb2dC4P/cgJMMjgRt6KG9R7t5pZvcAB8f1nxjLPQAYBlzk7j/NbwHE49FKqA8/jfF+g9ASbickqb8X2Nx3gP/qKabYKzDX3d9XaDhvviMJdfNgd/d44fQ5Qr14DTgdeIFwkbWHuz8Vl/sbcEVsXf4K+DYwqcedlVFqiWTPtcAxecPHAb/pzQrcfTpwM+Hq9ycFZhkG7Ebogvpu7J7Idy7hRDouXjm/TDjBdzUeeKDA9h9x95nxKvVmwgdmZ+Ag4H/NbEKcdTfCSWJX4HXgq8AhwFjg82a2ad52cuv4NTAtjj8ZuMbd9yR0TWwTl4dwEvqLu1uXLpWTgafdfSywDzDSzNY3sxNifLvF7czl3ft9u7i/cuXYD5gQx+3i7uMISWTnAvsJ4Gwze9TMniCcWF4B7o/TfgjMjusYQ0hw58Rj9zDhpPhDYLWZ7Whm6xJOoB+Oy+8P/JOQiG8kdDONizF+ycz2NLORhAuTg2ML4BTgj7GlS9wX/+Xuo+N6TitSjmOAp9x9HnANcHaR+UpiZk2Ei5F7zOx9hOOTi3Ey8L0ii7a5+/bufgVwCfA5dx8PfJNwTLpuZ0dgXXef25d489b3GUKX2MSYQPYjfFb3ibF/D5ju7ssJ+2lqXG47YBRwS1zVHcBB8ZhWJSWRjHH32UC7mY2LV59Dy1Xx8/zE3Tvd/UXgduAjXaYfChwGzIn3Eg4Hti+wng66r0OjgEHu/kcAd38ZuAn4WJz+jLvPiX//G7jH3d+K931eJyQ7CPcE/hH/vhoYY2bDgf8GFpnZVwhXpJsC+VeL/2BttwOfNLNbCVe857r7UkJi+HX80EO4mt8/tsogJKSO2BpbEGN7gnDl+08zO5/QeppRZF/kurN2IrSIVgI/itMOBU6N+3o2sDuhVdLV9BjnREJr5T+xpXcYYb+OIiS7q+O67gPWJSSmAwktjbvitOsJxy93X+DevJbmHN7Z912dRjgpAlwHjMu7KCjVJTGhPgbcS0iml8cW3KHAIXF/fp13H898+cf2BmC6mV0FNFE48YwmHLdy2I1wIfMzd38hjjuEsC9nxP37PaDJzIYBVwLHmtk6hOR9lbu3A7h7K6EubEWVUndWNk0DjibciJ3WZVon4eZszgB6L/9mbj3hRJivATjT3W8DiFeIgwqsZybw+a4j403QfQitqq4/zlbPO338q7pMW11CvLmytxO65RqB/wP+H6GrKX/frNWt5O4Pmdk2wAGEK/lZZnYQocz5sdbHdefWtyJvWidQ5+5LzGwXQnfWh4Hfm9kl7n5lkXLkYlgeT3gXxlENhFbAPHj7YYVCP2o3HTifkCzvBP4DfJSQWL4Wxy/N6+fHzDYi3MQ+GbjL3SfnTduC0MqcVKh8XTduZvsQ7mF8xcy+GEe/RWiNPNhdmbv4srvfWGD9m8f1/IKQWG4kJJVC3j627v51M7uakCiPJ3T97t5l/k5Kv2ju6TO2hNDt+X9mdou7P0s4htPc/b9jWeoJx6PN3VvN7HFCsj+K0BWYbw1rfwarhloi2XQdoe92MvDbLtMWAVua2YZmVgd8usg61lD8huyxAGa2JaEVcluX6X8l3DQdED8Mv+SdE16+m4D1zewrZtYQ17kt8ANgHjCf0AVzRJy2KfBJwgmwN3Y1s1w30SnAjHiT/KPAd93993HaHoQPc1FmdhHwzXhT80zgX4QT4+3AiXndO2cQnpTrmujy13UooUUww93PIyTN3XoqTNynBwGz4qi/Erq76uL9jZsJ/enw7uM4g9DSOJRwX+YO4CxC99JrgAMrzOzouJ0tCN1y42KcHzGz0XHawYQnrHrTjfJZwolyC3ff2t23jrEcEetSX40n1O8LYtkOjbEWPaZm1hjv8w12958R7knsHPdjPifsu1IsAQaYWa71/Zku01vc/W7C/bBr4/H8K/AZM9skznMaYZ/n/ITQ7TYrtshz8a9PuEB7vsTYMkdJJIPc/SXCSbglNnfzpz0J/JzQVz6T8FhwIbcBp5nZVwtM28bMZhNOnGe4u3eZfj7wLKFb40nCVdkXu8yDu79FuKLfAXgiXm3dBFzg7le7+2pCV9iZcdrfCCf9e3rYBV0tBP4n3k84nHfuGX2N0I3xBGGf3Mc73TPFXEZISnMJ+/AZQnfIr2J8s8xsHuG+zJQe1nUbIQnNNbOHgQ8Sbt4WkrsnModwbNcjJAAICWsIoXvs8fh/rkvmZuBCMzvO3TviNpe5+yLC1fowwj7PHY/DgKlxf99BSJgPxHpzCnBD7EY6H/hECQ8BAGBmzYSHPC7JHx9Ppg8CXyhlPT24g3AT2gn7aEtCUil6TD08In0W8FszewT4A3Bi1+Qfu4RXmNkHegoidm9+BbjNzB7i3a20fP9DOG5fdvc7CDfZ74z7/ijgCHfPtShvIXTN/azLOj4C3NLdxUrW1emn4N9brMjz+1llCb+/ItKVmR0F7O3un0th2xOAq4Ad8xILZnY3cJa7P97fMZWLWiIi8p7g7r8FhhV4GrGizOwaQmv3pC4JZBLwj2pOIKCWiIiI9IFaIiIikpiSiIiIJKYkIiIiib2nvmy4Zk17Z2Njt18jECmLu+4KXxHYf//9U45Eak1KdWutL5/mvKeSSFtb0V+a7pPm5qEsWrSsIuvuTypH+bS3dwD0KY4slKMcVI7y6mvdSlKO5uahRaepO0tERBJ7T7VERPrLBhsU+/1Ckb7JWt1SEhGpgG22GZV2CFKjsla31J0lIiKJKYmIVMDLLz/Pyy9X7Q+zSoZlrW4piYhUwKuvvsyrr77c84wivZS1uqUkIiIiiSmJiIhIYkoiIiKSmJKIiIgkpu+JiFRAQ4N+o00qI2t1S0lEpAJ23nm3tEOQGpW1uqXuLBERSUxJRKQCli17nWXLXk87DKlBWatbSiIiFbBgwZMsWPBk2mFIDcpa3VISERGRxJREREQkMSURERFJTElEREQSUxIREZHE9GVDkQoYNWqHtEOQGpW1uqUkIlIBQ4YMTTsEqVFZq1vqzhIRkcSUREQq4NFHZ/Hoo7PSDkNqUNbqlrqzRCqgs7Mj7RCkRmWtbqklIiIiiWWiJWJm9cCVwC7AKmCquy/Im3428Ok4eKu7f8fM6oAXgZY4/kF3/2o/hi0iCbS0zGf27Fm0tb1GU9Nwxo3bnZEjR6cdliSUiSQCHA4McvcJZrYncClwGICZbQtMAfYAOoF/mNl04E3gEXf/eEoxi0gvtbTM5847b317uLV18dvDSiTVKStJZG/gdgB3n2lm4/OmvQB8zN3bAcxsHWAlMA7YzMzuAVYAZ7u792/YIsG0aVe9a3ibbbYuOL436uvr6OjoTB5URuSXY/nyNwrOc9ddtzNz5v39GVavpX08jjlmamrb7k5Wksh6wNK84XYza3T3Ne6+Glgcu68uAea4+1NmtjFwobv/wcz2Bq4Dun3lV1PTYBobK/NqyebmbD27nZTKkUx9fd27hpcsWVJwfF/XW61y5ejoKHxTuKOjoyrKmmaMuTr9/vdv967hvqyrHLKSRF4H8ktV7+5rcgNmNgi4GlgGfC6OfhhYA+Du95vZZmZW5+5FLxXa2t4se+AQDsiiRcsqsu7+pHIkN2XKSWVfZy0ejxtuuJbW1sVrzTN8+AgmTz62v0PrlbSPR27bQ4c2v2u4t5KUo7ukk5Wnsx4ADgaI90SeyE2ILZA/A4+5+6m5bi3g28BZcZ5dgOe7SyAikr5x43YvOH7s2MLjJfuy0hKZDhxoZjOAOuAEMzsHWAA0APsBA83soDj/V4GLgOvM7BBCi+T4fo9apIinnw6357bd1lKOJFtyN88feWQWbW2tNDUNY+xYPZ3VG1mrW5lIIu7eAZzWZfT8vL8HFVn0kMpEJNI3S5e2pR1CZo0cOVpJow+yVrey0p0lIiJVSElEREQSUxIREZHElERERCSxTNxYF6k1WXtxkNSOrNUtJRGRCsjaK0yldmStbqk7S0REElMSEamARYsWsmjRwrTDkBqUtbql7iyRCnjxxWcBaG7eON1ApOZkrW6pJSIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiienpLJEK2Hnnbt/ULJJY1uqWkohIBTQ0NKQdgtSorNUtdWeJVMDKlStYuXJF2mFIDcpa3VISEamAefMeY968x9IOQ2pQ1uqWkoiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJJbp74mYWT1wJbALsAqY6u4L8qafDXw6Dt7q7t/p/yhF1rbNNiPTDqFbLS3zmT17Fm1tr9HUNJxx43Zn5MjRaYclJcha3cp6S+RwYJC7TwDOBS7NTTCzbYEpwAeBCcBHzGznVKIU6WKDDYazwQbD0w6joJaW+dx55620ti6ms7OT1tbF3HnnrbS0zE87NClB1upWplsiwN7A7QDuPtPMxudNewH4mLu3A5jZOsDK/g9RsmjatKvSDqHP6uvr6OjoLPt6ly9/o+D4u+66nZkz7y/79ipVjv52zjlnpx1CJmU9iawHLM0bbjezRndf4+6rgcVmVgdcAsxx96e6W1lT02AaGyvzkwHNzUMrst7+VivlqK+vS3X7m222GQAvvfRSn9ZTiXJ0dHQUHV+p/Zb28SiXLHw+HnjgAQD22muvxOsoZzmynkReB/JLW+/ua3IDZjYIuBpYBnyup5W1tb1Z9gAhHJBFi5ZVZN39qZbKMWXKSanGMGfOTAAmTvxY4nVU6njccMO1tLYuXmv88OEjmDz52LJvr1bqFZCJcixfHs5jSWNJcjy6SzpZvyfyAHAwgJntCTyRmxBbIH8GHnP3U3PdWiLSvXHjdi84fuzYwuNFupP1lsh04EAzmwHUASeY2TnAAqAB2A8YaGYHxfm/6u4PphOqSHXIPYX1yCOzaGtrpalpGGPH6uksSSbTScTdO4DTuozOf4RkUD+GI1IzRo4craQhZZH17iwREcmwTLdERKrV8OEbph2C1Kis1S0lEZEK2HLLbdMOQWpU1uqWurNERCQxJRGRCnj++ad5/vmn0w5DalDW6paSiEgFvPbaf3jttf+kHYbUoKzVLSURERFJrOiNdTPr9vcP3P3a8ocjIiLVpLunsz7UzbROQElEROQ9rmgScfcT8ofNrMnd2yofkoiIVIsevydiZrsAvwcGxx9B/DvwKXd/pNLBiVSrAQMGph2C1Kis1a1Svmx4BTAJ+K27v2xmnwV+BugnP0WK2GGHMWmHIDUqa3WrlKezBrv7vNyAu98JZCsViohIKkpJIq2xS6sTwMymAK0VjUqkyi1Z8hpLlryWdhhSg7JWt0rpzvoscA2wg5ktAVqAKRWNSqTKPfNMCwBjxgxPORKpNVmrW6Ukkfe5+95mNgRocPfXKx2UiIhUh1K6s35lZk8ApwPrVzgeERGpIj0mEXcfDxwBDABuNbN7zOzEikcmIiKZV9JvZ7l7C/AD4EJgPeCrlQxKRESqQylfNpwEHAXsCfwF+IK7z6h0YCIikn2l3Fg/mvA7WUe5++oKxyNSEz7wgV3SDkFqVNbqVin3RD4JLAZOMrMBZrZv5cMSqW6DBq3LoEHrph2G1KCs1a0ek4iZnQlcAJwDDAV+bmZfqnRgItWsvb2d9vb2tMOQGpS1ulVKd9bxwB7AP939NTPbDZgFfL9cQZhZPXAlsAuwCpjq7gu6zNMMzAB2cveVZlYHvEj48iPAg+6uG/6SCY8//hAAY8bsmXIk2TZ9eiOXXTaAp56qZ9SoDs466y0mTVqTdliZlrW6VUoSaXf3t8wsN7wSKHcaPBwY5O4T4i8FXwoclptoZh8FLgI2yltmO+ARd/94mWMRkX4wfXojp576TrfMvHkNcXiFEkkVKSWJ3Gdm3weGmNnhwCnA3WWOY2/gdgB3n2lm47tM7wAOAGbnjRsHbGZm9wArgLPd3cscl0hir7xSz9SpQxIvX18PHR3Jl8+KYuVYuLCu4Pynnz6ICy7orHRYvZaV43H++fVssklH2mG8rZQk8mXgZOAx4FjgVuCnZY5jPWBp3nC7mTW6+xp4+5eDyWsNAbwCXOjufzCzvYHrgN2620hT02AaGxvKGnhOc/PQiqy3v6kc5dHQEG431teX9FWsovq6fFYUKsfqIs96rl5dR3194QSTtqwcj4aG+j7V8XJ+PnpMIu7eAfw8/gPAzM4ldC+Vy+uEm/Y59bkE0o2HgVySud/MNjOzOncvegnT1vZm3yMtoLl5KIsWLavIuvuTylE+7e0dbLIJPPRQ8jiyUI5yKFaO/fYbzLx5a1/Ubb99O/feW5nPal9k5XjMmdNBezuJY0lSju6STtK0+rWEyxXzAHAwQLwn8kQJy3wbOCsuswvwfHcJRESy5ayz3io4/swzC4+XbCqlO6uQcrc1pwMHmtmMuO4TzOwcYIG731xkmYuA68zsEEKL5PgyxySS2Oabb512CJkXbp6v4PLL33k668wz9XRWT7JWt5ImkbJe8ccus9O6jJ5fYL6t8/5uAw4pZxwi5dLcvHHaIVSFSZPWKGn0UtbqVtEkYma/pnCyqEOvxxUREbpvidybcJrIe95TT/0LgFGjdkg5Eqk1WatbRZOIu1/Tn4GI1JLly9N/ikdqU9bqVjYeehYRkaqkJCIiIomV8iu+a/2ooZn9b2XCERGRatLd01kXARsCnzCzkXmT1iH8qm+5v3AoIiJVpruns24Ctgf2B+7LG78G+G4lgxKpduuv35R2CFKjsla3uns66yHgITP7k7svLTafiKxt222t55lEEsha3SrlG+uHm9mlQC791QGd7l6Zn8MVEZGqUUoS+RYw0d3nVjoYkVrxyisvArDJJpunHInUmqzVrVIe8X1ZCUSkdxYufJGFC19MOwypQVmrW6W0RGab2Y3AHYRX4wLg7tdWLCoREakKpSSR9YFlwIS8cZ2AkoiIyHtcKW82PKE/AhERkerTYxIxs2co8JPw7r5tRSISEZGqUUp31sS8v9cBJqH3iYh0q65OP0snlZG1ulVKd9ZzXUZdYmYPAxdUJiSR6rfrrrunHYLUqKzVrVK6s/bNG6wDdgDWrVhEIiJSNUrpzvpO3t+dwGLguMqEI1Ibci8OGjJkaMqRSK3JWt0qpTvrQwBmNhRocPclFY9KpMrlXmE6ZsyeKUcitSZrdauU7qxtgRuA7YA6M3sOmOzuT1U6OBERybZSbvP/HPieuw9392HAhcAvKhuWiIhUg1LuiYxw9xtzA+7+f2b2jQrG9DYzqweuBHYBVgFT3X1Bl3magRnATu6+cu21iFReS8t8Zs+eRVvbazQ1DWf48GGMGDEi7bBEKq6UlsgqMxubGzCzccCblQvpXQ4HBrn7BOBc4NL8iWb2UcJvem3UT/GIrKWlZT533nkrra2L6ezspLV1MS0tT7F48eK0QxOpuFJaImcBN5lZK+ER32HA5IpG9Y69gdsB3H2mmY3vMr0DOACY3U/xvOdNm3ZV2iH0qL6+jo6OtX5koWKWL3+j4PgXXni+T/urv8tRKfnlOOaYqSlHI+VWytNZM81sFDCK0HJ51t2XVTyyYD0g/62K7WbW6O5rYmx3ApiV9qavpqbBNDZW5l1azc3ZeNyur3oqR319XT9F0jf9GWdHR0fB8StXrmTgwL79uEO17O+e5MpR7Z+TLMS/227hWrqpKXks5SxHKU9nfQr4prvvZGbbAU+a2enu/ueyRVHc60B+aetzCSSJtrbK9MI1Nw9l0aL+yquVU0o5pkw5qZ+iSa6/j8cNN1xLa+vaXVfDh49g8uRjE6+3FutVNZcnO8cjnLaTxpKkHN0lnVLuiXyD0GWEu/8bGMe7v4BYSQ8ABwOY2Z7AE/20XZGSjRtX+Gcoxo7N1s9TiFRCKfdEBrj7q7kBd/+PmfVXG3s6cKCZzSDcjznBzM4BFrj7zf0Ug0i3Ro4cDcAjj8yira2VpqZhjBgxnBUrsnDVKrXm8ccfAmDnnXdLOZKglCRyv5n9Drie8LMnnwYerGhUkbt3AKd1GT2/wHxb90c8IsWMHDn67WQCMGfOTNrb21OMSGpV1upVKUnk88AXgFOB1cB9wE8rGZSIiFSHHu+JuPsq4Hp3/zhwGbAGqMwjTiIiUlV6TCJm9lPgAjPbHrgOGAv8stKBiYhI9pXydNbuwFTgU8DV7n4SUNoXM0REpKaVck+kgZBsDgNOM7PBwJCKRiVS5TbaaNO0Q5AalbW6VUoSuRZ4BXjA3f9pZk8SftlXRIrYdNMt0w5BalTW6lYpN9Z/AGzs7pPiqH3d/fLKhiUiItWgaEvEzH7h7qeY2T1AZ/7vU5kZ7v7h/ghQpBo980x4Z9s224xKORKpNVmrW911Z+W6rM7rhzhEasqSJa1phyA1Kmt1q2gScffcz6u/BowGVgBPuvsz/RGYiIhkX3fdWRsCNwI7Ai2EnzwxM3sQ+Iy7Ly22rIiIvDd0d2P9QuB+YCN338Pd9yS8QfAxQDfWRUSk23siH3T3D+SPcPe3zOxrwKOVDUtERKpBdy2RlYVGunsn4bW0IlLE4MFDGDxY38mV8sta3equJdLdy52r/8XPIhVktlPaIUiNylrd6i6J7GBmTxcYXwdsUqF4RESkinSXRLLxTRaRKrR4cXgZ6IgRG6UcidSarNWt7r4n8lx/BiJSS154IXydKisfdKkdWatbpfwUvIiISEFKIiIikpiSiIiIJKYkIiIiiSmJiIhIYqW82bDizKweuBLYBVgFTHX3BXnTTwZOBdYAF7j7LWY2DHgKmBtnm66XZUlW7LTTuLRDSF1Ly3xmz55FW9trNDUNZ9y43Rk5cnTaYVW9rNWtTCQR4HBgkLtPMLM9gUsJ73THzDYGzgDGA4OA+83sTmAs8Dt3/0JKMYsU1di4TtohpKqlZT533nnr28OtrYvfHlYi6Zus1a2sJJG9gdsB3H2mmY3Pm7Y74f3uq4BVZrYA2BkYB4w1s/uA/wBnuPsr/Ry3yLtMm3YVAI2N4aO1Zs2axOuqr6+jo6M6f2Fo+fI3Co6/667bmTnz/n6OpjzKeTyOOWZq4mVXrVoFwMCBA8sSS19lJYmsB+S/n6TdzBrdfU2BacuA9YH5wGx3/5uZTQGuAI7sbiNNTYNpbGwob+RRc/PQiqy3v6kcfVNfXwfAFltsDsBzz/XtO7u59VWbjo7Cv9Ha0dFRtWWC8h2PvtTPu+6aBcD++++fyva7ykoSeR3IL1V9TCCFpg0FlgD/BN6M46YD3+1pI21tb/Y0SyLNzUNZtGhZRdbdn1SOvpsy5SQA5syZ+a7hJKr5eNxww7W0ti5ea/zw4SOYPPnYFCLqu3Iej76sp729o0/rSFKO7pJOVp7OegA4GCDeE3kib9osYB8zG2Rm6wMfINxMvwr4ZJxnf2A2IpIJ48btXnD82LGFx0v1ykpLZDpwoJnNIPxK8Almdg6wwN1vNrMfAf8gJL2vu/tKMzsXuNrMPgcsB5J3MopIWeVunj/yyCza2lppahrG2LF6OqsWZSKJuHsHcFqX0fPzpv8S+GWXZZ4BPlT56EQkiZEjRzNy5Oiq7paTnmWlO0tERKpQJloiIrVmq63en3YIUqOyVreUREQqYNiwEWmHIDUqa3VL3VkiIpKYkohIBTz55KM8+eSjaYchNShrdUvdWSIVsGrVyrRDkBqVtbqlloiIiCSmJCIiIokpiYiISGJKIiIikphurItUwLBhzWmHIDUqa3VLSUSkArbaaru0Q5AalbW6pe4sERFJTElEpAJefPFZXnzx2bTDkBqUtbqlJCJSAYsWLWTRooVphyE1KGt1S0lEREQSUxIREZHElERERCQxJREREUlM3xMRqYB11hmQdghSo7JWt5RERCpgxx3Hph2C1Kis1S11Z4mISGJKIiIVsHRpG0uXtqUdhtSgrNWtTHdnmVk9cCWwC7An0syVAAAOGElEQVQKmOruC/KmnwycCqwBLnD3W1IJtAoMnH4jgy+7lIan5tM+ajRvnvVFVk06Mu2watbTTzsAY8bsmXIkUmuyVrey3hI5HBjk7hOAc4FLcxPMbGPgDGAv4KPAhWY2MJUoM27g9BtZ79QTaZz3L+ra22mc9y/WO/VEBk6/Me3QRKTKZbolAuwN3A7g7jPNbHzetN2BB9x9FbDKzBYAOwMP9X+YhQ0bt2PaIQBQv/CVguOHnn4qQy44L2/GOoZ1dPZLTPlaZ8/t922KSHlkPYmsByzNG243s0Z3X1Ng2jJg/e5W1tQ0mMbGhvJHCTQ3D117ZH1dRbbVa6tXFxxdt3o1DV1i7DrcHwruuwyuszcaGurLEkfa5SgXlaN8ylG3ylmOrCeR14H80tbHBFJo2lBgSXcra2t7s7zRRc3NQ1m0aNnaEx56oiLb662m/SbQOO9fa41fs/2OtN074+3houWotDJvM7Vy5Glv7wDoUxxZKEc5qBzl1de6laQc3SWdrN8TeQA4GMDM9gTyz8qzgH3MbJCZrQ98AFC/SAFvnvXFwuPPPKefIxGRWpP1lsh04EAzmwHUASeY2TnAAne/2cx+BPyDkAy/7u4rU4w1s1ZNOpLXgcGX/+Cdp7POPEdPZ1XQ6NE7px2C1Kis1a26zs7+v5GalkWLllWksFlp5vaVypEtKke2vJfL0dw8tOjN0qx3Z4lUpY6ODjo6OtIOQ2pQ1uqWkohIBTz22Cwee2xW2mFIDcpa3VISERGRxJREREQkMSURERFJTElEREQSUxIREZHEsv5lQ5GqtNlmW6UdgtSorNUtJRGRCthww03SDkFqVNbqlrqzREQkMSURkQpoaXmSlpYn0w5DalDW6pa6s0Qq4I03Xk87BKlRWatbaomIiEhiSiIiIpKYkoiIiCSmJCIiIonpxrpIBQwdun7aIUiNylrdUhIRqYD3v/8DaYcgNSprdUvdWSIikpiSiEgFLFz4EgsXvpR2GFKDsla31J0lUgGvvPICABtvvFnKkUityVrdUktEREQSUxIREZHElERERCQxJREREUlMSURERBKr6+zsTDsGERGpUmqJiIhIYkoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmX/HtJTNbB7ga2BoYCFwAPAn8BugE5gKfd/eOlEIsSZFyPA9cAbQDq4Bj3f3VtGIsRaFyuPvNcdpRwBfcfUJ6EZamyPGYCfwSaAIaCMfj32nF2JNu6tTPgDXAU8DUrH82AMysgbDvjfB5OAGoo4o+50XKMJQyf8bVEum9o4HX3H0f4CDgx8APgG/EcXXAYSnGV6pC5biccNKdCPwR+O/0witZoXJgZrsCJxGORzUoVI7vAde7+77AN4DRKcZXikJl+DbwXXffm5BYDkkxvt74OIC77wV8i/AZr7bPeaEylP0zriTSe38Avpk3vAYYB9wXh28DDujvoBIoVI5Pu/ujcbgRWNnvUfXeWuUws+HARcBZ6YSUSKHjsRewuZn9DZgC3JtCXL1RqAxzgGFmVke4Cl6dRmC95e5/Ak6Jg1sBr1Jln/MiZSj7Z1zdWb3k7m8AmNlQ4EbCFeL33T33+zHLgPVTCq9khcrh7q/EcR8ETgf2TS/C0hQoxzeBXwFnAytSDK1XitSra4A2dz/AzL5FuGr8VnpRdq9IGTqBn8S/l5L9RPg2d19jZtcAk4AjgUOr8HP+rjJU4jOulkgCZrYFcA8wzd1/C+T3iw4FlqQSWC8VKAdmNpnQh32Iuy9KM75S5ZcDaAFGAj8FbgC2N7PLUgyvZAWOx2vAzXHyX4DxacVWqgJluBzYx91HA9cCl6YZX2+5+3HAKMK9hXXzJlXN5zy/DGY2pNyfcbVEesnMNgLuAE5397vi6DlmNtHd7yX0Bd+TVnylKlQOMzsaOBWY6O6tacZXqiLHY4c4bWvgBnfPfLdWkXLcDxxMSI77Av9KKbySFClDK/B6/PtlQhdd5pnZMcDm7n4h8CbhQvHhavqcFynDJMr8Gdev+PaSmV0OTAbm540+E/gRMACYB5zs7u0phFeyAuVoAHYEnuOdK6z73P3bKYRXsiLH4yB3X5GXRPZMJbheKFKO44CrgCGErqCj3L0thfBKUqQM3yTcn1oDvEX4bDzb/9H1jpkNAX4NbAysQyjDPEKLpCo+50XK8GvCE3Nl+4wriYiISGK6JyIiIokpiYiISGJKIiIikpiSiIiIJKYkIiIiiSmJiIhIYkoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJKbX40qPzGxH4AngSHe/Ke14ijGzTsLb5q7KG3cvcF58pWlf1l2W9fSwjfWAu4FBwBHu/lQcPxG4BVgAdBLe9T0XOMHdlyXc1nkA7n5eL5fbBviGu59U4vy3AlPd/eUS538fcDHwUWA54dW65+W9bre7ZY8nvPb1+FK2JeWhloiU4kTgD4R3M2fdhWa2RdpBJLQr8Ja775hLIHkedvdd3X2Mu4+O477Wz/EBbAVsV+rM7n5wLxJIHfAXwmt0t3f3XYAzgGkxkUoGqSUi3TKzdYApwD7ADDPbDtiBcMX/8TjPF4D3A+cAlwATCe9s/427/zCeAL4Xx80lnPx+BWwAbBrn+1bc1s+AvYGXCFfd57v7vWZ2LvCpuI6/Av/t7oXe7XwZ4b3kH+1Sjq2Be9196zh8HoQrcTNbCPwJ2ANYCFxNOHltDhzv7vfF1ZxiZj+Mf58d43of8BPC++kbgIvd/Xfxqvg4YATwF3d/+4RvZhvF8m9JePf414BH4nY3NrOb3f0TRQ5Jzr25MprZIuBhYBNgN+DLwNFAO3AH8BV3bzezLwOnAIuBNmBWXL7T3evi38cTr+bN7ADgUsLF5nPAUcCPgG3N7CfAhcD1hHfAdwBnuPvMLvv9WUJ9mAh8DBgGbAvc4e6f61Km/QhJ6sO5Y+vuc8zsAsK72u+NLcJWQh2cDOwEfIPQYnkOeCNudzfgh8DgWN5T3f2Zrsu7+6M97GfpgVoi0pNDgOfilfGfCCeh24BxZtYU5/k0cB1wMoC7jwV2Bw4zs33iPKMIJ4fjgM8Av3P3PQkngbPMbARwGuGENBo4gXBCxMw+BoyLw2OAzQiJrZCLgeFmNrUXZdwIuM3dxxC6kia5+z7AecBZefO9Eec5DrjOzAYSTmCz3X0csC/wdTPbNs6/OTAmP4FEVwB3u/vOwJGE5FEHTCW0OLpNIGY2BPgE8GAcNYKQvHYFDojTxhP21fuB08xsPKFFOSbOs3kP2xhISBDHuftOhO7M4wjJ9WF3/zxwEnCLu48HvkVI/t35IPBJYGfg42a2U5fpu8V1d704+HuclvO4uxvwH8LFyb7ABGBojH0A4ULiqFgXLwV+2XV5JZDyUBKRnpwA/C7+/fs4XAdMBz5pZlsCw939IeIJzMweBf5JOFHlThTu7kvjH98HnjezLwGXAwMIyeNA4Hp373T354BcP/gBhFbCbMIV+3jCleRa3H0NcDy979a6Lf7/HOG+RO7vprx5fhW38TjhBDY6xnZaLPPfYzlysT0S4+nqw3nrepqwr/boIb7xZvZo3M4swIEf5E3/Z/x/f0KCfjNu++o4biJwq7u/4e7LCd2T3dkJeCl3onX3r7r7FV3m+RvwJTP7LTAc+HEP65zh7svc/U3gaUKrJF8nhXtHBsRpObmyfjCu89VY1uvi+FGELreb4/66mND66bq8lIG6s6QoM9sQOIjQ6jiTkDyagCOAacD5cfj6uEgDoevkj3H5EYTuhT2BFXnrvZTwof4toXVzQFx3O4UvbBqAy9z9B3H5DQjdQAW5+1wzy3Vr5XTGbeSsA6zOW+atvGnF1p0/vj4u3wAc7e6PxNg2InSXTCGvzF10LWMdPX8WH3b3icUmuntuW8XW3bX8a2LsxLjrYgtgnThqNXknbjNbn3iln7fNB8xse+BQQtfS8YQLgWJW5v3dNR4IJ/czzGwdd1+dN34CobsuJ1fWQmUiluvp2DLDzBoIrc2uy0sZqCUi3TkGuMvdN3f3rd19K+B/gNNi3/emcZ5cErkbONnM1on3Cu4nJJCuDgQucfc/AEbonmogXNl+2szqzGxTwtVzZ1zvMWb2PjNrJCSeI3uI/WLC1fGEOLwEGGZmzbGr5mO93RnELrTYNTQUaImxfTaO3wR4nHCvozt3E7qCiF1fe/FO11Rf3Q18xszWjfvqBOAeQqvu42a2vpkNAiblLbMY2CHe2M51pTmwYUwSAF8hdDeuISY8M/seIYFeA5wOjO1L4O7+D+BfwGXx/hhmNo7QZXh+gUXuByaY2WZmVk9IZADzCcc615V6IuGCRSpASUS6czxwZZdxPwF2N7PRhO6tZbFLBsJN8RZgDuHK8ddFHom9kPDEzVzCyedhYBvgF8AyQv/7NYTupBXu/hfgJsKV6lzg0Ti9qLxurdzwUkL/+UOEZDWrp8IX8D4zmxPLeVS8Wv4OsG4sy92Elti/e1jPGcCHzewJQkKc6u6vJIhnLe5+C+Fx4IcJJ+TngStit9RlhPLfR9i3OefGZR4kJA/cfSXh5vy1ZvY4sD1wETAP2MDMphHu7RwZu4ymA8eWoQhHAKuAuWb2JKG78+hC9cjdXwW+wDvH8/U4fhXwX8ClMfbjiElbyq+us7PQAy4i/c/MDgHq3P2W2H0yBxjv7q0phyYiRSiJSGbEL7JNA94XR33f3a/rZhERSZmSiIiIJKZ7IiIikpiSiIiIJKYkIiIiiSmJiIhIYkoiIiKSmJKIiIgk9v8Bx6UIxpVLfLoAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with 0.15 (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name=0.15, figsize=(6,4), \n",
    "                             ylabel='Discount Level\\n', xlabel='\\nAverage Number of Products in Order');"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 61,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAZEAAAEfCAYAAACAm/v/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3Xm8VXW9//HXGRgEj3AYnFIRAj4oAsJBxJzIoXKopLxR4pg4VObUcG228l4tszRv1r2ZpVjZzS5l/tQ0FMuBkEGRhA+giCKiwDnMHOTsc35/fNfR3WHvc/bZ7H3W2tv38/Hgwdlr/HzX2nt91vf7XUNFS0sLIiIi+aiMOwARESldSiIiIpI3JREREcmbkoiIiORNSURERPKmJCIiInmrjjsACczsYGAF8Dd3P77NuF8B5wED3X1dO8u4Fhjg7peZ2TSgu7vfZmaXAn3d/YZ25p0E/Je7H9bJuPsC3wEmAc1AS7ScX3RmOcVmZs8Ck9x9Qwzr/hVwMrAWqAB6AI8AV7l7UwfzfhN4zt3/VOw4c2Vmo4CFwDXu/r204dfyzvfvZeBMd5/bZt5ZwCBgI+G70h2YC3zG3be1s86PACe5++W7Gft04HvAtcDQaPAYYBGQAhrc/f3tzH8+oVyn704c0bLOAEa5+3d3d1lxUk0kWRoBM7NBrQPMrDdwdB7LOgboBeDuP2svgeTLzHoCjwOrgHHufjhwBvAVM7uw0OvbHe5+eBwJJM2PohjGAIcT9umUHOY7AehW1Mg677PAr4HLzCyfE9EvRdtiLHAY4Xv6nfZmcPf7CpBAPgFsdPdF7n5mFMPh0ej3R5+zJpBCc/c/AseZ2eEdTpxgqokkSwr4HTAV+M9o2MeAPwFfgF1rDJlqEGY2GfgIcLKZbQcG8q9niL8lnBn3BW5y95+mB2Fm3Qlna8cDVcAC4HJ339Qm3inAFnf/fusAd18Z/Vi7R8saCfwX0J9w5nmTu98VxX098ApgwFbgBuDy6PMf3P2qaLrvASuBEcB24Hx3X2xmw4GfADXAfsCzwBR3bzSzHdF2GxNtz2ei7VAN3AUMiEL+f+7+jSjWbwCfApqApcBl7r4mOnt+mnDgPwj4K3Ax4STs1mj4TuAl4AJ330L7ehNqI2ui9fYBbgFGERLGTOBLwCXAeOBGMzsQuNrdD4zm+Quwxt3PM7MewGpgCLB/tKz+hH33Y3e/I5rnw8DXo32zDfiiuz8d1SAOjrbhIOA14Gx3f71t4GZWE23PIwnJ8Ezgng7Km5W7t5jZY8Cp0fI/HZW7O9APuMHdf5peA4j2Rz3h+/DTKN6vE2rCKUKS+luG1X0b+LeOYopaBRa5+56ZPqdNdybhu3mqu3t04vRZwvdiPXAZ8CrhJOtId18azfdX4NaodvkL4FvA5A43VkKpJpI8dwHnpH0+D/hVZxbg7jOA+whnvz/JMEk/4AhCE9R3ouaJdNcQDqR10ZnzasIBvq3xwJMZ1j/f3WdHZ6n3EX4wo4FTgP80s6OiSY8gHCQOBzYBXwFOA8YBnzOz/dPW07qMXwLTo+EXAXe6+0RC08TgaH4IB6E/u7u1aVK5CHjJ3ccBxwLDzKyPmV0QxXdEtJ5F/Ot2f2+0vVrLcTxwVDRsjLvXEZLI6AzbCeAqM3vWzJ4nHFheB56Ixv0ImBctYywhwV0d7bu5hIPij4CdZnaYme1BOICeEM1/IvAPQiK+l9DMVBfF+EUzm2hmwwgnJqdGNYCLgf+LarpE2+Lf3H1EtJxLs5TjHGCpuy8G7gSuyjJdTsyslnAy8piZ7UnYP60xTgG+n2XWBnc/1N1vBW4EPuvu44FvEPZJ2/UcBuzh7ot2J9605X2K0CQ2KUogxxN+q8dGsX8fmOHuWwnbaVo033uB4cD90aIeBk6J9mlJUhJJGHefB6TMrC46+6wp1Bc/zU/cvcXdVwEPAR9oM/504KPAgqgv4Qzg0AzLaab979BwoKe7/x+Au68G/gB8KBq/wt0XRH+/CDzm7m9F/T6bCMkOQp/A36O/7wDGmll/4N+BtWb2ZcIZ6f5A+tni39nVQ8DHzewBwhnvNe6+kZAYfhn96CGczZ8Y1cogJKTmqDa2PIrtecKZ7z/M7LuE2tNTWbZFa3PWKEKNqBH4cTTudOCSaFvPAyYQaiVtzYjinESorbwZ1fQ+StiuwwnJ7o5oWY8DexAS08mEmsbMaNyvCfuvtV9gVlpNcwHvbPu2LiUcFAHuBurSTgpydWOUUJ8DZhGS6S1RDe504LRoe36Nf92f6dL37T3ADDO7Haglc+IZQdhvhXAE4UTmZ+7+ajTsNMK2fCravt8Has2sH3AbcK6ZdSMk79vdPQXg7vWE78IgSpSas5JpOnA2oSN2eptxLYTO2Vbd6bz0ztxKwoEwXRVwhbs/CBCdIfbMsJzZwOfaDow6QY8l1KraPpytknfa+He0Gbczh3hby54iNMtVA/8L/D9CU1P6ttmlWcndnzGzwcBJhDP5OWZ2CqHM6bFWRstuXd72tHEtQIW7bzCzMYTmrBOA35nZje5+W5ZytMawNTrgXR8NqiLUAhbD2xcrZHqo3Qzgu4Rk+QjwJvBBQmL5ajR8Y1o7P2a2D6ET+yJgprtPSRt3IKGWOTlT+dqu3MyOJfRhfNnMvhANfotQG3m6vTK38SV3vzfD8g+IlvM/hMRyLyGpZPL2vnX3r5nZHYREeT6h6XdCm+lbyP2kuaPf2AZCs+f/mtn97v4yYR9Od/d/j8pSSdgfDe5eb2YLCcn+LEJTYLomdv0NlgzVRJLpbkLb7RTgN23GrQUOMrO9zawC+GSWZTSRvUP2XAAzO4hQC3mwzfi/EDpNu0c/hp/zzgEv3R+APmb2ZTOripY5BPghsBhYQmiC+Vg0bn/g44QDYGccbmatzUQXA09FneQfBL7j7r+Lxh1J+DFnZWY3AN+IOjWvAP5JODA+BHw6rXnncsKVcm0TXfqyTifUCJ5y92sJSfOIjgoTbdNTgDnRoL8Qmrsqov6N+wjt6fCv+/EpQk3jdEK/zMPAlYTmpfWAA9vN7OxoPQcSmuXqojg/YGYjonGnEq6w6kwzymcIB8oD3f1gdz84iuVj0Xdpd40nfL+vi8p2ehRr1n1qZtVRP18vd/8ZoU9idLQd0zlh2+ViA9DdzFpr359qM36Zuz9K6A+7K9qffwE+ZWb7RdNcStjmrX5CaHabE9XIW+PvQzhBeyXH2BJHSSSB3P01wkF4WVTdTR/3AvDfhLby2YTLgjN5ELjUzL6SYdxgM5tHOHBe7u7eZvx3gZcJzRovEM7KvtBmGtz9LcIZ/Ujg+ehs6w/Ade5+h7vvJDSFXRGN+yvhoP9YB5ugrTXAf0T9CWfwTp/RVwnNGM8TtsnjvNM8k83NhKS0iLANVxCaQ34RxTfHzBYT+mWmdrCsBwlJaJGZzQXeR+i8zaS1T2QBYd/uRUgAEBJWb0Lz2MLo/9YmmfuA683sPHdvjta52d3XEs7W+xG2eev++CgwLdreDxMS5pPR9+Zi4J6oGem7wEdyuAgAADMbSLjI48b04dHB9Gng87kspwMPEzqhnbCNDiIklaz71MMl0lcCvzGz+cDvgU+3Tf5Rk/B2MzukoyCi5s0vAw+a2TP8ay0t3X8Q9tuX3P1hQif7I9G2Pwv4mLu31ijvJzTN/azNMj4A3N/eyUrSVehR8O8uluX6/aSyPO9fEWnLzM4CjnH3z8aw7qOA24HD0hILZvYocKW7L+zqmApFNREReVdw998A/TJcjVhUZnYnobZ7YZsEMhn4eyknEFBNREREdoNqIiIikjclERERyZuSiIiI5O1ddbNhU1Oqpbq63dsIpAzMnBkuzz/xxBNjjkTKhb5Tu9582updlUQaGrI+aXq3DBxYw9q1m4uy7K5ULuUASKWaS74s5bI/yqEcqVQzVVWVJV8OyG9/DBxYk3WcmrNERCRv76qaiLw7DBw4kMbGbI/hEum8vn370bNn0l7rkgxKIlJ2Ro8eXRbNDpIcgwcPL4tmuWJQc5aIiORNSUTKzvLly1m9umQfiioJtHr1KyxfXqjXkZQXJREpOytXruSNN1Z3PKFIjt54YzUrV66MO4xEUhIREZG8KYmIiEjelERERCRvSiIiIpI33SciZaeqqop2HvUj0mlVVVVUVemcOxMlESk7kyZN0k1hUlCjRx+hmw2zUGoVEZG8KYlI2WloaGDz5k1xhyFlZPPmTTQ0NMQdRiIpiUjZmT9/PsuXvxB3GFJGli9/gfnz58cdRiIpiYiISN6UREREJG9KIiIikjclERERyZuSiIiI5E03G0rZqaurY8OGbXGHIWVk+PCR9O3bi5166/IuVBORstO3b196966JOwwpI71719C3b9+4w0gkJREREcmbmrOk7Dz66KOkUi0cfviEuEORMvHss3Ooqqpg1Kgj4g4lcVQTkbLT0tJCS0tz3GFIGWlpaaalpSXuMBJJSURERPKWiOYsM6sEbgPGADuAae6+PG38VcAno48PuPu3zawCWAUsi4Y/7e5f6cKwRSQPy5YtYd68OTQ0rKe2tj91dRMYNmxE3GFJnhKRRIAzgJ7ufpSZTQRuAj4KYGZDgKnAkUAL8HczmwFsA+a7+4djillEOmnZsiU88sgDb3+ur1/39mclktKUlCRyDPAQgLvPNrPxaeNeBT7k7ikAM+sGNAJ1wHvM7DFgO3CVu3vXhi0STJ9+e8GXWVlZQXNz6bfDp5dj69YtGaeZOfMhZs9+oivD6pTBgw8GirOfc3XOOdNiW3d7kpJE9gI2pn1OmVm1uze5+05gXdR8dSOwwN2Xmtm+wPXu/nszOwa4G2j30ona2l5UV1cVpQADB5bHfQnlUI7BgwcDXVuWysrivI63WMvtaq3laG7OfMFDc3Nzosu6YcMGIN79UcjvcyGXlZQksglIL1Wluze1fjCznsAdwGbgs9HguUATgLs/YWbvMbMKd8966tbQUJy7mMvltZnlUo4hQ4awdu3mLi3L1KkXFnyZ5bI/0stxzz13UV+/bpdp+vcfwJQp53Z1aJ0S9/4o1LrzKUd7SScpV2c9CZwKEPWJPN86IqqB/Al4zt0vaW3WAr4FXBlNMwZ4pb0EIiLxq6vLfO/OuHG6p6dUJaUmMgM42cyeAiqAC8zsamA5UAUcD/Qws1Oi6b8C3ADcbWanEWok53d51JJIzz33HI2NOxkyxOIORdpo7TyfP38ODQ311Nb2Y9y45F+d9dJLzurV3dh//yFxh5I4iUgi7t4MXNpm8JK0v3tmmfW04kQkpWzdunWkUrrZMKmGDRuR+KTR1saNDWzZUqkkkkFSmrNERKQEKYmIiEjelERERCRvSiIiIpK3RHSsixRSnz592LGjqeMJRXLUu3cNPXrocJmJtoqUnfHjx5fFTXqSHMOHj4z9ZsOkUnOWiIjkTUlEys6rr77K2rVr4g5DysjatWt49dVX4w4jkZREpOwsXbqUVatejjsMKSOrVr3M0qVL4w4jkZREREQkb0oiIiKSNyURERHJm5KIiIjkTUlERETyppsNpewcf/zxrFuX+V3eIvkYPfoIBgzYk4aG7XGHkjiqiUjZqa6upqqqKu4wpIxUVVVRXa1z7kyURKTsbN26lcZGnTFK4TQ2bmfr1q1xh5FISiJSdmbPns3ixc/FHYaUkcWLn2P27Nlxh5FISiIiIpI3JREREcmbkoiIiORNSURERPKmJCIiInlL9IXPZlYJ3AaMAXYA09x9edr4q4BPRh8fcPdvd32UkjSjRo1i48ZtcYeRaDNmVHPzzd1ZurSS4cObufLKt5g8Wa8Uzmbw4GH06dMr7jASKek1kTOAnu5+FHANcFPrCDMbAkwF3gccBXzAzEbHEqUkyt57703fvv3jDiOxZsyo5pJL9mDx4ipSqQoWL67ikkv2YMaMRJ9Txqpv3/7svffecYeRSEn/1hwDPATg7rPNbHzauFeBD7l7CsDMugGNXR+iJFFdXe+4Q9htlZXQ3Fz4cqxZU5Fx+GWX9eS661oKvr5ilaOrvfJK3BEkU9KTyF7AxrTPKTOrdvcmd98JrDOzCuBGYIG7t/vqsdraXlRXF+dxGAMH1hRluV2tHMrx5JNP8oUvwI9+dHTcoey2ysrCNxbs3JlteAWVlZkTzO4qRjm60lVXPcmTT8LRR5f+dwoK+ztPehLZBKSXttLd3264NbOewB3AZuCzHS2soaE47eQDB9awdu3moiy7K5VLORobGznkkGaeeaa0y1Ks/XH88b1YvHjXk6lDD00xa1bhfyPl8L1asGAbjY2VJV8OyG9/tJd0kn568CRwKoCZTQSebx0R1UD+BDzn7pe0NmuJSPuuvPKtjMOvuCLzcJH2JL0mMgM42cyeAiqAC8zsamA5UAUcD/Qws1Oi6b/i7k/HE6pIaQhXYW3nllveuTrriit0dZbkJ9FJxN2bgUvbDF6S9nfPLgxHpGxMntykpCEFkfTmLBERSbBE10RE8rH//vuzbZva96Vw+vffm169uscdRiIpiUjZOeSQQ8riKhpJjoMOGlIWV5kVg5qzREQkb0oiUnYWL17MK6+8FHcYUkZeeeUlFi9eHHcYiaQkImVn9erVrF//ZtxhSBlZv/5NVq9eHXcYiaQkIiIiecvasW5m57Y3o7vfVfhwRESklLR3ddb72xnXAiiJiIi8y2VNIu5+QfpnM6t194bihyQiIqWiw/tEzGwM8DugV/QQxL8Bn3D3+cUOTiQfPXv2ZOdOPY9TCqd79x5061ac10iUulw61m8FJgPr3X018BngZ0WNSmQ3HH300YwcOTbuMKSMjBw5tmzeJVJouSSRXu7+9gXS7v4I0KN4IYmISKnI5bEn9VGTVguAmU0F6osalchuePPNN9m4cZvesy4Fs2HDelpatlNRsUfcoSROLknkM8CdwEgz2wAsA6YWNSqR3fD888+TSjUzdqySiBTGihXLqKqqZPToCXGHkji5JJE93f0YM+sNVLn7pmIHJSIipSGXPpFfmNnzwGVAnyLHIyIiJaTDJOLu44GPAd2BB8zsMTP7dNEjExGRxMvp2Vnuvgz4IXA9sBfwlWIGJSIipSGXmw0nA2cBE4E/A59396eKHZiIiCRfLh3rZxOek3WWu+8scjwiu23ixInU12+NOwwpI4ccMoZ+/XqzbVtz3KEkTi59Ih8H1gEXmll3Mzuu+GGJ5K9379707Knr+aVwevbcg969e8cdRiJ1mETM7ArgOuBqoAb4bzP7YrEDE8lXU1MTqZSenSWFk0qlaGpqijuMRMqlOet84EjgH+6+3syOAOYAPyhUEGZWCdwGjAF2ANPcfXmbaQYCTwGj3L3RzCqAVYSbHwGednd1+AuPP/54dLPhxLhDkQ4sW7aEefPm0NCwntra/tTVTWDYsBFxh7WLhQuf0c2GWeSSRFLu/paZtX5uBAp9mncG0NPdj4qeFHwT8NHWkWb2QeAGYJ+0ed4LzHf3Dxc4FhHpAsuWLeGRRx54+3N9/bq3PycxkUhmuSSRx83sB0BvMzsDuBh4tMBxHAM8BODus81sfJvxzcBJwLy0YXXAe8zsMWA7cJW7e4HjEsnb9Om379b8lZUVNDe3FCia+GQrx9atWzJOP3PmQ8ye/USxw+qUwYMPBnZ/nxbKOedMizuEt+WSRL4EXAQ8B5wLPAD8tMBx7AVsTPucMrNqd2+Ct58cTFptCOB14Hp3/72ZHQPcDRzR3kpqa3tRXV2cdwIMHFhTlOV2tXIpR1VVZexlqaysSMQykiBTOZqbM1/p1NzcnNhyJyWu3f1uF/K30WEScfdm4L+jfwCY2TWE5qVC2UTotG9V2ZpA2jEXaE0yT5jZe8yswt2znro1NGzb/UgzGDiwhrVrNxdl2V2pXMoBkEo1x16WqVMv3K35y2V/ZCvHPffcRX39ul2G9+8/gClTzu2K0HK2YMFsqqoqd3ufFsrufC/y+V61l3RyumM9g6/mOV82TwKnAkR9Is/nMM+3gCujecYAr7SXQEQkWerqMndSjxunzutSkktzViaFrtPNAE42s6eiZV9gZlcDy939vizz3ADcbWanEWok5xc4JilRw4cPZ/PmxrjDkA60dp7Pnz+HhoZ6amv7MW5cMq/OOuCAg6mp6Rl3GIlU0dLS+ZN3M9vk7nsVIZ6iWrt2c1FqKuXe7FBqVI5kUTmSJc/mrKwVh6w1ETP7JdHbDNuoQK/HFRER2m/OmpXnOJFYzZ07lx07mhg+fGTcoUiZWLr0n6xcWc2gQdbxxO8yWZOIu9/ZlYGIFMrGjRtJpfSgPCmcrVs309iY73VI5U1bRURE8qYkIiIiecvlKb67PNTQzP6zOOGIiEgpae/qrBuAvYGPmNmwtFHdCE/1LfQNhyIiUmLauzrrD8ChwInA42nDm4DvFDMokd0xYMAAGhv1Ek4pnD59aunZs1vcYSRSe1dnPQM8Y2Z/dPeN2aYTSZoxY8aUxU1hkhxDhljZ3GxYaLk89uQMM7sJqI0+VwAt7l6cx+GKiEjJyCWJfBOY5O6Lih2MSCG89NJLbNmyg/32OyDuUKRMvP76KjZv7kFNzcC4Q0mcXC7xXa0EIqVkxYoVrFmzKu4wpIysWbOKFStWxB1GIuVSE5lnZvcCDxNejQuAu99VtKhERKQk5JJE+gCbgaPShrUASiIiIu9yubzZ8IKuCEREREpPh0nEzFaQ4ZHw7j6kKBGJiEjJyKU5a1La392Ayeh9IpJgFRUVVFTosXBSOBUVlVRUFPqFruUhl+aslW0G3Whmc4HrihOSyO454YQTdFOYFNThh0/QzYZZ5NKcdVzaxwpgJLBH0SISEZGSkUtz1rfT/m4B1gHnFScckd23YcMGtm7dRu/eNXGHImVi69bNdOuWAvSgjrZyac56P4CZ1QBV7r6h6FGJ7IZ58+aRSjUzduzEuEORMrF06T+pqqpk9OgJcYeSOLk0Zw0B7gHeC1SY2UpgirsvLXZwIiKSbLlcwvLfwPfdvb+79wOuB/6nuGGJiEgpyKVPZIC739v6wd3/18y+XsSY3mZmlcBtwBhgBzDN3Ze3mWYg8BQwyt0bd12KSPEtW7aEefPm0NCwntra/tTVTWDYsBFxhyVSdLnURHaY2bjWD2ZWB2wrXkj/4gygp7sfBVwD3JQ+0sw+SHim1z5dFI/ILpYtW8IjjzxAff06WlpaqK9fxyOPPMCyZUviDk2k6HKpiVwJ/MHM6gmX+PYDphQ1qnccAzwE4O6zzWx8m/HNwEnAvC6K511v+vTb4w6hQ4MHHwx0Xaxbt27JOHzmzIeYPfuJvJdbWVlBc/MuD4soOenlOOecaTFHI4WWy9VZs81sODCcUHN52d276o6bvYD0tyqmzKza3Zui2B4BMLOcFlZb24vq6uJcojdwYHlcTtpROSork3/X7po1a4Cui7W5uTnr8N2NoRS2dy5ay1Gqv5Mjjgjnr7W1pRl/W4XcD7lcnfUJ4BvuPsrM3gu8YGaXufufChZFdpuA9NJWtiaQfDQ0FKcVrlzuZM2lHFOnXthF0eSvq/fHPffcRX39ul2G9+8/gClTzs17ueX4vSrd8lSX5f7ozDzZ5NIn8nVCkxHu/iJQx7/egFhMTwKnApjZROD5LlqvSM7q6jLfOzBunO4pkPKXS59Id3d/o/WDu79pZl1Vx54BnGxmTxH6Yy4ws6uB5e5+XxfFICVm1qxZpFLNjB59RJesr/UqrPnz59DQUE9tbT/GjdPVWeVk4cJnqKqqZOTIurhDSZxcksgTZvZb4NeEx558Eni6qFFF3L0ZuLTN4F0ueXH3g7siHikNqVSKVCpzP0WxDBs2QkmjjKVSKTK8EUPILYl8Dvg8cAmwE3gc+GkxgxIRkdLQYZ+Iu+8Afu3uHwZuBprQU8hERIQckoiZ/RS4zswOBe4GxgE/L3ZgIiKSfLlcnTUBmAZ8ArjD3S8EcrsxQ0REyloufSJVhGTzUeBSM+sF9C5qVCK7YdCgQWzduiPuMKSM7LPP/vTurbeCZ5JLTeQu4HXCner/AOYSnuwrkkhDhw5l//0PijsMKSP7738QQ4cOjTuMRMqlY/2HwL7uPjkadJy731LcsEREpBRkbc4ys/9x94vN7DGgJf35VGaGu5/QFQGKdNbChQtpbNzJ4MHD4w5FysSKFUt5/fVu7Lff4LhDSZz2+kRam6yu7YI4RApm7dq1XX6zoZS3DRvqqaqqVBLJIGsScffWx6uvB0YA24EX3H1FVwQmIiLJ115z1t7AvcBhwDLCPf9mZk8Dn3L3jdnmFRGRd4f2OtavB54A9nH3I919IuENgs8B6lgXEZF2+0Te5+6HpA9w97fM7KvAs8UNS0RESkF7NZHGTAPdvYXwWlqRRKqpqaFXL90PK4XTq1dvamrK462GhdZeTaS95x7rmciSWBMmTCiLN9BJcpiNKps3GxZae0lkpJm9lGF4BbBfkeIREZES0l4S0Z1aUpJee+01Nm3azoAB+8QdipSJdeve4K23NtG9+15xh5I47d0nsrIrAxEplCVLlpBKNSuJSMG8+uoKqqoqGT16QtyhJE4uD2AUERHJSElERETypiQiIiJ5UxIREZG8KYmIiEjecnk9btGZWSVwGzAG2AFMc/flaeMvAi4BmoDr3P1+M+sHLAUWRZPN0MuyBODYY49l/fotcYfxrrds2RLmzZtDQ8N6amv7U1c3gWHDRsQdVl5Gjaqjf/892bhRr11uKxFJBDgD6OnuR5nZROAmwjvdMbN9gcuB8UBP4AkzewQYB/zW3T8fU8ySUN27d6e6ulvcYbyrLVu2hEceeeDtz/X1697+XIqJpLq6G927dyec40q6pCSRY4CHANx9tpmNTxs3AXjS3XcAO8xsOTAaqAPGmdnjwJvA5e7+ehfHLQm0fft2duzYQY8ePbp83dOn316wZVVWVtDcXJpPGNq6NXNNcObMh5g9+4kujmb3VVdXU1EBO3c2FWR555wzrSDLSYKkJJG9gPT3k6TMrNrdmzKM2wz0AZYA89z9r2Y2FbgVOLO9ldTW9qK6uqqwkUcGDiyPh7OVQzlmzpwJwIknntjl666srEj08rpKc3PmZ7Q2NzeXZJkOPPAAAFauLMw92HH/zgq5/qQkkU3hrM4PAAAQ90lEQVRAeqkqowSSaVwNsAH4B7AtGjYD+E5HK2lo2NbRJHkplwezlUs5AFKp5ljKMnXqhQVbVinvj3vuuYv6+nW7DO/ffwBTppwbQ0S7Z8GC2VRVVRZs/8a5X/P5XrWXdJJyddaTwKkAUZ/I82nj5gDHmllPM+sDHELoTL8d+Hg0zYnAPEQkEerqMj8eZNw4PTak3CSlJjIDONnMniI8JfgCM7saWO7u95nZj4G/E5Le19y90cyuAe4ws88CW4HyaWQUKXGtnefz58+hoaGe2tp+jBtXuldnSXaJSCLu3gxc2mbwkrTxPwd+3maeFcD7ix+diORj2LARDBs2oqSb5aRjSWnOEhGREpSImohIIY0cOZKNG7fHHYaUkUGDhtKnzx5xh5FIqolI2dl3333p129A3GFIGenXbwD77rtv3GEkkpKIiIjkTc1ZUnaefvpp3nqriUMPPTzuUKRMvPDCs3TvXs3QoYfFHUriKIlI2dm2bRupVOY7pkXysWNHI01NarjJRFtFRETypiQiIiJ5UxIREZG8KYmIiEje1LEuZWe//fZj27a34g5Dyki/fgPp1at73GEkkpKIlJ1DDz1Uz2qSgho06L16BlgWas4SEZG8KYlI2XF3Vq16Oe4wpIysWvUy7h53GImkJCJlZ9WqVaxduybuMKSMrF27hlWrVsUdRiIpiYiISN6UREREJG9KIiIikjclERERyZvuE5Gy0717d5qa9BRfKZxu3bpTXa1z7kyURKTsHHvssbopTArqsMPG6WbDLJRaRUQkb6qJSNlZu3YtGzdup0+f2rhDkTKxcWMD0Aj0jDuUxEl0EjGzSuA2YAywA5jm7svTxl8EXAI0Ade5+/2xBFoCesy4l14330TV0iWkho9g25VfYMfkM+MOqygWLlxIKtXM2LET4w5FysRLLzlVVZWMHj0h7lASJ+nNWWcAPd39KOAa4KbWEWa2L3A5cDTwQeB6M+sRS5QJ12PGvex1yaepXvxPKlIpqhf/k70u+TQ9Ztwbd2giUuISXRMBjgEeAnD32WY2Pm3cBOBJd98B7DCz5cBo4JmuDzOzfnWHxR0CAJVrXs84vOayS+h93bVpE1bQr7mlS2JKVz9vUZevU0QKI+lJZC9gY9rnlJlVu3tThnGbgT7tLay2thfV1VWFjxIYOLBm14GVFUVZV6ft3JlxcMXOnVS1ibHt566QcdvtpqqqyqIst6uVQxmg9MtRVRUabUq9HK0KWY6kJ5FNQHppK6MEkmlcDbChvYU1NGwrbHSRrJf+PfN8UdbXWbXHH0X14n/uMrzp0MNomPXU259ju4SxCOtMpZpL/nLMcrmktBzKkUo1U1VVWfLlgPz2R3tJJ+l9Ik8CpwKY2UQg/ag8BzjWzHqaWR/gEEDtIhlsu/ILmYdfcXUXRyIi5SbpNZEZwMlm9hRQAVxgZlcDy939PjP7MfB3QjL8mrs3xhhrYu2YfCabgF63/PCdq7OuuLpsr8468sgjqa/fGncYUkZGjBhNv3692b696/sMk66ipeXds1HWrt1clMKWQ3UdVI6kUTmS5d1cjoEDa7J2lia9OUuk05qbm2lu1rOzpHD0ncou6c1ZIp322GOP6WZDKajnnpujmw2zUE1ERETypiQiIiJ5UxIREZG8KYmIiEjelERERCRvujpLys7QoUPZsmVH3GFIGXnPewax5556SHgmqolI2Rk0aBB7771f3GFIGdl77/0YNGhQ3GEkkpKIiIjkTUlEys78+fNZtuyFuMOQMrJs2QvMnz8/7jASSX0iUnYaGhpIpfSICimcLVs2sX17JQceGHckyaOaiIiI5E1JRERE8qYkIiIieVMSERGRvKljXcpOv379aGzcGXcYUkZqavrQs2e3uMNIJCURKTtjx44tizfQSXIMHXpI2bzZsNDUnCUiInlTEpGy8/LLL7NmzWtxhyFlZM2a13j55ZfjDiORlESk7Lz44ou8/vqrcYchZeT111/lxRdfjDuMRFISERGRvCmJiIhI3pREREQkb0oiIiKSNyURERHJW0VLS0vcMYiISIlSTURERPKmJCIiInlTEhERkbwpiYiISN6UREREJG9KIiIikjclERERyZteStVJZtYNuAM4GOgBXAe8APwKaAEWAZ9z9+aYQsxJlnK8AtwKpIAdwLnu/kZcMeYiUznc/b5o3FnA5939qPgizE2W/TEb+DlQC1QR9kdiHyXbznfqZ0ATsBSYlvTfBoCZVRG2vRF+DxcAFZTQ7zxLGWoo8G9cNZHOOxtY7+7HAqcA/wX8EPh6NKwC+GiM8eUqUzluIRx0JwH/B/x7fOHlLFM5MLPDgQsJ+6MUZCrH94Ffu/txwNeBETHGl4tMZfgW8B13P4aQWE6LMb7O+DCAux8NfJPwGy+133mmMhT8N64k0nm/B76R9rkJqAMejz4/CJzU1UHlIVM5Punuz0afq4HGLo+q83Yph5n1B24ArownpLxk2h9HAweY2V+BqcCsGOLqjExlWAD0M7MKwlnwzjgC6yx3/yNwcfRxEPAGJfY7z1KGgv/G1ZzVSe6+BcDMaoB7CWeIP3D31ufHbAb6xBRezjKVw91fj4a9D7gMOC6+CHOToRzfAH4BXAVsjzG0TsnyvboTaHD3k8zsm4Szxm/GF2X7spShBfhJ9PdGkp8I3+buTWZ2JzAZOBM4vQR/5/9ShmL8xlUTyYOZHQg8Bkx3998A6e2iNcCGWALrpAzlwMymENqwT3P3tXHGl6v0cgDLgGHAT4F7gEPN7OYYw8tZhv2xHrgvGv1nYHxcseUqQxluAY519xHAXcBNccbXWe5+HjCc0LewR9qokvmdp5fBzHoX+jeumkgnmdk+wMPAZe4+Mxq8wMwmufssQlvwY3HFl6tM5TCzs4FLgEnuXh9nfLnKsj9GRuMOBu5x98Q3a2UpxxPAqYTkeBzwz5jCy0mWMtQDm6K/VxOa6BLPzM4BDnD364FthBPFuaX0O89ShskU+Deup/h2kpndAkwBlqQNvgL4MdAdWAxc5O6pGMLLWYZyVAGHASt55wzrcXf/Vgzh5SzL/jjF3benJZGJsQTXCVnKcR5wO9Cb0BR0lrs3xBBeTrKU4RuE/qkm4C3Cb+Plro+uc8ysN/BLYF+gG6EMiwk1kpL4nWcpwy8JV8wV7DeuJCIiInlTn4iIiORNSURERPKmJCIiInlTEhERkbwpiYiISN6UREREJG9KIiIikjclERERyZuSiIiI5E1JRERE8qYkIiIieVMSERGRvCmJiIhI3pREREQkb0oiIiKSNyURERHJm16PKx0ys8OA54Ez3f0PcceTjZm1EN42d3vasFnAtdErTXdn2QVZTgfr2At4FOgJfMzdl0bDJwH3A8uBFsK7vhcBF7j75jzXdS2Au1/byfkGA1939wtznP4BYJq7r85x+j2B7wEfBLYSXq17bdrrdtub93zCa1/Pz2VdUhiqiUguPg38nvBu5qS73swOjDuIPB0OvOXuh7UmkDRz3f1wdx/r7iOiYV/t4vgABgHvzXVidz+1EwmkAvgz4TW6h7r7GOByYHqUSCWBVBORdplZN2AqcCzwlJm9FxhJOOP/cDTN54GhwNXAjcAkwjvbf+XuP4oOAN+Phi0iHPx+AfQF9o+m+2a0rp8BxwCvEc66v+vus8zsGuAT0TL+Avy7u2d6t/PNhPeSf7BNOQ4GZrn7wdHnayGciZvZGuCPwJHAGuAOwsHrAOB8d388WszFZvaj6O+rorj2BH5CeD99FfA9d/9tdFZ8HjAA+LO7v33AN7N9ovIfRHj3+FeB+dF69zWz+9z9I1l2SatZrWU0s7XAXGA/4AjgS8DZQAp4GPiyu6fM7EvAxcA6oAGYE83f4u4V0d/nE53Nm9lJwE2Ek82VwFnAj4EhZvYT4Hrg14R3wDcDl7v77Dbb/WXC92ES8CGgHzAEeNjdP9umTMcTktQJrfvW3ReY2XWEd7XPimqE9YTv4BRgFPB1Qo1lJbAlWu8RwI+AXlF5L3H3FW3nd/dnO9jO0gHVRKQjpwErozPjPxIOQg8CdWZWG03zSeBu4CIAdx8HTAA+ambHRtMMJxwczgM+BfzW3ScSDgJXmtkA4FLCAWkEcAHhgIiZfQioiz6PBd5DSGyZfA/ob2bTOlHGfYAH3X0soSlpsrsfC1wLXJk23ZZomvOAu82sB+EANs/d64DjgK+Z2ZBo+gOAsekJJHIr8Ki7jwbOJCSPCmAaocbRbgIxs97AR4Cno0EDCMnrcOCkaNx4wrYaClxqZuMJNcqx0TQHdLCOHoQEcZ67jyI0Z55HSK5z3f1zwIXA/e4+HvgmIfm3533Ax4HRwIfNbFSb8UdEy257cvC3aFyrhe5uwJuEk5PjgKOAmij27oQTibOi7+JNwM/bzq8EUhhKItKRC4DfRn//LvpcAcwAPm5mBwH93f0ZogOYmT0L/INwoGo9ULi7b4z++AHwipl9EbgF6E5IHicDv3b3FndfCbS2g59EqCXMI5yxjyecSe7C3ZuA8+l8s9aD0f8rCf0SrX/Xpk3zi2gdCwkHsBFRbJdGZf5bVI7W2OZH8bR1QtqyXiJsqyM7iG+8mT0brWcO4MAP08b/I/r/REKC3hat+45o2CTgAXff4u5bCc2T7RkFvNZ6oHX3r7j7rW2m+SvwRTP7DdAf+K8OlvmUu292923AS4RaSboWMreOdI/GtWot6/uiZb4RlfXuaPhwQpPbfdH2+h6h9tN2fikANWdJVma2N3AKodZxBSF51AIfA6YD340+/zqapYrQdPJ/0fwDCM0LE4Htacu9ifCj/g2hdnNStOwUmU9sqoCb3f2H0fx9Cc1AGbn7IjNrbdZq1RKto1U3YGfaPG+ljcu27PThldH8VcDZ7j4/im0fQnPJVNLK3EbbMlbQ8W9xrrtPyjbS3VvXlW3ZbcvfFMVOFHdFVAPoFg3aSdqB28z6EJ3pp63zSTM7FDid0LR0PuFEIJvGtL/bxgPh4H65mXVz951pw48iNNe1ai1rpjIRleulqGaGmVURaptt55cCUE1E2nMOMNPdD3D3g919EPAfwKVR2/f+0TStSeRR4CIz6xb1FTxBSCBtnQzc6O6/B4zQPFVFOLP9pJlVmNn+hLPnlmi555jZnmZWTUg8Z3YQ+/cIZ8dHRZ83AP3MbGDUVPOhzm4Moia0qGmoBlgWxfaZaPh+wEJCX0d7HiU0BRE1fR3NO01Tu+tR4FNmtke0rS4AHiPU6j5sZn3MrCcwOW2edcDIqGO7tSnNgb2jJAHwZUJzYxNRwjOz7xMS6J3AZcC43Qnc3f8O/BO4Oeofw8zqCE2G380wyxPAUWb2HjOrJCQygCWEfd3alPppwgmLFIGSiLTnfOC2NsN+AkwwsxGE5q3NUZMMhE7xZcACwpnjL7NcEns94YqbRYSDz1xgMPA/wGZC+/udhOak7e7+Z+APhDPVRcCz0fis0pq1Wj9vJLSfP0NIVnM6KnwGe5rZgqicZ0Vny98G9ojK8iihJvZiB8u5HDjBzJ4nJMRp7v56HvHswt3vJ1wOPJdwQH4FuDVqlrqZUP7HCdu21TXRPE8Tkgfu3kjonL/LzBYChwI3AIuBvmY2ndC3c2bUZDQDOLcARfgYsANYZGYvEJo7z870PXL3N4DP887+3BQN3wH8G3BTFPt5RElbCq+ipSXTBS4iXc/MTgMq3P3+qPlkATDe3etjDk1EslASkcSIbmSbDuwZDfqBu9/dziwiEjMlERERyZv6REREJG9KIiIikjclERERyZuSiIiI5E1JRERE8qYkIiIiefv/bKzNiUFHXgwAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with 0.2 (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name=0.2, figsize=(6,4), \n",
    "                             ylabel='Discount Level\\n', xlabel='\\nAverage Number of Products in Order');"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 62,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAZEAAAEfCAYAAACAm/v/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XmcHFW5//HPTCYhJASYhGGXPXkiW0gmLJEtCqhsQpBrlLATFhHZXC4oIgr3somCCG6IQgDxCkaRHyAYFoUQAyEskfCQyCZLMGGGECAJycz8/jinoZn0zPRUd09VN9/365VXpmt9TtXpeuqcqq6q6+joQEREJIn6tAMQEZHqpSQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmJCIiIok1pB2ABGa2GfA88Dd337PTuN8ARwFN7r6om2WcB6zj7qeY2WRggLtfbWYnAWu7+0XdzDse+Im7b9vLuNcGvg+MB9qBjricX/VmOZVmZo8D4939zRTW/RtgH2AhUAesBtwDnOHuK3uY91zgCXf/U6XjLJaZbQc8CZzl7hfnDT+PD+rfC8Ch7v5op3nvBzYFFhPqygDgUeDL7v5uN+v8HLC3u59aYuxTgIuB84Ct4uBRwBygDWh19092M//RhHIdUEoccVkHA9u5+/mlLitNaolkyzLAzGzT3AAzGwzsmmBZuwGDANz9Z90lkKTMbCDwAPAyMMbddwAOBs42s+PKvb5SuPsOaSSQPD+KMYwCdiDs04lFzPcpoH9FI+u9k4EbgVPMLMmJ6DfithgNbEuop9/vbgZ3v60MCeQLwGJ3n+Puh8YYdoijPxk/d5lAys3d/wjsYWY79Dhxhqklki1twO+AScD/xmGHAH8CvgarthgKtSDMbALwOWAfM1sKNPHhM8TfEs6M1wYuc/ef5gdhZgMIZ2t7Av2A2cCp7v5Wp3gnAm+7+yW5Ae7+YvyyDojL2gb4CTCMcOZ5mbtfH+O+EHgJMOAd4CLg1Pj5Vnc/I053MfAiMBJYChzt7nPNbARwFTAE2AB4HJjo7svMbHncbqPi9nwkbocG4HpgnRjy/3P378RYvwN8CVgJPAuc4u4L4tnzw4QD/ybAX4ETCCdhV8bhK4DngGPc/W26N5jQGlkQ17sWcAWwHSFhTAO+AZwIjAUuNbOPAWe6+8fiPH8BFrj7UWa2GvAqsAWwYVzWMMK++7G7XxvnORA4J+6bd4Gvu/vDsQWxWdyGmwKvAIe7+2udAzezIXF77kxIhocCN/dQ3i65e4eZ3QfsF5d/bCz3AGAocJG7/zS/BRD3RwuhPvw0xnsOoSXcRkhSfyuwuu8B/9VTTLFXYI67r1Hoc950hxLq5n7u7vHE6WRCvXgDOAX4N+Eka2d3fzbO91fgyti6/BXwXWBCjxsro9QSyZ7rgSPyPh8F/KY3C3D3qcBthLPfqwpMMhTYkdAF9f3YPZHvLMKBtDmeOb9KOMB3NhZ4qMD6H3P3GfEs9TbCF2Z7YF/gf81sXJx0R8JBYgfgLeBsYH9gDPAVM9swbz25ZfwamBKHHw9c5+67ELomNo/zQzgI/dndrVOXyvHAc+4+BtgdGG5ma5nZMTG+HeN65vDh7b5l3F65cuwJjIvDRrl7MyGJbF9gOwGcYWaPm9lThAPLa8CDcdyPgFlxGaMJCe7MuO8eJRwUfwSsMLNtzWx1wgH0U3H+vYB/EBLxLYRupuYY49fNbBczG044MdkvtgBOAP4QW7rEbfFf7j4yLuekLspxBPCsu88FrgPO6GK6ophZI+Fk5D4zW4Owf3IxTgQu6WLWVnff2t2vBC4FTnb3scB3CPuk83q2BVZ39zmlxJu3vC8RusTGxwSyJ+G7unuM/RJgqru/Q9hOk+N8WwIjgNvjou4G9o37tCopiWSMu88C2sysOZ59DilXxc9zlbt3uPvLwF3ApzuNPwA4CJgdryUcDGxdYDntdF+HRgAD3f0PAO7+KnAr8Nk4/nl3nx3//hdwn7u/F6/7vEVIdhCuCfw9/n0tMNrMhgH/DSw0s28Szkg3BPLPFv/Oqu4CPm9mdxDOeM9y98WExPDr+KWHcDa/V2yVQUhI7bE1Nj/G9hThzPcfZnY+ofU0vYttkevO2o7QIloG/DiOOwA4MW7rWcBOhFZJZ1NjnOMJrZX/xJbeQYTtOoKQ7K6Ny3oAWJ2QmPYhtDSmxXE3EvZf7rrA/Xktzdl8sO07O4lwUAS4AWjOOyko1qUxoT4B3E9IplfEFtwBwP5xe36bD+/PfPn79mZgqpldAzRSOPGMJOy3ctiRcCLzM3f/dxy2P2FbTo/b9xKg0cyGAlcDR5pZf0Lyvsbd2wDcvYVQFzalSqk7K5umAIcTLsRO6TSug3BxNmcAvZd/MbeecCDM1w84zd3vBIhniAMLLGcG8JXOA+NF0N0JrarOD2er54M+/uWdxq0oIt5c2dsI3XINwP8B/4/Q1ZS/bVbpVnL3R8xsc2Bvwpn8TDPbl1Dm/Fjr47Jzy1uaN64DqHP3N81sFKE761PA78zsUne/uoty5GJ4Jx7wLoyD+hFaAXPh/ZsVCj3UbipwPiFZ3gP8B/gMIbF8Kw5fnNfPj5mtR7iIfTwwzd0n5o37GKGVOaFQ+Tqv3Mx2J1zD+KaZfS0Ofo/QGnm4uzJ38g13v6XA8jeOy/kFIbHcQkgqhby/b93922Z2LSFRHk3o+t2p0/QdFH/S3NN37E1Ct+f/mdnt7v4CYR9Ocff/jmWpJ+yPVndvMbMnCcn+MEJXYL6VrPodrBpqiWTTDYS+24nATZ3GLQQ2MbN1zawO+GIXy1hJ1xdkjwQws00IrZA7O43/C+Gi6YD4ZfglHxzw8t0KrGVm3zSzfnGZWwA/BOYCzxC6YA6J4zYEPk84APbGDmaW6yY6AZgeL5J/Bvi+u/8ujtuZ8GXukpldBHwnXtQ8Dfgn4cB4F3BsXvfOqYQ75TonuvxlHUBoEUx39/MISXPHngoTt+m+wMw46C+E7q66eH3jNkJ/Onx4P04ntDQOIFyXuRs4ndC99AbgwFIzOzyu52OEbrnmGOenzWxkHLcf4Q6r3nSjfJlwoPyYu2/m7pvFWA6JdalUYwn1+4JYtgNirF3uUzNriNf5Brn7zwjXJLaP2zGfE7ZdMd4EBphZrvX9pU7j57n7vYTrYdfH/fkX4EtmtkGc5iTCNs+5itDtNjO2yHPxr0U4QXupyNgyR0kkg9z9FcJBeF5s7uaPexr4OaGvfAbhtuBC7gROMrOzC4zb3MxmEQ6cp7q7dxp/PvACoVvjacJZ2dc6TYO7v0c4o98GeCqebd0KXODu17r7CkJX2Glx3F8JB/37etgEnS0A/ideTziYD64ZfYvQjfEUYZs8wAfdM125nJCU5hC24fOE7pBfxfhmmtlcwnWZST0s605CEppjZo8CnyBcvC0kd01kNmHfrklIABAS1mBC99iT8f9cl8xtwIVmdpS7t8d1LnH3hYSz9aGEbZ7bHwcBk+P2vpuQMB+K9eYE4ObYjXQ+8LkibgIAwMyaCDd5XJo/PB5MHwa+WsxyenA34SK0E7bRJoSk0uU+9XCL9OnATWb2GPB74NjOyT92CS81s4/3FETs3vwmcKeZPcKHW2n5/oew377h7ncTLrLfE7f9YcAh7p5rUd5O6Jr7WadlfBq4vbuTlayr06PgP1qsi/v3s8oS/n5FpDMzOwzYzd1PTmHd44BrgG3zEgtmdi9wurs/2dcxlYtaIiLykeDuNwFDC9yNWFFmdh2htXtcpwQyAfh7NScQUEtERERKoJaIiIgkpiQiIiKJKYmIiEhiH6kfG65c2dbR0NDtzwhEem3atPBzgL322ivlSKRWZaCOrfLj05yPVBJpbe3ySdMlaWoawsKFSyqy7L6kciTT1tYOUPZ1an9kS5rlKGcdS1KOpqYhXY5Td5aIiCT2kWqJiFTC2mt39axCkfLIch1TEhEp0eabj0g7BKlxWa5j6s4SEZHElERESvTqqy/x6qtV+xBWqQJZrmNKIiIlev31V3n99Vd7nlAkoSzXMSURERFJTElEREQSUxIREZHElERERCQx/U5EpET9+ul5bFJZWa5jSiIiJdp++x3TDkFqXJbrmLqzREQkMSURkRItWfIWS5a8lXYYUsOyXMeURERKNH/+08yf/3TaYUgNy3IdUxIREZHElERERCQxJREREUlMSURERBJTEhERkcT0Y0OREo0YsU3aIUiNy3IdUxIRKdHgwUPSDkFqXJbrmLqzREQkMSURkRI9/vhMHn98ZtphSA3Lch1Td5ZIiTo62tMOQWpcluuYWiIiIpJYJloiZlYPXA2MApYDk919ft74M4Avxo93uPv3zKwOeBmYF4c/7O5n92HYIpLA1KkNXH75AJ59tp4RI9o5/fT3mDBhZdphSUKZSCLAwcBAdx9nZrsAlwEHAZjZFsAkYGegA/i7mU0F3gUec/cDU4pZRHpp6tQGTjxx9fc/z53bL35eqkRSpbKSRHYD7gJw9xlmNjZv3L+Bz7p7G4CZ9QeWAc3ARmZ2H7AUOMPdvW/DFglee62eyZMHl3WZ9fXQ3l7eZaYhvxwLFtQVnOaUUwZywQUdfRlWr6W5P84/v54NNsjmdZGsJJE1gcV5n9vMrMHdV7r7CmBR7L66FJjt7s+a2frAhe7+ezPbDbgB6Pb1X42Ng2hoqMxrJpuasnsfd2+oHL231VZbctNNUF9f/kuMlVhmGnLlWLGi8PgVK+qory+cYLIkrf1x332bc+655avX5fx+ZCWJvAXkl6re3d9v25rZQOBaYAlwchz8KLASwN0fNLONzKzO3bs8nWltfbfsgUPYIQsXLqnIsvuSypHMkCFNXHophOpZPrW4P/bccxBz5656Irf11m3cf39lvp/lku7+aAIoy/qTlKO7pJOV05yHgP0A4jWRp3IjYgvkT8AT7n5irlsL+C5wepxmFPBSdwlERNJ3+unvFRx+2mmFh0v2ZaUlMhXYx8ymA3XAMWZ2JjAf6AfsCaxmZvvG6c8GLgJuMLP9CS2So/s8ahHguefCpbgttrCUI8m+cPF8KVdc8cHdWaedpruzepLlOpaJJOLu7cBJnQY/k/f3wC5m3b8yEYkUb/Hi1rRDqCoTJqxU0uilLNexrHRniYhIFVISERGRxJREREQkMSURERFJLBMX1kWqWZZfGCS1Ict1TElEpERZfnWp1IYs1zF1Z4mISGJKIiIlWrhwAQsXLkg7DKlhWa5j6s4SKdHLL78AQFPT+ukGIjUry3VMLREREUlMSURERBJTEhERkcSUREREJDElERERSUx3Z4mUaPvtu30rs0jJslzHlEREStSv36qvexUppyzXMXVniZRo2bKlLFu2NO0wpIZluY4piYiUaO7cJ5g794m0w5AaluU6piQiIiKJKYmIiEhiSiIiIpKYkoiIiCSmJCIiIoll+nciZlYPXA2MApYDk919ft74M4Avxo93uPv3+j5K+ajbfPPhaYfQa/PmPcOsWTNpbX2DxsZhNDfvxPDhI9MOS7qQ5TqW9ZbIwcBAdx8HnAVclhthZlsAk4BPAOOAT5vZ9qlEKR9pa689jLXXHpZ2GEWbN+8Z7rnnDlpaFtHR0UFLyyLuuecO5s17Ju3QpAtZrmOZbokAuwF3Abj7DDMbmzfu38Bn3b0NwMz6A8v6PkTJoilTrkk7hJLV19fR3t5R9uW+887bBYdPm3YXM2Y8WPb1Vaocfe3MM89IO4RMynoSWRNYnPe5zcwa3H2lu68AFplZHXApMNvdn+1uYY2Ng2hoqMzjA5qahlRkuX2tVspRX1/XZ+vaaKONAHjllVfKvuxKlKO9vb3L4ZXabn25Pyopre/HQw89BMCuu+5aluWVsxxZTyJvAfmlrXf3lbkPZjYQuBZYApzc08JaW98te4AQdsjChUsqsuy+VEvlmDTpuD5b3+zZMwAYP/6zZV1upfbHzTdfT0vLolWGDxu2DhMnHln29dVKvQJSK8c777xbtvUn2R/dJZ2sXxN5CNgPwMx2AZ7KjYgtkD8BT7j7ibluLRHpXnPzTgWHjxlTeLhId7LeEpkK7GNm04E64BgzOxOYD/QD9gRWM7N94/Rnu/vD6YQqUh1yd2E99thMWltbaGwcypgxujtLksl0EnH3duCkToPzbyEZ2IfhiNSM4cNHKmlIWWS9O0tERDIs0y0RkWowbNi6aYcgNS7LdUxJRKREm2yyRdohSI3Lch1Td5aIiCSmJCJSopdeeo6XXnou7TCkhmW5jimJiJTojTf+wxtv/CftMKSGZbmOKYmIiEhiXV5YN7Nun3/g7teXPxwREakm3d2d9cluxnUASiIiIh9xXSYRdz8m/7OZNbp7a+VDEhGRatHj70TMbBTwO2BQfAji34AvuPtjlQ5OpBoMGLBa2iFIjctyHSvmx4ZXAhOAm9z9VTP7MvAzQI/8FAG22WZ02iFIjctyHSvm7qxB7j4398Hd7wGymxZFRKTPFJNEWmKXVgeAmU0CWioalUgVefPNN3jzzTfSDkNqWJbrWDHdWV8GrgO2MbM3gXnApIpGJVJFnn9+HgCjRw9LORKpVVmuY8UkkTXcfTczGwz0c/e3Kh2UiIhUh2K6s35lZk8BpwBrVTgeERGpIj0mEXcfCxwCDADuMLP7zOzYikcmIiKZV9Szs9x9HvBD4EJgTeDsSgYlIiLVoZgfG04ADgN2Af4MfNXdp1c6MBERyb5iLqwfTnhO1mHuvqLC8YhUnY9/fFTaIUiNy3IdK+aayOeBRcBxZjbAzPaofFgi1WPgwNUZOHD1tMOQGpblOtZjEjGz04ALgDOBIcDPzezrlQ5MpFq0tbXR1taWdhhSw7Jcx4rpzjoa2Bn4h7u/YWY7AjOBH5QrCDOrB64GRgHLgcnuPr/TNE3AdGA7d19mZnXAy4QfPwI87O664C997sknHwFg9OhdUo6k+syb9wyzZs2ktfUNGhuH0dy8E8OHj0w7rMzJch0rJom0uft7Zpb7vAwod0o8GBjo7uPik4IvAw7KjTSzzwAXAevlzbMl8Ji7H1jmWESkD8yb9wz33HPH+59bWha9/1mJpHoUk0QeMLMfAIPN7GDgBODeMsexG3AXgLvPMLOxnca3A3sDs/KGNQMbmdl9wFLgDHf3MsclktiUKdeUNH99fR3t7R1liiY9XZXjnXfeLjj9tGl3MWPGg5UOq9fS3B+bb74Z8EGdOuKIyanEUUgxSeQbwPHAE8CRwB3AT8scx5rA4rzPbWbW4O4r4f0nB5PXGgJ4DbjQ3X9vZrsBNwA7dreSxsZBNDT0K2vgOU1NQyqy3L6mcvRev371BddZX19X8rLLsYwsKFSO9vb2gtO2t7dnttxpx5Vbf6n1u5zfjx6TiLu3Az+P/wAws7MI3Uvl8hbhon1OfS6BdONRIJdkHjSzjcyszt27PFVobX239EgLaGoawsKFSyqy7L6kciTT1hYOhp3XOWnScSUtt9b3x803X09Ly6JVhg8btg4TJx7ZF6H1Spr7Y/bsGcAHdaqUOJKUo7ukU9Qv1gv4VsL5uvIQsB9AvCbyVBHzfBc4Pc4zCnipuwQiItnS3Fz4vXZjxuh9d9WkmO6sQsrdppsK7GNm0+OyjzGzM4H57n5bF/NcBNxgZvsTWiRHlzkmkaJsvPFmaYdQlXIXzx97bCatrS00Ng5lzBjdnVVIlutY0iRS1jP+2GV2UqfBzxSYbrO8v1uB/csZh0gSTU3rpx1C1Ro+fKSSRhGyXMe6TCJm9msKJ4s69HpcERGh+5bI/QnHiXykPPvsPwEYMWKblCORWpXlOtZlEnH36/oyEJFq9c471X8HlWRblutY0ruzRERElERERCS5Yp7iu8pDDc3sfysTjoiIVJPu7s66CFgX+JyZDc8b1Z/wVN9y/+BQRESqTHd3Z90KbA3sBTyQN3wl8P1KBiVSTdZaqzHtEKTGZbmOdXd31iPAI2b2R3df3NV0Ih91W2xhPU8kUoIs17FifrF+sJldBuRSYR3Q4e6VeRyuiIhUjWKSyLnAeHefU+lgRKrRa6+9DMAGG2ycciRSq7Jcx4q5xfdVJRCRri1Y8DILFrycdhhSw7Jcx4ppicwys1uAuwmvxgXA3a+vWFQiIlIVikkiawFLgHF5wzoAJRERkY+4Yt5seExfBCIiItWnxyRiZs9T4JHw7r5FRSISEZGqUUx31vi8v/sDE9D7RETeV1enR9BJZWW5jhXTnfVip0GXmtmjwAWVCUmkuuywg94JLpWV5TpWTHfWHnkf64BtgNUrFpGIiFSNYrqzvpf3dwewCDiqMuGIVJ/cC4MGDx6SciRSq7Jcx4rpzvokgJkNAfq5+5sVj0qkiuReXTp69C4pRyK1Kst1rJjurC2Am4EtgTozexGY6O7PVjo4ERHJtmIu+f8cuMTdh7n7UOBC4BeVDUtERKpBMddE1nH3W3If3P3/zOycCsb0PjOrB64GRgHLgcnuPr/TNE3AdGA7d1+26lJEKm/RokXcfPP1tLa+QWPjMJqbd2L48JFphyVSccW0RJab2ZjcBzNrBt6tXEgfcjAw0N3HAWcBl+WPNLPPEJ7ptV4fxSOyikWLFjFv3rO0tCyio6ODlpZF3HPPHcyb90zaoYlUXDEtkdOBW82shXCL71BgYkWj+sBuwF0A7j7DzMZ2Gt8O7A3M6qN4PvKmTLkm7RB6VF9fR3v7Kg9ZqJgVK94rOHzatLuYMePBxMvt63JUSn45jjhicsrRSLkVc3fWDDMbAYwgtFxecPclFY8sWBPIf6tim5k1uPvKGNs9AGbFvfWrsXEQDQ2VeZdWU1P2br1Loqdy1NfX9VEkpenLOJctK9yL2t7eXnIc1bK9e5IrR7V/T9KKf8cdw/lzY2N51l/OchRzd9YXgO+4+3ZmtiXwtJmd4u5/KlsUXXsLyC9tfS6BJNHaWpleuKamISxc2Fd5tXKKKcekScf1UTTJ9fX+uPnm62lpWbTK8GHD1mHixCMTL7cW61U1lyfd/REO1eVYf5JydJd0irkmcg6hywh3/xfQzId/gFhJDwH7AZjZLsBTfbRekaI1Nxd+JMWYMdl9VIVIuRSTRAa4++u5D+7+H8K1kb4wFVhmZtOBHwFnmNmZZva5Plq/SI+WLl2CmTFs2DrU19czbNg67LPPfro7S8rmyScf4cknH0k7jIKKubD+oJn9FriR8NiTLwIPVzSqyN3bgZM6DV7llhd336wv4hEppK2tjaFDh7HXXvunHYrUqLa2trRD6FIxSeQrwFeBE4EVwAPATysZlIiIVIceu7PcfTlwo7sfCFwOrAQqc4uTiIhUlR6TiJn9FLjAzLYGbgDGAL+sdGAiIpJ9xVxY3wmYDHwBuNbdjwOK+2GGiIjUtGKuifQjJJuDgJPMbBAwuKJRiVSR9dbbMO0QpMZluY4Vk0SuB14DHnL3f5jZ04Qn+4oIsOGGm6QdgtS4LNexYi6s/xBY390nxEF7uPsVlQ1LRESqQZctETP7hbufYGb3AR35z6cyM9z9U30RoEjWPf98eD/b5puPSDkSqVVZrmPddWfluqzO64M4RKrWm2+2pB2C1Lgs17Euk4i75x6v/gYwElgKPO3uz/dFYCIikn3ddWetC9wCbAvMIzzyxMzsYeBL7r64q3lFROSjobsL6xcCDwLrufvO7r4L4Q2CTwC6sC4iIt1eE/mEu388f4C7v2dm3wIer2xYIiJSDbpriRR8XZu7dxBeSysiwKBBgxk0SL+/lcrJch3rriXS3cudq//FzyJlYrZd2iFIjctyHesuiWxjZs8VGF4HbFCheEREpIp0l0Sy96sWkQxatCi8+HOdddZLORKpVVmuY939TuTFvgxEpFr9+9/hp1NZ/IJLbchyHSvmUfAiIiIFKYmIiEhiSiIiIpKYkoiIiCSmJCIiIokV82bDijOzeuBqYBSwHJjs7vPzxh8PnAisBC5w99vNbCjwLDAnTjZVL8uSNGy3XXPaIWTSvHnPMGvWTFpb36CxcRjNzTsxfPjItMOqSlmuY5lIIsDBwEB3H2dmuwCXEd7pjpmtD5wKjAUGAg+a2T3AGOC37v7VlGIWAaChoX/aIWTOvHnPcM89d7z/uaVl0fuflUh6L8t1LCtJZDfgLgB3n2FmY/PG7UR4v/tyYLmZzQe2B5qBMWb2APAf4FR3f62P4xZh+fLlAKy22mpMmXJN2ZZbX19He3t1PmHonXfeLjh82rS7mDHjwT6OpjzKuT+OOGJyr6bPr2NZk5UksiaQ/36SNjNrcPeVBcYtAdYCngFmuftfzWwScCVwaHcraWwcRENDv/JGHjU1DanIcvuaytF706bNBGCvvfaivr6urMsu9/L6Snt74We0tre3V22ZoHz7o7f1M7+OpbH+7mQlibwF5JeqPiaQQuOGAG8C/wDejcOmAt/vaSWtre/2NEkiTU1DWLhwSUWW3ZdUjmTa2sIBc+HCJUyadFzZllvN++Pmm6+npWXRKsOHDVuHiROPTCGi0pVzf/R2Ofl1rFRJytFd0snK3VkPAfsBxGsiT+WNmwnsbmYDzWwt4OOEi+nXAJ+P0+wFzEJEMqG5eaeCw8eMKTxcqldWWiJTgX3MbDrhKcHHmNmZwHx3v83Mfgz8nZD0vu3uy8zsLOBaMzsZeAfoXSejiFRM7uL5Y4/NpLW1hcbGoYwZo7uzalEmkoi7twMndRr8TN74XwK/7DTP88AnKx+diCQxfPhIhg8fWdXdctKzrHRniYhIFcpES0Skmm266VZphyA1Lst1TElEpERDh66TdghS47Jcx9SdJSIiiSmJiJTo6acf5+mnH087DKlhWa5j6s4SKdHy5cvSDkFqXJbrmFoiIiKSmJKIiIgkpiQiIiKJKYmIiEhiurAuUqKhQ5vSDkFqXJbrmJKISIk23XTLtEOQGpflOqbuLBERSUxJRKREL7/8Ai+//ELaYUgNy3IdUxIRKdHChQtYuHBB2mFIDctyHVMSERGRxJREREQkMSURERFJTElEREQS0+9ERErUv/+AtEOQGpflOqYkIlKibbcdk3YIUuOyXMfUnSUiIokpiYiUaPHiVhYvbk07DKlhWa5jme7OMrN64GpgFLAcmOzu8/PGHw+cCKwELnD321MJtArYO050AAAOAElEQVSsNvUWBl1+Gf2efYa2ESN59/SvsXzCoWmHVROee84BGD16l5QjkVqV5TqW9ZbIwcBAdx8HnAVclhthZusDpwK7Ap8BLjSz1VKJMuNWm3oLa554LA1z/0ldWxsNc//Jmicey2pTb0k7NBGpcpluiQC7AXcBuPsMMxubN24n4CF3Xw4sN7P5wPbAI30fZmFDm7dNOwQA6he8VnD4kFNOZPAF5+VNWMfQ9o4+iSlfy6w5fb5OESmPrCeRNYHFeZ/bzKzB3VcWGLcEWKu7hTU2DqKhoV/5owSamoasOrC+riLr6rUVKwoOrluxgn6dYuz8uS8U3HYZXGZX+vWrr9g6+7IclaRylKbcdayc5ch6EnkLyC9tfUwghcYNAd7sbmGtre+WN7qoqWkICxcuWXXEI09VZH291bjnOBrm/nOV4Su33pbW+6e//7nLclRamdfZ1+Voa2sHKPs6U9sfZaZylK6cdSxJObpLOlm/JvIQsB+Ame0C5B+VZwK7m9lAM1sL+DigfpEC3j39a4WHn3ZmH0ciIrUm6y2RqcA+ZjYdqAOOMbMzgfnufpuZ/Rj4OyEZftvdl6UYa2Ytn3AobwGDrvjhB3dnnXam7s4qk5Ejt087BKlxWa5jdR0dfX8hNS0LFy6pSGHVXM8WlSNbVI5sSdid1eXF0qx3Z4lkXnt7O+3t7WmHITUsy3VMSUSkRE88MZMnnpiZdhhSw7Jcx5REREQkMSURERFJTElEREQSUxIREZHElERERCSxrP/YUCTzNtpo07RDkBqX5TqmJCJSonXX3SDtEKTGZbmOqTtLREQSUxIRKdG8eU8zb97TaYchNSzLdUzdWSIlevvtt9IOQWpcluuYWiIiIpKYkoiIiCSmJCIiIokpiYiISGK6sC5SoiFD1ko7BKlxWa5jSiIiJdpqq4+nHYLUuCzXMXVniYhIYkoiIiVasOAVFix4Je0wpIZluY6pO0ukRK+99m8A1l9/o5QjkVqV5TqmloiIiCSmJCIiIokpiYiISGJKIiIikpiSiIiIJFbX0dGRdgwiIlKl1BIREZHElERERCQxJREREUlMSURERBJTEhERkcSUREREJDElERERSUxP8e0lM+sPXAtsBqwGXAA8DfwG6ADmAF9x9/aUQixKF+V4CbgSaAOWA0e6++tpxViMQuVw99viuMOAr7r7uPQiLE4X+2MG8EugEehH2B//SivGnnRTp34GrASeBSZn/bsBYGb9CNveCN+HY4A6quh73kUZhlDm77haIr13OPCGu+8O7Av8BPghcE4cVgcclGJ8xSpUjisIB93xwB+A/04vvKIVKgdmtgNwHGF/VINC5bgEuNHd9wDOAUamGF8xCpXhu8D33X03QmLZP8X4euNAAHffFTiX8B2vtu95oTKU/TuuJNJ7vwe+k/d5JdAMPBA/3wns3ddBJVCoHF9098fj5wZgWZ9H1XurlMPMhgEXAaenE1IihfbHrsDGZvZXYBJwfwpx9UahMswGhppZHeEseEUagfWWu/8ROCF+3BR4nSr7nndRhrJ/x9Wd1Uvu/jaAmQ0BbiGcIf7A3XPPj1kCrJVSeEUrVA53fy0O+wRwCrBHehEWp0A5vgP8CjgDWJpiaL3SRb26Dmh1973N7FzCWeO56UXZvS7K0AFcFf9eTPYT4fvcfaWZXQdMAA4FDqjC7/mHylCJ77haIgmY2ceA+4Ap7n4TkN8vOgR4M5XAeqlAOTCziYQ+7P3dfWGa8RUrvxzAPGA48FPgZmBrM7s8xfCKVmB/vAHcFkf/GRibVmzFKlCGK4Dd3X0kcD1wWZrx9Za7HwWMIFxbWD1vVNV8z/PLYGaDy/0dV0ukl8xsPeBu4BR3nxYHzzaz8e5+P6Ev+L604itWoXKY2eHAicB4d29JM75idbE/tonjNgNudvfMd2t1UY4Hgf0IyXEP4J8phVeULsrQArwV/36V0EWXeWZ2BLCxu18IvEs4UXy0mr7nXZRhAmX+juspvr1kZlcAE4Fn8gafBvwYGADMBY5397YUwitagXL0A7YFXuSDM6wH3P27KYRXtC72x77uvjQvieySSnC90EU5jgKuAQYTuoIOc/fWFMIrShdl+A7h+tRK4D3Cd+OFvo+ud8xsMPBrYH2gP6EMcwktkqr4nndRhl8T7pgr23dcSURERBLTNREREUlMSURERBJTEhERkcSUREREJDElERERSUxJREREElMSERGRxJREREQkMSURERFJTElEREQSUxIREZHElERERCQxJREREUlMSURERBJTEhERkcSUREREJDG9Hld6ZGbbAk8Bh7r7rWnH0xUz6yC8be6avGH3A+fFV5qWsuyyLKeHdawJ3AsMBA5x92fj8PHA7cB8oIPwru85wDHuviThus4DcPfzejnf5sA57n5ckdPfAUx291eLnH4N4GLgM8A7hFfrnpf3ut3u5j2a8NrXo4tZl5SHWiJSjGOB3xPezZx1F5rZx9IOIqEdgPfcfdtcAsnzqLvv4O6j3X1kHPatPo4PYFNgy2Indvf9epFA6oA/E16ju7W7jwJOBabERCoZpJaIdMvM+gOTgN2B6Wa2JbAN4Yz/wDjNV4GtgDOBS4HxhHe2/8bdfxQPAJfEYXMIB79fAWsDG8bpzo3r+hmwG/AK4az7fHe/38zOAr4Ql/EX4L/dvdC7nS8nvJf8M53KsRlwv7tvFj+fB+FM3MwWAH8EdgYWANcSDl4bA0e7+wNxMSeY2Y/i32fEuNYAriK8n74fcLG7/zaeFR8FrAP82d3fP+Cb2Xqx/JsQ3j3+LeCxuN71zew2d/9cF7sk5/5cGc1sIfAosAGwI/AN4HCgDbgb+Ka7t5nZN4ATgEVAKzAzzt/h7nXx76OJZ/NmtjdwGeFk80XgMODHwBZmdhVwIXAj4R3w7cCp7j6j03Z/gVAfxgOfBYYCWwB3u/vJncq0JyFJfSq3b919tpldQHhX+/2xRdhCqIMTge2AcwgtlheBt+N6dwR+BAyK5T3R3Z/vPL+7P97DdpYeqCUiPdkfeDGeGf+RcBC6E2g2s8Y4zReBG4DjAdx9DLATcJCZ7R6nGUE4OBwFfAn4rbvvQjgInG5m6wAnEQ5II4FjCAdEzOyzQHP8PBrYiJDYCrkYGGZmk3tRxvWAO919NKEraYK77w6cB5yeN93bcZqjgBvMbDXCAWyWuzcDewDfNrMt4vQbA6PzE0h0JXCvu28PHEpIHnXAZEKLo9sEYmaDgc8BD8dB6xCS1w7A3nHcWMK22go4yczGElqUo+M0G/ewjtUICeIod9+O0J15FCG5PuruXwGOA25397HAuYTk351PAJ8HtgcONLPtOo3fMS6788nB3+K4nCfd3YD/EE5O9gDGAUNi7AMIJxKHxbp4GfDLzvMrgZSHkoj05Bjgt/Hv38XPdcBU4PNmtgkwzN0fIR7AzOxx4B+EA1XuQOHuvjj+8QPgJTP7OnAFMICQPPYBbnT3Dnd/Ecj1g+9NaCXMIpyxjyWcSa7C3VcCR9P7bq074/8vEq5L5P5uzJvmV3EdTxIOYCNjbCfFMv8tliMX22Mxns4+lbes5wjbauce4htrZo/H9cwEHPhh3vh/xP/3IiTod+O6r43DxgN3uPvb7v4OoXuyO9sBr+QOtO5+trtf2WmavwJfN7ObgGHAT3pY5nR3X+Lu7wLPEVol+Too3DsyII7LyZX1E3GZr8ey3hCHjyB0ud0Wt9fFhNZP5/mlDNSdJV0ys3WBfQmtjtMIyaMROASYApwfP98YZ+lH6Dr5Q5x/HUL3wi7A0rzlXkb4Ut9EaN3sHZfdRuETm37A5e7+wzj/2oRuoILcfY6Z5bq1cjriOnL6Ayvy5nkvb1xXy84fXh/n7wcc7u6PxdjWI3SXTCKvzJ10LmMdPX8XH3X38V2NdPfcurpadufyr4yxE+Ouiy2A/nHQCvIO3Ga2FvFMP2+dD5nZ1sABhK6lowknAl1Zlvd353ggHNxPNbP+7r4ib/g4QnddTq6shcpELNdzsWWGmfUjtDY7zy9loJaIdOcIYJq7b+zum7n7psD/ACfFvu8N4zS5JHIvcLyZ9Y/XCh4kJJDO9gEudfffA0bonupHOLP9opnVmdmGhLPnjrjcI8xsDTNrICSeQ3uI/WLC2fG4+PlNYKiZNcWums/2dmMQu9Bi19AQYF6M7ctx+AbAk4RrHd25l9AVROz62pUPuqZKdS/wJTNbPW6rY4D7CK26A81sLTMbCEzIm2cRsE28sJ3rSnNg3ZgkAL5J6G5cSUx4ZnYJIYFeB5wCjCklcHf/O/BP4PJ4fQwzayZ0GZ5fYJYHgXFmtpGZ1RMSGcAzhH2d60o9lnDCIhWgJCLdORq4utOwq4CdzGwkoXtrSeySgXBRfB4wm3Dm+Osubom9kHDHzRzCwedRYHPgF8ASQv/7dYTupKXu/mfgVsKZ6hzg8Ti+S3ndWrnPiwn9548QktXMngpfwBpmNjuW87B4tvw9YPVYlnsJLbF/9bCcU4FPmdlThIQ42d1fSxDPKtz9dsLtwI8SDsgvAVfGbqnLCeV/gLBtc86K8zxMSB64+zLCxfnrzexJYGvgImAusLaZTSFc2zk0dhlNBY4sQxEOAZYDc8zsaUJ35+GF6pG7vw58lQ/251tx+HLgv4DLYuxHEZO2lF9dR0ehG1xE+p6Z7Q/UufvtsftkNjDW3VtSDk1EuqAkIpkRf8g2BVgjDvqBu9/QzSwikjIlERERSUzXREREJDElERERSUxJREREElMSERGRxJREREQkMSURERFJ7P8DcC0EFemXUmAAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with 0.25 (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name=0.25, figsize=(6,4), \n",
    "                             ylabel='Discount Level\\n', xlabel='\\nAverage Number of Products in Order');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> **However, some levels seem to have an unwanted effect, e.g. 0.2: The number of ordered products becomes even less compared to 0.15 or 0.05!**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 3.4 - Conclusions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**A one-way ANOVA with $\\alpha$ = 0.05 was used to analyze the effect of discount levels on the number of items in an order:**\n",
    "\n",
    "* There was a **statistically significant difference** between the discount levels with p = 2.991487e-09.\n",
    "\n",
    "* Therefore I may reject the null hypothesis in support of the alternative: The average number of ordered products differs between at least two discount levels. It seems that the number of items can't be increased by offering a discount higher than 0.05.\n",
    "\n",
    "* Post-hoc testing revealed interesting details though in which groups actually differ. Further investigation may be needed, but post-hoc testing revealed interesting details about which groups actually differ. For example, there is some evidence that a discount of 0.1 may be less productive than one of 0.15 or 0.25 (double-digits).\n",
    "\n",
    "* However, the effect size is small, pointing to a **low practical significance**.\n",
    "\n",
    "* My $\\alpha$ = 0.05 is effectively the probability that I might mistakenly reject the null hypothesis when it is actually true. This is called a \"Type 1 Error\". <br> With a significance level set to 5%, I am saying that only a small probability of a Type 1 error occurring is acceptable. The opposite is a \"Type 2 Error\" where I may mistakenly support the null hypothesis when the alternative is actually true.\n",
    "\n",
    "**The results could be used to further investigate and maybe test the effect of different discount levels as potential revenue boosters.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 4. Question: Influence of Gender and Categories on Sales"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "> How do gender and product influence the amount of sales? Do they interact in that a specific gender responds well to specific categories?"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 4.1 - Exploratory Research"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 63,
   "metadata": {},
   "outputs": [],
   "source": [
    "# joining \"Order\", \"OrderDetail\", \"Customer\", \"Product\" and \"Category\" tables\n",
    "# using the pd.read_sql_query() method and giving them meaningful column names in that step\n",
    "\n",
    "df4 = pd.read_sql_query('''SELECT c.Id customer_id, c.contactname contact_name, c.contacttitle title, \n",
    "                            o.Id order_id, od.Quantity quantity, od.UnitPrice unit_price, od.Discount discount,\n",
    "                            cat.Id cat_id, cat. CategoryName cat_name\n",
    "                            FROM OrderDetail od \n",
    "                            JOIN [Order] o ON od.OrderId = o.Id\n",
    "                            JOIN Customer c ON o.CustomerId = c.Id\n",
    "                            JOIN Product p ON od.ProductId = p.Id\n",
    "                            JOIN Category cat ON p.categoryId = cat.Id\n",
    "                            ;''', engine)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 64,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1. Rows and Columns:\n",
      "(2078, 9)\n",
      "...............................\n",
      "\n",
      "2. Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2078 entries, 0 to 2077\n",
      "Data columns (total 9 columns):\n",
      "customer_id     2078 non-null object\n",
      "contact_name    2078 non-null object\n",
      "title           2078 non-null object\n",
      "order_id        2078 non-null int64\n",
      "quantity        2078 non-null int64\n",
      "unit_price      2078 non-null float64\n",
      "discount        2078 non-null float64\n",
      "cat_id          2078 non-null int64\n",
      "cat_name        2078 non-null object\n",
      "dtypes: float64(2), int64(3), object(4)\n",
      "memory usage: 146.2+ KB\n",
      "None\n",
      "...............................\n",
      "\n",
      "3. Dataframe:\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>customer_id</th>\n",
       "      <th>contact_name</th>\n",
       "      <th>title</th>\n",
       "      <th>order_id</th>\n",
       "      <th>quantity</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>discount</th>\n",
       "      <th>cat_id</th>\n",
       "      <th>cat_name</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>VINET</td>\n",
       "      <td>Paul Henriot</td>\n",
       "      <td>Accounting Manager</td>\n",
       "      <td>10248</td>\n",
       "      <td>12</td>\n",
       "      <td>14.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Dairy Products</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>VINET</td>\n",
       "      <td>Paul Henriot</td>\n",
       "      <td>Accounting Manager</td>\n",
       "      <td>10248</td>\n",
       "      <td>10</td>\n",
       "      <td>9.8</td>\n",
       "      <td>0.0</td>\n",
       "      <td>5</td>\n",
       "      <td>Grains/Cereals</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>VINET</td>\n",
       "      <td>Paul Henriot</td>\n",
       "      <td>Accounting Manager</td>\n",
       "      <td>10248</td>\n",
       "      <td>5</td>\n",
       "      <td>34.8</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Dairy Products</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>TOMSP</td>\n",
       "      <td>Karin Josephs</td>\n",
       "      <td>Marketing Manager</td>\n",
       "      <td>10249</td>\n",
       "      <td>9</td>\n",
       "      <td>18.6</td>\n",
       "      <td>0.0</td>\n",
       "      <td>7</td>\n",
       "      <td>Produce</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>TOMSP</td>\n",
       "      <td>Karin Josephs</td>\n",
       "      <td>Marketing Manager</td>\n",
       "      <td>10249</td>\n",
       "      <td>40</td>\n",
       "      <td>42.4</td>\n",
       "      <td>0.0</td>\n",
       "      <td>7</td>\n",
       "      <td>Produce</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  customer_id   contact_name               title  order_id  quantity  \\\n",
       "0       VINET   Paul Henriot  Accounting Manager     10248        12   \n",
       "1       VINET   Paul Henriot  Accounting Manager     10248        10   \n",
       "2       VINET   Paul Henriot  Accounting Manager     10248         5   \n",
       "3       TOMSP  Karin Josephs   Marketing Manager     10249         9   \n",
       "4       TOMSP  Karin Josephs   Marketing Manager     10249        40   \n",
       "\n",
       "   unit_price  discount  cat_id        cat_name  \n",
       "0        14.0       0.0       4  Dairy Products  \n",
       "1         9.8       0.0       5  Grains/Cereals  \n",
       "2        34.8       0.0       4  Dairy Products  \n",
       "3        18.6       0.0       7         Produce  \n",
       "4        42.4       0.0       7         Produce  "
      ]
     },
     "execution_count": 64,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('1. Rows and Columns:')\n",
    "print(df4.shape)\n",
    "print('...............................')\n",
    "print('\\n2. Info:')\n",
    "print(df4.info())\n",
    "print('...............................\\n\\n3. Dataframe:')\n",
    "df4.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 65,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['Dairy Products' 'Grains/Cereals' 'Produce' 'Seafood' 'Condiments'\n",
      " 'Confections' 'Beverages' 'Meat/Poultry']\n"
     ]
    }
   ],
   "source": [
    "print(df4.cat_name.unique())"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Feature Engineering"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 66,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "85"
      ]
     },
     "execution_count": 66,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# check the number of unique names\n",
    "len(df4.contact_name.unique())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 67,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['Paul Henriot', 'Karin Josephs', 'Mario Pontes', 'Mary Saveley',\n",
       "       'Pascale Cartrain', 'Yang Wang', 'Michael Holz', 'Paula Parente',\n",
       "       'Carlos Hernández', 'Roland Mendel', 'Francisco Chang',\n",
       "       'Henriette Pfalzheim', 'Bernardo Batista', 'Paula Wilson',\n",
       "       'Maria Larsson', 'Frédérique Citeaux', 'Pirkko Koskitalo',\n",
       "       'Peter Franken', 'Manuel Pereira', 'Karl Jablonski',\n",
       "       'Art Braunschweiger', 'Horst Kloss', 'Giovanni Rovelli',\n",
       "       'Miguel Angel Paolino', 'Alexander Feuer', 'Christina Berglund',\n",
       "       'Renate Messner', 'Alejandra Camino', 'Carlos González',\n",
       "       'Janete Limeira', 'Maurizio Moroni', 'Victoria Ashworth',\n",
       "       'Pedro Afonso', 'Anabela Domingues', 'Patricia McKenna',\n",
       "       'Rita Müller', 'José Pedro Freyre', 'Rene Phillips', 'Fran Wilson',\n",
       "       'Ana Trujillo', 'Liz Nixon', 'Helen Bennett',\n",
       "       'Guillermo Fernández', 'Philip Cramer', 'Jose Pavarotti',\n",
       "       'Martín Sommer', 'Lino Rodriguez', 'Laurence Lebihan',\n",
       "       'Jean Fresnière', 'Isabel de Castro', 'Jytte Petersen',\n",
       "       'Aria Cruz', 'Annette Roulet', 'Georg Pipps', 'Thomas Hardy',\n",
       "       'Hari Kumar', 'Sven Ottlieb', 'Ann Devon', 'Eduardo Saavedra',\n",
       "       'Palle Ibsen', 'Zbyszek Piestrzeniewicz', 'Yoshi Latimer',\n",
       "       'Jonas Bergulfsen', 'Elizabeth Lincoln', 'Felipe Izquierdo',\n",
       "       'Martine Rancé', 'Paolo Accorti', 'André Fonseca',\n",
       "       'Elizabeth Brown', 'Sergio Gutiérrez', 'John Steel',\n",
       "       'Yoshi Tannamuri', 'Hanna Moos', 'Simon Crowther',\n",
       "       'Patricio Simpson', 'Howard Snyder', 'Catherine Dewey',\n",
       "       'Helvetius Nagy', 'Jaime Yorres', 'Matti Karttunen', 'Liu Wong',\n",
       "       'Maria Anders', 'Carine Schmitt', 'Dominique Perrier',\n",
       "       'Daniel Tonini'], dtype=object)"
      ]
     },
     "execution_count": 67,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# check the names themselves\n",
    "df4.contact_name.unique()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 68,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>customer_id</th>\n",
       "      <th>contact_name</th>\n",
       "      <th>title</th>\n",
       "      <th>order_id</th>\n",
       "      <th>quantity</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>discount</th>\n",
       "      <th>cat_id</th>\n",
       "      <th>cat_name</th>\n",
       "      <th>gender</th>\n",
       "      <th>spend_gross</th>\n",
       "      <th>spend_net</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>VINET</td>\n",
       "      <td>Paul Henriot</td>\n",
       "      <td>Accounting Manager</td>\n",
       "      <td>10248</td>\n",
       "      <td>12</td>\n",
       "      <td>14.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Dairy Products</td>\n",
       "      <td>m</td>\n",
       "      <td>168.0</td>\n",
       "      <td>168.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>VINET</td>\n",
       "      <td>Paul Henriot</td>\n",
       "      <td>Accounting Manager</td>\n",
       "      <td>10248</td>\n",
       "      <td>10</td>\n",
       "      <td>9.8</td>\n",
       "      <td>0.0</td>\n",
       "      <td>5</td>\n",
       "      <td>Grains/Cereals</td>\n",
       "      <td>m</td>\n",
       "      <td>98.0</td>\n",
       "      <td>98.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>VINET</td>\n",
       "      <td>Paul Henriot</td>\n",
       "      <td>Accounting Manager</td>\n",
       "      <td>10248</td>\n",
       "      <td>5</td>\n",
       "      <td>34.8</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Dairy Products</td>\n",
       "      <td>m</td>\n",
       "      <td>174.0</td>\n",
       "      <td>174.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>TOMSP</td>\n",
       "      <td>Karin Josephs</td>\n",
       "      <td>Marketing Manager</td>\n",
       "      <td>10249</td>\n",
       "      <td>9</td>\n",
       "      <td>18.6</td>\n",
       "      <td>0.0</td>\n",
       "      <td>7</td>\n",
       "      <td>Produce</td>\n",
       "      <td>f</td>\n",
       "      <td>167.4</td>\n",
       "      <td>167.4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>TOMSP</td>\n",
       "      <td>Karin Josephs</td>\n",
       "      <td>Marketing Manager</td>\n",
       "      <td>10249</td>\n",
       "      <td>40</td>\n",
       "      <td>42.4</td>\n",
       "      <td>0.0</td>\n",
       "      <td>7</td>\n",
       "      <td>Produce</td>\n",
       "      <td>f</td>\n",
       "      <td>1696.0</td>\n",
       "      <td>1696.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  customer_id   contact_name               title  order_id  quantity  \\\n",
       "0       VINET   Paul Henriot  Accounting Manager     10248        12   \n",
       "1       VINET   Paul Henriot  Accounting Manager     10248        10   \n",
       "2       VINET   Paul Henriot  Accounting Manager     10248         5   \n",
       "3       TOMSP  Karin Josephs   Marketing Manager     10249         9   \n",
       "4       TOMSP  Karin Josephs   Marketing Manager     10249        40   \n",
       "\n",
       "   unit_price  discount  cat_id        cat_name gender  spend_gross  spend_net  \n",
       "0        14.0       0.0       4  Dairy Products      m        168.0      168.0  \n",
       "1         9.8       0.0       5  Grains/Cereals      m         98.0       98.0  \n",
       "2        34.8       0.0       4  Dairy Products      m        174.0      174.0  \n",
       "3        18.6       0.0       7         Produce      f        167.4      167.4  \n",
       "4        42.4       0.0       7         Produce      f       1696.0     1696.0  "
      ]
     },
     "execution_count": 68,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# define all male customers:\n",
    "male_names = ['Paul Henriot','Mario Pontes', 'Pascale Cartrain', 'Yang Wang', 'Michael Holz',\n",
    "              'Carlos Hernández', 'Roland Mendel', 'Francisco Chang', 'Bernardo Batista', \n",
    "              'Frédérique Citeaux', 'Pirkko Koskitalo', 'Peter Franken', 'Manuel Pereira', \n",
    "              'Karl Jablonski', 'Art Braunschweiger', 'Horst Kloss', 'Giovanni Rovelli',\n",
    "              'Miguel Angel Paolino', 'Alexander Feuer', 'Carlos González', 'Maurizio Moroni',\n",
    "              'Pedro Afonso', 'José Pedro Freyre', 'Rene Phillips', 'Fran Wilson', 'Guillermo Fernández', \n",
    "              'Philip Cramer', 'Jose Pavarotti','Martín Sommer', 'Lino Rodriguez', 'Laurence Lebihan', \n",
    "              'Jean Fresnière', 'Georg Pipps', 'Thomas Hardy', 'Hari Kumar', 'Sven Ottlieb', \n",
    "              'Eduardo Saavedra', 'Palle Ibsen', 'Zbyszek Piestrzeniewicz', 'Yoshi Latimer', \n",
    "              'Jonas Bergulfsen', 'Felipe Izquierdo', 'Paolo Accorti', 'André Fonseca', 'Sergio Gutiérrez', \n",
    "              'John Steel', 'Yoshi Tannamuri', 'Simon Crowther','Patricio Simpson', 'Howard Snyder', \n",
    "              'Helvetius Nagy', 'Jaime Yorres', 'Matti Karttunen', 'Dominique Perrier', 'Daniel Tonini']\n",
    "\n",
    "# create a new column \"gender\"\n",
    "# when contact name is found in the list of male names, label the gender 'm', else: 'f'\n",
    "df4['gender'] = np.where(df4['contact_name'].isin(male_names), 'm', 'f')\n",
    "\n",
    "# multiplying quantity and unit price to get a column with gross spendings\n",
    "df4['spend_gross'] = np.multiply(df4['quantity'], df4['unit_price'])\n",
    "# subtracting discount to get net spendings\n",
    "df4['spend_net'] = np.subtract(df4['spend_gross'], df4['discount'])\n",
    "\n",
    "df4.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 4.2 - Hypothesis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Main effect of factor A (\"product category\")**:\n",
    "> $H_0$: The mean sales are equal for all 8 product categories.\n",
    "<br>$H_1$: The mean sales of at least one product category are different.\n",
    "\n",
    "**Main effect of factor B (\"gender\")**:\n",
    "> $H_0$: The mean sales are equal for both women and men.\n",
    "<br>$H_1$: The mean sales between women and men are different.\n",
    "\n",
    "**Factor A x factor B interactions**:\n",
    "> $H_0$: There is no interaction between \"product category\" and \"gender\".\n",
    "<br>$H_1$: There is an interaction between \"product category\" and \"gender\".\n",
    "\n",
    "I set my significance level to: \n",
    "\n",
    "> **$\\alpha$ = 0.05**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 4.3 -  Statistical Analysis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Appropriate Test"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The **two-way ANOVA** is an extension of the one-way ANOVA that examines the influence of two different categorical independent variables on one continuous dependent variable. The two-way ANOVA not only aims to assess the main effect of each independent variable but also to see if there is any interaction between them. \n",
    "\n",
    "The test statistic F follows an **F-Distribution with k-1 degrees of freedom for main effect A, m-1 degrees of freedom for main effect B and (k-1)(m-1) degrees of freedom for the interaction**, with k being the number of groups within factor A and m the number of groups within factor B. \n",
    "\n",
    "Because of the F-Distribution's shape, the significance level is always specified on the right (no one-tailed or two-tailed specification is necessary)."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### ANOVA Assumptions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "There are the same 3 assumptions for a two-way ANOVA as for the one-way ANOVA:\n",
    "\n",
    "\n",
    "* **Normality** <br> The caveat to this is that if group sizes are equal, the F-statistic is robust to violations of normality.\n",
    "    \n",
    "* **Homogeneity of variance** <br> Same caveat as above; if group sizes are equal, the F-statistic is robust to this violation.\n",
    "\n",
    "* **Independent observations** <br> Could be assumed."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Test Statistic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 69,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Overall model F( 15, 2062) =  4.103, p =  0.0000\n"
     ]
    }
   ],
   "source": [
    "import statsmodels.api as sm\n",
    "from statsmodels.formula.api import ols\n",
    "\n",
    "# Fit the model with the interaction term\n",
    "# This will also automatically include the main effects for each factor\n",
    "model = ols('spend_net ~ C(gender)*C(cat_name)', df4).fit()\n",
    "\n",
    "# Seeing if the OVERALL model is significant\n",
    "print(f\"Overall model F({model.df_model: .0f},{model.df_resid: .0f}) = {model.fvalue: .3f}, p = {model.f_pvalue: .4f}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Excellent, the **overall model is significant**. \n",
    "\n",
    "Now we need to check the assumptions of the ANOVA.  Statsmodels already provides model diagnostics in the model summary table. The summary table is also going to output information that we don’t necessarily care about coming from the ANOVA framework, so we can ignore this and just look at the diagnostic information at the **bottom of the table.**\n",
    "\n",
    "**Assumptions of ANOVA:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 70,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<table class=\"simpletable\">\n",
       "<caption>OLS Regression Results</caption>\n",
       "<tr>\n",
       "  <th>Dep. Variable:</th>        <td>spend_net</td>    <th>  R-squared:         </th> <td>   0.029</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Model:</th>                   <td>OLS</td>       <th>  Adj. R-squared:    </th> <td>   0.022</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Method:</th>             <td>Least Squares</td>  <th>  F-statistic:       </th> <td>   4.103</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Date:</th>             <td>Fri, 21 Dec 2018</td> <th>  Prob (F-statistic):</th> <td>1.82e-07</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Time:</th>                 <td>09:07:18</td>     <th>  Log-Likelihood:    </th> <td> -17348.</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>No. Observations:</th>      <td>  2078</td>      <th>  AIC:               </th> <td>3.473e+04</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Df Residuals:</th>          <td>  2062</td>      <th>  BIC:               </th> <td>3.482e+04</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Df Model:</th>              <td>    15</td>      <th>                     </th>     <td> </td>    \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Covariance Type:</th>      <td>nonrobust</td>    <th>                     </th>     <td> </td>    \n",
       "</tr>\n",
       "</table>\n",
       "<table class=\"simpletable\">\n",
       "<tr>\n",
       "                        <td></td>                          <th>coef</th>     <th>std err</th>      <th>t</th>      <th>P>|t|</th>  <th>[0.025</th>    <th>0.975]</th>  \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Intercept</th>                                    <td>  556.2397</td> <td>   87.971</td> <td>    6.323</td> <td> 0.000</td> <td>  383.718</td> <td>  728.761</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]</th>                               <td>  217.2095</td> <td>  109.082</td> <td>    1.991</td> <td> 0.047</td> <td>    3.287</td> <td>  431.132</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Condiments]</th>                    <td> -128.1318</td> <td>  148.851</td> <td>   -0.861</td> <td> 0.389</td> <td> -420.045</td> <td>  163.782</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Confections]</th>                   <td>  -55.3333</td> <td>  133.638</td> <td>   -0.414</td> <td> 0.679</td> <td> -317.412</td> <td>  206.745</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Dairy Products]</th>                <td>   21.7906</td> <td>  128.490</td> <td>    0.170</td> <td> 0.865</td> <td> -230.193</td> <td>  273.774</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Grains/Cereals]</th>                <td> -159.7577</td> <td>  158.998</td> <td>   -1.005</td> <td> 0.315</td> <td> -471.571</td> <td>  152.056</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Meat/Poultry]</th>                  <td>  505.2961</td> <td>  161.875</td> <td>    3.122</td> <td> 0.002</td> <td>  187.840</td> <td>  822.752</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Produce]</th>                       <td>  206.7118</td> <td>  176.430</td> <td>    1.172</td> <td> 0.241</td> <td> -139.288</td> <td>  552.711</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Seafood]</th>                       <td> -184.2509</td> <td>  132.572</td> <td>   -1.390</td> <td> 0.165</td> <td> -444.239</td> <td>   75.737</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Condiments]</th>     <td>  -61.5961</td> <td>  184.541</td> <td>   -0.334</td> <td> 0.739</td> <td> -423.503</td> <td>  300.311</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Confections]</th>    <td> -171.9892</td> <td>  163.918</td> <td>   -1.049</td> <td> 0.294</td> <td> -493.452</td> <td>  149.474</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Dairy Products]</th> <td>  -39.6722</td> <td>  158.889</td> <td>   -0.250</td> <td> 0.803</td> <td> -351.272</td> <td>  271.927</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Grains/Cereals]</th> <td>  -43.6953</td> <td>  193.743</td> <td>   -0.226</td> <td> 0.822</td> <td> -423.648</td> <td>  336.258</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Meat/Poultry]</th>   <td> -241.5042</td> <td>  199.614</td> <td>   -1.210</td> <td> 0.226</td> <td> -632.969</td> <td>  149.961</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Produce]</th>        <td> -191.2754</td> <td>  217.681</td> <td>   -0.879</td> <td> 0.380</td> <td> -618.174</td> <td>  235.623</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]:C(cat_name)[T.Seafood]</th>        <td> -119.8162</td> <td>  163.401</td> <td>   -0.733</td> <td> 0.463</td> <td> -440.264</td> <td>  200.632</td>\n",
       "</tr>\n",
       "</table>\n",
       "<table class=\"simpletable\">\n",
       "<tr>\n",
       "  <th>Omnibus:</th>       <td>2623.054</td> <th>  Durbin-Watson:     </th>  <td>   1.910</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Prob(Omnibus):</th>  <td> 0.000</td>  <th>  Jarque-Bera (JB):  </th> <td>441065.134</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Skew:</th>           <td> 6.748</td>  <th>  Prob(JB):          </th>  <td>    0.00</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Kurtosis:</th>       <td>73.085</td>  <th>  Cond. No.          </th>  <td>    24.0</td> \n",
       "</tr>\n",
       "</table><br/><br/>Warnings:<br/>[1] Standard Errors assume that the covariance matrix of the errors is correctly specified."
      ],
      "text/plain": [
       "<class 'statsmodels.iolib.summary.Summary'>\n",
       "\"\"\"\n",
       "                            OLS Regression Results                            \n",
       "==============================================================================\n",
       "Dep. Variable:              spend_net   R-squared:                       0.029\n",
       "Model:                            OLS   Adj. R-squared:                  0.022\n",
       "Method:                 Least Squares   F-statistic:                     4.103\n",
       "Date:                Fri, 21 Dec 2018   Prob (F-statistic):           1.82e-07\n",
       "Time:                        09:07:18   Log-Likelihood:                -17348.\n",
       "No. Observations:                2078   AIC:                         3.473e+04\n",
       "Df Residuals:                    2062   BIC:                         3.482e+04\n",
       "Df Model:                          15                                         \n",
       "Covariance Type:            nonrobust                                         \n",
       "================================================================================================================\n",
       "                                                   coef    std err          t      P>|t|      [0.025      0.975]\n",
       "----------------------------------------------------------------------------------------------------------------\n",
       "Intercept                                      556.2397     87.971      6.323      0.000     383.718     728.761\n",
       "C(gender)[T.m]                                 217.2095    109.082      1.991      0.047       3.287     431.132\n",
       "C(cat_name)[T.Condiments]                     -128.1318    148.851     -0.861      0.389    -420.045     163.782\n",
       "C(cat_name)[T.Confections]                     -55.3333    133.638     -0.414      0.679    -317.412     206.745\n",
       "C(cat_name)[T.Dairy Products]                   21.7906    128.490      0.170      0.865    -230.193     273.774\n",
       "C(cat_name)[T.Grains/Cereals]                 -159.7577    158.998     -1.005      0.315    -471.571     152.056\n",
       "C(cat_name)[T.Meat/Poultry]                    505.2961    161.875      3.122      0.002     187.840     822.752\n",
       "C(cat_name)[T.Produce]                         206.7118    176.430      1.172      0.241    -139.288     552.711\n",
       "C(cat_name)[T.Seafood]                        -184.2509    132.572     -1.390      0.165    -444.239      75.737\n",
       "C(gender)[T.m]:C(cat_name)[T.Condiments]       -61.5961    184.541     -0.334      0.739    -423.503     300.311\n",
       "C(gender)[T.m]:C(cat_name)[T.Confections]     -171.9892    163.918     -1.049      0.294    -493.452     149.474\n",
       "C(gender)[T.m]:C(cat_name)[T.Dairy Products]   -39.6722    158.889     -0.250      0.803    -351.272     271.927\n",
       "C(gender)[T.m]:C(cat_name)[T.Grains/Cereals]   -43.6953    193.743     -0.226      0.822    -423.648     336.258\n",
       "C(gender)[T.m]:C(cat_name)[T.Meat/Poultry]    -241.5042    199.614     -1.210      0.226    -632.969     149.961\n",
       "C(gender)[T.m]:C(cat_name)[T.Produce]         -191.2754    217.681     -0.879      0.380    -618.174     235.623\n",
       "C(gender)[T.m]:C(cat_name)[T.Seafood]         -119.8162    163.401     -0.733      0.463    -440.264     200.632\n",
       "==============================================================================\n",
       "Omnibus:                     2623.054   Durbin-Watson:                   1.910\n",
       "Prob(Omnibus):                  0.000   Jarque-Bera (JB):           441065.134\n",
       "Skew:                           6.748   Prob(JB):                         0.00\n",
       "Kurtosis:                      73.085   Cond. No.                         24.0\n",
       "==============================================================================\n",
       "\n",
       "Warnings:\n",
       "[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.\n",
       "\"\"\""
      ]
     },
     "execution_count": 70,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "model.summary()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Jarque-Bera tests the **assumption of normality**: <br>\n",
    "-->  The result is not statistically significant, which indicates that the **residuals are normally distributed**.\n",
    "\n",
    "Omnibus tests the **assumption of homogeneity of variance**: <br> \n",
    "--> The result is not statistically significant, which indicates that the **groups have equal variances**."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 71,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>sum_sq</th>\n",
       "      <th>df</th>\n",
       "      <th>F</th>\n",
       "      <th>PR(&gt;F)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>C(gender)</th>\n",
       "      <td>7.162728e+06</td>\n",
       "      <td>1.0</td>\n",
       "      <td>6.805508</td>\n",
       "      <td>9.153366e-03</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>C(cat_name)</th>\n",
       "      <td>5.521224e+07</td>\n",
       "      <td>7.0</td>\n",
       "      <td>7.494099</td>\n",
       "      <td>6.206935e-09</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>C(gender):C(cat_name)</th>\n",
       "      <td>2.742717e+06</td>\n",
       "      <td>7.0</td>\n",
       "      <td>0.372276</td>\n",
       "      <td>9.187916e-01</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Residual</th>\n",
       "      <td>2.170234e+09</td>\n",
       "      <td>2062.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                             sum_sq      df         F        PR(>F)\n",
       "C(gender)              7.162728e+06     1.0  6.805508  9.153366e-03\n",
       "C(cat_name)            5.521224e+07     7.0  7.494099  6.206935e-09\n",
       "C(gender):C(cat_name)  2.742717e+06     7.0  0.372276  9.187916e-01\n",
       "Residual               2.170234e+09  2062.0       NaN           NaN"
      ]
     },
     "execution_count": 71,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Creating the ANOVA table\n",
    "result = sm.stats.anova_lm(model, typ=2)\n",
    "result"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The **interaction term is not significant (p = 0.918)**. \n",
    "\n",
    "This indicates that there is **no interaction effect between \"gender\" and the \"product category\"** on the mean spending. \n",
    "\n",
    "That is why the interaction term will be removed from the model, and the model will need to be be re-run so we can look at the main effects of each factor independently."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 72,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Overall model F( 8, 2069) =  7.382, p =  0.0000\n"
     ]
    }
   ],
   "source": [
    "# Fit the model again\n",
    "model2 = ols('spend_net ~ C(gender) + C(cat_name)', df4).fit()\n",
    "\n",
    "print(f\"Overall model F({model2.df_model: .0f},{model2.df_resid: .0f}) = {model2.fvalue: .3f}, p = {model2.f_pvalue: .4f}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Excellent, the **model is still significant**. \n",
    "\n",
    "Again, let’s look at the model’s summary table **to check the assumptions:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 73,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<table class=\"simpletable\">\n",
       "<caption>OLS Regression Results</caption>\n",
       "<tr>\n",
       "  <th>Dep. Variable:</th>        <td>spend_net</td>    <th>  R-squared:         </th> <td>   0.028</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Model:</th>                   <td>OLS</td>       <th>  Adj. R-squared:    </th> <td>   0.024</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Method:</th>             <td>Least Squares</td>  <th>  F-statistic:       </th> <td>   7.382</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Date:</th>             <td>Fri, 21 Dec 2018</td> <th>  Prob (F-statistic):</th> <td>9.97e-10</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Time:</th>                 <td>09:07:18</td>     <th>  Log-Likelihood:    </th> <td> -17349.</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>No. Observations:</th>      <td>  2078</td>      <th>  AIC:               </th> <td>3.472e+04</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Df Residuals:</th>          <td>  2069</td>      <th>  BIC:               </th> <td>3.477e+04</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Df Model:</th>              <td>     8</td>      <th>                     </th>     <td> </td>    \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Covariance Type:</th>      <td>nonrobust</td>    <th>                     </th>     <td> </td>    \n",
       "</tr>\n",
       "</table>\n",
       "<table class=\"simpletable\">\n",
       "<tr>\n",
       "                <td></td>                   <th>coef</th>     <th>std err</th>      <th>t</th>      <th>P>|t|</th>  <th>[0.025</th>    <th>0.975]</th>  \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Intercept</th>                     <td>  616.7544</td> <td>   60.466</td> <td>   10.200</td> <td> 0.000</td> <td>  498.174</td> <td>  735.334</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(gender)[T.m]</th>                <td>  124.1652</td> <td>   47.545</td> <td>    2.612</td> <td> 0.009</td> <td>   30.924</td> <td>  217.407</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Condiments]</th>     <td> -168.1825</td> <td>   87.892</td> <td>   -1.914</td> <td> 0.056</td> <td> -340.549</td> <td>    4.184</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Confections]</th>    <td> -169.2157</td> <td>   77.286</td> <td>   -2.189</td> <td> 0.029</td> <td> -320.783</td> <td>  -17.648</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Dairy Products]</th> <td>   -3.6510</td> <td>   75.503</td> <td>   -0.048</td> <td> 0.961</td> <td> -151.721</td> <td>  144.419</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Grains/Cereals]</th> <td> -186.5073</td> <td>   90.720</td> <td>   -2.056</td> <td> 0.040</td> <td> -364.419</td> <td>   -8.595</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Meat/Poultry]</th>   <td>  346.6918</td> <td>   94.613</td> <td>    3.664</td> <td> 0.000</td> <td>  161.145</td> <td>  532.239</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Produce]</th>        <td>   81.4539</td> <td>  103.230</td> <td>    0.789</td> <td> 0.430</td> <td> -120.992</td> <td>  283.900</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>C(cat_name)[T.Seafood]</th>        <td> -262.5576</td> <td>   77.412</td> <td>   -3.392</td> <td> 0.001</td> <td> -414.372</td> <td> -110.743</td>\n",
       "</tr>\n",
       "</table>\n",
       "<table class=\"simpletable\">\n",
       "<tr>\n",
       "  <th>Omnibus:</th>       <td>2627.951</td> <th>  Durbin-Watson:     </th>  <td>   1.905</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Prob(Omnibus):</th>  <td> 0.000</td>  <th>  Jarque-Bera (JB):  </th> <td>444949.498</td>\n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Skew:</th>           <td> 6.769</td>  <th>  Prob(JB):          </th>  <td>    0.00</td> \n",
       "</tr>\n",
       "<tr>\n",
       "  <th>Kurtosis:</th>       <td>73.397</td>  <th>  Cond. No.          </th>  <td>    9.15</td> \n",
       "</tr>\n",
       "</table><br/><br/>Warnings:<br/>[1] Standard Errors assume that the covariance matrix of the errors is correctly specified."
      ],
      "text/plain": [
       "<class 'statsmodels.iolib.summary.Summary'>\n",
       "\"\"\"\n",
       "                            OLS Regression Results                            \n",
       "==============================================================================\n",
       "Dep. Variable:              spend_net   R-squared:                       0.028\n",
       "Model:                            OLS   Adj. R-squared:                  0.024\n",
       "Method:                 Least Squares   F-statistic:                     7.382\n",
       "Date:                Fri, 21 Dec 2018   Prob (F-statistic):           9.97e-10\n",
       "Time:                        09:07:18   Log-Likelihood:                -17349.\n",
       "No. Observations:                2078   AIC:                         3.472e+04\n",
       "Df Residuals:                    2069   BIC:                         3.477e+04\n",
       "Df Model:                           8                                         \n",
       "Covariance Type:            nonrobust                                         \n",
       "=================================================================================================\n",
       "                                    coef    std err          t      P>|t|      [0.025      0.975]\n",
       "-------------------------------------------------------------------------------------------------\n",
       "Intercept                       616.7544     60.466     10.200      0.000     498.174     735.334\n",
       "C(gender)[T.m]                  124.1652     47.545      2.612      0.009      30.924     217.407\n",
       "C(cat_name)[T.Condiments]      -168.1825     87.892     -1.914      0.056    -340.549       4.184\n",
       "C(cat_name)[T.Confections]     -169.2157     77.286     -2.189      0.029    -320.783     -17.648\n",
       "C(cat_name)[T.Dairy Products]    -3.6510     75.503     -0.048      0.961    -151.721     144.419\n",
       "C(cat_name)[T.Grains/Cereals]  -186.5073     90.720     -2.056      0.040    -364.419      -8.595\n",
       "C(cat_name)[T.Meat/Poultry]     346.6918     94.613      3.664      0.000     161.145     532.239\n",
       "C(cat_name)[T.Produce]           81.4539    103.230      0.789      0.430    -120.992     283.900\n",
       "C(cat_name)[T.Seafood]         -262.5576     77.412     -3.392      0.001    -414.372    -110.743\n",
       "==============================================================================\n",
       "Omnibus:                     2627.951   Durbin-Watson:                   1.905\n",
       "Prob(Omnibus):                  0.000   Jarque-Bera (JB):           444949.498\n",
       "Skew:                           6.769   Prob(JB):                         0.00\n",
       "Kurtosis:                      73.397   Cond. No.                         9.15\n",
       "==============================================================================\n",
       "\n",
       "Warnings:\n",
       "[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.\n",
       "\"\"\""
      ]
     },
     "execution_count": 73,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "model2.summary()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> Just like before, the model without the interaction term **passes both the assumption of normality and the homogeneity of variance** check: Jarque-Bera is not statistically significant, neither is Omnibus."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 74,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>sum_sq</th>\n",
       "      <th>df</th>\n",
       "      <th>F</th>\n",
       "      <th>PR(&gt;F)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>C(gender)</th>\n",
       "      <td>7.162728e+06</td>\n",
       "      <td>1.0</td>\n",
       "      <td>6.819992</td>\n",
       "      <td>9.079449e-03</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>C(cat_name)</th>\n",
       "      <td>5.521224e+07</td>\n",
       "      <td>7.0</td>\n",
       "      <td>7.510049</td>\n",
       "      <td>5.902098e-09</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Residual</th>\n",
       "      <td>2.172977e+09</td>\n",
       "      <td>2069.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                   sum_sq      df         F        PR(>F)\n",
       "C(gender)    7.162728e+06     1.0  6.819992  9.079449e-03\n",
       "C(cat_name)  5.521224e+07     7.0  7.510049  5.902098e-09\n",
       "Residual     2.172977e+09  2069.0       NaN           NaN"
      ]
     },
     "execution_count": 74,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Create the ANOVA table\n",
    "result2 = sm.stats.anova_lm(model2, typ=2)\n",
    "result2"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Each factor**, \"gender\" and \"product category\", **independently has a significant effect on the mean net expenditures.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Effect Size"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 75,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>sum_sq</th>\n",
       "      <th>df</th>\n",
       "      <th>F</th>\n",
       "      <th>PR(&gt;F)</th>\n",
       "      <th>mean_sq</th>\n",
       "      <th>eta_sq</th>\n",
       "      <th>omega_sq</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>C(gender)</th>\n",
       "      <td>7.162728e+06</td>\n",
       "      <td>1.0</td>\n",
       "      <td>6.819992</td>\n",
       "      <td>9.079449e-03</td>\n",
       "      <td>7.162728e+06</td>\n",
       "      <td>0.003204</td>\n",
       "      <td>0.002733</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>C(cat_name)</th>\n",
       "      <td>5.521224e+07</td>\n",
       "      <td>7.0</td>\n",
       "      <td>7.510049</td>\n",
       "      <td>5.902098e-09</td>\n",
       "      <td>7.887463e+06</td>\n",
       "      <td>0.024700</td>\n",
       "      <td>0.021401</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Residual</th>\n",
       "      <td>2.172977e+09</td>\n",
       "      <td>2069.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.050255e+06</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                   sum_sq      df         F        PR(>F)       mean_sq  \\\n",
       "C(gender)    7.162728e+06     1.0  6.819992  9.079449e-03  7.162728e+06   \n",
       "C(cat_name)  5.521224e+07     7.0  7.510049  5.902098e-09  7.887463e+06   \n",
       "Residual     2.172977e+09  2069.0       NaN           NaN  1.050255e+06   \n",
       "\n",
       "               eta_sq  omega_sq  \n",
       "C(gender)    0.003204  0.002733  \n",
       "C(cat_name)  0.024700  0.021401  \n",
       "Residual          NaN       NaN  "
      ]
     },
     "execution_count": 75,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# use effect size function again to get eta-squared (η2) and omega-squared (ω2)\n",
    "anova_effect_size(result2)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Each factor, \"gender\" and \"product category\", only has a **small effect** on the mean net spending."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Post-hoc Testing\n",
    "\n",
    "To find the difference between groups of factors, I use Tukey’s HSD where I have to test for difference for each factor separately:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 76,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\n",
      " Multiple Comparison of Means - Tukey HSD,FWER=0.05\n",
      "==============================================\n",
      "group1 group2 meandiff  lower   upper   reject\n",
      "----------------------------------------------\n",
      "  f      m    121.0616 26.8273 215.2958  True \n",
      "----------------------------------------------\n"
     ]
    }
   ],
   "source": [
    "import statsmodels.stats.multicomp\n",
    "\n",
    "# for comparing the gender with only 2 categories, we use the table \n",
    "mc = statsmodels.stats.multicomp.MultiComparison(df4['spend_net'], df4['gender'])\n",
    "mc_results = mc.tukeyhsd()\n",
    "print('\\n', mc_results)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "*Explanation:*\n",
    "* The meandiff column is the difference between the means of the two groups being calculated as **group2 – group1**.\n",
    "* The lower/upper columns are the lower/upper boundaries of the 95% confidence interval.\n",
    "* And the reject column states whether or not the null hypothesis should be rejected.\n",
    "\n",
    "There is a statistically significant difference in the mean net spending between women and men: **men spend significantly more than women**."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 77,
   "metadata": {
    "scrolled": false
   },
   "outputs": [],
   "source": [
    "# for comparing the product categories, we use visualizations\n",
    "mc = statsmodels.stats.multicomp.MultiComparison(df4['spend_net'], df4['cat_name'])\n",
    "mc_results = mc.tukeyhsd()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 78,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAacAAAEFCAYAAABHOyh9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3Xl8VdW5//FPBkYNGjS9QquAtT6IiCBixWpBWzvp1eKlV1snigPaqlCt1jq0Vm2rbZ1vVapS1NYfKpXrVEcU64RSRUGID3jBGTRKEBSFkOT3x1rRYzhJTuCc7J3k+369eJGz9t5rP2uvk/PstfY+2UX19fWIiIikSXHSAYiIiDSm5CQiIqmj5CQiIqmj5CQiIqmj5CQiIqmj5CQiIqlTmnQAUlhm1h9YCvzL3Uc1WjYVOBqocPf3mqnjPGBrdz/JzI4Furr71WZ2ArClu1/UzLajgf9x98GtjHtL4HxgNFAH1Md6bmhNPYVmZi8Ao919ZQL7ngrsD1QBRUA34CHgZ+6+voVtfwW86O53FjrOXJnZLsA84Ex3vzij/Dw+e/+9Cox193832nYW0A/4gPBe6Qr8GzjR3dc0s8+DgG+6+ymbGPvNwMXAecAOsXhX4CWgFqh2932b2X4coV0Hbkocsa7vA7u4+wWbWleSNHLqHD4BzMz6NRSY2WbA1zairr2BngDufm1ziWljmVl34DHgTWA3dx8KfB/4pZkdk+/9bQp3H5pEYspwWYxhV2AooU8PzWG7/YAuBY2s9X4C/B04ycw25sT59HgshgGDCe/T85vbwN3vykNi+m/gA3d/yd3HxhiGxsX7xtdNJqZ8c/f/Bb5uZkNbXDnFNHLqHGqBW4HDgd/FskOAO4HTYMMRTrYRj5mNAQ4C9jezj4EKPn9G+/8IZ/JbApe4+zWZQZhZV8LZ5SigBJgLnOLuqxrFeyjwobv/oaHA3V+LHwJdY107A/8DbEU4U77E3W+Kcf8eeB0w4CPgIuCU+Pof7v6zuN7FwGvAQOBjYJy7V5rZjsCfgTKgD/ACcKi7f2Jma+Nx2zUezznxOJQCNwFbx5DvdfdzY6znAj8E1gOLgJPcfXk823+akFC2Ax4GjiecNF4Vy2uAJcCP3f1DmrcZYfS0PO53C+AKYBdCIpoJnA5MAHYH/mhm2wKnuvu2cZsHgOXufrSZdQPeBrYH+sa6tiL03ZXuPiVu85/AObFv1gA/d/en44infzyG/YC3gCPcfVnjwM2sLB7PrxKS7FhgWgvtbZK715vZo8D3Yv3jY7u7Ar2Bi9z9mswRS+yPFYT3wzUx3nMII/daQvL7V5bd/Qb4QUsxxVmMl9x982yvM9YbS3hvfs/dPZ6Q/YTwvngfOAl4g3Dy9lV3XxS3exi4Ko6GbwB+DYxp8WCllEZOncdNwJEZr48GpramAnefAdxFOFv/c5ZVegMjCFNx58dpmkxnEj6gh8cz/bcJiaOx3YEns+z/eXefHc+q7yL8Ig4Bvgv8zsxGxlVHED58hgKrgF8CBwC7AT81s74Z+2mo46/AzbH8OOBGd9+TMEUzIG4P4cPtbne3RlNLxwFL3H03YB/gK2a2hZn9OMY3Iu7nJT5/3L8cj1dDO0YBI2PZru4+nJCchmQ5TgA/M7MXzGw+4QNrGfBEXHYZ8FysYxghcZ4a++7fhA/by4AaMxtsZj0IH8z7xe2/ATxDSPDTCdNtw2OMPzezPc3sK4QTnu/FEcvxwB1xZE48Fj9w94GxnhOaaMeRwCJ3rwRuBH7WxHo5MbNywknOo2a2OaF/GmI8FPhDE5tWu/sgd78K+CPwE3ffHTiX0CeN9zMY6OHuL21KvBn1/ZAwNTg6JqZRhN/VfWLsfwBmuPtHhON0bNzuy8COwD2xqgeB78Y+bZeUnDoJd38OqDWz4fFsuSxfv1AZ/uzu9e7+JnA/8K1Gyw8EDgbmxms13wcGZamnjubfmzsC3d39DgB3fxv4B/CduHypu8+NP/8f8Ki7r4vX1VYRkiiEay6Px5+nAMPMbCvgF0CVmZ1BOIPuC2Se3T7Ohu4H/svM/kk4Qz/T3T8gJJy/xg8TCKOPb8RRJIREVxdHj6/E2OYTztSfMbMLCKO9p5o4Fg3TersQRnCfAFfGZQcCE+Kxfg7YgzCKamxGjHM0YXT1bhyZHkw4rjsSkuiUWNdjQA9CwtufMDKaGZf9ndB/DdddZmWMjOfy2bFv7ATChy3A34DhGScbufpjTNQvArMISfqKOOI8EDggHs+z+Xx/Zsrs22nADDO7Higne0IbSOi3fBhBOEG61t3fiGUHEI7lU/H4/gEoN7PewNXAUWbWhXBScL271wK4+wrCe6Ef7ZSm9TqXm4EjCBfQb260rJ5wUb1BV1ov8yJ8MeEDNlMJMNHd7wOIZ7Tds9QzG/hp48J48Xofwiiw8R+FLOazayhrGy2rySHehrbXEqYnS4HbgHsJU26Zx2aD6TV3n2NmA4BvEkYez5rZdwltzoy1ONbdUN/HGcvqgSJ3X2lmuxKm9fYDbjWzP7r71U20oyGGj+IH6e9jUQlh1FIJn95kku2Pac4ALiAk4YeAd4FvExLWWbH8g4zrKJjZfxBuPjgOmOnuh2Ys25YwKh6TrX2Nd25m+xCuEZ1hZqfF4nWE0dPTzbW5kdPdfXqW+r8U6/kLIWFNJySrbD7tW3c/28ymEBLwOMIU+B6N1q8n95P8ln7HVhKmf28zs3vc/VVCH97s7r+IbSkm9Ee1u68ws3mEk4gfEaZEM61nw9/BdkMjp87lb4S58UOBWxotqwK2M7MvmFkRcFgTdayn6QvpRwGY2XaEUdN9jZY/QLjY3TX+kl3HZx+kmf4BbGFmZ5hZSaxze+BSoBJ4mTAVdUhc1hf4L8IHa2sMNbOG6bLjgafizQ3fBs5391vjsq8SPiSaZGYXAefGi9ETgQWED9z7gfEZ01ynEO6cbJxAM+s6kDCCecrdzyMk4xEtNSYe0+8Cz8aiBwjTfkXx+tFdhOsV8Pl+fIowMjqQcN3rQWASYZrtfcCBj83siLifbQnTk8NjnN8ys4Fx2fcId9y1ZjrpRMIH8Lbu3t/d+8dYDonvpU21O+H9fWFs24Ex1ib71MxK43XUnu5+LeGaz5B4HDM54djlYiXQ1cwaZgt+2Gj5Ynd/hHC98abYnw8APzSzPnGdEwjHvMGfCdOPz8YZhIb4tyCc+L2eY2ypo+TUibj7W4QP98Vx2J+5bCEwmXAtYjbh9vNs7gNOMLNfZlk2wMyeI3wgn+Lu3mj5BcCrhOmdhYSzyNMarYO7ryOMQHYG5sezw38AF7r7FHevIUwJTozLHiYkk0dbOASNLQd+G6/XfJ/PrsmdRZjOmU84Jo/x2TRVUy4nJLuXCMdwKWFa6IYY37NmVkm47nV4C3XdR0huL5nZv4G9CBfds2m45jSX0Le9CIkFQiLcjDBNOC/+3zA1dRfwezM72t3r4j5Xu3sVYXTRm3DMG/rjYODYeLwfJCTiJ+P75nhgWpxOuwA4KIebNwAwswrCzTl/zCyPH9JPAyfnUk8LHiTcPOCEY7QdIVk12acebsWfBNxiZs8DtwPjG59UxKnxj81sp5aCiNO8ZwD3mdkcPj+qzPRbQr+d7u4PEm6OeCge+x8Bh7h7wwj4HsIU5bWN6vgWcE9zJ0FpV6RHZkg+WBPfP0kr28jvX4k0ZmY/AvZ2958ksO+RwPXA4IyEhZk9Akxy93ltHVO+aOQkIrIJ3P0WoHeWu1MLysxuJIzOj2mUmMYAj7fnxAQaOYmISApp5CQiIqmj5CQiIqmj7znlwfr1tfWlpc3eaSzSac2cGe58/sY3vpFwJNKchPppg++9NVByyoPq6ib/6HG7V1FRRlXV6qTDaHOdsd2FanNtbR1Aao9nZ+xr2LDdSfRTRUVZk8s0rSciIqmj5CQiIqmjaT0RKagtt2zqb71KmqStn5ScRKSgBgzYMekQJAdp6ydN64mISOooOYlIQb399uu8/Xa7/ePYnUba+knJSUQK6p133uadd95ueUVJVNr6SclJRERSR8lJRERSR8lJRERSR8lJRERSR99zEpGCKinRH0VuD9LWT0pOIlJQQ4aMSDoEyUHa+knTeiIikjpKTiJSUKtXr2L16lVJhyEtSFs/KTmJSEG98spCXnllYdJhSAvS1k9KTiIikjpKTiIikjpKTiIikjpKTiIikjqpTU5mdqaZPWxmD5rZA2Y2vJXbDzCzF8zsxk2IYaCZzdrY7TuLbjOmUz5qJFv3Kad81Ei6zZiedEgi0s6l8ku4ZjYIOAj4mrvXm9lQ4EZg11ZU8zVgprufVogYJeg2Yzq9Joz/9HVp5QJ6TRjPKmDtmLHJBSapseOOOycdguQgbf2UyuQEvAtsB4w3s/vd/QUz28PMdgGuBIqA94HxwIfAZGBbYCvgPuA64Bygp5m9AswGrgJqgU+A49z9dTM7DTgMWA/8y91/YWZ9gL/HfSxvsxa3Qu/hg9tuZ8VF9K6rb3rx8mVZy8tOmsBmF55XmJg2wornXko6hE5rs83Kkg5BcpC2fiqqr2/6gydJZrYbcBLwTWANcDZwOjDe3Rea2THA9oRE9E13v97MugNvuvvWZjYOGOjuZ5rZv4FjY5I7GDgS+A1wPbA3ITn9A5gCjAbc3a8zs0OBE919dHOxrl9fW19a2oZ/l6p//7bbV0tee63pZf36tV0cLXn11aQjEJENFTW1IJUjJzPbAVjl7uPj692BfwI9gKvNDKALsAhYAYwws32BVUC3LFX2dfcX4s//Ai4CBgKz3b0m7uNxYOf47+a47pPAiS3FW129ZiNauQnmzG+zXVVUlFFVtbrJ5eWjRlJauWCD8vWDBlM966lChtY6zbQhm5ba3REVqs0vvPAsAEOH7pH3uvOhM/Y1bNjuJPqpoqLp0Vpab4gYAlwTR0IQktAHwCvAUXEkcwZwLzAOWOnuhwOXEKbyGmfjt81sSPx5VKzvZeCrZlYa1/96RvnIuG66/hJiCq2ZlP2S3pqJp7ZxJJJW9fV11NfXJR2GtCBt/ZTKkZO732FmOwHPmNmHhCR6OvAGcJOZNcyhHQNUAtPMbB/gI2Ax0LdRlccB/xOT0HrgGHdfYma3EUZHxcATwP8CDwG3mtlhwNJCtrMjWDtmLKuAnldcSsmil6ndcSBrJp6qmyFEZJOk9ppTe1JVtbrDHkRNeXQehWrz3LmzARg2bM+8150PnbGvYcN2J9FPFRVlTV5zSuu0noiIdGJKTiIikjqpvOYkIh3HNtt8KekQJAdp6yclJxEpqD590vWhJ9mlrZ80rSciIqmj5CQiBbVkibNkiScdhrQgbf2kaT0RKagPPqhOOgTJQdr6SSMnERFJHSUnERFJHSUnERFJHSUnERFJHd0QISIFlbaH2El2aesnJScRKai0Pf5bsktbP2laT0REUkfJSUQKqqpqOVVVy5MOQ1qQtn7StJ6IFNSbb74KQEXFNskGIs1KWz+lNjmZ2WjgNmAhUA/0AP7u7le1sp4TgG3c/bx8xyjSnixe/DLPPfcs1dXvU16+FcOH78FXvjIw6bBEskptcooecffDAMysG+BmdrO7r0w4LpF2ZfHil3nooX9++nrFivc+fa0EJWmU9uSUqQyoBR42s6VAOXAAcD3wZaAEuNTdbzWzvYErgBVxm9lm1h+Y5u57ApjZbOAwYA0wFdgSKAKOAt4FbgC2ivs+xd3nt0EbJQE333z9BmXFxUXU1dUnEE1hfPTRh1nLZ868n9mznwAK1+YBA/oD2Y9zWznyyGMT27dsnLQnp/3MbBZQB9QAJwNnALe4+wwzOwl4z92PNLMy4HkzmwlcBvzQ3ReZ2TUt7ONs4C53v9bM9gP2AIYAM939GjP7CvBXYO+mKigv70lpackmNjW9KirS9f2HfCsuLmpVeXtUV1fXZHlmOwvZ5iSPZ0vv4Y7+Hm9KZrtLSoo3KEtS2pPTp9N6DczsDKDh77rvBDwM4O6rzWwhYRT1RXdfFNd5EtghS90NvykGTIl1PBL3cTghMR4a1ylvLsjq6jWtaVO7UlFRRlXV6qTDKKjDDz9mg7KO1u5p025ixYr3NijfaqutOfTQo4DCtXnu3NlA9uPcVpprV0fr61w1bndtbTiBactj0VwibK+3kjecBlYC+wDEkdMuwFJguZntFNcZEf//BPiCmZWY2ZbAgIw6RsQ6vm5mFwMvA5e5+2jgv4G/F7Y5IoU1fPgeWct32y17eT4NGTKCIUNGtLyiJCpt/ZT2kVNL/gJcZ2ZPEO7m+427v2tmRwA3mtlqYDVQ7e7LzewhYA7wSvwH8DtgStymHjgG+AC4wcyOB3oB57Vlo0TyreGmh+eff5bq6hWUl/dmt93a5m69kpKOO+XdkaStn4rq6zvORd+kVFWt7rAHUVMenUeh2vzJJx8D0L17j7zXnQ+dsa9hw3Yn0U8VFWVNXohsr9N6ItJOVFa+SGXli0mHIS1IWz8pOYmISOooOYmISOooOYmISOooOYmISOooOYmISOq09+85iUjKDRjwlaRDkBykrZ+UnESkoLbccquWV5LEpa2fNK0nIiKpo+QkIgW1YMFcFiyYm3QY0oK09ZOm9USkoNatW5t0CJKDtPWTRk4iIpI6Sk4iIpI6Sk4iIpI6Sk4iIpI6uiFCRApqq62+kHQIkoO09VPekpOZjQYeBQ5z91szyucBz7v7uFbU9XVgpbvPi69vIzyNdjbwPOGJtd2BR939rFbGOQ4Y6O5nxifd/tXda1pTh4jkbrvttk86hLyaMaOUyy/vyqJFxey4Yx2TJq1jzJj1SYe1ydLWT/me1nsZ+GHDCzPbBdhsI+oZD/SNdXSPZWuAhe4+2t33Bb4G7GtmQzYh3rOAdD2bWERSa8aMUiZM6EFlZQm1tUVUVpYwYUIPZszQJFS+5fuIvgjsaGZbuvtK4Ajg78B2ZvYD4FSgFngijly+BFxDGAVtBZwPvAF8B9jNzBYCuxBGZI31ALoBa8ysP3AD0IUwqjrF3V80s+Xuvg2AmU0Drm3Y2MyOAbYBppnZ5cDFwDrgYeAAd98jrncr8Cd3n5OvgyTSmbz++hKmTu3CnXcOTDqUrIqLoa4ut3Po5cuzP1X8pJO6c+GF9fkMq+Aat/vgg19m3Lia1IygCpHu7wDGmNlUYA/Ch/5Q4DfA7u6+xsxuNrP9CYnkEnefZWZ7Ab9x9/3N7H5gmru/bmZnAhcRRnmDzGxW3K4WuMLdXzGz6cCV7n6nmQ0lJKrdmwvS3W8ws3OBw4A9ge7u/lUAM9vPzAYBy4EBLSWm8vKelJZ23AFYRUVZ0iEkojO2uxBtnjfvPXbfHe6+e1De686X4uLcJpFqmrgAUFNTRHFx9sSVZpnt3n33ZaxcCcOH75pgRJ8pRHK6hTAaWgI8nrGfCuCfZgZQBmwPPAGcE0cx9YSRT2NfikmqP3FaL8s6OwH/AnD3F8xs2yzrtPTO8YyfrwPGAa8Df2thO6qr17S0SrtVUVFGVdXqpMNoc52x3YVqc21tHX36wJw56TyerWn3qFE9qazc8ER00KBaZs1qX58Djds9d24dtbW06fu+uZOhvN9K7u5LCNeZTuGzD/Z6wnTd/jG5XAU8A1wA3OTuRxKm7hoSSB1QbGa7AvNz2G0lsA9AHDktj+VdzGxzM+sK7Jxluzo+OwZ1GeXTgW8BY8ghOYlI5zBp0rqs5RMnZi+XjVeo7zndCmzr7ovi6yrgUuAxM3sG+C6wCLgduNLMHgf2B7aO6z9DmMo7ELgnh/39HDjZzP5FGLUdE8svJ9zhNx14Lct2jwP/pNGoyt0/IYzE3nX3FTnsX0Q6gTFj1jN58scMGlRLaWk9gwbVMnnyxx3ibr20Kaqvb18X8dqKmV0NTHf3R1pat6pqdYc9iJ1xegs6Z7sL1ea5c2cDMGzYnnmvOx86Y19Dtmm9tu+nioqyJi+36P7HLMzsQeDtXBKTiDSva9duSYcgOUhbPyk5ZeHu30o6BpGOYuedhyUdguQgbf2kv60nIiKpo+QkIgW1cuX7rFz5ftJhSAvS1k9KTiJSUEuXLmbp0sVJhyEtSFs/KTmJiEjqKDmJiEjqKDmJiEjqKDmJiEjqKDmJiEjq6Eu4IlJQO+2UjkcwSPPS1k9KTiJSUN2790g6BMlB2vpJ03oiUlC1tbXU1tYmHYa0IG39pOQkIgU1b94c5s1r9mHSkgJp6yclJxERSR0lJxERSZ2cbogws+2BPwBfAtYAHwNnuPuCHLY9E3jE3Z9tTWBm9l9AL+BG4EzC03NrCY98P8Xdc3l8e6uY2SzgBHd/Od91y6bpNmM6PS+/hJJFL1O740DWTDqNtWPGJh2WiBRIi8nJzHoCdwHHufvTsWwP4M/A6Ja2d/eLNjK27wFnAWcQHt8+yt3rzGwEcKeZmbvXbGTd0o50mzGdXhPGf/q6tHIBvSaMZxUoQYl0ULmMnP6TMPJ5uqHA3Z81s33NbCqwVfz3n8DFwLbx9X3ufm5cZxqwDSHh9AS+DFzs7lPN7CfA0UAd8IS7n25mRcDW7v6OmR0PDHf3urjvOWY2wt1rzGwX4EqgCHgfGA8Mi3GsA/4CvA78ljDq+j9gAtADuB7YkpD4rnP3axraZ2ZfAy4BaoBq4HB3b9fPce49fPDGbVhcRO+6ZJ9CX7x8WdbyspMmsNmF5xVop4Vr94rnXipIvSIdSS7JaQDwSsMLM7sT2ALoA7wB3Ovul5lZf2C2ux9rZt2BN4FzG9W1hbt/28y+AtwNTAV+DJzs7rPN7EQzKwWGA/+O2/R09+rMSty94aEj1wHj3X2hmR1DGGU9BHR396/GJOfA3u7+rpldAIwDngOmufsdZtYXeAy4JmMX3wfuAP4EHASUA00mp/LynpSWljRzCFOguGijNy3ZhG3zoib7ALmopqagsRWq7oqKsoLUmw+FiG2nnQYWrO58SXNshZTZ7rT1Uy7J6Q1g94YX7n4wgJnNJiQgj4tWACPMbF9gFZDtgfQvZNTZPf78Y+DnZnYx8DRhFHQgITkAVJtZL3df1VCJmY0BZgI7AVebGUAXYFFDmPH/CkISvS2u0wN4ELgXmGRmh8RYuzSK83fA2XEfbwHPNHl0gOrqNc0tToc5G3eJrqKijKqqZAeN5aNGUlq54eXN9YMGUz3rqYLss6DtTvh4NqVQbe7efUuAxN9HTUnDezwJjdudRD81lwhzuVvvTuCbZrZnQ4GZ7UC4OaIfYToOwohkpbsfTpgS6xlHLpmyzZMcR7gJYRRhSm4vYKi7z43LbwR+3VCXme0FXAp8QkhCR7n7aMKo6d64TUNM7xES6MFxnd8CjwI/B5529yOA2wkJMdPhwFR33xdYABzfzPGRAlsz6bTs5RNPbeNIRKSttDhycvcPzew/gYvMrE/cZj3hA/u/M1adCUwzs32Aj4DFQN8cYpgPzDGzKsIoZXH8v8EfgQuAp82shnAd6CB3X2dmJwI3mVnDnNoxmfuMN1BMBO41s2LCKOkoQpK8xswOJ1yrWm9mmSO9OcCNZvYh4dqVklOC1o4Zyyqg5xWXfna33sRTdTNEO7FoURj17rjjzglHIs1JWz8V1dcne7G7I6iqWt1hD6KmPDqPQrV57tzZAAwbtmcLayajM/Y1bNjuJPqpoqKsyQu7+hKuiIikjpKTiIikjpKTiIikjpKTiIikjh42KCIFtcUW5UmHIDlIWz8pOYlIQW2/vSUdguQgbf2kaT0REUkdJScRKahly95k2bI3kw5DWpC2flJyEpGCWr78TZYvT8+HnmSXtn5SchIRkdRRchIRkdRRchIRkdRRchIRkdTR95xEpKCKinQO3B6krZ+UnESkoIYO3SPpECQHaeundKVKERERlJxEEtdtxnTKR41k6z7llI8aSbcZ05MOKa8++mg1H33U+R7m196krZ9anNYzs9HAbcBCoAjoAlzu7rc1s82ZwCPu/myugZhZf2Ae8DzhMerdgUfd/axc68io6zvAYe4+rhXbdAeOcPfrW7s/kY3VbcZ0ek0Y/+nr0soF9JownlXQYR5D3/D477Q+CVeCtPVTrtecHnH3wwDMbHPgMTNb5O4vZFvZ3S/ayHgWuvvouJ9i4EkzG+Lu8zayvtbYBjgWUHLqBHoPH9z8CsVF9K6rL3gcxcuXZS0vO2kCm114XsH3/zlZ2rziuZfaNgaRqNU3RLj7h2Y2GRhrZvOBycC2wFbAfe5+rplNBaYRPvDHE6YPLwCOdfcfAJjZk8BYd8/+2wk9gG7AmljfVvHfAcA5wN5xvVvc/Qoz2wmYAnwU/1XH/Sx3923iz9OAa4FngL8C/QgjwZNjnIPM7FfATOASoCbWc7i7NzneLS/vSWlpSW4HsB2qqChLOoT8Ky5qcZWSHNbZZDU1WYuLamraZv+NNN5nPvq+pKQ4b3UVSppjK6TMdqetnzb2br13gN0ISWm2ux8bp8XeBM5ttG61ux9sZkXAFWZWDvQB3suSmAaZ2SzCtF4tcIW7v2JmEEZvl5nZgcAAYM8Y/xNm9gjwa+BX7v6Qmf0C2KmZ+E8AXnX3w8xsMPBN4LfALu5+vpn9EbgD+BNwEFAONJmcqqvXNLOr9q2iooyqqvTMQ+fNnPnNLm6rdpePGklp5YINytcPGkz1rKcKvv9MWduch2NQW1sXqkrp+6jDvsdb0LjdSfRTc4lwY5NTP0IiWgGMMLN9gVWEkU5jDuDu9Wb2N+CHwPbADVnW/XRar6l6CEnncXevB2rMbDYwCNgZaLjG9STZk1PDaaEB98W4XgJeite8GvwOOJswgnqLMNISybs1k0773DWnT8snnppANCLp0eq79cysDDgOuB0YB6x098MJ02A94wgpU13Gz38FfgB8HfhnK3fdUE8lcUrPzLoAewGLgZeBkXGdERnbdTGzzc2sKyGBNdQxItaxvZndEutvOB6HA1PdfV9gAXB8K2MVycnaMWNZNXkK6wcNpr60lPWDBrNq8pQOczOEyMbKdeS0X5xuq43b/Nrd3cxKgWlmtg/hOs9ioG9Tlbj7W2a2mjAVuH5jAnb3e8xstJk9DXQFbnP3583sJ8CtZnY6UAV8Eje5HJgNLAFei2WTgSlm9hhQAkwC3gW6mtnFhCm9G83PJJ5lAAAREElEQVTsQ2AdSk5SQGvHjO3QyWiHHQYlHYLkIG39VFRfX/g7kjKZ2T3AJHd/pU13XEBVVavb9iC2Ic3Hdx6dsc2gdiccQ5N3/bTZny8ysx7AE8D9HSkxiYhI/rVZcnL3j4HhbbU/EUmHefPmADBkyIgW1pQkpa2f9IdfRaSgamtrkw5BcpC2ftLf1hMRkdRRchIRkdRRchIRkdRRchIRkdTRDREiUlD/8R9Nfi9fUiRt/aTkJCIF1bfvdkmHIDlIWz9pWk9ERFJHyUlECmrp0kUsXboo6TCkBWnrJ03riUhBrVy5IukQJAdp6yeNnEREJHWUnEREJHWUnEREJHWUnKTd6jZjOuWjRrJ1n3LKR42k24zpSYckInlSsBsizGxn4A9AT2BzwmPZz3P3nB/MF59uezzwe3e/NcdttgN2dfe7zexy4FJ3f73VDZBU6zZjOr0mjP/0dWnlAnpNGM8q6NBPlW2PevbcLOkQJAdp66eCJCcz2xKYBhzi7ovNrAS4HZgAXNuKqg4BjnT3+a3YZj9gIHC3u09qxXbSjN7DBycdwucUL1+WtbzspAlsduF5edhBEb3rNu0Bxyuee2nT4+gAzHZJOgTJQdr6qSCPaTezo4Hd3H1iRtnmwDrg98DesfgWd7/CzKYCa4H+QB9gHLA7YeS1CDgUOBD4EVAPTHP3K83sK8D1QFdgTVz+GGG0dhJwKnACsBz4G9CLkJDPcfdHzGxeXH9IrPfgWNethCnPLsAJLSXH9etr60tLSzbiSLUj/fsnHcHnvfZa08v69Wu7OJrz6qtJRyCSdm3+mPa+wJLMAnf/0MwOBAYAe8Z9P2Fmj8RVXnP3CWZ2HHC8u59gZj8iJJcehAS1NyGJPGxmDxCS1+/d/X4z+29gV+AiYKC732Vmp8a6zwEeionwi3G/XyYkq//n7ieb2d+B7wKrgQ8IiW5QXKdZ1dVrNuogtQcVFWVUVa2GOa0ZvBZe+aiRlFYu2KB8/aDBVM96apPr/7Tdm2JTt29jeWlzFu+99w4AW2/9H3mvOx8K1e60a9zuJPqpoqKsyWWFuiHiNWDbzAIzG0B4TPvj7l7v7jXAbEICAJgb/38D6N6ovsFAP2Am8AiwFbADYMDTAO5+m7s/2EQ8OwH/iuu9BawCKprY732E0dSdwPlAXa6NlrazZtJp2csnnpq1XJLzxhtLeeONpUmHIS1IWz8VKjndA3wnjk4wsy7ApUA1cUovlu0FLI7bNDe/6MACYF93Hw1MBeYDlcCIWN/hZnYyIZk0blclsE9c74tAOfB+E/sdDSxz928BFwK/y63J0pbWjhnLqslTWD9oMPWlpawfNJhVk6foZgiRDqIg03ruviped7rOzIqBMuBu4CpgOzN7mnBt5zZ3f97MWqrvRTObSZiO6wY8C7wFnA5MNrNzCNecjiCMsM42s+czqvgdMMXMxhKmCI939/VN7PdF4FYzmwTUEkZPkkJrx4xVMhLpoApyQ0RnU1W1usMeRM3Hdx6FavPcubMBGDZsz7zXnQ+dsa9hw3Yn0U8VFWVN3hChL+GKiEjqKDmJiEjq6JEZIlJQu+wyPOkQJAdp6yclJxEpqNLSLkmHIDlIWz9pWk9ECmrt2rWsXbs26TCkBWnrJyUnESmohQvnsnDh3JZXlESlrZ+UnEREJHWUnEREJHWUnEREJHWUnEREJHWUnEREJHX0PScRKah+/XZIOgTJQdr6SclJRAqqd++tkw5BcpC2ftK0noiIpI6Sk4gU1MKFL7Bw4QtJhyEtSFs/KTlJu9RtxnTKR41k6z7llI8aSbcZ05MOSZqwdu0nrF37SdJhSAvS1k8Fu+ZkZjsDfwB6ApsD/wTOc/eNejCfmU0DrgW6A9u5+1/yFWusfztgV3e/O5/1Sv51mzGdXhPGf/q6tHIBvSaMZxXoybgiHURBkpOZbQlMAw5x98VmVgLcDkwgJJiN5u735yHEbPYDBhIeJ9+p9B4+uOmFxUX0rkvXg36Lly/LWl520gQ2u/C8PO2k8O1e8dxLBa1fpD0r1MjpYOARd18M4O61ZnYUsM7MLgH2juvd4u5XmNlUYC3QH+gDjHP3583sp8CxwDLgCwBmNo6QRK4FbgXeiNtNAwYDw4B73f0sM9sFuBIoAt4HxsflvwDWAQNiHRcBZwI9zewp4EvA0UAd8IS7n95cY8vLe1JaWrKxxyp5xU0+KRmAkhaWt7mamqzFRTU1eY210O2uqCgraP0boxAxlZQUF6zufElzbIWU2e609VOhklNfYElmgbt/aGYHEhLCnnHfT5jZI3GV19x9gpkdBxxvZr8AJgK7EJLEc1n2sz3wLaAHsBT4IrAGeA04C7gOGO/uC83sGOAM4CGgHzAE6Aa87e6/NbOLgIHufpeZzQFOdvfZZnaimZW6+/qmGltdvabVByhV5sxvclFFRRlVVavbMJiWlY8aSWnlgg3K1w8aTPWsp/KyjzZpd8qOa6HaXFtbB5C691GDNL7H20LjdifRT80lwkLdEPEasG1mgZkNAIYDj7t7vbvXALOBQXGVhr/V/gbhutJAYIG7r43rPptlP0vc/QNgJfCOu69w90+AhvmYnYCrzWwWYdTUN5bPd/f17v4R8HGWen8MnGBmjxESWcqGDp3bmkmnZS+feGobRyK56N27gt69K5IOQ1qQtn4qVHK6B/iOmX0ZwMy6AJcC1cQpvVi2F7A4btN4gn8JMMjMesRrVsOy7KeliwIOHOXuowmjpnub2a6Oz47HccAJ7j4q7nevFvYjbWjtmLGsmjyF9YMGU19ayvpBg1k1eYpuhkipfv2+TL9+X046DGlB2vqpINN67r7KzI4GrjOzYqCMcKPBVcB2ZvY00BW4LV5bylZHlZn9CngKqAI+2ohQTgRuiskN4Bg+Gz01Nh8428yejz/PMbMq4C3gmY3YtxTQ2jFjlYxEOrCi+vp03YnVHlVVre6wB1Hz8Z1Hodr85puvAvClL/XPe9350Bn7GjZsdxL9VFFR1uQlE30JV0QKqqpqOVVVy5MOQ1qQtn5SchIRkdRRchIRkdRRchIRkdRRchIRkdTRwwZFpKC6dOmadAiSg7T1k5KTiBTU4MG7JR2C5CBt/aRpPRERSR0lJxEpqA8+qOaDD6qTDkNakLZ+UnISkYJassRZssSTDkNakLZ+UnISEZHUUXISEZHUUXISEZHUUXISEZHUUXISEZHU0ZdwRaSgBg4cknQIkoO09VObJiczGw3cBiwEioAuwHh3f7kt4xBJm24zptPz8ksoWfQytTsOZM2k0zrMk3579OiZdAiSg7T1UxIjp0fc/TAAM/sW8CfgwATiEEmFbjOm02vC+E9fl1YuoNeE8ayCDpGg6urqACgu1lWENEtbPyU9rVcOvGpmuwBXEkZT7wPjgV8DL7r7jWa2DXCvuw83s98DXydcL7vU3W83s1lAVazvv4DrgC2BrYHr3P0aM9sD+DOwGngX+MTdx5nZycCPgHpgmrtfaWaHAL8AaoBXgaPcva4NjockoPfwwRsWFhfRu66+TfZfvHxZ1vKykyaw2YXntUkMIZDPt3nFcy/lpdoXX3wWgGHD9sxLfVIYaeunJJLTfjGZdAOGAAcQksl4d19oZscAZ8SyPwM3AkcCfzWz7wID3P1rZtYdmG1mD8V6b3H3GWa2GyHJ3GFmfYHHgGuAa4Ej3X2Bmf0W+KKZDQIOBfYmJKeHzewB4IfAZe4+zcyOAnoBK5tqUHl5T0pLS/J4iNKloqIs6RAKq7goa3FJE+V5V1OTtbiopqbtYogy95evfi8pKc5rfYWQ5tgKKbPdaeunpKf1DHga2Ay4OrykC7DI3SvNrNTM+hESyDeB44HhMbk1rNsv/tzwdzeWA5Pi6GdVXAegr7sviD8/DhwGDI7bz4zl5cAOwKnAL83sRKAS+N/mGlRdvaa1x6DdqKgoo6pqddJhFNac+RsUtWW7y0eNpLRywQbl6wcNpnrWU20SA2Rpc57aX1sbJh3S+j7qFO/xLBq3O4l+ai4RJj25+E78fx5h6mw0YdR0byy/AfgDsNDdVwIvA4/G9fYj3FyxJK7bMO32c+Bpdz8CuJ0wVQjwRhwpATSMWx1YAOwb65wKzCckwfPcfVTcfkx+miuyoTWTTstePvHUNo5EJD2SnNarBcoIo5T5wE1m1jA3dkz8/3bgCuCg+PpuYLSZPQ5sDsxw99VxxEXGOteY2eGE61frzawb8BNgipl9CKwD3nL3F81sJvBEXOdZ4K34/0Nm9j7hGtU9+T4IIg3WjhnLKqDnFZd+drfexFM7xM0QIhurqL6+bS76Js3Mfgrc5u5VZnYhsM7dz89H3VVVqzvsQdSUR+dRqDbPnTsbSM+F9sY6Y1/Dhu1Oop8qKsqavKia9N16bekd4ME4cvoAODrheEQ6hS9+sV/LK0ni0tZPnSY5uft0YHrScYh0Nl/4Qp+kQ5AcpK2fkr4hQkREZANKTiJSUIsXL2Tx4oVJhyEtSFs/dZppPRFJxocfrko6BMlB2vpJIycREUkdJScREUkdJScREUkdJScREUkd3RAhIgVVVrZF0iFIDtLWT0pOIlJQO+ywU9IhSA7S1k+a1hMRkdRRchKRglq+/C2WL38r6TCkBWnrJ03riUhBLVv2BgDbbPPFhCOR5qStnzRyEhGR1FFyEhGR1FFyEhGR1FFyEhGR1FFyEhGR1Cmqr69POgYREZHP0chJRERSR8lJRERSR8lJRERSR8lJRERSR8lJRERSR8lJRERSR8lJRERSR3+VXAAwsy8AzwH7A+uBqUA98BLwU3evM7NfAwfE5ZPc/dmEws0LM/slcBDQFbgaeIwO3m4z6wLcCPQHaoHj6MD9bWZfBS5299FmtgM5trOpdZNow8Zo1O6hwFWE/l4LHOXu75jZccAEQrsvdPd7zGxr4BagB/A28GN3X5NEGzRykoYPrMnAx7HoUuAcd98HKAIONrPdgFHAV4HDgD8nEWu+mNloYC/ga4R2bUsnaDfwPaDU3fcCzgd+Swdtt5mdAVwPdI9FrWnnBuu2ZeybIku7rwBOdvfRwB3AL8xsG+AUwvv/28Dvzawb8CvgltjuuYTklQglJwH4E3At4UwJYDhhFAFwH/BNYG/gQXevd/fXgVIzq2jzSPPn28B8YAZwN3APnaPdiwhtKAZ6ATV03Hb/H3BIxuvWtDPbuu1F43Yf5u4vxJ9LgU+APYAn3X2tu38AvAIMIRyP++O6ibZbyamTM7NxQJW7P5BRXOTuDX/XajWwBeGD7IOMdRrK26utgd2BHwAnAH8HijtBuz8kTOm9DFwHXEkH7W93/wch+TZoTTuzrdsuNG63uy8DMLO9gJOAy2i63ZnlibZbyUnGA/ub2SxgKHAT8IWM5WXASmBV/LlxeXv1PvCAu69zdyecTWb+InbUdv+M0O4dgV0J15+6ZizvqO0GyLxm1FI7s63bbpnZoYTZkQPcvYqm251Znmi7lZw6OXf/uruPivPRLwBHAffFazIA3wUeB54Evm1mxWa2HWGU8V4SMefJE8B3zKzIzPoCmwEzO0G7q/nszHgF0AWY2wnaDa1rZ7Z12yUzO4IwYhrt7kti8bPAPmbW3cy2AHYi3PjxJOG6JCTcbt2tJ9mcBlxnZl2BSmC6u9ea2ePA04STmp8mGeCmincmfZ3wS9rQnqV08HYTpnSmxDZ1Bc4C/k3Hbze07n29wbpJBLypzKyEMHX7OnCHmQE85u6/NrMrCcmnGDjb3T8xswuBG+OdfO8BP0oodD0yQ0RE0kfTeiIikjpKTiIikjpKTiIikjpKTiIikjpKTiIikjpKTiIikjpKTiIikjr/H49Nu2ugevbzAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with Meat/Poultry (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name='Meat/Poultry', figsize=(6,4));"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 79,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAacAAAEFCAYAAABHOyh9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3Xl8VNX9//FXFhDQVGNIv0qrgIpvREUlQq3VirZ0Ub9arS22CFrErXXrorXaxbq02kWrfutSl6q0/nCpftu6VcSlokYsoqjAh/gFd9FggmyKkOT3xzmjIcxkI5O5M/N5Ph48yNy599zP557JfO4592ampKWlBeeccy5JSnMdgHPOOdeWFyfnnHOJ48XJOedc4nhxcs45lzhenJxzziWOFyfnnHOJU57rAFx2SRoCLAb+bWb7tXnuRuBooNrMlrbTxrnAQDM7WdIUoK+ZXSnpRGALM7uonW3HAv9jZrt0Me4tgPOAsUAz0BLbub4r7WSbpGeBsWa2LAf7vhEYB9QDJcAmwHTg+2a2roNtfw48Z2Z/z3acnSVpV2AucJaZXdxq+bl8/Pp7GTjCzP7TZttHgMHAe4TXSl/gP8BJZra6nX0eAnzRzE7dyNinAhcD5wI7xMW7AS8ATUCjme3fzvbHEPI6eGPiiG19DdjVzM7f2LZyyUdOxeEDQJIGpxZI2hT4XDfa2gcYAGBmV7dXmLpLUj/gUeB1YJSZ7Q58DfiJpGN7en8bw8x2z0VhauXSGMNuwO6EPh3fie0OAPpkNbKu+y7wV+BkSd05cT4jHos9gF0Ir9Pz2tvAzP7RA4Xpm8B7ZvaCmR0RY9g9Pr1/fJyxMPU0M/tf4POSdu9w5QTzkVNxaAJuBSYAv4rLDgf+DvwQNhzhpBvxSDoMOAQYJ+l9oJr1z2j/H+FMfgvg92Z2VesgJPUlnF3uB5QBc4BTzWx5m3jHAyvN7DepBWb2SnwT6Bvb2hn4H6CKcKb8ezO7Ocb9a+BVQMAq4CLg1Pj4b2b2/bjexcArwHDgfeAYM5svaUfgj0AFsDXwLDDezD6QtCYet93i8Xw6Hody4GZgYAz5HjP7WYz1Z8C3gHXAQuBkM1sSz/afJBSUbYEHgeMJJ41XxOVrgUXAd8xsJe3blDB6WhL3uzlwGbAroRDNAM4ATgD2BH4raRvgB2a2TdzmX8ASMzta0ibAm8B2wKDYVhWh7y43sxviNv8N/DT2zWrgR2b2ZBzxDInHcDDwBnCUmb3VNnBJFfF4foZQZI8ApnWQb0Zm1iLpYeDA2P7kmHdfYEvgIjO7qvWIJfZHA+H1cFWM96eEkXsTofj9O83ufgl8o6OY4izGC2a2WbrHrdY7gvDaPNDMLJ6QfZfwungXOBl4jXDy9hkzWxi3exC4Io6Grwd+ARzW4cFKKB85FY+bgYmtHh8N3NiVBszsLuAfhLP1P6ZZZUtgNGEq7rw4TdPaWYQ36Jp4pv8moXC0tSfweJr9P2NmtfGs+h+EX8SRwFeBX0n6bFx1NOHNZ3dgOfAT4CBgFPA9SYNa7SfVxp+BqXH5ccBNZrYXYYpmaNwewpvbP81MbaaWjgMWmdkoYF9gmKTNJX0nxjc67ucF1j/u28fjlcpjP+CzcdluZlZDKE4j0xwngO9LelbS84Q3rLeAmfG5S4HZsY09CIXzB7Hv/kN4s70UWCtpF0n9CW/MB8TtvwA8RSjwdxCm22pijD+StJekYYQTngPjiOV44M44Micei2+Y2fDYzokZ8pgILDSz+cBNwPczrNcpkioJJzkPS9qM0D+pGMcDv8mwaaOZjTCzK4DfAt81sz2BnxH6pO1+dgH6m9kLGxNvq/a+RZgaHBsL036E39V9Y+y/Ae4ys1WE4zQlbrc9sCNwd2zqAeCrsU/zkhenImFms4EmSTXxbLmip36hWvmjmbWY2evA/cCX2jx/MHAoMCdeq/kaMCJNO820/9rcEehnZncCmNmbwN+Ar8TnF5vZnPjz/wEPm9mH8brackIRhXDN5bH48w3AHpKqgB8D9ZLOJJxBDwJan90+xobuB74u6V7CGfpZZvYeoeD8Ob6ZQBh9fCGOIiEUuuY4enwpxvY84Uz9KUnnE0Z7T2Q4FqlpvV0JI7gPgMvjcwcDJ8RjPRsYQxhFtXVXjHMsYXT1ThyZHko4rjsSiugNsa1Hgf6EgjeOMDKaEZ/7K6H/UtddHmk1Mp7Dx8e+rRMJb7YAfwFqWp1sdNZvY6F+DniEUKQviyPOg4GD4vE8h/X7s7XWfTsNuEvSdUAl6QvacEK/9YTRhBOkq83stbjsIMKxfCIe398AlZK2BK4EJknqQzgpuM7MmgDMrIHwWhhMnvJpveIyFTiKcAF9apvnWggX1VP60nWtL8KXEt5gWysDTjOz+wDiGW2/NO3UAt9ruzBevN6XMAps+6GQpXx8DWVNm+fWdiLeVO5NhOnJcuA24B7ClFvrY7PB9JqZPS1pKPBFwshjlqSvEnJuHWtpbDvV3vutnmsBSsxsmaTdCNN6BwC3SvqtmV2ZIY9UDKviG+mv46IywqhlPnx0k0m6D9O8CzifUISnA+8AXyYUrLPj8vdaXUdB0n8Rbj44DphhZuNbPbcNYVR8WLr82u5c0r6Ea0RnSvphXPwhYfT0ZHs5t3GGmd2Rpv1Px3b+RChYdxCKVTof9a2ZnSPpBkIBPoYwBT6mzfotdP4kv6PfsWWE6d/bJN1tZi8T+nCqmf045lJK6I9GM2uQNJdwEvFtwpRoa+vY8Hcwb/jIqbj8hTA3Ph64pc1z9cC2kj4pqQQ4MkMb68h8IX0SgKRtCaOm+9o8/y/Cxe6+8ZfsWj5+I23tb8Dmks6UVBbb3A64BJgPLCBMRR0enxsEfJ3wxtoVu0tKTZcdDzwRb274MnCemd0an/sM4U0iI0kXAT+LF6NPA14kvOHeD0xuNc11KuHOybYFtHVbBxNGME+Y2bmEYjy6o2TiMf0qMCsu+hdh2q8kXj/6B+F6Bazfj08QRkYHE657PQCcTphmexcw4H1JR8X9bEOYnqyJcX5J0vD43IGEO+66Mp10EuENeBszG2JmQ2Ish8fX0sbak/D6viDmdnCMNWOfSiqP11EHmNnVhGs+I+NxbM0Ix64zlgF9JaVmC77V5vk6M3uIcL3x5tif/wK+JWnruM6JhGOe8kfC9OOsOIOQin9zwonfq52MLXG8OBURM3uD8OZeF4f9rZ+bB1xDuBZRS7j9PJ37gBMl/STNc0MlzSa8IZ9qZtbm+fOBlwnTO/MIZ5E/bLMOZvYhYQSyM/B8PDv8G3CBmd1gZmsJU4KnxeceJBSThzs4BG0tAS6M12u+xsfX5M4mTOc8Tzgmj/LxNFUmfyAUuxcIx3AxYVro+hjfLEnzCde9JnTQ1n2E4vaCpP8AexMuuqeTuuY0h9C3nyAUFgiFcFPCNOHc+H9qauofwK8lHW1mzXGfK8ysnjC62JJwzFP9cSgwJR7vBwiF+PH4ujkemBan084HDunEzRsASKom3Jzz29bL45v0k8ApnWmnAw8Qbh4wwjHallCsMvaphVvxTwdukfQMcDswue1JRZwaf1/STh0FEad5zwTuk/Q0648qW7uQ0G9nmNkDhJsjpsdj/23gcDNLjYDvJkxRXt2mjS8Bd7d3EpR0Jf6VGa4nKMPfnySVuvn3V861JenbwD5m9t0c7PuzwHXALq0KFpIeAk43s7m9HVNP8ZGTc85tBDO7Bdgyzd2pWSXpJsLo/Ng2hekw4LF8LkzgIyfnnHMJ5CMn55xziePFyTnnXOL43zn1gHXrmlrKy9u909gl1IwZ4a7cL3zhCzmOxGWL93GibfB3bylenHpAY2PGDz3Oe9XVFdTXr8h1GFnT1NQMsEGOhZ53OoWac6Y+TinUvDuShLyrqysyPufTes455xLHi5NzzrnE8Wk9V9S22CLT55C6QuF9nJ+8OLmiNnTojrkOwWWZ93F+8mk955xziePFyRW1N998lTffzNsPbnad4H2cn7w4uaL29ttv8vbbb3a8ostb3sf5yYuTc865xPHi5JxzLnG8ODnnnEscL07OOecSx//OyRW1sjL/wN5C532cn7w4uaI2cuToXIfgssz7OD/5tJ5zzrnE8eLkitqKFctZsWJ5rsNwWeR9nJ+8OLmi9tJL83jppXm5DsNlkfdxfvLi5JxzLnG8ODnnnEscL07OOecSx4uTc865xElscZJ0lqQHJT0g6V+Sarq4/VBJz0q6aSNiGC7pke5uXyw2uesOKvf7LAO3rqRyv8+yyV135Dok51yeS+Qf4UoaARwCfM7MWiTtDtwE7NaFZj4HzDCzH2YjRhdsctcdfOKEyR89Lp//Ip84YTLLgTWHHZG7wDppxx13znUILsu8j/NTIosT8A6wLTBZ0v1m9qykMZJ2BS4HSoB3gcnASuAaYBugCrgPuBb4KTBA0ktALXAF0AR8ABxnZq9K+iFwJLAO+LeZ/VjS1sBf4z6W9FrGXbBlzS69t7PSErZsbsn89JK30i6vOPkENr3g3OzE1A0Ns19Iu3zTTSt6ORLX27yP81NJS0vmN55ckjQKOBn4IrAaOAc4A5hsZvMkHQtsRyhEXzSz6yT1A143s4GSjgGGm9lZkv4DTIlF7lBgIvBL4DpgH0Jx+htwAzAWMDO7VtJ44CQzG9terOvWNbWUl/fi53cNGdJ7++rIK69kfm7w4N6LoyMvv5zrCJxzGyrJ9EQiR06SdgCWm9nk+HhP4F6gP3ClJIA+wEKgARgtaX9gObBJmiYHmdmz8ed/AxcBw4FaM1sb9/EYsHP8NzWu+zhwUkfxNjau7kaWG+Hp53ttV9XVFdTXr8j4fOV+n6V8/osbLF83YhcaH3kim6F1TYYcnn12FgC77z5mveUd5V2ICjXnTH2cUqh5dyQJeVdXZx7VJvWGiJHAVXEkBKEIvQe8BEyKI5kzgXuAY4BlZjYB+D1hKq9tNX5T0sj4836xvQXAZySVx/U/32r5Z+O6/omRHVh9evpLeqtP+0EvR9I9LS3NtLQ05zoMl0Xex/kpkSMnM7tT0k7AU5JWEoroGcBrwM2SUnNoxwLzgWmS9gVWAXXAoDZNHgf8TyxC64BjzWyRpNsIo6NSYCbwv8B04FZJRwKLs5lnIVhz2BEsBwZcdgllCxfQtONwVp/2g7y4GcI5l1yJveaUT+rrVxTsQUzC0D+b5sypBWCPPfZab3mh551OoeacqY9TCjXvjiQh7+rqiozXnJI6reecc66IeXFyzjmXOIm85uRcb9lqq0/nOgSXZd7H+cmLkytqW2/tb1yFzvs4P/m0nnPOucTx4uSK2qJFxqJFluswXBZ5H+cnn9ZzRe299xpzHYLLMu/j/OQjJ+ecc4njxck551zieHFyzjmXOF6cnHPOJY7fEOGKmn8RXeHzPs5PXpxcUfOv8C583sf5yaf1nHPOJY4XJ1fU6uuXUF+/JNdhuCzyPs5PPq3nitrrr78MQHX1VrkNxGWN93F+SmxxkjQWuA2YB7QA/YG/mtkVXWznRGArMzu3p2N0Lp/cdVc5f/hDXxYuLGXHHZs5/fQPOeywdbkOy7m0ElucoofM7EgASZsAJmmqmS3LcVzO5ZW77irnhBP6f/R4/vyy+Ph9L1AukZJenFqrAJqAByUtBiqBg4DrgO2BMuASM7tV0j7AZUBD3KZW0hBgmpntBSCpFjgSWA3cCGwBlACTgHeA64GquO9Tzez5XsjR5cBbb5UyZcqm6y0rLYXm5k0zbJF/lixJ/23YJ5/cjwsuaAEKL+eU888vZeutm3MdhuuipBenAyQ9AjQDa4FTgDOBW8zsLkknA0vNbKKkCuAZSTOAS4FvmdlCSVd1sI9zgH+Y2dWSDgDGACOBGWZ2laRhwJ+BfTI1UFk5gPLyso1MNbmqqwv370TKysI9QaWlG94blG5Zvlq7NtPyEkpLPy5chZRza2Vlpe2+jgv5Nd6eJOed9OL00bReiqQzgdTn3+8EPAhgZiskzSOMoj5lZgvjOo8DO6RpO/UbKeCG2MZDcR8TCIVxfFynsr0gGxtXdyWnvFJdXUF9/Ypch5E1TU3NbL01PP30+jkWWt777TeA+fM3PIEaMaKJRx4Jr99CyzllzpxmmprImFuh5t2RJOTdXnHM19Ok1Bh9PrAvQBw57QosBpZI2imuMzr+/wHwSUllkrYAhrZqY3Rs4/OSLgYWAJea2Vjgm8Bfs5uOy5WRI0czcuTojlfMc6ef/mHa5aedln55ISmWPi40+VqcUv4EVEmaCTwC/NLM3gGOAm6KU3yDAcxsCTAdeDpu91Js41fAoXH68JfANcCFwDfjsvuBF3opH9fLysrKKCsr3CnZlMMOW8c117zPiBFNlJe3MGJEE9dcUxw3QxRLHxeakpaWllzHkPfq61cU7EFMwtA/mz744H0A+vXrv97yQs87nULNOVMfpxRq3h1JQt7V1RXp79Qh/0dOzm2U+fOfY/7853Idhssi7+P85MXJOedc4nhxcs45lzhenJxzziWOFyfnnHOJ48XJOedc4iT9EyKcy6qhQ4flOgSXZd7H+cmLkytqW2xR1fFKLq95H+cnn9ZzzjmXOF6cXFF78cU5vPjinFyH4bLI+zg/+bSeK2offrgm1yG4LPM+zk8+cnLOOZc4Xpycc84ljhcn55xziePFyTnnXOL4DRGuqFVVfTLXIbgs8z7OTz1WnCSNBR4GjjSzW1stnws8Y2bHdKGtzwPLzGxufHwbcC5QCzwDtAD9gIfN7OwuxnkMMNzMzpJ0PPBnM1vblTZc4dh22+1yHYLLsp7u47q6BcyePYvGxneprKyipmYMw4YN79F9uJ6f1lsAfCv1QNKuwKbdaGcyMCi20S8uWw3MM7OxZrY/8Dlgf0kjNyLeswH//mbnXKfU1S1g+vR7aWhYSktLCw0NS5k+/V7q6hbkOrSC09PTes8BO0rawsyWAUcBfwW2lfQN4AdAEzAzjlw+DVxFGAVVAecBrwFfAUZJmgfsShiRtdUf2ARYLWkIcD3QhzCqOtXMnpO0xMy2ApA0Dbg6tbGkY4GtgGmS/gBcDHwIPAgcZGZj4nq3Ar8zs6d76iC55Hj11UWAj6CyberU63K274EDw8cXLV36btrnS0tLaG5u6VRbq1atTLt8xoz7qa2d2b0AcyRd3hMnTslRNBvKxjWnO4HDJN0IjCG86e8O/BLY08xWS5oqaRyhkPzezB6RtDfwSzMbJ+l+YJqZvSrpLOAiwihvhKRH4nZNwGVm9pKkO4DLzezvknYnFKo92wvSzK6X9DPgSGAvoJ+ZfQZA0gGSRgBLgKEdFabKygGUlxfuAKy6uiLXIWTN3LlLAaip2W2D5wo570yylXNpaUlW2u2MioqQU0NDQ8Z1Ohtfc3NzxuW5zLG72sacpNd8NorTLYTR0CLgsVb7qQbulQRQAWwHzAR+GkcxLYSRT1ufjkVqCHFaL806OwH/BjCzZyVtk2adjl451urna4FjgFeBv3SwHY2NqztaJW9VV1dQX78i12FkTVNTeLNpm2Oh551ONnOeMOHYrLTbGXPm1LYbQ1fynjbtZhoalm6wvKpqIOPHT+p+kDmQLu/efs23Vwx7/FZyM1tEuM50Kh+/sbcQpuvGxeJyBfAUcD5ws5lNJEzdpQpIM1AqaTfg+U7sdj6wL0AcOS2Jy/tI2kxSX2DnNNs18/ExaH1KdAfwJeAwOlGcnHPFoaZmTNrlo0alX+66L1t/53QrsI2ZLYyP64FLgEclPQV8FVgI3A5cLukxYBwwMK7/FGEq72Dg7k7s70fAKZL+TRi1pU6R/kC4w+8O4JU02z0G3EubUZWZfUAYib1jZpnnApxzRWXYsOGMG3cgVVUDKS0tpapqIOPGHeh362VBSUtL5y4EFhtJVwJ3mNlDHa1bX7+iYA9ioU9vpaZ89thjr/WWF3re6RRqzpn6OKVQ8+5IEvKurq7IeLnF/wg3DUkPAG92pjC5/Na37ya5DsFlmfdxfvLilIaZfSnXMbjesfPOe+Q6BJdl3sf5yT9bzznnXOJ4cXJFbdmyd1m2LP0fZ7rC4H2cn7w4uaK2eHEdixfX5ToMl0Xex/nJi5NzzrnE8eLknHMucbw4OeecSxwvTs455xLHi5NzzrnE8T/CdUVtp502/KoMV1i8j/OTFydX1Pr165/rEFyWeR/nJ5/Wc0WtqamJpqamXIfhssj7OD95cXJFbe7cp5k7t90vOnZ5zvs4P3lxcs45lzhenJxzziVOp26IkLQd8Bvg08Bq4H3gTDN7sRPbngU8ZGazuhKYpK8DnwBuAs4ifHtuE+Er3081s858fXuXSHoEONHMFvR0227j1NUtYPbsWTQ2vktlZRU1NWP820edK2AdFidJA4B/AMeZ2ZNx2Rjgj8DYjrY3s4u6GduBwNnAmYSvb9/PzJoljQb+Lklmtrabbbs8Ule3gOnT7/3ocUPD0o8ee4FyrjB1ZuT034SRz5OpBWY2S9L+km4EquK//wYuBraJj+8zs5/FdaYBWxEKzgBge+BiM7tR0neBo4FmYKaZnSGpBBhoZm9LOh6oMbPmuO+nJY02s7WSdgUuB0qAd4HJwB4xjg+BPwGvAhcSRl3/B5wA9AeuA7YgFL5rzeyqVH6SPgf8HlgLNAITzCyvv8d56tTrurVdaWkJzc25/Rb6VatWpl0+Y8b91NbO3Ki2hw4dAmx4fLKZ98SJU7LSrnOFpDPFaSjwUuqBpL8DmwNbA68B95jZpZKGALVmNkVSP+B14Gdt2trczL4saRjwT+BG4DvAKWZWK+kkSeVADfCfuM0AM2ts3YiZpb6c5VpgspnNk3QsYZQ1HehnZp+JRc6AfczsHUnnA8cAs4FpZnanpEHAo8BVrXbxNeBO4HfAIUAlkLE4VVYOoLy8rJ1DmHulpSU52bYnNDc3Z1y+sbE1NDQA6XPMVt7V1RVZabcnJDm27tpppzC6bi+3Qsy7M5Kcd2eK02vAnqkHZnYogKRaQgGy+FQDMFrS/sByYJM0bT3bqs1+8efvAD+SdDHwJGEUdDChOAA0SvqEmS1PNSLpMGAGsBNwpSSAPsDCVJjx/2pCEb0trtMfeAC4Bzhd0uEx1j5t4vwVcE7cxxvAUxmPDtDYuLq9pxNhwoRju7VddXUF9fW5HTROm3YzDQ1LN1heVTWQ8eMnZWWf2cw718czkyT0dTb067cFkPm4F2reHUlC3u0Vx87crfd34IuS9kotkLQD4eaIwYTpOAgjkmVmNoEwJTYgjlxaSzdPchzhJoT9CFNyewO7m9mc+PxNwC9SbUnaG7gE+IBQhCaZ2VjCqOmeuE0qpqWEAnpoXOdC4GHgR8CTZnYUcDuhILY2AbjRzPYHXgSOb+f4uCyrqRmTdvmoUemXO+fyX4cjJzNbKem/gYskbR23WUd4w/5mq1VnANMk7QusAuqAQZ2I4XngaUn1hFFKXfw/5bfA+cCTktYSrgMdYmYfSjoJuFlSak7t2Nb7jDdQnAbcI6mUMEqaRCiSV0maQLhWtU5S65He08BNklYSrl15ccqh1E0Pzzwzi8bGBiort2TUqJ65W2/hwnDD6Y477rzRbblk8j7OTyUtLbm92F0I6utXFOxBTMLQP5vmzKkFYI899lpveaHnnU6h5pypj1MKNe+OJCHv6uqKjBd2/Y9wnXPOJY4XJ+ecc4njxck551zieHFyzjmXOP5lg66obb55Za5DcFnmfZyfvDi5orbddsp1CC7LvI/zk0/rOeecSxwvTq6ovfXW67z11uu5DsNlkfdxfvLi5IrakiWvs2SJv3EVMu/j/OTFyTnnXOJ4cXLOOZc4Xpycc84ljhcn55xzieN/5+SKWkmJn58VOu/j/OTFyRW13Xf3LywsdN7H+clPKZxzziWOj5xcUVu1KnzZ2qabVuQshrq6BcyePYvGxneprKyipqZnvuXXBUnoY9d1HRYnSWOB24B5QAnQB/iDmd3WzjZnAQ+Z2azOBiJpCDAXeIbwNer9gIfN7OzOttGqra8AR5rZMV3Yph9wlJld19X9ufyV+grvTN+Smm11dQuYPv3ejx43NCz96LEXqJ6R6z523dPZkdNDZnYkgKTNgEclLTSzZ9OtbGYXdTOeeWY2Nu6nFHhc0kgzm9vN9rpiK2AK4MWpCEydGrp56NAh6z1OKS0tobm5JetxrFq1Mu3yGTPup7Z2Ztb331q6nCdOnNKrMTiX0uVpPTNbKeka4AhJzwPXANsAVcB9ZvYzSTcC0whv+JMJ17bOB6aY2TcAJD0OHGFmb2XYVX9gE2B1bK8q/jsI+CmwT1zvFjO7TNJOwA3AqvivMe5niZltFX+eBlwNPAX8GRhMGAmeEuMcIennwAzg98Da2M4EM1uR6ZhUVg6gvLyscwcwD1VXF950SGlpSbuPMy3rac3NzRmX98b+22q7z0Lo+7KycGm9vVwKIc/uSHLe3b3m9DYwilCUas1sSpwWex34WZt1G83sUEklwGWSKoGtgaVpCtMISY8QpvWagMvM7CVJEEZvl0o6GBgK7BXjnynpIeAXwM/NbLqkHwM7tRP/icDLZnakpF2ALwIXArua2XmSfgvcCfwOOASoBDIWp8bG1e3sKr9VV1dQX58x9bw1YcKxAMyZU7ve45TeynvatJtpaFi6wfKqqoGMHz8p6/tvLV3OhdD3TU3hBCBTLoX6Gu9IEvJurzh2tzgNJhSiBmC0pP2B5YSRTlsGYGYtkv4CfAvYDrg+zbofTetlaodQdB4zsxZgraRaYASwM5C6xvU46YtT6rRQwH0xrheAF+I1r5RfAecQRlBvEEZazvW4mpox611zShk1ym9/dsWty7eSS6oAjgNuB44BlpnZBMI02IA4Qmqt9bzFn4FvAJ8HNvyNbF+qnfnEKT1JfYC9gTpgAfDZuM7oVtv1kbSZpL6EApZqY3RsYztJt8T2U8djAnCjme0PvAgc38VYneuUYcOGM27cgVRVDaS0tJSqqoGMG3eg3wzhil5nR04HxOm2prjNL8zMJJUD0yTtS7jOUwcMytSImb0haQVhKnBddwI2s7sljZX0JNAXuM3MnpH0XeBWSWcA9cAHcZM/ALXAIuCVuOwa4AZJjwJlwOnAO0BfSRcPvby/AAARPElEQVQTpvRukrQS+BAvTgVrhx1G5DoEhg0b7sUoi5LQx67rSlpasn9HUmuS7gZON7OXenXHWVRfv6J3D2IvSsK8dC4UY97FmDN43jmOIeNdP732R7iS+gMzgfsLqTA555zreb1WnMzsfaCmt/bnXGfMnfs0ACNHju5gTZevvI/zk398kStqTU1NuQ7BZZn3cX7yD351zjmXOF6cnHPOJY4XJ+ecc4njxck551zi+A0Rrqj9139l/JtxVyC8j/OTFydX1AYN2jbXIbgs8z7OTz6t55xzLnG8OLmitnjxQhYvXpjrMFwWeR/nJ5/Wc0Vt2bKGXIfgssz7OD/5yMk551zieHFyzjmXOF6cnHPOJY5fc3J5q65uAbNnz6Kx8V0qK6uoqRnjX9rnXIHIWnGStDPwG2AAsBnha9nPNbNOfzFf/Hbb44Ffm9mtndxmW2A3M/unpD8Al5jZq11OwCVaXd0Cpk+/96PHDQ1LP3rclQI1YMCmPR6bSxbv4/yUleIkaQtgGnC4mdVJKgNuB04Aru5CU4cDE83s+S5scwAwHPinmZ3ehe1cO6ZOvS7XIaxn1aqVaZfPmHE/tbUzu9zerFlPrfe4tLSE5uaN+4LjiROnbNT2rmdIu+Y6BNcN2Ro5HQo8ZGZ1AGbWJGkS8KGk3wP7xPVuMbPLJN0IrAGGAFsDxwB7xn/XSxoPHAx8G2gBppnZ5ZKGAdcBfYHV8fmzgAGSngB+AJwILAH+Anwi5vxTM3tI0lzgUWBkbPfQ2NathOtxfYATOyqOlZUDKC8v6/7RSrjq6gpKSzN+m3JONDc3Z1zeU7FubDvV1RU9EkdvyseYe4LnnTwlLS0bd3aYjqSfAKvN7LI2yw8GJgNfJxSJmcAU4IfAQjP7laTjgBozO1HSI4TiUgr8CdiPUEQeBE4iTBteZWb3S/omsAwYBAw3s7NabT8FeC0Wwk/F/W4PLAK+bWZPSPor8E9gRVz/28AIoJ+ZPd5evvX1K3r+ICZEdXUF9fUrch3GBqZNu5mGhqUbLK+qGsj48ZM63c7SpW8DMHDgf623PKl5Z1Oh5pypj1MKNe+OJCHv6uqKjGeA2bpb7xVgm9YLJA0lfE37Y2bWYmZrgVpCAQCYE/9/DejXpr1dgMHADOAhoArYARDwJICZ3WZmD2SIZyfg33G9N4DlQHWG/d5HGE39HTgPSH+K7nKqpmZM2uWjRqVfnslrry3mtdcW90RILqG8j/NTtorT3cBXJG0PIKkPcAnQSJzSi8v2BuriNu2NPgx4EdjfzMYCNwLPA/OB0bG9CZJOIRSTtnnNB/aN630KqATezbDfscBbZvYl4ALgV51L2fWmYcOGM27cgVRVDaS0tJSqqoGMG3eg363nXIHIyjUnM1su6WjgWkmlQAVhyuwKYFtJTxKu7dxmZs9I6qi95yTNAGZK2gSYBbwBnAFcI+mnhGtORxFGWOdIeqZVE78CbpB0BNAfON7M1mXY73PArZJOB5oIoyeXQMOGDfdi5FyByso1p2Lj15zy15w5tQDsscde6y0v9LzTKdScM/VxSqHm3ZEk5J2La07OOedct3lxcs45lzj+8UWuqO26a02uQ3BZ5n2cn7w4uaJWXt4n1yG4LPM+zk8+reeK2po1a1izZk2uw3BZ5H2cn7w4uaI2b94c5s2b0/GKLm95H+cnL07OOecSx4uTc865xPHi5JxzLnG8ODnnnEscL07OOecSx//OyRW1wYN3yHUILsu8j/OTFydX1LbccmCuQ3BZ5n2cn3xazznnXOJ4cXJFbd68Z5k379lch+GyyPs4P/m0nstLdXULmD17Fo2N71JZWUVNzZhuffHgmjUfZCE6lyTex/kpa8VJ0s7Ab4ABwGbAvcC5ZtatL+aTNA24GugHbGtmf+qpWGP72wK7mdk/e7Jd1/Pq6hYwffq9Hz1uaFj60WP/ZlznCkNWipOkLYBpwOFmViepDLgdOIFQYLrNzO7vgRDTOQAYTvg6+aIydep1GZ8rLS2huTlZX/S7atXKtMtnzLif2tqZXWpr6NAhwIbHoDfynjhxSlbbdy6fZWvkdCjwkJnVAZhZk6RJwIeSfg/sE9e7xcwuk3QjsAYYAmwNHGNmz0j6HjAFeAv4JICkYwhF5GrgVuC1uN00YBdgD+AeMztb0q7A5UAJ8C4wOT7/Y+BDYGhs4yLgLGCApCeATwNHA83ATDM7o71kKysHUF5e1t1jlXOlpRm/KblTz/e25ubmjMu7G2u67bKdd3V1RVbb744kxrSxysrCpfX2civEvDsjyXlnqzgNAha1XmBmKyUdTCgIe8V9z5T0UFzlFTM7QdJxwPGSfgycBuxKKBKz0+xnO+BLQH9gMfApYDXwCnA2cC0w2czmSToWOBOYDgwGRgKbAG+a2YWSLgKGm9k/JD0NnGJmtZJOklRuZusyJdvYuLrLByhJJkw4NuNz1dUV1Nev6MVoOjZt2s00NCzdYHlV1UDGj5/UpbbmzKkFNjwGvZF30o5rEvu6JzQ1hZOZTLkVat4dSULe7RXHbN2t9wqwTesFkoYCNcBjZtZiZmuBWmBEXCX1mfavEa4rDQdeNLM1cd1ZafazyMzeA5YBb5tZg5l9AKTmY3YCrpT0CGHUNCguf97M1pnZKuD9NO1+BzhR0qOEQpasoUORq6kZk3b5qFHpl7dnyy2r2XLL6o0NySWY93F+ylZxuhv4iqTtAST1AS4BGolTenHZ3kBd3KbtBP8iYISk/vGa1R5p9tPRRQEDJpnZWMKo6Z52tmvm4+NxHHCime0X97t3B/txvWjYsOGMG3cgVVUDKS0tpapqIOPGHditmyEGD96ewYO3z0KULim8j/NTVqb1zGy5pKOBayWVAhWEGw2uALaV9CTQF7gtXltK10a9pJ8DTwD1wKpuhHIScHMsbgDH8vHoqa3ngXMkPRN/flpSPfAG8FQ39u2yaNiw4X5nnnMFrKSlJVl3YuWj+voVBXsQkzAvnU2vv/4yAJ/+9JD1lhd63ukUas6Z+jilUPPuSBLyrq6uyHjJxD8hwhW1+vol1NcvyXUYLou8j/OTFyfnnHOJ48XJOedc4nhxcs45lzhenJxzziWOfyq5K2p9+vTNdQguy7yP85MXJ1fUdtllVK5DcFnmfZyffFrPOedc4nhxckXtvfcaee+9xlyH4bLI+zg/eXFyRW3RImPRIst1GC6LvI/zkxcn55xziePFyTnnXOJ4cXLOOZc4Xpycc84ljhcn55xzieN/hOuK2vDhI3Mdgssy7+P81KvFSdJY4DZgHlAC9AEmm9mC3ozDuZT+/QfkOgQA6uoWMHv2LBob36WysoqamjH+Tb89JCl97LomFyOnh8zsSABJXwJ+Bxycgzico7m5GYDS0tzNcNfVLWD69Hs/etzQsPSjx16gNl4S+th1Xa6n9SqBlyXtClxOGE29C0wGfgE8Z2Y3SdoKuMfMaiT9Gvg84XrZJWZ2u6RHgPrY3teBa4EtgIHAtWZ2laQxwB+BFcA7wAdmdoykU4BvAy3ANDO7XNLhwI+BtcDLwCQza+6F4+F62XPPzWLVqpUsXvzyestLS0tobm7plRhWrVqZdvmMGfdTWzuzV2KADXOeOHFKr+07m557bhYAe+yxV44jcV2Ri+J0QCwmmwAjgYMIxWSymc2TdCxwZlz2R+AmYCLwZ0lfBYaa2eck9QNqJU2P7d5iZndJGkUoMndKGgQ8ClwFXA1MNLMXJV0IfErSCGA8sA+hOD0o6V/At4BLzWyapEnAJ4BlmRKqrBxAeXlZDx6iZKmursh1CFlTVhbOpktLSzZ4Lt2ybEid2adb3lsxpLTeX6H0e6qP28unUHLtqiTnnetpPQFPApsCV4aH9AEWmtl8SeWSBhMKyBeB44GaWNxS6w6OP6c+n2QJcHoc/SyP6wAMMrMX48+PAUcCu8TtZ8TllcAOwA+An0g6CZgP/G97CTU2ru7qMcgb1dUV1NevyHUYWdPU1Mymm27GhAnHrre8N/OeNu1mGhqWbrC8qmog48dP6pUYYMOcC6Xfm5pC8c+UT6G/xjNJQt7tFcdcT8K+Hf+fS5g6G0sYNd0Tl18P/AaYZ2bLgAXAw3G9Awg3VyyK66ZOP38EPGlmRwG3E6YKAV6LIyWA1PjegBeB/WObNwLPE4rguWa2X9z+sJ5J17kN1dSMSbt81Kj0y50rBrmc1msCKgijlOeBmyWl5sZSp7G3A5cBh8TH/wTGSnoM2Ay4y8xWxBEXrda5StIEwvWrdZI2Ab4L3CBpJfAh8IaZPSdpBjAzrjMLeCP+P13Su4RrVHf39EFwLiV108Mzz8yisbGBysotGTXK79Zzxa2kpaV3LvrmmqTvAbeZWb2kC4APzey8nmi7vn5FwR7EJAz9s2nOnFpgw4vlhZ53OoWac6Y+TinUvDuShLyrqysyXlTN9d16velt4IE4cnoPODrH8bgE+NSnBne8kstr3sf5qWiKk5ndAdyR6zhcsnzyk1vnOgSXZd7H+SnXN0Q455xzG/Di5IpaXd086urm5ToMl0Xex/mpaKb1nEtn5crluQ7BZZn3cX7ykZNzzrnE8eLknHMucbw4OeecSxwvTs455xLHb4hwRa2iYvNch+CyzPs4P3lxckVthx12ynUILsu8j/OTT+s555xLHC9OrqgtWfIGS5a8keswXBZ5H+cnn9ZzRe2tt14DYKutPpXjSFy2eB/nJx85OeecSxwvTs455xLHi5NzzrnE8eLknHMucbw4OeecS5ySlpaWXMfgnHPOrcdHTs455xLHi5NzzrnE8eLknHMucbw4OeecSxwvTs455xLHi5NzzrnE8eLknHMucfxTyR0Akj4JzAbGAeuAG4EW4AXge2bWLOkXwEHx+dPNbFaOwu0Rkn4CHAL0Ba4EHqXA85bUB7gJGAI0AcdRwP0t6TPAxWY2VtIOdDLPTOvmIofuaJP37sAVhP5eA0wys7clHQecQMj7AjO7W9JA4BagP/Am8B0zW52LHHzk5FJvWNcA78dFlwA/NbN9gRLgUEmjgP2AzwBHAn/MRaw9RdJYYG/gc4S8tqEI8gYOBMrNbG/gPOBCCjRvSWcC1wH94qKu5LnBur0Z+8ZIk/dlwClmNha4E/ixpK2AUwmv/y8Dv5a0CfBz4JaY9xxC8coJL04O4HfA1YQzJYAawigC4D7gi8A+wANm1mJmrwLlkqp7PdKe82XgeeAu4J/A3RRH3gsJOZQCnwDWUrh5/x9weKvHXckz3br5om3eR5rZs/HncuADYAzwuJmtMbP3gJeAkYTjcX9cN6d5e3EqcpKOAerN7F+tFpeYWepzrVYAmxPeyN5rtU5qeb4aCOwJfAM4EfgrUFoEea8kTOktAK4FLqdA+9vM/kYovildyTPdunmhbd5m9haApL2Bk4FLyZx36+U5zduLk5sMjJP0CLA7cDPwyVbPVwDLgOXx57bL89W7wL/M7EMzM8LZZOtfxELN+/uEvHcEdiNcf+rb6vlCzRug9TWjjvJMt27ekjSeMDtykJnVkznv1stzmrcXpyJnZp83s/3ifPSzwCTgvnhNBuCrwGPA48CXJZVK2pYwyliai5h7yEzgK5JKJA0CNgVmFEHejXx8ZtwA9AHmFEHe0LU8062blyQdRRgxjTWzRXHxLGBfSf0kbQ7sRLjx43HCdUnIcd5+t55L54fAtZL6AvOBO8ysSdJjwJOEk5rv5TLAjRXvTPo84Zc0lc9iCjxvwpTODTGnvsDZwH8o/Lyha6/rDdbNRcAbS1IZYer2VeBOSQCPmtkvJF1OKD6lwDlm9oGkC4Cb4p18S4Fv5yh0/8oM55xzyePTes455xLHi5NzzrnE8eLknHMucbw4OeecSxwvTs455xLHi5NzzrnE8eLknHMucf4/P/XGS/2y5ioAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with Produce (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name='Produce', figsize=(6,4));"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 80,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAacAAAEFCAYAAABHOyh9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XucXdP9//HXTCZXBpNk+kVLEsQ7IoKMpChNaPWC0qh+ow2hcW/dWqVKtYq2tEXxrUtdirR+cal827pVxKWCiEYIuXwyvom7MDETuRHJzPz+WOtwTM6ZSzIze885n+fjkUfmrL332p+19pnz2WvtPWeXNDY24pxzzqVJadIBOOecc015cnLOOZc6npycc86ljicn55xzqePJyTnnXOp4cnLOOZc6ZUkH4DqWpIHAYuDfZja6ybJbgKOBSjNb2kwdFwD9zewUSccBPczsGkknAVuY2SXNbDsG+B8zG9bGuLcALgTGAA1AY6znprbU09EkPQ+MMbNlCez7FuAAoAYoAXoCU4Efmtm6Frb9OfCCmf29o+NsLUm7AHOAc8zs0qzyC/jk/fcKcLiZ/afJto8BA4D3Ce+VHsB/gJPNbHUz+zwE+LKZnbaRsU8CLgUuAHaIxbsCLwH1QJ2Z7dfM9scQ2nXwxsQR6/omsIuZXbSxdSXJR07F4UNAkgZkCiRtAnxhA+raB+gDYGbXNZeYNpSkXsDjwBvACDPbDfgm8FNJx7b3/jaGme2WRGLKckWMYVdgN8IxHdeK7fYHundoZG33feCvwCmSNuTE+azYF7sDwwjv0wub28DM/tEOiem/gffN7CUzOzzGsFtcvF98nTcxtTcz+1/gi5J2a3HlFPORU3GoB+4AxgO/jmWHAX8HzoT1Rzi5RjySxgKHAAdI+gCo5NNntP+PcCa/BXCZmV2bHYSkHoSzy9FAN2A2cJqZLW8S7zhgpZn9NlNgZq/GD4Eesa6dgf8B+hHOlC8zs9ti3L8BXgMErAIuAU6Lr/9mZj+M610KvAoMAT4AjjGz+ZJ2BP4IlANbAc8D48zsQ0lrYr/tGvvz2dgPZcBtQP8Y8n1mdn6M9XzgO8A6YCFwipktiWf7TxMSyrbAw8AJhJPGq2P5WmAR8D0zW0nzNiGMnpbE/W4OXAnsQkhE04CzgBOBPYDfSdoG+JGZbRO3+RewxMyOltQTeAvYDtg61tWPcOyuMrOb4zbfAH4Wj81q4Mdm9nQc8QyMfTgAeBM40szebhq4pPLYn58nJNnDgckttDcvM2uU9ChwYKx/Ymx3D6AvcImZXZs9YonHo5bwfrg2xvszwsi9npD8/p1jd78Evt1STHEW4yUz2zTX66z1Die8Nw80M4snZN8nvC/eA04BXiecvH3ezBbG7R4Gro6j4ZuAXwBjW+yslPKRU/G4DTgq6/XRwC1tqcDMpgD/IJyt/zHHKn2BkYSpuAvjNE22cwgf0FXxTP8tQuJoag/gyRz7f87MZsSz6n8QfhGHA18Hfi1pr7jqSMKHz27AcuCnwEHACOAHkrbO2k+mjj8Dk2L58cCtZrYnYYpmUNwewofbP81MTaaWjgcWmdkIYF9gsKTNJX0vxjcy7uclPt3v28f+yrRjNLBXLNvVzKoIyWl4jn4C+KGk5yW9SPjAehuYHpddAcyKdexOSJw/isfuP4QP2yuAtZKGSepN+GDeP27/JeAZQoK/mzDdVhVj/LGkPSUNJpzwHBhHLCcA98SRObEvvm1mQ2I9J+Vpx1HAQjObD9wK/DDPeq0iqYJwkvOopE0JxycT4zjgt3k2rTOzoWZ2NfA74PtmtgdwPuGYNN3PMKC3mb20MfFm1fcdwtTgmJiYRhN+V/eNsf8WmGJmqwj9dFzcbntgR+DeWNVDwNfjMe2SPDkVCTObBdRLqopny+Xt9QuV5Y9m1mhmbwAPAl9psvxg4FBgdrxW801gaI56Gmj+vbkj0MvM7gEws7eAvwFfi8sXm9ns+PP/AY+a2UfxutpyQhKFcM3lifjzzcDukvoBPwFqJJ1NOIPeGsg+u32C9T0IfEvS/YQz9HPM7H1Cwvlz/DCBMPr4UhxFQkh0DXH0+HKM7UXCmfozki4ijPaeytMXmWm9XQgjuA+Bq+Kyg4ETY1/PAkYRRlFNTYlxjiGMrt6NI9NDCf26IyGJ3hzrehzoTUh4BxBGRtPisr8Sjl/mustjWSPj2XzS902dRPiwBfgLUJV1stFav4uJ+gXgMUKSvjKOOA8GDor9eR6fPp7Zso/tZGCKpBuBCnIntCGE49YeRhJOkK4zs9dj2UGEvnwq9u9vgQpJfYFrgAmSuhNOCm40s3oAM6slvBcG0EX5tF5xmQQcSbiAPqnJskbCRfWMHrRd9kX4UsIHbLZuwOlm9gBAPKPtlaOeGcAPmhbGi9f7EkaBTb8UspRPrqGsabJsbSvizbS9njA9WQbcCdxHmHLL7pv1ptfM7FlJg4AvE0YeMyV9ndDm7FhLY92Z+j7IWtYIlJjZMkm7Eqb19gfukPQ7M7smTzsyMayKH6S/iUXdCKOW+fDxTSa5vkxzCnARIQlPBd4FvkpIWOfG8vezrqMg6b8INx8cD0wzs3FZy7YhjIrH5mpf051L2pdwjehsSWfG4o8Io6enm2tzE2eZ2d056v9crOdPhIR1NyFZ5fLxsTWz8yTdTEjAxxCmwEc1Wb+R1p/kt/Q7toww/XunpHvN7BXCMZxkZj+JbSklHI86M6uVNIdwEvFdwpRotnWs/zvYZfjIqbj8hTA3Pg64vcmyGmBbSZ+RVAIckaeOdeS/kD4BQNK2hFHTA02W/4twsbtH/CW7gU8+SLP9Ddhc0tmSusU6twMuB+YDCwhTUYfFZVsD3yJ8sLbFbpIy02UnAE/Fmxu+ClxoZnfEZZ8nfEjkJekS4Px4Mfp0YC7hA/dBYGLWNNdphDsnmybQ7LoOJoxgnjKzCwjJeGRLjYl9+nVgZiz6F2HaryReP/oH4XoFfPo4PkUYGR1MuO71EHAGYZrtPcCADyQdGfezDWF6sirG+RVJQ+KyAwl33LVlOulkwgfwNmY20MwGxlgOi++ljbUH4f19cWzbwTHWvMdUUlm8jtrHzK4jXPMZHvsxmxH6rjWWAT0kZWYLvtNkebWZPUK43nhbPJ7/Ar4jaau4zkmEPs/4I2H6cWacQcjEvznhxO+1VsaWOp6cioiZvUn4cK+Ow/7sZfOA6wnXImYQbj/P5QHgJEk/zbFskKRZhA/k08zMmiy/CHiFML0zj3AWeWaTdTCzjwgjkJ2BF+PZ4d+Ai83sZjNbS5gSPD0ue5iQTB5toQuaWgL8Kl6v+SafXJM7lzCd8yKhTx7nk2mqfP5ASHYvEfpwMWFa6KYY30xJ8wnXvca3UNcDhOT2kqT/AHsTLrrnkrnmNJtwbDcjJBYIiXATwjThnPh/ZmrqH8BvJB1tZg1xnyvMrIYwuuhL6PPM8TgUOC7290OERPxkfN+cAEyO02kXAYe04uYNACRVEm7O+V12efyQfho4tTX1tOAhws0DRuijbQnJKu8xtXAr/hnA7ZKeA+4CJjY9qYhT4x9I2qmlIOI079nAA5Ke5dOjymy/Ihy3s8zsIcLNEVNj338XOMzMMiPgewlTlNc1qeMrwL3NnQSlXYk/MsO1B+X5+5O00gb+/ZVzTUn6LrCPmX0/gX3vBdwIDMtKWEh6BDjDzOZ0dkztxUdOzjm3EczsdqBvjrtTO5SkWwmj82ObJKaxwBNdOTGBj5ycc86lkI+cnHPOpY4nJ+ecc6njf+fUDtatq28sK2v2TmOXItOmhTtxv/SlLyUcSbp5P7lOsN7fvWV4cmoHdXV5v/S4y6usLKemZkXSYbSr+voGgGbbVYjtbknTNremnwpBMR5rSEe7KyvL8y7zaT3nnHOp48nJOedc6vi0nis6W2yR77tHXTbvJ5ckT06u6AwatGPSIXQJ3k8uST6t55xzLnU8Obmi89Zbr/HWW132y5o7jfeTS5InJ1d03nnnLd55562WVyxy3k8uSZ6cnHPOpY4nJ+ecc6njyck551zqeHJyzjmXOv53Tq7odOvmX9LbGt5PLkmenFzRGT58ZNIhdAneTy5JPq3nnHMudTw5uaKzYsVyVqxYnnQYqef95JLkyckVnZdfnsfLL89LOozU835ySfLk5JxzLnU8OTnnnEsdT07OOedSx5OTc8651EltcpJ0jqSHJT0k6V+Sqtq4/SBJz0u6dSNiGCLpsQ3dvlj0nHI3FaP3ov9WFVSM3oueU+5OOiTnXBeXyj/ClTQUOAT4gpk1StoNuBXYtQ3VfAGYZmZndkSMLug55W42O3Hix6/L5s9lsxMnshxYM/bw5AJrxo477px0CF2C95NLUiqTE/AusC0wUdKDZva8pFGSdgGuAkqA94CJwErgemAboB/wAHAD8DOgj6SXgRnA1UA98CFwvJm9JulM4AhgHfBvM/uJpK2Av8Z9LOm0FrdB36phnbez0hL6NjTmX7zk7Zzl5aecyCYXX9AxMW2A2lkvffzzJpuUJxhJ1+H95JJU0tiY/4MnSZJGAKcAXwZWA+cBZwETzWyepGOB7QiJ6MtmdqOkXsAbZtZf0jHAEDM7R9J/gONikjsUOAr4JXAjsA8hOf0NuBkYA5iZ3SBpHHCymY1pLtZ16+oby8o68XvIBg7svH215NVX8y8bMKDz4mjJK68kHYFzbn0l+RakcuQkaQdguZlNjK/3AO4HegPXSALoDiwEaoGRkvYDlgM9c1S5tZk9H3/+N3AJMASYYWZr4z6eAHaO/ybFdZ8ETm4p3rq61RvQyo3w7IudtqvKynJqalbkXV4xei/K5s9dr3zd0GHUPfZUR4bWNllteP75mQDsttuovKu31O5C1LTNremnQlCMxxrS0e7Kyvyj87TeEDEcuDaOhCAkofeBl4EJcSRzNnAfcAywzMzGA5cRpvKaZuO3JA2PP4+O9S0APi+pLK7/xazyveK6/s2XLVh9Ru5LeqtP/1EnR9J6jY0NNDY2JB1G6nk/uSSlcuRkZvdI2gl4RtJKQhI9C3gduE1SZg7tWGA+MFnSvsAqoBrYukmVxwP/E5PQOuBYM1sk6U7C6KgUmA78LzAVuEPSEcDijmxnIVgz9nCWA32uvJxuCxdQv+MQVp/+o9TeDOGc6xpSe82pK6mpWVGwnZiGoX97mz17BgC7775n3nUKsd0tadrm1vRTISjGYw3paHdlZXnea05pndZzzjlXxDw5OeecS51UXnNyriNtueXnkg6hS/B+ckny5OSKzlZb+Ydua3g/uST5tJ5zzrnU8eTkis6iRcaiRZZ0GKnn/eSS5NN6rui8/35d0iF0Cd5PLkk+cnLOOZc6npycc86ljicn55xzqePJyTnnXOr4DRGu6PhD9FrH+8klyZOTKzr++PHW8X5ySfJpPeecc6njyckVnZqaJdTULEk6jNTzfnJJ8mk9V3TeeOMVACort0w2kJTzfnJJSm1ykjQGuBOYBzQCvYG/mtnVbaznJGBLM7ugvWN0riuprl7ArFkzqat7j4qKflRVjWLw4CFJh+VcTqlNTtEjZnYEgKSegEmaZGbLEo7LuS6lunoBU6fe//Hr2tqlH7/2BOXSKO3JKVs5UA88LGkxUAEcBNwIbA90Ay43szsk7QNcCdTGbWZIGghMNrM9ASTNAI4AVgO3AFsAJcAE4F3gJqBf3PdpZvZiJ7TRJWDSpBvXKystLaGhoTGBaDrGqlUrc5ZPm/YgM2ZMB9Zv86BBA4Hc/dPVHHXUcUmH4Noo7clpf0mPAQ3AWuBU4GzgdjObIukUYKmZHSWpHHhO0jTgCuA7ZrZQ0rUt7OM84B9mdp2k/YFRwHBgmpldK2kw8Gdgn3wVVFT0oays20Y2Nb0qKwvr7126dQv3AWXaVVpaknO9fOVdUUNDQ97y7HbmanMh9ENL7+FCe4+3Vprbnfbk9PG0Xoaks4HM9/jvBDwMYGYrJM0jjKI+a2YL4zpPAjvkqDvzGyfg5ljHI3Ef4wmJcVxcp6K5IOvqVrelTV1KZWU5NTUrkg6jXdXXhw/qTLvGjz92vXUKrd2TJ99Gbe3S9cr79evPuHETgPXbPHv2DCB3/3Q1zR3LQjvWrZWGdjeXHLvqreSZ08D5wL4AceS0C7AYWCJpp7jOyPj/h8BnJHWTtAUwKKuOkbGOL0q6FFgAXGFmY4D/Bv7asc1xnWn48JEMHz6y5RULSFXVqJzlI0bkLofi7CeXHmkfObXkT8ANkqYT7ub7pZm9K+lI4FZJK4AVQJ2ZLZE0FXgWeDn+A/g1cHPcphE4FngfuEnSCcBmwAWd2SjXsbp1K9wp2HwyNz0899xM6upqqajoy4gRzd+tV4z95NKjpLGxcC76JqWmZkXBdmIahv7t7cMPPwCgV6/eedcpxHa3pGmbW9NPhaAYjzWko92VleV5L2h21Wk95zbY/PkvMH/+C0mHkXreTy5Jnpycc86ljicn55xzqePJyTnnXOp4cnLOOZc6npycc86lTlf/Oyfn2mzQoMFJh9AleD+5JHlyckVniy36tbyS835yifJpPeecc6njyckVnblzZzN37uykw0g97yeXJJ/Wc0Xno4/WJB1Cl+D95JLkIyfnnHOp48nJOedc6nhycs45lzqenJxzzqWO3xDhik6/fp9JOoQuwfvJJandkpOkMcCjwBFmdkdW+RzgOTM7pg11fRFYZmZz4us7CU+jnQE8R3hibS/gUTM7t41xHgMMMbNz4pNu/2xma9tSh+vatt12u6RD6BK8n3LrOeVu+vzhMrotXED9jkNYfcaZrBl7eNJhFZz2ntZbAHwn80LSLsAmG1DPRGDrWEevWLYamGdmY8xsP+ALwH6Shm9EvOcC/ixq51yr9JxyN5udOJGy+XMpqa+nbP5cNjtxIj2n3J10aAWnvaf1XgB2lLSFmS0DjgT+Cmwr6dvAj4B6YHocuXwOuJYwCuoHXAi8DnwNGCFpHrALYUTWVG+gJ7Ba0kDgJqA7YVR1mpm9IGmJmW0JIGkycF1mY0nHAlsCkyX9AbgU+Ah4GDjIzEbF9e4Afm9mz7ZXJ7lkvfbaIsBHBi1pz37qWzVso+voMKUl9G1obN2qS97OWV5+yolscvEF7RdTZ8jR7tpZLyUUzPo64prTPcBYSbcAowgf+rsBvwT2MLPVkiZJOoCQSC4zs8ck7Q380swOkPQgMNnMXpN0DnAJYZQ3VNJjcbt64Eoze1nS3cBVZvZ3SbsREtUezQVpZjdJOh84AtgT6GVmnweQtL+kocASYFBLiamiog9lZYU7AKusLE86hHY1Z85SAKqqdm12vUJrd2tkt7m1/dQqpSUbX0cH6tba+NbmvgJQsnZt6+tIkaYxp+k93xHJ6XbCaGgR8ETWfiqB+yUBlAPbAdOBn8VRTCNh5NPU52KSGkic1suxzk7AvwHM7HlJ2+RYp6V3jmX9fANwDPAa8JcWtqOubnVLq3RZlZXl1NSsSDqMdlVf3wDQbLsKsd0tadrm1vRTqz374sbX0UHacqwrRu9F2fy565WvGzqMuseeau/QOlTOdnfye765ZNjut5Kb2SLCdabT+OSDvZEwXXdATC5XA88AFwG3mdlRhKm7TAJpAEol7Qq05l09H9gXII6clsTy7pI2ldQD2DnHdg180gcNWeV3A18BxtKK5OScKw6rzzgzd/npP+rkSApfR/2d0x3ANma2ML6uAS4HHpf0DPB1YCFwF3CVpCeAA4D+cf1nCFN5BwP3tmJ/PwZOlfRvwqjt2Fj+B8IdfncDr+bY7gngfpqMqszsQ8JI7F0zq23F/p1zRWDN2MNZfv3NrBs6jMayMtYNHcby62/2u/U6QEljY+suBBYbSdcAd5vZIy2tW1OzomA7sRCnt2bPngHA7rvvmXedQmx3S5q2uTX9VAiK8VhDOtpdWVme93KL/xFuDpIeAt5qTWJyXU+PHj2TDqFL8H5ySfLklIOZfSXpGFzH2Xnn3ZMOoUvwfnJJ8u/Wc845lzqenFzRWbbsPZYtey/pMFLP+8klyZOTKzqLF1ezeHF10mGknveTS5InJ+ecc6njyck551zqeHJyzjmXOp6cnHPOpY4nJ+ecc6njf4Tris5OO7XDIyCKgPeTS5InJ1d0evXqnXQIXYL3k0uST+u5olNfX099fX3SYaSe95NLkicnV3TmzHmWOXOafbixw/vJJcuTk3POudTx5OSccy51WnVDhKTtgN8CnwNWAx8AZ5vZ3FZsew7wiJnNbEtgkr4FbAbcCpxDeHpuPeGR76eZWWse394mkh4DTjKzBe1dt9s41dULmDVrJnV171FR0Y+qqlEMHjwk6bCccx2kxeQkqQ/wD+B4M3s6lo0C/giMaWl7M7tkA2M7EDgXOJvw+PbRZtYgaSTwd0kys7UbWLfrQqqrFzB16v0fv66tXfrxa09QzhWm1oycvkEY+TydKTCzmZL2k3QL0C/++wZwKbBNfP2AmZ0f15kMbElIOH2A7YFLzewWSd8HjgYagOlmdpakEqC/mb0j6QSgyswa4r6flTTSzNZK2gW4CigB3gMmArvHOD4C/gS8BvyKMOr6P+BEoDdwI7AFIfHdYGbXZton6QvAZcBaoA4Yb2Zd+jnOkybduEHblZaW0NCQ7FPoV61ambN82rQHmTFjepvrGzRoINB8n3Rku4866rgOqde5QtKa5DQIeDnzQtLfgc2BrYDXgfvM7ApJA4EZZnacpF7AG8D5Tera3My+Kmkw8E/gFuB7wKlmNkPSyZLKgCrgP3GbPmZWl12JmWUeMnMDMNHM5kk6ljDKmgr0MrPPxyRnwD5m9q6ki4BjgFnAZDO7R9LWwOPAtVm7+CZwD/B74BCgAsibnCoq+lBW1q2ZLkxeaWlJItu2h4aGhrzlGxJbbW0t0HK7OqrdlZXlHVJve8iObaedhqxXVqiKoY25pLndrUlOrwN7ZF6Y2aEAkmYQEpDFRbXASEn7AcuBnjnqej6rzl7x5+8BP5Z0KfA0YRR0MCE5ANRJ2szMlmcqkTQWmAbsBFwjCaA7sDATZvy/kpBE74zr9AYeAu4DzpB0WIy1e5M4fw2cF/fxJvBM3t4B6upWN7c4FcaPP3aDtqusLKemJtlB4+TJt1Fbu3S98n79+jNu3IQO2WdHtjvp/synaZt79doCSG+87SUN7/EkpKHdzSXH1tyt93fgy5L2zBRI2oFwc8QAwnQchBHJMjMbT5gS6xNHLtlyzZMcT7gJYTRhSm5vYDczmx2X3wr8IlOXpL2By4EPCUlogpmNIYya7ovbZGJaSkigh8Z1fgU8CvwYeNrMjgTuIiTEbOOBW8xsP2AucEIz/eM6WFXVqJzlI0bkLnfOdX0tjpzMbKWkbwCXSNoqbrOO8IH931mrTgMmS9oXWAVUA1u3IoYXgWcl1RBGKdXx/4zfARcBT0taS7gOdIiZfSTpZOA2SZk5tWOz9xlvoDgduE9SKWGUNIGQJK+VNJ5wrWqdpOyR3rPArZJWEq5deXJKUOamh+eem0ldXS0VFX0ZMWLD79ZbuDDcZLrjjju3W4yFyPvJJamksTHZi92FoKZmRcF2YhqG/u1t9uwZAOy++5551ynEdrekaZtb00+FoBiPNaSj3ZWV5Xkv7Pof4TrnnEsdT07OOedSx5OTc8651PHk5JxzLnX8YYOu6Gy+eUXSIXQJ3k8uSZ6cXNHZbjslHUKX4P3kkuTTes4551LHk5MrOm+//QZvv/1G0mGknveTS5InJ1d0lix5gyVL/EO3Jd5PLkmenJxzzqWOJyfnnHOp48nJOedc6nhycs45lzr+d06u6JSU+DlZa3g/uSR5cnJFZ7fd/CGFreH95JLkp0bOOedSx5OTKzqrVq1g1ar0PFxuypQyRo/uw1Zbbcro0X2YMiUdExpp6ydXXFr8LZA0BrgTmAeUAN2BP5jZnc1scw7wiJnNbG0gkgYCc4DnCI9R7wU8ambntraOrLq+BhxhZse0YZtewJFmdmNb9+e6lszjx9PwhNcpU8o48cTeH7+eP79bfP0BY8euSy4w0tVPrvi09hTtETM7AkDSpsDjkhaa2fO5VjazSzYwnnlmNibupxR4UtJwM5uzgfW1xZbAcYAnpyLw9tulHHfcJnmXl5ZCQ0P+5e1lyZLcT6k+5ZReXHxxY4fvP1vTNl90USlbbdXQqTE4l9Hm+QMzWynpeuBwSS8C1wPbAP2AB8zsfEm3AJMJH/gTCdOHFwHHmdm3ASQ9CRxuZm/n2VVvoCewOtbXL/47CPgZsE9c73Yzu1LSTsDNwKr4ry7uZ4mZbRl/ngxcBzwD/BkYQBgJnhrjHCrp58A04DJgbaxnvJnlnd+oqOhDWVm31nVgF1RZWZ50CO2qW7cwm11a2vysdkvL28PatfnKSygtzZ24OlLTNnfrVlpwxz+XYmhjLmlu94ZObr8DjCAkpRlmdlycFnsDOL/JunVmdqikEuBKSRXAVsDSHIlpqKTHCNN69cCVZvayJAijtyskHQwMAvaM8U+X9AjwC+DnZjZV0k+AnZqJ/yTgFTM7QtIw4MvAr4BdzOxCSb8D7gF+DxwCVAB5k1Nd3epmdtW1VVaWU1NTWNcd6usb2GorePbZ/O3qrHaPHt2H+fPXP7EZOrSexx7r3PdV0zbPnt1AfT0Fd/ybKsT3eGukod3NJccNTU4DCImoFhgpaT9gOWGk05QBmFmjpL8A3wG2A27Kse7H03r56iEknSfMrBFYK2kGMBTYGchc43qS3Mkpcyoq4IEY10vAS/GaV8avgfMII6g3CSMt59rdGWd89KlrThmnn/5RAtE4lx5tnreQVA4cD9wFHAMsM7PxhGmwPnGElC170vrPwLeBLwL3t3HXmXrmE6f0JHUH9gaqgQXAXnGdkVnbdZe0qaQehASWqWNkrGM7SbfH+jP9MR64xcz2A+YCJ7QxVudaZezYdVx//QcMHVpPWVkjQ4fWc/31yd8M4VzSWjty2j9Ot9XHbX5hZiapDJgsaV/CdZ5qYOt8lZjZm5JWEKYCN+i3z8zulTRG0tNAD+BOM3tO0veBOySdBdQAH8ZN/gDMABYBr8ay64GbJT0OdAPOAN4Feki6lDCld6uklcBHeHIqKDvsMDQt+AHrAAARFElEQVTpED5l7Nh1qUxGaesnV1xKGhs7944gSfcCZ5jZy5264w5UU7OiczuxE6VhXjoJxdjuYmwzeLsTjiHvXT+d9td+knoD04EHCykxOeeca3+dlpzM7AOgqrP251w+c+Y8C8Dw4SNbWLO4eT+5JKXje1Kc60T19fVJh9AleD+5JPl36znnnEsdT07OOedSx5OTc8651PHk5JxzLnX8hghXdP7rv/L+nbjL4v3kkuTJyRWdrbfeNukQugTvJ5ckn9ZzzjmXOp6cXNFZvHghixcvTDqM1PN+cknyaT1XdJYtq006hC7B+8klyUdOzjnnUseTk3POudTx5OSccy51/JqT67Kqqxcwa9ZM6ureo6KiH1VVoxg8eEjSYTnn2kGHJSdJOwO/BfoAmxIey36BmbX6wXzx6bYnAL8xsztauc22wK5m9k9JfwAuN7PX2twAl2rV1QuYOvX+j1/X1i79+HVLCapPn006NLZC4f3kktQhyUnSFsBk4DAzq5bUDbgLOBG4rg1VHQYcZWYvtmGb/YEhwD/N7Iw2bOeaMWnSjUmH8CmrVq3MWT5t2oPMmDG9VXXMnPlM3mWlpSU0NGzcA46POuq4jdo+adIuSYfgilhHjZwOBR4xs2oAM6uXNAH4SNJlwD5xvdvN7EpJtwBrgIHAVsAxwB7x302SxgEHA98FGoHJZnaVpMHAjUAPYHVcfg7QR9JTwI+Ak4AlwF+AzWKbf2Zmj0iaAzwODI/1HhrruoNwPa47cFJLybGiog9lZd02vLdSrrKynNLSvE9TTkRDQ0Pe8vaKdWPrqawsb5c4OlNXjLk9eLvTp6SxcePODnOR9FNgtZld2aT8YGAi8C1CkpgOHAecCSw0s19LOh6oMrOTJD1GSC6lwJ+A0YQk8jBwMmHa8Foze1DSfwPLgK2BIWZ2Ttb2xwGvx0T42bjf7YFFwHfN7ClJfwX+CayI638XGAr0MrMnm2tvTc2K9u/ElKisLKemZkXSYaxn8uTbqK1dul55v379GTduQrPbLl36DgD9+/9X3nXS2u6O1LTNremnQlCMxxrS0e7KyvK8Z4Addbfeq8A22QWSBhEe0/6EmTWa2VpgBiEBAMyO/78O9GpS3zBgADANeAToB+wACHgawMzuNLOH8sSzE/DvuN6bwHKgMs9+HyCMpv4OXAjkPkV3iaqqGpWzfMSI3OXZXn99Ma+/vri9Qyo43k8uSR2VnO4FviZpewBJ3YHLgTrilF4s2xuojts0N/owYC6wn5mNAW4BXgTmAyNjfeMlnUpIJk3bNR/YN673WaACeC/PfscAb5vZV4CLgV+3rsmuMw0ePIQDDjiQfv36U1paSr9+/TnggAP9bj3nCkSHXHMys+WSjgZukFQKlBOmzK4GtpX0NOHazp1m9pyklup7QdI0YLqknsBM4E3gLOB6ST8jXHM6kjDCOk/Sc1lV/Bq4WdLhQG/gBDNbl2e/LwB3SDoDqCeMnlwKDR48xJORcwWqQ645FRu/5tS1zJ49A4Ddd98z7zqF2O6WNG1za/qpEBTjsYZ0tDuJa07OOefcBvPk5JxzLnX864tc0dlll6qkQ+gSvJ9ckjw5uaJTVtY96RC6BO8nlySf1nNFZ82aNaxZsybpMFLP+8klyZOTKzrz5s1m3rzZLa9Y5LyfXJI8OTnnnEsdT07OOedSx5OTc8651PHk5JxzLnU8OTnnnEsd/zsnV3QGDNgh6RC6BO8nlyRPTq7o9O3bP+kQugTvJ5ckn9ZzzjmXOp6cXNGZN+955s17PukwUs/7ySXJp/Vcl1RdvYBZs2ZSV/ceFRX9qKoa1eoHD65Z82EHR1cYvJ9ckjosOUnaGfgt0AfYFLgfuMDMNujBfJImA9cBvYBtzexP7RVrrH9bYFcz+2d71uvaX3X1AqZOvf/j17W1Sz9+7U/Gda4wdEhykrQFMBk4zMyqJXUD7gJOJCSYDWZmD7ZDiLnsDwwhPE6+qEyadGPeZaWlJTQ0pOtBv6tWrcxZPm3ag8yYMb3F7QcNGggk3+6jjjquQ+t3rivrqJHTocAjZlYNYGb1kiYAH0m6DNgnrne7mV0p6RZgDTAQ2Ao4xsyek/QD4DjgbeAzAJKOISSR64A7gNfjdpOBYcDuwH1mdq6kXYCrgBLgPWBiXP4T4CNgUKzjEuAcoI+kp4DPAUcDDcB0MzurucZWVPShrKzbhvZV4kpL8z4puVXLO1tDQ0Pe8rbEmnS7KyvLO7T+DZEdU7dupeuVFapiaGMuaW53RyWnrYFF2QVmtlLSwYSEsGfc93RJj8RVXjWzEyUdD5wg6SfA6cAuhCQxK8d+tgO+AvQGFgOfBVYDrwLnAjcAE81snqRjgbOBqcAAYDjQE3jLzH4l6RJgiJn9Q9KzwKlmNkPSyZLKzGxdvsbW1a1ucwelyfjxx+ZdVllZTk3Nik6MpmWTJ99Gbe3S9cr79evPuHETWtx+9uwZQPLtTlu/Nm1zfX04CUhbnO0tje/xzpCGdjeXHDvqbr1XgW2yCyQNAqqAJ8ys0czWAjOAoXGVzHfzv064rjQEmGtma+K6M3PsZ5GZvQ8sA94xs1oz+xDIzMfsBFwj6THCqGnrWP6ima0zs1XABznq/R5wkqTHCYksXUOHIldVNSpn+YgRucub6tu3kr59K9szpILk/eSS1FHJ6V7ga5K2B5DUHbgcqCNO6cWyvYHquE3TCf5FwFBJveM1q91z7KeliwIGTDCzMYRR033NbNfAJ/1xPHCSmY2O+927hf24TjR48BAOOOBA+vXrT2lpKf369eeAAw5s9c0QAwZsz4AB23dwlF2f95NLUodM65nZcklHAzdIKgXKCTcaXA1sK+lpoAdwZ7y2lKuOGkk/B54CaoBVGxDKycBtMbkBHMsno6emXgTOk/Rc/PlZSTXAm8AzG7Bv14EGDx7id+Y5V8BKGhvTdSdWV1RTs6JgOzEN89Lt7Y03XgHgc58bmHedQmx3S5q2uTX9VAiK8VhDOtpdWVme95KJf0OEKzo1NUuoqVmSdBip5/3kkuTJyTnnXOp4cnLOOZc6npycc86ljicn55xzqePfSu6KTvfuPZIOoUvwfnJJ8uTkis6wYSOSDqFL8H5ySfJpPeecc6njyckVnfffr+P99+uSDiP1vJ9ckjw5uaKzaJGxaJElHUbqeT+5JHlycs45lzqenJxzzqWOJyfnnHOp48nJOedc6nhycs45lzr+R7iu6AwZMjzpELoE7yeXpE5NTpLGAHcC84ASoDsw0cwWdGYcrrj17t0n6RDWU129gFmzZlJX9x4VFf2oqhqV+JN+09hPrngkMXJ6xMyOAJD0FeD3wMEJxOGKVENDAwClpemY1a6uXsDUqfd//Lq2dunHr5NMUGnrJ1dckp7WqwBekbQLcBVhNPUeMBH4BfCCmd0qaUvgPjOrkvQb4IuE62WXm9ldkh4DamJ93wJuALYA+gM3mNm1kkYBfwRWAO8CH5rZMZJOBb4LNAKTzewqSYcBPwHWAq8AE8ysoRP6w3WCF16YCcDuu+8JwKRJN663TmlpCQ0NjZ0Sz6pVK3OWT5v2IDNmTO+UGGD9Ng8bNgz4pJ+c60xJJKf9YzLpCQwHDiIkk4lmNk/SscDZseyPwK3AUcCfJX0dGGRmX5DUC5ghaWqs93YzmyJpBCHJ3CNpa+Bx4FrgOuAoM5sr6VfAZyUNBcYB+xCS08OS/gV8B7jCzCZLmgBsBizL16CKij6UlXVrxy5Kl8rK8qRDaFfduoWRQKZdpaUlOdfLV97eMiOUXOWdFUNG9v6a9lMhK4Y25pLmdic9rSfgaWAT4Jrwku7AQjObL6lM0gBCAvkycAJQFZNbZt0B8efM96wsAc6Io5/lcR2Arc1sbvz5CeAIYFjcflosrwB2AH4E/FTSycB84H+ba1Bd3eq29kGXUVlZTk3NiqTDaFf19SEZZNo1fvyx663Tme2ePPk2amuXrlfer19/xo2b0CkxwPptnj17BkDBHf+mCvE93hppaHdzyTHpyeR34v9zCFNnYwijpvti+U3Ab4F5ZrYMWAA8Gtfbn3BzxaK4bub088fA02Z2JHAXYaoQ4PU4UgLIzFMYMBfYL9Z5C/AiIQleYGaj4/Zj26e5zq2vqmpUzvIRI3KXO1cMkpzWqwfKCaOUF4HbJGXmxjKnsncBVwKHxNf/BMZIegLYFJhiZiviiIusda6VNJ5w/WqdpJ7A94GbJa0EPgLeNLMXJE0Dpsd1ZgJvxv+nSnqPcI3q3vbuBOcyMjc9PPfcTOrqaqmo6MuIEcnfredckkoaGzvnom/SJP0AuNPMaiRdDHxkZhe2R901NSsKthPTMPRvb5npquYu9Bdiu1uSb1qv0G+IKMZjDelod2Vled6LqknfrdeZ3gEeiiOn94GjE47HJeSznx3Q8krO+8klqmiSk5ndDdyddBwueZ/5zFZJh9AleD+5JCV9Q4Rzzjm3Hk9OruhUV8+junpe0mGknveTS1LRTOs5l7Fy5fKkQ+gSvJ9cknzk5JxzLnU8OTnnnEsdT07OOedSx5OTc8651PEbIlzRKS/fPOkQugTvJ5ckT06u6Oyww05Jh9AleD+5JPm0nnPOudTx5OSKzpIlb7JkyZtJh5F63k8uST6t54rO22+/DsCWW3424UjSzfvJJclHTs4551LHk5NzzrnU8eTknHMudTw5OeecSx1PTs4551KnpLGxMekYnHPOuU/xkZNzzrnU8eTknHMudTw5OeecSx1PTs4551LHk5NzzrnU8eTknHMudTw5OeecSx3/VnIHgKTPALOAA4B1wC1AI/AS8AMza5D0C+CguPwMM5uZULjtQtJPgUOAHsA1wOMUeLsldQduBQYC9cDxFPDxlvR54FIzGyNpB1rZznzrJtGGDdGk3bsBVxOO9xpggpm9I+l44ERCuy82s3sl9QduB3oDbwHfM7PVSbTBR04u84F1PfBBLLoc+JmZ7QuUAIdKGgGMBj4PHAH8MYlY24ukMcDewBcI7dqGImg3cCBQZmZ7AxcCv6JA2y3pbOBGoFcsaks711u3M2PfGDnafSVwqpmNAe4BfiJpS+A0wvv/q8BvJPUEfg7cHts9m5C8EuHJyQH8HriOcKYEUEUYRQA8AHwZ2Ad4yMwazew1oExSZadH2n6+CrwITAH+CdxLcbR7IaENpcBmwFoKt93/BxyW9bot7cy1blfRtN1HmNnz8ecy4ENgFPCkma0xs/eBl4HhhP54MK6baLs9ORU5SccANWb2r6ziEjPLfK/VCmBzwgfZ+1nrZMq7qv7AHsC3gZOAvwKlRdDulYQpvQXADcBVFOjxNrO/EZJvRlvamWvdLqFpu83sbQBJewOnAFeQv93Z5Ym225OTmwgcIOkxYDfgNuAzWcvLgWXA8vhz0/Ku6j3gX2b2kZkZ4Wwy+xexUNv9Q0K7dwR2JVx/6pG1vFDbDZB9zailduZat8uSNI4wO3KQmdWQv93Z5Ym225NTkTOzL5rZ6Dgf/TwwAXggXpMB+DrwBPAk8FVJpZK2JYwyliYRczuZDnxNUomkrYFNgGlF0O46PjkzrgW6A7OLoN3QtnbmWrdLknQkYcQ0xswWxeKZwL6SeknaHNiJcOPHk4TrkpBwu/1uPZfLmcANknoA84G7zaxe0hPA04STmh8kGeDGincmfZHwS5ppz2IKvN2EKZ2bY5t6AOcC/6Hw2w1te1+vt24SAW8sSd0IU7evAfdIAnjczH4h6SpC8ikFzjOzDyVdDNwa7+RbCnw3odD9kRnOOefSx6f1nHPOpY4nJ+ecc6njyck551zqeHJyzjmXOp6cnHPOpY4nJ+ecc6njyck551zq/H8E88Rtxqw62gAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with Dairy Products (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name='Dairy Products', figsize=(6,4));"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 81,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAacAAAEFCAYAAABHOyh9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3Xl8FdX9//FXQlg1agzpV20VUPGNqKhEqFotaEsXtVqt/WKLogXX1q21Wmtra9W22tb9W5e6VKX1h0vl29atIi4VNWIRRVk+xC+4iwYTZFOEJL8/zolewr1ZIMlM7v08Hw8e5J6ZOfM5Z27uZ86ZyZ2ixsZGnHPOuTQpTjoA55xzrjlPTs4551LHk5NzzrnU8eTknHMudTw5OeecSx1PTs4551KnJOkAXOeSNBBYBPzbzEY1W3YrcCxQYWZLWqjjAqC/mZ0q6Xigl5ldK+lkYAszu6SFbUcD/2Nmu7Yz7i2AC4HRQAPQGOu5uT31dDZJLwCjzWxpAvu+FRgD1ABFQG9gKvBDM1vbyra/AF40s793dpxtJWk3YDZwrpldmlF+AZ++/14FjjSz/zTb9nFgAPAB4b3SC/gPcIqZrWphn4cCXzaz0zcy9knApcAFwI6xeHfgZaAeqDOzA1rY/jhCuw7ZmDhiXd8EdjOziza2riT5yKkwfARI0oCmAkmbAF/YgLr2A/oBmNn1LSWmDSWpD/AE8CYw3Mz2AL4J/FTSxI7e38Ywsz2SSEwZrogx7A7sQTimY9uw3YFAz06NrP2+D/wVOFXShpw4nx37Yk9gV8L79MKWNjCzf3RAYvpv4AMze9nMjowx7BEXHxBf50xMHc3M/hf4oqQ9Wl05xXzkVBjqgTuBccBvYtkRwN+Bs2D9EU62EY+kw4FDgTGSPgQqWPeM9v8RzuS3AC4zs+syg5DUi3B2OQroAcwCTjezZc3iHQusMLPfNRWY2WvxQ6BXrGsX4H+AcsKZ8mVmdnuM+7fA64CAlcAlwOnx9d/M7IdxvUuB14AhwIfAcWY2T9JOwB+BUmBr4AVgrJl9JGl17LfdY38+F/uhBLgd6B9Dvt/Mzo+xng98B1gLLABONbPF8Wz/GUJC2Q54BDiRcNJ4TSxfAywEvmdmK2jZJoTR0+K4382Bq4DdCIloGnA2cBKwF/B7SdsCPzKzbeM2/wIWm9mxknoDbwPbA9vEusoJx+5qM7slbvMN4Ofx2KwCfmxmz8QRz8DYhwOAt4Cjzeyd5oFLKo39+XlCkj0SmNxKe3Mys0ZJjwEHxfonxHb3ArYELjGz6zJHLPF41BLeD9fFeH9OGLnXE5Lfv7Ps7lfAt1uLKc5ivGxmm2Z7nbHekYT35kFmZvGE7PuE98X7wKnAG4STt8+b2YK43SPANXE0fDPwS+DwVjsrpXzkVDhuB47JeH0scGt7KjCzKcA/CGfrf8yyypbACMJU3IVxmibTuYQP6Mp4pv82IXE0txfwVJb9P29mVfGs+h+EX8RhwNeB30jaJ646gvDhswewDPgpcDAwHPiBpG0y9tNUx5+BSbH8BOA2M9ubMEUzKG4P4cPtn2amZlNLJwALzWw4sD8wWNLmkr4X4xsR9/My6/b7DrG/mtoxCtgnlu1uZpWE5DQsSz8B/FDSC5JeInxgvQNMj8uuAGbGOvYkJM4fxWP3H8KH7RXAGkm7SupL+GA+MG7/JeBZQoK/hzDdVhlj/LGkvSUNJpzwHBRHLCcC98aRObEvvm1mQ2I9J+doxzHAAjObB9wG/DDHem0iqYxwkvOYpE0Jx6cpxrHA73JsWmdmQ83sGuD3wPfNbC/gfMIxab6fXYG+ZvbyxsSbUd93CFODo2NiGkX4Xd0/xv47YIqZrST00/Fxux2AnYD7YlUPA1+Px7Rb8uRUIMxsJlAvqTKeLZd21C9Uhj+aWaOZvQk8BHyl2fJDgMOAWfFazTeBoVnqaaDl9+ZOQB8zuxfAzN4G/gZ8LS5fZGaz4s//BzxmZh/H62rLCEkUwjWXJ+PPtwB7SioHfgLUSDqHcAa9DZB5dvsk63sI+JakBwhn6Oea2QeEhPPn+GECYfTxpTiKhJDoGuLo8ZUY20uEM/VnJV1EGO09naMvmqb1diOM4D4Cro7LDgFOin09ExhJGEU1NyXGOZowunovjkwPI/TrToQkekus6wmgLyHhjSGMjKbFZX8lHL+m6y6PZ4yMZ/Fp3zd3MuHDFuAvQGXGyUZb/T4m6heBxwlJ+qo44jwEODj2589Y93hmyjy2k4Epkm4Cysie0IYQjltHGEE4QbrezN6IZQcT+vLp2L+/A8okbQlcC4yX1JNwUnCTmdUDmFkt4b0wgG7Kp/UKyyTgaMIF9EnNljUSLqo36UX7ZV6ELyZ8wGbqAZxhZg8CxDPaPlnqqQJ+0LwwXrzenzAKbP6lkMV8eg1ldbNla9oQb1Pb6wnTkyXAXcD9hCm3zL5Zb3rNzJ6TNAj4MmHkMUPS1wltzoy1ONbdVN+HGcsagSIzWyppd8K03oHAnZJ+b2bX5mhHUwwr4wfpb2NRD8KoZR58cpNJti/TnAJcREjCU4H3gK8SEtZ5sfyDjOsoSPovws0HJwDTzGxsxrJtCaPiw7O1r/nOJe1PuEZ0jqSzYvHHhNHTMy21uZmzzeyeLPV/LtbzJ0LCuoeQrLL55Nia2c8k3UJIwMcRpsBHNlu/kbaf5Lf2O7aUMP17l6T7zOxVwjGcZGY/iW0pJhyPOjOrlTSbcBLxXcKUaKa1rP872G34yKmw/IUwNz4WuKPZshpgO0mfkVQEHJWjjrXkvpA+HkDSdoRR04PNlv+LcLG7V/wlu5FPP0gz/Q3YXNI5knrEOrcHLgfmAfMJU1FHxGXbAN8ifLC2xx6SmqbLTgSejjc3fBW40MzujMs+T/iQyEnSJcD58WL0GcAcwgfuQ8CEjGmu0wl3TjZPoJl1HUIYwTxtZhcQkvGI1hoT+/TrwIxY9C/CtF9RvH70D8L1Clj3OD5NGBkdQrju9TBwJmGa7X3AgA8lHR33sy1herIyxvkVSUPisoMId9y1ZzrpFMIH8LZmNtDMBsZYjojvpY21F+H9fXFs2yEx1pzHVFJJvI7az8yuJ1zzGRb7MZMR+q4tlgK9JDXNFnyn2fJqM3uUcL3x9ng8/wV8R9LWcZ2TCX3e5I+E6ccZcQahKf7NCSd+r7cxttTx5FRAzOwtwod7dRz2Zy6bC9xAuBZRRbj9PJsHgZMl/TTLskGSZhI+kE83M2u2/CLgVcL0zlzCWeRZzdbBzD4mjEB2AV6KZ4d/Ay42s1vMbA1hSvCMuOwRQjJ5rJUuaG4x8Ot4veabfHpN7jzCdM5LhD55gk+nqXK5kpDsXib04SLCtNDNMb4ZkuYRrnuNa6WuBwnJ7WVJ/wH2JVx0z6bpmtMswrHdjJBYICTCTQjThLPj/01TU/8AfivpWDNriPtcbmY1hNHFloQ+bzoehwHHx/5+mJCIn4rvmxOByXE67SLg0DbcvAGApArCzTm/zyyPH9LPAKe1pZ5WPEy4ecAIfbQdIVnlPKYWbsU/E7hD0vPA3cCE5icVcWr8Q0k7txZEnOY9B3hQ0nOsO6rM9GvCcTvbzB4m3BwxNfb9d4EjzKxpBHwfYYry+mZ1fAW4r6WToLQr8kdmuI6gHH9/klbawL+/cq45Sd8F9jOz7yew732Am4BdMxIWkh4FzjSz2V0dU0fxkZNzzm0EM7sD2DLL3amdStJthNH5xGaJ6XDgye6cmMBHTs4551LIR07OOedSx5OTc8651PG/c+oAa9fWN5aUtHinsUupadPCXblf+tKXEo4kXbxfXBdZ7+/emnhy6gB1dTm/9Ljbq6gopaZmedJhdJr6+gaA9dqY7+3OJrPNufolHxXisYZ0tLuiojTnMp/Wc845lzqenJxzzqWOT+u5grbFFrm+h7Sweb+4pHlycgVt0KCdkg4hlbxfXNJ8Ws8551zqeHJyBe3tt1/n7be77Rc3dxrvF5c0T06uoL377tu8++7bra9YYLxfXNI8OTnnnEsdT07OOedSx5OTc8651PHk5JxzLnX875xcQevRw7+wNxvvF5c0T06uoA0bNiLpEFLJ+8Ulzaf1nHPOpY4nJ1fQli9fxvLly5IOI3W8X1zSPDm5gvbKK3N55ZW5SYeROt4vLmmenJxzzqWOJyfnnHOp48nJOedc6nhycs45lzqpTU6SzpX0iKSHJf1LUmU7tx8k6QVJt21EDEMkPb6h2xeK3lPuoWzUPvTfuoyyUfvQe8o9SYfknOvmUvlHuJKGAocCXzCzRkl7ALcBu7ejmi8A08zsrM6I0QW9p9zDZidN+OR1ybw5bHbSBJYBqw8/MrnA2minnXZJOoRU8n5xSUtlcgLeA7YDJkh6yMxekDRS0m7A1UAR8D4wAVgB3ABsC5QDDwI3Aj8H+kl6BagCrgHqgY+AE8zsdUlnAUcBa4F/m9lPJG0N/DXuY3GXtbgdtqzctet2VlzElg2NuRcvfidreempJ7HJxRd0TkwboHbmy1nLN9mktIsj6R68X1zSihobc3/wJEnScOBU4MvAKuBnwNnABDObK2kisD0hEX3ZzG6S1Ad408z6SzoOGGJm50r6D3B8THKHAccAvwJuAvYjJKe/AbcAowEzsxsljQVOMbPRLcW6dm19Y0lJF34X2cCBXbev1rz2Wu5lAwZ0XRytefXVpCNwzq2vKNeCVI6cJO0ILDOzCfH1XsADQF/gWkkAPYEFQC0wQtIBwDKgd5YqtzGzF+LP/wYuAYYAVWa2Ju7jSWCX+G9SXPcp4JTW4q2rW7UBrdwIz73UZbuqqCilpmZ5zuVlo/ahZN6c9crXDt2Vusef7szQ2idHG154YQYAe+wxcp3y1tqdjzLbnKtf8lEhHmtIR7srKnKP0NN6Q8Qw4Lo4EoKQhD4AXgHGx5HMOcD9wHHAUjMbB1xGmMprno3fljQs/jwq1jcf+Lykkrj+FzPK94nr+rdftmLVmdkv6a0640ddHMmGaWxsoLGxIekwUsf7xSUtlSMnM7tX0s7As5JWEJLo2cAbwO2SmubQJgLzgMmS9gdWAtXANs2qPAH4n5iE1gITzWyhpLsIo6NiYDrwv8BU4E5JRwGLOrOd+WD14UeyDOh31eX0WDCf+p2GsOqMH3WLmyGcc+mV2mtO3UlNzfK87cQ0DP0706xZVQDsuefe65Tne7uzyWxzrn7JR4V4rCEd7a6oKM15zSmt03rOOecKmCcn55xzqZPKa07OdZWttvpc0iGkkveLS5onJ1fQtt7aP4Sz8X5xSfNpPeecc6njyckVtIULjYULLekwUsf7xSXNp/VcQfvgg7qkQ0gl7xeXNB85OeecSx1PTs4551LHk5NzzrnU8eTknHMudfyGCFfQ/KF62Xm/uKR5cnIFzR9Hnp33i0uaT+s555xLHU9OrqDV1CympmZx0mGkjveLS5pP67mC9uabrwJQUbFVsoGkjPeLS1pqk5Ok0cBdwFygEegL/NXMrmlnPScDW5nZBR0do3PdSXX1fGbOnEFd3fuUlZVTWTmSwYOHJB2Wc1mlNjlFj5rZUQCSegMmaZKZLU04Lue6lerq+Uyd+sAnr2trl3zy2hOUS6O0J6dMpUA98IikRUAZcDBwE7AD0AO43MzulLQfcBVQG7epkjQQmGxmewNIqgKOAlYBtwJbAEXAeOA94GagPO77dDN7qQva6BKwcuUKJk26aZ2y4uIiGhoaE4qo461cuSJr+bRpD1FVNR1Yt82DBg0EWK9fuqtjjjk+6RBcO6U9OR0o6XGgAVgDnAacA9xhZlMknQosMbNjJJUCz0uaBlwBfMfMFki6rpV9/Az4h5ldL+lAYCQwDJhmZtdJGgz8GdgvVwVlZf0oKemxkU1Nr4qK/P2blx49wj1BxcVF6y3LVtZdNTQ05CzPbGfzNudLH7T2Hs7n93hL0tzutCenT6b1mkg6B2j6Lv+dgUcAzGy5pLmEUdRnzWxBXOcpYMcsdTf91gm4JdbxaNzHOEJiHBvXKWspyLq6Ve1pU7dSUVFKTc3ypMPoNPX1DWyyyaaMGzdxnfJ8a/fkybdTW7tkvfLy8v6MHTseWLfNs2ZVAazXL91VS8cy3451W6Wh3S0lx+56K3nTaeA8YH+AOHLaDVgELJa0c1xnRPz/I+AzknpI2gIYlFHHiFjHFyVdCswHrjCz0cB/A3/t3Oa4pAwbNoJhw0a0vmI3V1k5Mmv58OHZywulX1x6pX3k1Jo/ATdKmk64m+9XZvaepKOB2yQtB5YDdWa2WNJU4DnglfgP4DfALXGbRmAi8AFws6QTgc2AC7qyUa7r9OiRv9OxmZpuenj++RnU1dVSVrYlw4fnvluvUPrFpVdRY2P+XPRNSk3N8rztxDQM/TvTRx99CECfPn3XKc/3dmeT2eZc/ZKPCvFYQzraXVFRmvOiZned1nOuQ8yb9yLz5r2YdBip4/3ikubJyTnnXOp4cnLOOZc6npycc86ljicn55xzqePJyTnnXOp0979zcm6jDBo0OOkQUsn7xSXNk5MraFtsUd76SgXI+8Ulzaf1nHPOpY4nJ1fQ5syZxZw5s5IOI3W8X1zSfFrPFbSPP16ddAip5P3ikuYjJ+ecc6njyck551zqeHJyzjmXOp6cnHPOpY7fEOEKWnn5Z5IOIZW8X1zSOiw5SRoNPAYcZWZ3ZpTPBp43s+PaUdcXgaVmNju+vovwNNoq4HnCE2v7AI+Z2XntjPM4YIiZnRufdPtnM1vTnjpc/thuu+2TDiGVvF9y6z3lHvpdeRk9FsynfqchrDrzLFYffmTSYeWdjp7Wmw98p+mFpN2ATTagngnANrGOPrFsFTDXzEab2QHAF4ADJA3biHjPA/x51M65Nuk95R42O2kCJfPmUFRfT8m8OWx20gR6T7kn6dDyTkdP670I7CRpCzNbChwN/BXYTtK3gR8B9cD0OHL5HHAdYRRUDlwIvAF8DRguaS6wG2FE1lxfoDewStJA4GagJ2FUdbqZvShpsZltBSBpMnB908aSJgJbAZMlXQlcCnwMPAIcbGYj43p3An8ws+c6qpNcerz++kLARwrNdXS/bFm5a4fU0ymKi9iyobFtqy5+J2t56aknscnFF3RcTF0hS7trZ76cUDDr64xrTvcCh0u6FRhJ+NDfA/gVsJeZrZI0SdIYQiK5zMwel7Qv8CszGyPpIWCymb0u6VzgEsIob6ikx+N29cBVZvaKpHuAq83s75L2ICSqvVoK0sxulnQ+cBSwN9DHzD4PIOlASUOBxcCg1hJTWVk/SkrydwBWUVGadAidZvbsJQBUVu6+3rJ8bncuTW1uqV82SHFRx9TTSXq0Nb412a8AFK1Z0/Y6UqR5zGl6z3dGcrqDMBpaCDyZsZ8K4AFJAKXA9sB04OdxFNNIGPk097mYpAYSp/WyrLMz8G8AM3tB0rZZ1mntnWMZP98IHAe8Dvylle2oq1vV2irdVkVFKTU1y5MOo9PU1zcArNfGfG93NpltztUvG+y5lzqmnk7QnmNdNmofSubNWa987dBdqXv86Y4OrVNlbXcXv+dbSoYdfiu5mS0kXGc6nU8/2BsJ03VjYnK5BngWuAi43cyOIUzdNSWQBqBY0u5AW97V84D9AeLIaXEs7ylpU0m9gF2ybNfAp33QkFF+D/AV4HDakJycc4Vh1ZlnZS8/40ddHEn+66y/c7oT2NbMFsTXNcDlwBOSngW+DiwA7gaulvQkMAboH9d/ljCVdwhwXxv292PgNEn/JozaJsbyKwl3+N0DvJZluyeBB2g2qjKzjwgjsffMrLYN+3fOFYDVhx/JshtuYe3QXWksKWHt0F1ZdsMtfrdeJyhqbGzbhcBCI+la4B4ze7S1dWtqludtJ+b79NasWVUA7Lnn3uuU53u7s8lsc65+yUeFeKwhHe2uqCjNebnF/wg3C0kPA2+3JTG57q1Xr95Jh5BK3i8uaZ6csjCzryQdg+sau+yyZ9IhpJL3i0uaf7eec8651PHk5Ara0qXvs3Tp+0mHkTreLy5pnpxcQVu0qJpFi6qTDiN1vF9c0jw5OeecSx1PTs4551LHk5NzzrnU8eTknHMudTw5OeecSx3/I1xX0HbeuYMeCZFnvF9c0jw5uYLWp0/fpENIJe8XlzSf1nMFrb6+nvr6+qTDSB3vF5c0T06uoM2e/RyzZ7f4oOOC5P3ikubJyTnnXOp4cnLOOZc6bbohQtL2wO+AzwGrgA+Bc8xsThu2PRd41MxmtCcwSd8CNgNuA84lPD23nvDI99PNrC2Pb28XSY8DJ5vZ/I6u222c6ur5zJw5g7q69ykrK6eyciSDBw9JOiznXCdpNTlJ6gf8AzjBzJ6JZSOBPwKjW9vezC7ZwNgOAs4DziE8vn2UmTVIGgH8XZLMbM0G1u26kerq+Uyd+sAnr2trl3zy2hOUc/mpLSOnbxBGPs80FZjZDEkHSLoVKI//vgFcCmwbXz9oZufHdSYDWxESTj9gB+BSM7tV0veBY4EGYLqZnS2pCOhvZu9KOhGoNLOGuO/nJI0wszWSdgOuBoqA94EJwJ4xjo+BPwGvA78mjLr+DzgJ6AvcBGxBSHw3mtl1Te2T9AXgMmANUAeMM7Nu/RznSZNu2qDtiouLaGhI9in0K1euyFo+bdpDVFVN36i6Bw0aCKzfP53Z7mOOOb5T6nUun7QlOQ0CXml6IenvwObA1sAbwP1mdoWkgUCVmR0vqQ/wJnB+s7o2N7OvShoM/BO4FfgecJqZVUk6RVIJUAn8J27Tz8zqMisxs6YHzdwITDCzuZImEkZZU4E+Zvb5mOQM2M/M3pN0EXAcMBOYbGb3StoGeAK4LmMX3wTuBf4AHAqUATmTU1lZP0pKerTQhckrLi5KZNuO0NDQkLN8Y2Orra0Fsrexs9pdUVHaKfV2hKbYdt55yDqv812htLO5NLe7LcnpDWCvphdmdhiApCpCArK4qBYYIekAYBnQO0tdL2TU2Sf+/D3gx5IuBZ4hjIIOISQHgDpJm5nZsqZKJB0OTAN2Bq6VBNATWNAUZvy/gpBE74rr9AUeBu4HzpR0RIy1Z7M4fwP8LO7jLeDZnL0D1NWtamlxKowbN3GDtquoKKWmJtlB4+TJt1Nbu2S98vLy/owdO75T9tmZ7U66P3PJbHOfPlsA6Y21I6XhPZ6ENLS7peTYlrv1/g58WdLeTQWSdiTcHDGAMB0HYUSy1MzGEabE+sWRS6Zs8yQnEG5CGEWYktsX2MPMZsXltwG/bKpL0r7A5cBHhCQ03sxGE0ZN98dtmmJaQkigh8V1fg08BvwYeMbMjgbuJiTETOOAW83sAGAOcGIL/eM6WWXlyKzlw4dnL3fOdX+tjpzMbIWkbwCXSNo6brOW8IH93xmrTgMmS9ofWAlUA9u0IYaXgOck1RBGKdXx/ya/By4CnpG0hnAd6FAz+1jSKcDtkprm1CZm7jPeQHEGcL+kYsIoaTwhSV4naRzhWtVaSZkjveeA2yStIFy78uSUoKabHp5/fgZ1dbWUlW3J8OEdc7feggXhhtOddtplo+vKJ94vLmlFjY3JXuzOBzU1y/O2E9Mw9O9Ms2ZVAbDnnnuvU57v7c4ms825+iUfFeKxhnS0u6KiNOeFXf8jXOecc6njyck551zqeHJyzjmXOp6cnHPOpY4/bNAVtM03L0s6hFTyfnFJ8+TkCtr22yvpEFLJ+8Ulzaf1nHPOpY4nJ1fQ3nnnTd55582kw0gd7xeXNE9OrqAtXvwmixf7h3Bz3i8uaZ6cnHPOpY4nJ+ecc6njyck551zqeHJyzjmXOv53Tq6gFRX5+Vk23i8uaZ6cXEHbYw9/YGE23i8uaX565JxzLnV85OQK2sqV4WFrm2xSmlgM1dXzmTlzBnV171NWVk5lZcc85XdjpKFfXGFrNTlJGg3cBcwFioCewJVmdlcL25wLPGpmM9oaiKSBwGzgecJj1PsAj5nZeW2tI6OurwFHmdlx7dimD3C0md3U3v257qvpceRJPfG1uno+U6c+8Mnr2toln7xOMkEl3S/OtXXk9KiZHQUgaVPgCUkLzOyFbCub2SUbGM9cMxsd91MMPCVpmJnN3sD62mMr4HjAk1MBmDQpHOZBgwau87pJcXERDQ2NnR7HypUrspZPm/YQVVXTO33/mTLbPGjQwC7dt3PNtXtaz8xWSLoBOFLSS8ANwLZAOfCgmZ0v6VZgMuEDfwLh2tZFwPFm9m0ASU8BR5rZOzl21RfoDayK9ZXHfwcDPwf2i+vdYWZXSdoZuAVYGf/Vxf0sNrOt4s+TgeuBZ4E/AwMII8HTYpxDJf0CmAZcBqyJ9Ywzs+W5+qSsrB8lJT3a1oHdUEVF/k3tFBcXtfg6V1lHa2hoyFneFftvrvk+8/HYZ1Mo7Wwuze3e0GtO7wLDCUmpysyOj9NibwLnN1u3zswOk1QEXCWpDNgaWJIlMQ2V9DhhWq8euMrMXpEEYfR2haRDgEHA3jH+6ZIeBX4J/MLMpkr6CbBzC/GfDLxqZkdJ2hX4MvBrYDczu1DS74F7gT8AhwJlQM7kVFe3qoVddW8VFaXU1ORserc1btxEAGbNqlrndZOuavfkybdTW7tkvfLy8v6MHTu+0/efKbPNTf2Sj8e+uXx9j7cmDe1uKTluaHIaQEhEtcAISQcAywgjneYMwMwaJf0F+A6wPXBzlnU/mdbLVQ8h6TxpZo3AGklVwFBgF6DpGtdTZE9OTaeFAh6Mcb0MvByveTX5DfAzwgjqLcJIy7kOV1k5cp1rTk2GD/dbuV1ha/et5JJKgROAu4HjgKVmNo4wDdYvjpAyZc5b/Bn4NvBFYP3fyJY11TOPOKUnqSewL1ANzAf2ieuMyNiup6RNJfUiJLCmOkbEOraXdEesv6k/xgG3mtkBwBzgxHbG6lybDB48hDFjDqK8vD/FxcWUl/dnzJiDEr9bz7mktXXkdGCcbquP2/zSzExSCTBZ0v6E6zzVwDa5KjGztyQtJ0wFrt2QgM3sPkmjJT0D9ALuMrPnJX0fuFPS2UAN8FHc5EqgClgIvBbLbgBukfQE0AM4E3gP6CXpUsKU3m2SVgAf48kpb+2449CkQ2Dw4CGpS0Zp6BdX2IoaGzv/jqRMku7PT0LWAAARB0lEQVQDzjSzV7p0x52opmZ513ZiF0rDvHQSCrHdhdhm8HYnHEPOu3667I9wJfUFpgMP5VNics451/G6LDmZ2YdAZVftz7m2mD37OQCGDRvRypqFxfvFJc2/vsgVtPr6+qRDSCXvF5c0/+JX55xzqePJyTnnXOp4cnLOOZc6npycc86ljt8Q4Qraf/1Xzr8ZL2jeLy5pnpxcQdtmm+2SDiGVvF9c0nxazznnXOp4cnIFbdGiBSxatCDpMFLH+8Ulzaf1XEFburQ26RBSyfvFJc1HTs4551LHk5NzzrnU8eTknHMudfyak+u2qqvnM3PmDOrq3qesrJzKypGpe2ifc27DdFpykrQL8DugH7Ap4bHsF5hZmx/MF59ueyLwWzO7s43bbAfsbmb/lHQlcLmZvd7uBrhUq66ez9SpD3zyurZ2ySev25Og+vXbpMNjywfeLy5pnZKcJG0BTAaOMLNqST2Au4GTgOvbUdURwDFm9lI7tjkQGAL808zObMd2rgWTJt2UdAjrWLlyRdbyadMeoqpqervrmzHj2XVeFxcX0dCwcQ84PuaY4zdq+yRJuyUdgitwnTVyOgx41MyqAcysXtJ44GNJlwH7xfXuMLOrJN0KrAYGAlsDxwF7xX83SxoLHAJ8F2gEJpvZ1ZIGAzcBvYBVcfm5QD9JTwM/Ak4GFgN/ATaLbf65mT0qaTbwBDAs1ntYrOtOwvW4nsDJrSXHsrJ+lJT02PDeSrmKilKKi3M+TTkRDQ0NOcs7KtaNraeiorRD4uhK3THmjuDtTp+ixsaNOzvMRtJPgVVmdlWz8kOACcC3CEliOnA8cBawwMx+I+kEoNLMTpb0OCG5FAN/AkYRksgjwCmEacPrzOwhSf8NLAW2AYaY2bkZ2x8PvBET4WfjfncAFgLfNbOnJf0V+CewPK7/XWAo0MfMnmqpvTU1yzu+E1OioqKUmprlSYexnsmTb6e2dsl65eXl/Rk7dnyb61my5F0A+vf/r3XK09ruzpTZ5lz9ko8K8VhDOtpdUVGa8wyws+7Wew3YNrNA0iDCY9qfNLNGM1sDVBESAMCs+P8bQJ9m9e0KDACmAY8C5cCOgIBnAMzsLjN7OEc8OwP/juu9BSwDKnLs90HCaOrvwIVA9lN0l6jKypFZy4cPz16eyxtvLOKNNxZ1REh5xfvFJa2zktN9wNck7QAgqSdwOVBHnNKLZfsC1XGblkYfBswBDjCz0cCtwEvAPGBErG+cpNMIyaR5u+YB+8f1PguUAe/n2O9o4B0z+wpwMfCbtjXZdaXBg4cwZsxBlJf3p7i4mPLy/owZc5DfredcnuiUa05mtkzSscCNkoqBUsKU2TXAdpKeIVzbucvMnpfUWn0vSpoGTJfUG5gBvAWcDdwg6eeEa05HE0ZYP5P0fEYVvwFukXQk0Bc40czW5tjvi8Cdks4E6gmjJ5dCgwcP8WTkXJ7qlGtOhcavOXVfs2ZVAbDnnnuvU57v7c4ms825+iUfFeKxhnS0O4lrTs4559wG8+TknHMudfzri1xB2223yqRDSCXvF5c0T06uoJWU9Ew6hFTyfnFJ82k9V9BWr17N6tWrkw4jdbxfXNI8ObmCNnfuLObOndX6igXG+8UlzZOTc8651PHk5JxzLnU8OTnnnEsdT07OOedSx5OTc8651PG/c3IFbcCAHZMOIZW8X1zSPDm5grbllv2TDiGVvF9c0nxazznnXOp4cnIFbe7cF5g794Wkw0gd7xeXNJ/Wc91SdfV8Zs6cQV3d+5SVlVNZOXKDHjy4evVHnRBd9+f94pLWaclJ0i7A74B+wKbAA8AFZrZBD+aTNBm4HugDbGdmf+qoWGP92wG7m9k/O7Je1/Gqq+czdeoDn7yurV3yyWt/Mq5z+aFTkpOkLYDJwBFmVi2pB3A3cBIhwWwwM3uoA0LM5kBgCOFx8gVl0qSbci4rLi6ioSFdD/pduXJF1vJp0x6iqmp6u+oaNGggsH4fdEW7jznm+E6t37nurLNGTocBj5pZNYCZ1UsaD3ws6TJgv7jeHWZ2laRbgdXAQGBr4Dgze17SD4DjgXeAzwBIOo6QRK4H7gTeiNtNBnYF9gTuN7PzJO0GXA0UAe8DE+LynwAfA4NiHZcA5wL9JD0NfA44FmgAppvZ2S01tqysHyUlPTa0rxJXXJzzScltWt7VGhoacpZvaKzZtuvsdldUlHZq/RuiKaYePYrXeZ3vCqWdzaW53Z2VnLYBFmYWmNkKSYcQEsLecd/TJT0aV3nNzE6SdAJwoqSfAGcAuxGSxMws+9ke+ArQF1gEfBZYBbwGnAfcCEwws7mSJgLnAFOBAcAwoDfwtpn9WtIlwBAz+4ek54DTzKxK0imSSsxsba7G1tWtancHpcm4cRNzLquoKKWmZnkXRtO6yZNvp7Z2yXrl5eX9GTt2fLvqmjWrCli/D7qi3Wnr18w219eHE4C0xdgZ0vge7wppaHdLybGz7tZ7Ddg2s0DSIKASeNLMGs1sDVAFDI2rNH0//xuE60pDgDlmtjquOyPLfhaa2QfAUuBdM6s1s4+ApvmYnYFrJT1OGDVtE8tfMrO1ZrYS+DBLvd8DTpb0BCGRpWvoUOAqK0dmLR8+PHt5S7bcsoItt6zY2JDyjveLS1pnJaf7gK9J2gFAUk/gcqCOOKUXy/YFquM2zSf4FwJDJfWN16z2zLKf1i4KGDDezEYTRk33t7BdA5/2xwnAyWY2Ku5331b247rQ4MFDGDPmIMrL+1NcXEx5eX/GjDlog26GGDBgBwYM2KETouzevF9c0jplWs/Mlkk6FrhRUjFQSrjR4BpgO0nPAL2Au+K1pWx11Ej6BfA0UAOs3IBQTgFuj8kNYCKfjp6aewn4maTn48/PSaoB3gKe3YB9u040ePAQvzPPuTxW1NiYrjuxuqOamuV524lpmJfuTG+++SoAn/vcwHXK873d2WS2OVe/5KNCPNaQjnZXVJTmvGTi3xDhClpNzWJqahYnHUbqeL+4pHlycs45lzqenJxzzqWOJyfnnHOp48nJOedc6vi3kruC1rNnr6RDSCXvF5c0T06uoO266/CkQ0gl7xeXNJ/Wc845lzqenFxB++CDOj74oC7pMFLH+8UlzZOTK2gLFxoLF1rSYaSO94tLmicn55xzqePJyTnnXOp4cnLOOZc6npycc86ljicn55xzqeN/hOsK2pAhw5IOIZW8X1zSujQ5SRoN3AXMBYqAnsAEM5vflXE416Rv335JhwDAlCklXHllLxYsKGannRo488yPOfzwtYnFk5Z+cYUriZHTo2Z2FICkrwB/AA5JIA7naGhoAKC4OLkZ7ilTSjjppL6fvJ43r0d8/WFiCSoN/eIKW9LTemXAq5J2A64mjKbeByYAvwReNLPbJG0F3G9mlZJ+C3yRcL3scjO7W9LjQE2s71vAjcAWQH/gRjO7TtJI4I/AcuA94CMzO07SacB3gUZgspldLekI4CfAGuBVYLyZNXRBf7gu9uKLM3jnnWLOP/+AdcqLi6GhYZMuiWHx4uxPqj711D5cfHFjl8QA67b5ooseY+utG9hzz727bP/OZUoiOR0Yk0lvYBhwMCGZTDCzuZImAufEsj8CtwHHAH+W9HVgkJl9QVIfoErS1FjvHWY2RdJwQpK5V9I2wBPAdcD1wDFmNkfSr4HPShoKjAX2IySnRyT9C/gOcIWZTZY0HtgMWJqrQWVl/Sgp6dGBXZQuFRWlSYfQaXr0CCODbCOErho1rFmTq7yI4uLsiauzZLa5R4/ivD72mQqlnc2lud1JT+sJeAbYBLg2vKQnsMDM5kkqkTSAkEC+DJwIVMbk1rTugPhz03etLAbOjKOfZXEdgG3MbE78+UngKGDXuP20WF4G7Aj8CPippFOAecD/ttSgurpV7e2DbqOiopSamuVJh9Fp6usb2HpreO65ddvYle0eNaof8+atf3IzdGg9jz/ede+tzDbPmtVAfT15feyb5Pt7PJc0tLul5Jj0hPK78f/ZhKmz0YRR0/2x/Gbgd8BcM1sKzAcei+sdSLi5YmFct2na7cfAM2Z2NHA3YaoQ4I04UgJomqswYA5wQKzzVuAlQhK8wMxGxe0P75jmOre+M8/8OGv5GWdkL3euECQ5rVcPlBJGKS8Bt0tqOn2cGP+/G7gKODS+/icwWtKTwKbAFDNbHkdcZKxznaRxhOtXayX1Br4P3CJpBfAx8JaZvShpGjA9rjMDeCv+P1XS+4RrVPd1dCc41yTc9PAhV1316d16Z5yR7N16ziWtqLGx6y64JknSD4C7zKxG0sXAx2Z2YUfUXVOzPG87MQ1D/840a1YVwHoX/vO93dmsO62XvV/yUSEea0hHuysqSnNeVE36br2u9C7wcBw5fQAcm3A8LgU++9kBra9UgLxfXNIKJjmZ2T3APUnH4dLlM5/ZOukQUsn7xSUt6RsinHPOufV4cnIFrbp6LtXVc5MOI3W8X1zSCmZaz7lsVqxYlnQIqeT94pLmIyfnnHOp48nJOedc6nhycs45lzqenJxzzqWO3xDhClpp6eZJh5BK3i8uaZ6cXEHbccedkw4hlbxfXNJ8Ws8551zqeHJyBW3x4rdYvPitpMNIHe8XlzSf1nMF7Z133gBgq60+m3Ak6eL94pLmIyfnnHOp48nJOedc6nhycs45lzqenJxzzqWOJyfnnHOpU9TY2Jh0DM4559w6fOTknHMudTw5OeecSx1PTs4551LHk5NzzrnU8eTknHMudTw5OeecSx1PTs4551LHv5XcASDpM8BMYAywFrgVaAReBn5gZg2SfgkcHJefaWYzEgq3Q0j6KXAo0Au4FniCPG+3pJ7AbcBAoB44gTw+3pI+D1xqZqMl7Ugb25lr3STasCGatXsP4BrC8V4NjDezdyWdAJxEaPfFZnafpP7AHUBf4G3ge2a2Kok2+MjJNX1g3QB8GIsuB35uZvsDRcBhkoYDo4DPA0cBf0wi1o4iaTSwL/AFQru2pQDaDRwElJjZvsCFwK/J03ZLOge4CegTi9rTzvXW7crYN0aWdl8FnGZmo4F7gZ9I2go4nfD+/yrwW0m9gV8Ad8R2zyIkr0R4cnIAfwCuJ5wpAVQSRhEADwJfBvYDHjazRjN7HSiRVNHlkXacrwIvAVOAfwL3URjtXkBoQzGwGbCG/G33/wFHZLxuTzuzrdtdNG/3UWb2Qvy5BPgIGAk8ZWarzewD4BVgGKE/HorrJtpuT04FTtJxQI2Z/SujuMjMmr7XajmwOeGD7IOMdZrKu6v+wF7At4GTgb8CxQXQ7hWEKb35wI3A1eTp8TazvxGSb5P2tDPbut1C83ab2TsAkvYFTgWuIHe7M8sTbbcnJzcBGCPpcWAP4HbgMxnLS4GlwLL4c/Py7up94F9m9rGZGeFsMvMXMV/b/UNCu3cCdidcf+qVsTxf2w2Qec2otXZmW7fbkjSWMDtysJnVkLvdmeWJttuTU4Ezsy+a2ag4H/0CMB54MF6TAfg68CTwFPBVScWStiOMMpYkEXMHmQ58TVKRpG2ATYBpBdDuOj49M64FegKzCqDd0L52Zlu3W5J0NGHENNrMFsbiGcD+kvpI2hzYmXDjx1OE65KQcLv9bj2XzVnAjZJ6AfOAe8ysXtKTwDOEk5ofJBngxop3Jn2R8Eva1J5F5Hm7CVM6t8Q29QLOA/5D/rcb2ve+Xm/dJALeWJJ6EKZuXwfulQTwhJn9UtLVhORTDPzMzD6SdDFwW7yTbwnw3YRC90dmOOecSx+f1nPOOZc6npycc86ljicn55xzqePJyTnnXOp4cnLOOZc6npycc86ljicn55xzqfP/AdTHvi2pIhRZAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with Beverages (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name='Beverages', figsize=(6,4));"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 82,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAacAAAEFCAYAAABHOyh9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvIxREBQAAIABJREFUeJzt3XucVVX9//HXXLga6gBTSimg4gcR8TJiahpo2UVN0ywtr+EFLS+kaaZZ5qW08v7NSyp5KX+oJN/KWxKKeUMMUZTLB/yCd9FRBkFQhJn5/bHW4HE4Z27MnL33zPv5ePBgztp7r/VZ65w5n73W3nNOSX19PSIiImlSmnQAIiIijSk5iYhI6ig5iYhI6ig5iYhI6ig5iYhI6ig5iYhI6pQnHYB0LDMbBCwC/uPuoxptuwU4Gqh093ebqON8oL+7n2xmxwHd3f1aMzsR2NjdL2ni2NHA/7j78FbGvTFwATAaqAPqYz03t6aejmZmzwGj3X1pAm3fAuwDVAMlQA9gMvATd1/TzLG/BJ539793dJwtZWbbAbOAs9390pzy8/nk9fcycIi7/7fRsVOBgcD7hNdKd+C/wEnuvrKJNg8Avurup65n7LcDlwLnA1vF4u2BF4FaoMbd92ri+GMI/dp/feKIdX0b2M7dL1zfupKkmVPX8BFgZjawocDMNgC+1Ia69gB6A7j79U0lprYys57Ao8DrwE7uvgPwbeDnZnZse7e3Ptx9hyQSU44rYgzbAzsQntNDW3Dc3kC3Do2s9X4E/BU42czacuJ8ZhyLHYHhhNfpBU0d4O7/aIfE9D3gfXd/0d0PiTHsEDfvFR8XTEztzd3/F/iyme3Q7M4ppplT11AL3AkcDvwmlh0M/B04A9ad4eSb8ZjZQcABwD5m9iFQyafPaP8f4Ux+Y+Ayd78uNwgz6044uxwFlAEzgVPdfVmjeA8FPnD33zUUuPsr8U2ge6xrW+B/gH6EM+XL3P22GPdvgVcBA1YAlwCnxsd/c/efxP0uBV4BhgIfAse4+1wz2xr4I9AH2BR4DjjU3T8ys1Vx3LaP4/lMHIdy4Dagfwz5Pnc/L8Z6HvB9YA0wHzjZ3RfHs/2nCAllc+DfwAmEk8ZrYvlqYCHwQ3f/gKZtQJg9LY7tbgRcBWxHSERTgDOBscDOwO/NbDPgdHffLB7zL2Cxux9tZj2AN4EtgAGxrn6E5+5qdx8fj/kW8Iv43KwEfuruT8UZz6A4hgOBN4Aj3P2txoGbWZ84nl8kJNlDgAnN9Lcgd683s0eAfWP9Y2K/uwN9gUvc/brcGUt8PpYQXg/XxXh/QZi51xKS33/yNPdr4LvNxRRXMV5098/ke5yz3yGE1+a+7u7xhOxHhNfFe8DJwGuEk7cvuvv8eNy/gWvibPhm4FfAQc0OVkpp5tR13AYcmfP4aOCW1lTg7pOAfxDO1v+YZ5e+wEjCUtwFcZkm19mEN+iqeKb/JiFxNLYz8ESe9p9192nxrPofhF/EEcA3gd+Y2W5x15GEN58dgGXAz4H9gJ2AH5vZgJx2Gur4M3B7LD8euNXddyUs0QyOx0N4c/unu1ujpaXjgYXuvhOwJzDEzDYysx/G+EbGdl7k0+O+ZRyvhn6MAnaLZdu7exUhOY3IM04APzGz58zsBcIb1lvA43HbFcCMWMeOhMR5enzu/kt4s70CWG1mw82sF+GNee94/FeApwkJfiJhua0qxvhTM9vVzIYQTnj2jTOWE4B74sycOBbfdfehsZ4TC/TjSGC+u88FbgV+UmC/FjGzCsJJziNm9hnC89MQ46HA7wocWuPuw9z9GuD3wI/cfWfgPMJz0rid4UAvd39xfeLNqe/7hKXB0TExjSL8ru4ZY/8dMMndVxDG6bh43JbA1sC9saqHgG/G5zSTlJy6CHefAdSaWVU8W+7TXr9QOf7o7vXu/jrwIPC1Rtv3Bw4EZsZrNd8GhuWpp46mX5tbAz3d/R4Ad38T+Bvwjbh9kbvPjD//H/CIu38cr6stIyRRCNdcHos/jwd2NLN+wM+AajM7i3AGPQDIPbt9jHU9CHzHzO4nnKGf7e7vExLOn+ObCYTZx1fiLBJCoquLs8eXYmwvEM7UnzazCwmzvScLjEXDst52hBncR8DVcdv+wNg41jOAXQizqMYmxThHE2ZX78SZ6YGEcd2akETHx7oeBXoREt4+hJnRlLjtr4Tnr+G6y9ScmfFMPhn7xk4kvNkC/AWoyjnZaKnfx0T9PDCVkKSvijPO/YH94niey6efz1y5z+0EYJKZ3QRUkD+hDSU8b+1hJOEE6Xp3fy2W7UcYyyfj+P4OqDCzvsC1wFFm1o1wUnCTu9cCuPsSwmthIBmlZb2u5XbgCMIF9NsbbasnXFRv0J3Wy70IX0p4g81VBpzm7g8AxDPannnqmQb8uHFhvHi9J2EW2PhDIUv55BrKqkbbVrcg3oa+1xKWJ8uBu4D7CEtuuWOzzvKauz9jZoOBrxJmHtPN7JuEPufGWhrrbqjvw5xt9UCJuy81s+0Jy3p7A3ea2e/d/doC/WiIYUV8I/1tLCojzFrmwtqbTPJ9mOYk4EJCEp4MvAN8nZCwzonl7+dcR8HMPke4+eB4YIq7H5qzbTPCrPigfP1r3LiZ7Um4RnSWmZ0Riz8mzJ6eaqrPjZzp7hPz1P+FWM+fCAlrIiFZ5bP2uXX3c81sPCEBH0NYAt+l0f71tPwkv7nfsaWE5d+7zOxed3+Z8Bze7u4/i30pJTwfNe6+xMxmEU4ifkBYEs21hnV/BzNDM6eu5S+EtfFDgTsabasGNjezz5pZCXBYgTrWUPhC+lEAZrY5Ydb0QKPt/yJc7O4ef8lu5JM30lx/AzYys7PMrCzWuQVwOTAXmEdYijo4bhsAfIfwxtoaO5hZw3LZCcCT8eaGrwMXuPudcdsXCW8SBZnZJcB58WL0acBswhvug8CYnGWuUwl3TjZOoLl17U+YwTzp7ucTkvHI5joTx/SbwPRY9C/Csl9JvH70D8L1Cvj08/gkYWa0P+G610PAOMIy23uAAx+a2RGxnc0Iy5NVMc6vmdnQuG1fwh13rVlOOonwBryZuw9y90ExloPja2l97Ux4fV8U+7Z/jLXgc2pm5fE6am93v55wzWdEHMdcThi7llgKdDezhtWC7zfavsDdHyZcb7wtPp//Ar5vZpvGfU4kjHmDPxKWH6fHFYSG+DcinPi92sLYUkfJqQtx9zcIb+4L4rQ/d9sc4AbCtYhphNvP83kAONHMfp5n22Azm0F4Qz7V3b3R9guBlwnLO3MIZ5FnNNoHd/+YMAPZFnghnh3+DbjI3ce7+2rCkuBpcdu/CcnkkWaGoLHFwMXxes23+eSa3DmE5ZwXCGPyKJ8sUxVyJSHZvUgYw0WEZaGbY3zTzWwu4brX4c3U9QAhub1oZv8FdidcdM+n4ZrTTMJzuyEhsUBIhBsQlglnxf8blqb+AfzWzI5297rY5nJ3rybMLvoSxrzh+TgQOC6O90OERPxEfN2cAEyIy2kXAge04OYNAMysknBzzu9zy+Ob9FPAKS2ppxkPEW4ecMIYbU5IVgWfUw+34o8D7jCzZ4G7gTGNTyri0viHZrZNc0HEZd6zgAfM7Bk+PavMdTHheTvT3R8i3BwxOY79D4CD3b1hBnwvYYny+kZ1fA24t6mToLQr0VdmSHuwAn9/klbWxr+/EmnMzH4A7OHuP0qg7d2Am4DhOQkLM3sYGOfus4odU3vRzElEZD24+x1A3zx3p3YoM7uVMDs/tlFiOgh4LMuJCTRzEhGRFNLMSUREUkfJSUREUkd/59QO1qyprS8vb/JO43YzZUq4i/QrX/lKUdrrDDRmIqm1zt+9NVByagc1NQU/9Ljd1dbWAVBdvbwo7VVW9ilaWx2lLWPWGfrdWl2xz6B+Jx1DIVrWExGR1FFyEhGR1NGyXsZsvHGhz82UQjRmItmj5JQxgwdvnXQImaMxE8keLeuJiEjqKDllzJtvvsqbb2b2g4YToTETyR4lp4x5++03efvtN5vfUdbSmIlkj5KTiIikjpKTiIikjpKTiIikjpKTiIikjv7OKWPKyorzAbOdicZMJHuUnDJmxIiRSYeQORozkezRsp6IiKSOklPGLF++jOXLlyUdRqZozESyR8kpY156aQ4vvTQn6TAyRWMmkj1KTiIikjpKTiIikjpKTiIikjpKTiIikjqp/TsnMzsb+CpQB9QD57j7jFYcPxiYBDzv7ke3MYahwPXuProtx3cVkyaVc+WV3Zk/v5Stt65j3LiPOeigNUmHJSIZlsrkZGbDgAOAL7l7vZntANwKbN+Kar4ETHH3MzoixqRsvfW2SYfwKZMmlTN2bK+1j+fOLYuPP0xNgkrbmIlI81KZnIB3gM2BMWb2oLs/Z2a7mNl2wNVACfAeMAb4ALgB2AzoBzwA3Aj8AuhtZi8B04BrgFrgI+B4d3/VzM4ADgPWAP9x95+Z2abAX2Mbi4vW4xbaYIM+VFVtULT2Skuhrq5we4sXl+QtP/nknlx0UX1HhdVKGzBjxoqkgxCRViipr0/LG8inmdlOwMmEpb2VwLnAmcAYd59jZscCWxAS0Vfd/SYz6wm87u79zewYYKi7n21m/wWOi0nuQOBI4NfATcAehOT0N2A8MBpwd7/RzA4FTmpuWW/Nmtr68vLifX7boEFFa6pZr7xSeNvAgcWLozkvv5x0BCKSR/6zW1I6czKzrYBl7j4mPt4ZuB/oBVxrZgDdgPnAEmCkme0FLAN65KlygLs/F3/+D3AJMBSY5u6rYxuPAdvGf7fHfZ8ATmou3pqalW3oZds899x0brwRdthhl6K0V1nZh+rq5QW3jxrVm7lz103Mw4bVMnVq8calKc89N53Jk1s3Zs31uzPqin0G9TvpGApJ6916I4Dr4kwIQhJ6H3gJOCrOZM4C7gOOAZa6++HAZYSlvMbZ+E0zGxF/HhXrmwd80czK4/5fzinfLe6buk8Mra+vo76+Lukw1ho37uO85aedlr88CWkbMxFpXipnTu5+j5ltAzxtZh8QkuiZwGvAbWbWcKp+LDAXmGBmewIrgAXAgEZVHg/8T0xCa4Bj3X2hmd1FmB2VAo8D/wtMBu40s8OARR3Zz84g3PTwIVdd9cndeqedprv1RGT9pPaaU5ZUVy8v2iDOnDkNgB133LUo7aVh6r++2jJmnaHfrdUV+wzqd8IxFLzmlNZlPRER6cKUnEREJHVSec1JCttkky8kHULmaMxEskfJKWM23VRvtK2lMRPJHi3riYhI6ig5ZczChc7ChZ50GJmiMRPJHi3rZcz779ckHULmaMxEskczJxERSR0lJxERSR0lJxERSR0lJxERSR3dEJExG2xQ+CPmJT+NmUj2KDlljL5yvPU0ZiLZo2U9ERFJHSWnjKmuXkx19eKkw8gUjZlI9mhZL2Nef/1lACorN0k2kAzRmIlkT2qTk5mNBu4C5gD1QC/gr+5+TSvrORHYxN3Pb+8YRbKkx6SJ9L7yMsrmz6N266GsHHcGqw46JOmwRPJKbXKKHnb3wwDMrAfgZna7uy9NOC6RTOkxaSIbjh2z9nH53NlsOHYMy0AJSlIp7ckpVx+gFvi3mS0CKoD9gJuALYEy4HJ3v9PM9gCuApbEY6aZ2SBggrvvCmBm04DDgJXALcDGQAlwFPAOcDPQL7Z9qru/UIQ+SgL6Vg1ft7C0hL519cUPpoOULn4rb3mfk8eywUXnx506V59zLZnxYtIhSCulPTntbWZTgTpgNXAKcBZwh7tPMrOTgXfd/Ugz6wM8a2ZTgCuA77v7fDO7rpk2zgX+4e7Xm9newC7ACGCKu19nZkOAPwN7FKqgoqI35eVl69nVlikrC/ewVFYW7293itlWR2h2zEpL8h9XoDyTVq/OW1yyevWn+tmp+pyjuddw1l/jbZXmfqc9Oa1d1mtgZmcBDd9/sA3wbwB3X25mcwizqM+7+/y4zxPAVnnqbvgtNGB8rOPh2MbhhMR4aNynoqkga2pWtqZP66W2tg6A6urlRWmvsrJP0drqKM2O2TPrToo7Q79zVYzajfK5s9cpXzNsODVTnwQ6X58/pYl+dep+NyEN/W4qOWb1VvK6+P9cYE+AOHPaDlgELDazbeI+I+P/HwGfNbMyM9sYGJxTx8hYx5fN7FJgHnCFu48Gvgf8tWO703IjRoxkxIiRze8oa2nMYOW4M/KXn3Z6kSMRaZmsJqcGfwL6mdnjwFTg1+7+DnAEcGtc4hsI4O6LgcnAM/G4l2IdvwEOjMuHvwZuAC4GvhfLHgRSs2BdVlZGWVlxlhA7C41ZuOlh2Q3jWTNsOPXl5awZNpxlN4zXzRCSWiX19Z3zAmgxVVcvL9ogfvTRhwD07NmrKO2lYeq/vtoyZp2h363VFfsM6nfCMRS8yJn1mVOXM3fu88yd+3zSYWSKxkwke5ScREQkdZScREQkdZScREQkdZScREQkdZScREQkddL+CRHSyODBQ5IOIXM0ZiLZo+SUMRtv3K/5neRTNGYi2aNlPRERSR0lp4yZPXsms2fPTDqMTNGYiWSPlvUy5uOPVyUdQuZozESyRzMnERFJHSUnERFJHSUnERFJHSUnERFJHd0QkTH9+n026RAyR2Mmkj3tlpzMbDTwCHCYu9+ZUz4LeNbdj2lFXV8Glrr7rPj4LuB8YBrwLFAP9AQecfdzWhnnMcBQdz/bzE4A/uzuq1tTR5I233yLpEPIHI2ZtKcekybS+8rLKJs/j9qth7Jy3Bn6RuEO0N7LevOA7zc8MLPtgA3aUM8YYECso2csWwnMcffR7r4X8CVgLzMbsR7xngN07e/vFpEW6zFpIhuOHUP53NmU1NZSPnc2G44dQ49JE5MOrdNp72W954GtzWxjd18KHAH8FdjczL4LnA7UAo/HmcsXgOsIs6B+wAXAa8A3gJ3MbA6wHWFG1lgvoAew0swGATcD3QizqlPd/XkzW+zumwCY2QTg+oaDzexYYBNggpldCVwKfAz8G9jP3XeJ+90J/MHdn2mvQVofr766ENBsoDU0ZsnrWzU86RAKKy2hb119y3Zd/Fbe8j4nj2WDi85vv5iKIU+/l8x4MaFg1tUR15zuAQ4ys1uAXQhv+jsAvwZ2dveVZna7me1DSCSXuftUM9sd+LW772NmDwIT3P1VMzsbuIQwyxtmZlPjcbXAVe7+kplNBK5297+b2Q6ERLVzU0G6+81mdh5wGLAr0NPdvwhgZnub2TBgMTC4ucRUUdGb8vLiTMBmzXoXgKqq7YvSHkBlZZ+itdUR2jpmWe93W3RYn0tLOqbedlLW0vhW578CULJ6dcvrSJHGMafpNd8RyekOwmxoIfBYTjuVwP1mBtAH2AJ4HPhFnMXUE2Y+jX0hJqlBxGW9PPtsA/wHwN2fM7PN8uzT3CvHc36+ETgGeBX4SzPHUVOzsrld2k1tbR0A1dXLi9JeZWWforXVUdoyZp2h363VoX1+5oWOqbcdtKbfFaN2o3zu7HXK1wwbTs3UJ9s7tA6Vt99Ffs03lQzb/VZyd19IuM50Kp+8sdcTluv2icnlGuBp4ELgNnc/krB015BA6oBSM9seaMmrei6wJ0CcOS2O5d3M7DNm1h3YNs9xdXwyBnU55ROBrwEH0YLkJCJdw8pxZ+QvP+30IkfS+XXU3zndCWzm7vPj42rgcuBRM3sa+CYwH7gbuNrMHgP2AfrH/Z8mLOXtD9zbgvZ+CpxiZv8hzNqOjeVXEu7wmwi8kue4x4D7aTSrcvePCDOxd9x9SQvaF5EuYNVBh7DshvGsGTac+vJy1gwbzrIbxutuvQ5QUl/fsguBXY2ZXQtMdPeHm9u3unp50QZx5sxpAOy4465Faa8zLG+1Zcw6Q79bqyv2GdTvhGMoeLlFf4Sbh5k9BLzZksRUbN2790g6hMzRmIlkj5JTHu7+taRjKGTbbXdMOoTM0ZiJZI8+W09ERFJHySljli59j6VL30s6jEzRmIlkj5JTxixatIBFixYkHUamaMxEskfJSUREUkfJSUREUkfJSUREUkfJSUREUkfJSUREUkd/hJsx22xTvK/K6Cw0ZiLZo+SUMT179ko6hMzRmIlkj5b1Mqa2tpba2tqkw8gUjZlI9ig5ZcysWc8wa1YqvjE+MzRmItmj5CQiIqmj5CQiIqnTohsizGwL4HfAF4CVwIfAWe4+uwXHng087O7TWxOYmX0H2BC4FTib8O25tYSvfD/V3Vvy9e2tYmZTgRPdfV571y3rZ8GCecyYMZ2amveoqOhHVdUuDBkyNOmwRKSDNJuczKw38A/geHd/KpbtAvwRGN3c8e5+SRtj2xc4BziL8PXto9y9zsxGAn83M3P31W2sWzJkwYJ5TJ58/9rHS5a8u/axEpRI59SSmdO3CDOfpxoK3H26me1lZrcA/eK/bwGXApvFxw+4+3lxnwnAJoSE0xvYErjU3W8xsx8BRwN1wOPufqaZlQD93f1tMzsBqHL3utj2M2Y20t1Xm9l2wNVACfAeMAbYMcbxMfAn4FXgYsKs6/+AsUAv4CZgY0Liu9Hdr2von5l9CbgMWA3UAIe7e6a/x/n2229q03GlpSXU1RXtW+jzWrHig7zlU6Y8yLRpjzd7/ODBg4DWjUFH9vvII4/rkHpFOpOWJKfBwEsND8zs78BGwKbAa8B97n6FmQ0Cprn7cWbWE3gdOK9RXRu5+9fNbAjwT+AW4IfAKe4+zcxOMrNyoAr4bzymt7vX5Fbi7g1fznMjMMbd55jZsYRZ1mSgp7t/MSY5B/Zw93fM7ELgGGAGMMHd7zGzAcCjwHU5TXwbuAf4A3AAUAEUTE4VFb0pLy9rYgjbzzbbhJlCZWWfVh1XWlrS5jbX59j2UFdXV7C8JbEtWbIEaH0/OqrfrX3uiinNsXUk9Tt9WpKcXgN2bnjg7gcCmNk0QgLyuGkJMNLM9gKWAT3y1PVcTp09488/BH5qZpcCTxFmQfsTkgNAjZlt6O7LGioxs4OAKcA2wLVmBtANmN8QZvy/kpBE74r79AIeAu4DxpnZwTHWbo3i/A1wbmzjDeDpgqMD1NSsbGpzu+rZc2MAqqtbN5E7/PBj29ReZWWfVrfV3iZMuI0lS95dp7xfv/4ceuhRHdJmR/Y76fEsJA3PdRLU72RjKKQld+v9Hfiqme3aUGBmWxFujhhIWI6DMCNZ6u6HE5bEeseZS6586yTHE25CGEVYktsd2MHdZ8bttwK/aqjLzHYHLgc+IiSho9x9NGHWdF88piGmdwkJ9MC4z8XAI8BPgafc/QjgbkJCzHU4cIu77wXMBk5oYnykg1VV7ZK3fKed8peLSPY1O3Ny9w/M7FvAJWa2aTxmDeEN+3s5u04BJpjZnsAKYAEwoAUxvAA8Y2bVhFnKgvh/g98DFwJPmdlqwnWgA9z9YzM7CbjNzBrW1I7NbTPeQHEacJ+ZlRJmSUcRkuR1ZnY44VrVGjPLnek9A9xqZh8Qrl2lJjnNnx9ukNx6620TjqR4Gm56ePbZ6dTULKGioi877dTyu/W64piJZF1JfX2yF7s7g+rq5UUbxJkzpwGw4467NrNn+0jD1H99tWXMOkO/W6sr9hnU74RjKHhhV3+EKyIiqaPkJCIiqaPkJCIiqaPkJCIiqaMvG8yYjTaqSDqEzNGYiWSPklPGbLGFJR1C5mjMRLJHy3oiIpI6Sk4Z89Zbr/PWW68nHUamaMxEskfJKWMWL36dxYv1RtsaGjOR7FFyEhGR1FFyEhGR1FFyEhGR1FFyEhGR1NHfOWVMSYnOJ1pLYyaSPUpOGbPDDvqCvdbSmIlkj04pRUQkdZScMmbFiuWsWNH1vhhtfaR9zHpMmkjFqN3ov2kFFaN2o8ekiUmHJJK4Zpf1zGw0cBcwBygBugFXuvtdTRxzNvCwu09vaSBmNgiYBTxL+Br1nsAj7n5OS+vIqesbwGHufkwrjukJHOHuN7W2vWJq+MrxYn0TbmeQ5jHrMWkiG44ds/Zx+dzZbDh2DMuAVQcdklxgIglr6TWnh939MAAz+wzwqJnNd/fn8u3s7pe0MZ457j46tlMKPGFmI9x9Vhvra41NgOOAVCcnaR99q4Y3vUNpCX3r6js8jtLFb+Ut73PyWDa46PwOb/9T8vR5yYwXixuDSNTqGyLc/QMzuwE4xMxeAG4ANgP6AQ+4+3lmdgswgfCGP4awfHghcJy7fxfAzJ4ADnH3/L+d0AvoAayM9fWL//YDfgHsEfe7w92vMrNtgPHAivivJraz2N03iT9PAK4Hngb+DAwkzARPiXEOM7NfAlOAy4DVsZ7D3b3gulBFRW/Ky8taNoDrqawsrMRWVvYpSnvFbqsj5B2z0pLmj2vBPutt9eq8xSWrVxen/UYat5n1576luko/G0tzv9t6t97bwE6EpDTN3Y+Ly2KvA+c12rfG3Q80sxLgKjOrADYF3s2TmIaZ2VTCsl4tcJW7v2RmEGZvV5jZ/sBgYNcY/+Nm9jDwK+CX7j7ZzH4GbNNE/CcCL7v7YWY2HPgqcDGwnbtfYGa/B+4B/gAcAFQABZNTTc3KJppqX7W1dQBUVxfnGkplZZ+itdVR8o7ZMy80eUyx+l0xajfK585ep3zNsOHUTH2yw9vPlbfPGX/uW6IzvMbbIg39bio5tjU5DSQkoiXASDPbC1hGmOk05gDuXm9mfwG+D2wB3Jxn37XLeoXqISSdx9y9HlhtZtOAYcC2QMM1rifIn5waTgsNeCDG9SLwYrzm1eA3wLmEGdQbhJmWSLtbOe6MT11zWlt+2ukJRCOSHq2+W8/M+gDHA3cDxwBL3f1wwjJY7zhDylWX8/Ofge8CXwbub2XTDfXMJS7pmVk3YHdgATAP2C3uMzLnuG5m9hkz605IYA11jIx1bGFmd8T6G8bjcOAWd98LmA2c0MpYRVpk1UGHsOyG8awZNpz68nLWDBvOshvG62YI6fJaOnPaOy631cZjfuXubmblwAQz25NwnWcBMKBQJe7+hpktJywFrmlLwO5+r5mNNrOngO7AXe7+rJn9CLjTzM4EqoGP4iFXAtOAhcArsewGYLyZPQqUAeOAd4DuZnYpYUnvVjP7APiYFCWnrbYalnQImZP2MVt10CFKRiKNlNTXd/wdSbnM7F6SZP79AAAQ8ElEQVRgnLu/VNSGO1B19fLiDmIRpWFdOgldsd9dsc+gficcQ8G7for28UVm1gt4HHiwMyUmERFpf0VLTu7+IVBVrPY6q1mzngFgxIiRzewpDTRmItmjD37NmNra2qRDyByNmUj26LP1REQkdZScREQkdZScREQkdZScREQkdXRDRMZ87nMF/8ZZCtCYiWSPklPGDBiwedIhZI7GTCR7tKwnIiKpo+SUMYsWzWfRovlJh5EpGjOR7NGyXsYsXbok6RAyR2Mmkj2aOYmISOooOYmISOooOYmISOrompNk1oIF85gxYzo1Ne9RUdGPqqpdGDJkaNJhiUg76LDkZGbbAr8DegOfIXwt+/nu3uIv5ovfbnsC8Ft3v7OFx2wObO/u/zSzK4HL3f3VVncgpXr33iDpEFJhwYJ5TJ58/9rHS5a8u/Zx4wSlMRPJng5JTma2MTABONjdF5hZGXA3MBa4vhVVHQwc6e4vtOKYvYGhwD/dfVwrjssEs+0Saff2229KpN1CVqz4IG/5lCkPMm3a43m3TZ/+dIvrLy0toa5u/b7g+Mgjj1uv40W6so6aOR0IPOzuCwDcvdbMjgI+NrPLgD3ifne4+1VmdguwChgEbAocA+wc/91sZocC+wM/AOqBCe5+tZkNAW4CugMr4/azgd5m9iRwOnAisBj4C7Bh7PMv3P1hM5sFPAqMiPUeGOu6k3A9rhtwYnPJsaKiN+XlZW0frZSrrOxDaWnBb1NORF1dXcHy9op1feuprOzTLnEUUxZjbg/qd/qU1Nev39lhPmb2c2Clu1/VqHx/YAzwHUKSeBw4DjgDmO/uvzGz44Eqdz/RzKYSkksp8CdgFCGJ/Bs4ibBseJ27P2hm3wOWAgOAoe5+ds7xxwGvxUT4+djulsBC4Afu/qSZ/RX4J7A87v8DYBjQ092faKq/1dXL238QC3j33bcB6N//c0Vpr7KyD9XVy4vSVmtMmHAbS5a8u055v379OfTQoz5V1pYxS2u/O1JX7DOo3wnHUPAMsKPu1nsF2Cy3wMwGE76m/TF3r3f31cA0QgIAmBn/fw3o2ai+4cBAYArwMNAP2Aow4CkAd7/L3R8qEM82wH/ifm8Ay4DKAu0+QJhN/R24AMh/ip6Q115bxGuvLUo6jMRVVe2St3ynndYt15iJZE9HJad7gW+Y2ZYAZtYNuByoIS7pxbLdgQXxmKZmHw7MBvZy99HALcALwFxgZKzvcDM7hZBMGvdrLrBn3O/zQAXwXoF2RwNvufvXgIuA37Ssy1JMQ4YMZZ999qVfv/6UlpbSr19/9tlnX92tJ9JJdMg1J3dfZmZHAzeaWSnQh7Bkdg2wuZk9Rbi2c5e7P2tmzdX3vJlNAR43sx7AdOAN4EzgBjP7BeGa0xGEGda5ZvZsThW/Acab2SFAL+AEd19ToN3ngTvNbBxQS5g9SQoNGTJUyUikk+qQa05dTTGvOc2cOQ2AHXfctSjtpWFden21Zcw6Q79bqyv2GdTvhGMo+jUnERGRNlNyEhGR1NHHF2XMdttVJR1C5mjMRLJHySljysu7JR1C5mjMRLJHy3oZs2rVKlatWpV0GJmiMRPJHiWnjJkzZyZz5sxsfkdZS2Mmkj1KTiIikjpKTiIikjpKTiIikjpKTiIikjpKTiIikjr6O6eMGThwq6RDyByNmUj2KDllTN++/ZMOIXM0ZiLZo2U9ERFJHSWnjJkz5znmzHku6TAyRWMmkj1a1suYVas+SjqEVFiwYB4zZkynpuY9Kir6UVW1S8EvHtSYiWRPhyUnM9sW+B3QG/gMcD9wvru36Yv5zGwCcD3QE9jc3f/UXrHG+jcHtnf3f7ZnvdL+FiyYx+TJ9699vGTJu2sf65txRTqHDklOZrYxMAE42N0XmFkZcDcwlpBg2szdH2yHEPPZGxhK+Dr5LuX2228quK20tIS6unR9W/KKFR/kLZ8y5UGmTXt8nfLBgwcBTfezsWL0+8gjj+vQ+kWyrKNmTgcCD7v7AgB3rzWzo4CPzewyYI+43x3ufpWZ3QKsAgYBmwLHuPuzZvZj4DjgLeCzAGZ2DCGJXA/cCbwWj5sADAd2BO5z93PMbDvgaqAEeA8YE7f/DPgYGBzruAQ4G+htZk8CXwCOBuqAx939zKY6W1HRm/LysraOVauUlYXLhJWVfdqtztLSgt+U3KLtxVZXV1ewvKlYW9uPju53ez6H7SWNMRWD+p0+HZWcBgALcwvc/QMz25+QEHaNbT9uZg/HXV5x97Fmdjxwgpn9DDgN2I6QJGbkaWcL4GtAL2AR8HlgJfAKcA5wIzDG3eeY2bHAWcBkYCAwAugBvOnuF5vZJcBQd/+HmT0DnOLu08zsJDMrd/c1hTpbU7Oy1QPUVrW14Y25unp5u9V5+OHHFtxWWdmnXdtqDxMm3MaSJe+uU96vX38OPfSodcpnzpwGNN3PxorR77SNaxqf62JQv5ONoZCOulvvFWCz3AIzGwxUAY+5e727rwamAcPiLg3fafAa4brSUGC2u6+K+07P085Cd38fWAq87e5L3P0joGE9ZhvgWjObSpg1DYjlL7j7GndfAXyYp94fAiea2aOERJaaqUPfvpX07VuZdBiJqqraJW/5TjvlL9eYiWRPRyWne4FvmNmWAGbWDbgcqCEu6cWy3YEF8ZjGC/wLgWFm1ites9oxTzvNXRRw4Ch3H02YNd3XxHF1fDIexwMnuvuo2O7uzbRTNAMHbsnAgVsmHUaihgwZyj777Eu/fv0pLS2lX7/+7LPPvgVvhtCYiWRPhyzrufsyMzsauNHMSoE+hBsNrgE2N7OngO7AXfHaUr46qs3sl8CTQDWwog2hnATcFpMbwLF8Mntq7AXgXDN7Nv78jJlVA28AT7ehbelAQ4YM1Z15Ip1YSX19uu7EyqLq6uVFG8TXX38ZgC98YVBR2kvDuvT6asuYdYZ+t1ZX7DOo3wnHUPCSiT4hImOqqxdTXb046TAyRWMmkj1KTiIikjpKTiIikjpKTiIikjpKTiIikjr6VPKM6date9IhZI7GTCR7lJwyZvjwnZIOIXM0ZiLZo2U9ERFJHSWnjHn//Rref78m6TAyRWMmkj1KThmzcKGzcKEnHUamaMxEskfJSUREUkfJSUREUkfJSUREUkfJSUREUkfJSUREUkd/hJsxQ4eOSDqEzNGYiWRPUZOTmY0G7gLmACVAN2CMu88rZhxZ1qtX76RDyJwsjFmPSRPpfeVllM2fR+3WQ1k57gxWHXRI0mGJJCaJmdPD7n4YgJl9DfgDsH8CcWRSXV0dAKWlWpFtqbSPWY9JE9lw7Ji1j8vnzmbDsWNYBkpQ0mUlvaxXAbxsZtsBVxNmU+8BY4BfAc+7+61mtglwn7tXmdlvgS8Trpdd7u53m9lUoDrW9x3gRmBjoD9wo7tfZ2a7AH8ElgPvAB+5+zFmdgrwA6AemODuV5vZwcDPgNXAy8BR7l5XhPFo1vPPTwdgxx13TTiS7GhuzPpWDV+3sLSEvnX1HRnWJ00tfitveZ+Tx7LBRecXJYYQyKf7vGTGi8VrW6SRJJLT3jGZ9ABGAPsRkskYd59jZscCZ8WyPwK3AkcCfzazbwKD3f1LZtYTmGZmk2O9d7j7JDPbiZBk7jGzAcCjwHXA9cCR7j7bzC4GPm9mw4BDgT0IyenfZvYv4PvAFe4+wcyOAjYElhbqUEVFb8rLy9pxiAorKwtn/5WVfYrSXrHb6gjNjllpSf7jCpS3u9Wr8xaXrF5dvBii3Pay/ry3Rlfqa6409zvpZT0DngI2AK4ND+kGzHf3uWZWbmYDCQnkq8AJQFVMbg37Dow/N3w+zWJgXJz9LIv7AAxw99nx58eAw4Dh8fgpsbwC2Ao4Hfi5mZ0EzAX+t6kO1dSsbO0YtFltbZjAVVcvL0p7lZV9itZWR2l2zJ55YZ2iYva7YtRulM+dvU75mmHDqZn6ZFFigDx9zvjz3lKd4TXeFmnod1PJMelF+Lfj/7MIS2ejCbOm+2L5zcDvgDnuvhSYBzwS99ubcHPFwrhvw7LbT4Gn3P0I4G7CUiHAa3GmBNCwvuPAbGCvWOctwAuEJHi+u4+Kxx/UPt0VWdfKcWfkLz/t9CJHIpIeSS7r1QJ9CLOUF4DbzKxhbezY+P/dwFXAAfHxP4HRZvYY8BlgkrsvjzMucva5zswOJ1y/WmNmPYAfAePN7APgY+ANd3/ezKYAj8d9pgNvxP8nm9l7hGtU97b3IIg0WHXQISwDel91+Sd36512um6GkC6tpL6+OBd9k2ZmPwbucvdqM7sI+NjdL2iPuqurlxdtEGfOnAYU74aINEz911dbxqwz9Lu1umKfQf1OOIaCF1WTvluvmN4GHoozp/eBoxOOp00+//mBze8kn6IxE8meLpOc3H0iMDHpONbXZz+7adIhZI7GTCR7kr4hQkREZB1KThmzYMEcFiyYk3QYmaIxE8meLrOs11l88MGypEPIHI2ZSPZo5iQiIqmj5CQiIqmj5CQiIqmj5CQiIqmjGyIypk+fjZIOIXM0ZiLZo+SUMVtttU3SIWSOxkwke7SsJyIiqaPklDGLF7/B4sVvJB1GpmjMRLJHy3oZ89ZbrwGwySafTziS7NCYiWSPZk4iIpI6Sk4iIpI6Sk4iIpI6Sk4iIpI6Sk4iIpI6JfX19UnHICIi8imaOYmISOooOYmISOooOYmISOooOYmISOooOYmISOooOYmISOooOYmISOroU8kFADP7LDAD2AdYA9wC1AMvAj929zoz+xWwX9w+zt2nJxRuuzCznwMHAN2Ba4FH6eT9NrNuwK3AIKAWOJ5O/Hyb2ReBS919tJltRQv7WWjfJPrQFo36vQNwDeH5XgUc5e5vm9nxwFhCvy9y93vNrD9wB9ALeBP4obuvTKIPmjlJwxvWDcCHsehy4BfuvidQAhxoZjsBo4AvAocBf0wi1vZiZqOB3YEvEfq1GV2g38C+QLm77w5cAFxMJ+23mZ0F3AT0jEWt6ec6+xYz9vWRp99XAae4+2jgHuBnZrYJcCrh9f914Ldm1gP4JXBH7PdMQvJKhJKTAPwBuJ5wpgRQRZhFADwAfBXYA3jI3evd/VWg3Mwqix5p+/k68AIwCfgncC9do9/zCX0oBTYEVtN5+/1/wME5j1vTz3z7ZkXjfh/m7s/Fn8uBj4BdgCfcfZW7vw+8BIwgjMeDcd9E+63k1MWZ2TFAtbv/K6e4xN0bPtdqObAR4Y3s/Zx9Gsqzqj+wM/Bd4ETgr0BpF+j3B4QlvXnAjcDVdNLn293/Rki+DVrTz3z7ZkLjfrv7WwBmtjtwMnAFhfudW55ov5WcZAywj5lNBXYAbgM+m7O9D7AUWBZ/blyeVe8B/3L3j93dCWeTub+InbXfPyH0e2tge8L1p+452ztrvwFyrxk11898+2aWmR1KWB3Zz92rKdzv3PJE+63k1MW5+5fdfVRcj34OOAp4IF6TAfgm8BjwBPB1Mys1s80Js4x3k4i5nTwOfMPMSsxsALABMKUL9LuGT86MlwDdgJldoN/Qun7m2zeTzOwIwoxptLsvjMXTgT3NrKeZbQRsQ7jx4wnCdUlIuN+6W0/yOQO40cy6A3OBie5ea2aPAU8RTmp+nGSA6yvemfRlwi9pQ38W0cn7TVjSGR/71B04B/gvnb/f0LrX9Tr7JhHw+jKzMsLS7avAPWYG8Ki7/8rMriYkn1LgXHf/yMwuAm6Nd/K9C/wgodD1lRkiIpI+WtYTEZHUUXISEZHUUXISEZHUUXISEZHUUXISEZHUUXISEZHUUXISEZHU+f+2R8qRWIqZZwAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# let's compare all levels with Seafood (blue)\n",
    "# all groups that are significantly different are color coded red, all insignificant groups gray\n",
    "mc_results.plot_simultaneous(comparison_name='Seafood', figsize=(6,4));"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Meat and poultry gain the highest spending."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 4.4 - Conclusions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**A two-way ANOVA on $\\alpha$ = 0.05 was conducted to analyze the effect of the variables gender and product category on net spending:**\n",
    "\n",
    "* **Each factor**, gender and product category, has a **statistically significant effect** on the mean net expenditures: for gender with a p = 9.079449e-03 and for product category with a p = 5.902098e-09.\n",
    "\n",
    "* The interaction term, though, was not significant (p = 0.918), indicating **no interaction effect** between gender and product category on mean expenditures. \n",
    "\n",
    "* Therefore I may partially reject the null hypothesis in support of the alternative: The mean spending between women and men are different. So are the mean spending for some of the product categories. However, with regards to the interaction effect, I support the null hypothesis.\n",
    "\n",
    "* Post-hoc testing revealed interesting details about which groups actually differ: 1. Men spend significantly more than women. 2. Meat and poultry outperform most of the other product categories.\n",
    "\n",
    "* However, the effect size is small, pointing to a **low practical significance**.\n",
    "\n",
    "* My $\\alpha$ = 0.05 is effectively the probability that I might mistakenly reject the null hypothesis when it is actually true. This is called a \"Type 1 Error\". <br> With a significance level set to 5%, I am saying that only a small probability of a Type 1 error occurring is acceptable. The opposite is a \"Type 2 Error\" where I may mistakenly support the null hypothesis when the alternative is actually true.\n",
    "\n",
    "**The results may be used to perhaps focus more on a male target group or draft marketing strategies to increase women's spending. Moreover, the shop could also consider diversifying the meat and poultry products it offers.**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 5. Question: Different Volumes of Suppliers"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "> After analyzing 4 ideas so far on how to generate more money, this next one might be of help with saving costs: <br> Is there a relation between the percentage of a given shipping company’s number of shares within a certain region vs. globally? In other words, is their percentage of shares locally proportional to their percentage of shares\n",
    "globally? <br> If not, could shipping companies who already hold a large number of total shares within certain regions be provided with more freights/higher shipping volumes(within their regions), in return for decreasing shipping costs?"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 5.1 - Exploratory Research"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 83,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Table Name: Shipper\n",
      "\n",
      "Name: Id \t Type: INTEGER\n",
      "Name: CompanyName \t Type: VARCHAR(8000)\n",
      "Name: Phone \t Type: VARCHAR(8000)\n"
     ]
    }
   ],
   "source": [
    "get_columns_info('Shipper')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 84,
   "metadata": {},
   "outputs": [],
   "source": [
    "# joining \"Order\" and \"Shipper\" tables using the pd.read_sql_query() method\n",
    "df5 = pd.read_sql_query('''SELECT * \n",
    "                            FROM [Order] o\n",
    "                            JOIN Shipper s ON s.Id = o.ShipVia;''', engine)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 85,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1. Rows and Columns:\n",
      "(830, 17)\n",
      "...............................\n",
      "\n",
      "2. Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 830 entries, 0 to 829\n",
      "Data columns (total 17 columns):\n",
      "Id                830 non-null int64\n",
      "CustomerId        830 non-null object\n",
      "EmployeeId        830 non-null int64\n",
      "OrderDate         830 non-null object\n",
      "RequiredDate      830 non-null object\n",
      "ShippedDate       809 non-null object\n",
      "ShipVia           830 non-null int64\n",
      "Freight           830 non-null float64\n",
      "ShipName          830 non-null object\n",
      "ShipAddress       830 non-null object\n",
      "ShipCity          830 non-null object\n",
      "ShipRegion        830 non-null object\n",
      "ShipPostalCode    811 non-null object\n",
      "ShipCountry       830 non-null object\n",
      "Id                830 non-null int64\n",
      "CompanyName       830 non-null object\n",
      "Phone             830 non-null object\n",
      "dtypes: float64(1), int64(4), object(12)\n",
      "memory usage: 110.3+ KB\n",
      "None\n",
      "...............................\n",
      "\n",
      "3. Dataframe:\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Id</th>\n",
       "      <th>CustomerId</th>\n",
       "      <th>EmployeeId</th>\n",
       "      <th>OrderDate</th>\n",
       "      <th>RequiredDate</th>\n",
       "      <th>ShippedDate</th>\n",
       "      <th>ShipVia</th>\n",
       "      <th>Freight</th>\n",
       "      <th>ShipName</th>\n",
       "      <th>ShipAddress</th>\n",
       "      <th>ShipCity</th>\n",
       "      <th>ShipRegion</th>\n",
       "      <th>ShipPostalCode</th>\n",
       "      <th>ShipCountry</th>\n",
       "      <th>Id</th>\n",
       "      <th>CompanyName</th>\n",
       "      <th>Phone</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>10248</td>\n",
       "      <td>VINET</td>\n",
       "      <td>5</td>\n",
       "      <td>2012-07-04</td>\n",
       "      <td>2012-08-01</td>\n",
       "      <td>2012-07-16</td>\n",
       "      <td>3</td>\n",
       "      <td>32.38</td>\n",
       "      <td>Vins et alcools Chevalier</td>\n",
       "      <td>59 rue de l'Abbaye</td>\n",
       "      <td>Reims</td>\n",
       "      <td>Western Europe</td>\n",
       "      <td>51100</td>\n",
       "      <td>France</td>\n",
       "      <td>3</td>\n",
       "      <td>Federal Shipping</td>\n",
       "      <td>(503) 555-9931</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>10249</td>\n",
       "      <td>TOMSP</td>\n",
       "      <td>6</td>\n",
       "      <td>2012-07-05</td>\n",
       "      <td>2012-08-16</td>\n",
       "      <td>2012-07-10</td>\n",
       "      <td>1</td>\n",
       "      <td>11.61</td>\n",
       "      <td>Toms Spezialitäten</td>\n",
       "      <td>Luisenstr. 48</td>\n",
       "      <td>Münster</td>\n",
       "      <td>Western Europe</td>\n",
       "      <td>44087</td>\n",
       "      <td>Germany</td>\n",
       "      <td>1</td>\n",
       "      <td>Speedy Express</td>\n",
       "      <td>(503) 555-9831</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>10250</td>\n",
       "      <td>HANAR</td>\n",
       "      <td>4</td>\n",
       "      <td>2012-07-08</td>\n",
       "      <td>2012-08-05</td>\n",
       "      <td>2012-07-12</td>\n",
       "      <td>2</td>\n",
       "      <td>65.83</td>\n",
       "      <td>Hanari Carnes</td>\n",
       "      <td>Rua do Paço, 67</td>\n",
       "      <td>Rio de Janeiro</td>\n",
       "      <td>South America</td>\n",
       "      <td>05454-876</td>\n",
       "      <td>Brazil</td>\n",
       "      <td>2</td>\n",
       "      <td>United Package</td>\n",
       "      <td>(503) 555-3199</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>10251</td>\n",
       "      <td>VICTE</td>\n",
       "      <td>3</td>\n",
       "      <td>2012-07-08</td>\n",
       "      <td>2012-08-05</td>\n",
       "      <td>2012-07-15</td>\n",
       "      <td>1</td>\n",
       "      <td>41.34</td>\n",
       "      <td>Victuailles en stock</td>\n",
       "      <td>2, rue du Commerce</td>\n",
       "      <td>Lyon</td>\n",
       "      <td>Western Europe</td>\n",
       "      <td>69004</td>\n",
       "      <td>France</td>\n",
       "      <td>1</td>\n",
       "      <td>Speedy Express</td>\n",
       "      <td>(503) 555-9831</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>10252</td>\n",
       "      <td>SUPRD</td>\n",
       "      <td>4</td>\n",
       "      <td>2012-07-09</td>\n",
       "      <td>2012-08-06</td>\n",
       "      <td>2012-07-11</td>\n",
       "      <td>2</td>\n",
       "      <td>51.30</td>\n",
       "      <td>Suprêmes délices</td>\n",
       "      <td>Boulevard Tirou, 255</td>\n",
       "      <td>Charleroi</td>\n",
       "      <td>Western Europe</td>\n",
       "      <td>B-6000</td>\n",
       "      <td>Belgium</td>\n",
       "      <td>2</td>\n",
       "      <td>United Package</td>\n",
       "      <td>(503) 555-3199</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "      Id CustomerId  EmployeeId   OrderDate RequiredDate ShippedDate  ShipVia  \\\n",
       "0  10248      VINET           5  2012-07-04   2012-08-01  2012-07-16        3   \n",
       "1  10249      TOMSP           6  2012-07-05   2012-08-16  2012-07-10        1   \n",
       "2  10250      HANAR           4  2012-07-08   2012-08-05  2012-07-12        2   \n",
       "3  10251      VICTE           3  2012-07-08   2012-08-05  2012-07-15        1   \n",
       "4  10252      SUPRD           4  2012-07-09   2012-08-06  2012-07-11        2   \n",
       "\n",
       "   Freight                   ShipName           ShipAddress        ShipCity  \\\n",
       "0    32.38  Vins et alcools Chevalier    59 rue de l'Abbaye           Reims   \n",
       "1    11.61         Toms Spezialitäten         Luisenstr. 48         Münster   \n",
       "2    65.83              Hanari Carnes       Rua do Paço, 67  Rio de Janeiro   \n",
       "3    41.34       Victuailles en stock    2, rue du Commerce            Lyon   \n",
       "4    51.30           Suprêmes délices  Boulevard Tirou, 255       Charleroi   \n",
       "\n",
       "       ShipRegion ShipPostalCode ShipCountry  Id       CompanyName  \\\n",
       "0  Western Europe          51100      France   3  Federal Shipping   \n",
       "1  Western Europe          44087     Germany   1    Speedy Express   \n",
       "2   South America      05454-876      Brazil   2    United Package   \n",
       "3  Western Europe          69004      France   1    Speedy Express   \n",
       "4  Western Europe         B-6000     Belgium   2    United Package   \n",
       "\n",
       "            Phone  \n",
       "0  (503) 555-9931  \n",
       "1  (503) 555-9831  \n",
       "2  (503) 555-3199  \n",
       "3  (503) 555-9831  \n",
       "4  (503) 555-3199  "
      ]
     },
     "execution_count": 85,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('1. Rows and Columns:')\n",
    "print(df5.shape)\n",
    "print('...............................')\n",
    "print('\\n2. Info:')\n",
    "print(df5.info())\n",
    "print('...............................\\n\\n3. Dataframe:')\n",
    "df5.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 86,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['Western Europe', 'South America', 'Central America',\n",
       "       'North America', 'Northern Europe', 'Scandinavia',\n",
       "       'Southern Europe', 'British Isles', 'Eastern Europe'], dtype=object)"
      ]
     },
     "execution_count": 86,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df5.ShipRegion.unique()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Feature Engineering"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "We have to create a dataframe with the observed values per shipping company per region:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 87,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>ShipRegion</th>\n",
       "      <th>British Isles</th>\n",
       "      <th>Central America</th>\n",
       "      <th>Eastern Europe</th>\n",
       "      <th>North America</th>\n",
       "      <th>Northern Europe</th>\n",
       "      <th>Scandinavia</th>\n",
       "      <th>South America</th>\n",
       "      <th>Southern Europe</th>\n",
       "      <th>Western Europe</th>\n",
       "      <th>ROW_TOTAL</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Sample</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Federal Shipping</th>\n",
       "      <td>1586.83</td>\n",
       "      <td>418.34</td>\n",
       "      <td>66.06</td>\n",
       "      <td>6546.28</td>\n",
       "      <td>912.43</td>\n",
       "      <td>271.94</td>\n",
       "      <td>1640.30</td>\n",
       "      <td>587.92</td>\n",
       "      <td>8482.41</td>\n",
       "      <td>20512.51</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Speedy Express</th>\n",
       "      <td>998.59</td>\n",
       "      <td>176.31</td>\n",
       "      <td>8.72</td>\n",
       "      <td>2578.82</td>\n",
       "      <td>1369.54</td>\n",
       "      <td>291.38</td>\n",
       "      <td>2496.23</td>\n",
       "      <td>705.70</td>\n",
       "      <td>7560.04</td>\n",
       "      <td>16185.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>United Package</th>\n",
       "      <td>3124.09</td>\n",
       "      <td>528.13</td>\n",
       "      <td>100.96</td>\n",
       "      <td>6844.28</td>\n",
       "      <td>2351.82</td>\n",
       "      <td>623.07</td>\n",
       "      <td>4077.42</td>\n",
       "      <td>1076.24</td>\n",
       "      <td>9518.84</td>\n",
       "      <td>28244.85</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "ShipRegion        British Isles  Central America  Eastern Europe  \\\n",
       "Sample                                                             \n",
       "Federal Shipping        1586.83           418.34           66.06   \n",
       "Speedy Express           998.59           176.31            8.72   \n",
       "United Package          3124.09           528.13          100.96   \n",
       "\n",
       "ShipRegion        North America  Northern Europe  Scandinavia  South America  \\\n",
       "Sample                                                                         \n",
       "Federal Shipping        6546.28           912.43       271.94        1640.30   \n",
       "Speedy Express          2578.82          1369.54       291.38        2496.23   \n",
       "United Package          6844.28          2351.82       623.07        4077.42   \n",
       "\n",
       "ShipRegion        Southern Europe  Western Europe  ROW_TOTAL  \n",
       "Sample                                                        \n",
       "Federal Shipping           587.92         8482.41   20512.51  \n",
       "Speedy Express             705.70         7560.04   16185.33  \n",
       "United Package            1076.24         9518.84   28244.85  "
      ]
     },
     "execution_count": 87,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# observed values for each shipper by grouping\n",
    "df5_observed = df5.groupby(['CompanyName', 'ShipRegion'])['Freight'].sum()\n",
    "# unstack dataframe for more readability\n",
    "df5_observed = df5_observed.unstack()\n",
    "# add row sum\n",
    "df5_observed['ROW_TOTAL'] = df5_observed.sum(axis=1)\n",
    "# change index column's name\n",
    "df5_observed.index.names = ['Sample']\n",
    "df5_observed.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Then, we have to build a dataframe with the expected values - to compare observed vs. expected volume:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 88,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>ShipRegion</th>\n",
       "      <th>British Isles</th>\n",
       "      <th>Central America</th>\n",
       "      <th>Eastern Europe</th>\n",
       "      <th>North America</th>\n",
       "      <th>Northern Europe</th>\n",
       "      <th>Scandinavia</th>\n",
       "      <th>South America</th>\n",
       "      <th>Southern Europe</th>\n",
       "      <th>Western Europe</th>\n",
       "      <th>ROW_TOTAL</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Sample</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>COLUM_TOTAL</th>\n",
       "      <td>5709.51</td>\n",
       "      <td>1122.78</td>\n",
       "      <td>175.74</td>\n",
       "      <td>15969.38</td>\n",
       "      <td>4633.79</td>\n",
       "      <td>1186.39</td>\n",
       "      <td>8213.95</td>\n",
       "      <td>2369.86</td>\n",
       "      <td>25561.29</td>\n",
       "      <td>64942.69</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "ShipRegion   British Isles  Central America  Eastern Europe  North America  \\\n",
       "Sample                                                                       \n",
       "COLUM_TOTAL        5709.51          1122.78          175.74       15969.38   \n",
       "\n",
       "ShipRegion   Northern Europe  Scandinavia  South America  Southern Europe  \\\n",
       "Sample                                                                      \n",
       "COLUM_TOTAL          4633.79      1186.39        8213.95          2369.86   \n",
       "\n",
       "ShipRegion   Western Europe  ROW_TOTAL  \n",
       "Sample                                  \n",
       "COLUM_TOTAL        25561.29   64942.69  "
      ]
     },
     "execution_count": 88,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# adding the \"sample\" column to the original dataframe df5 ...\n",
    "df5['Sample'] = 'COLUM_TOTAL'\n",
    "\n",
    "# ... to make the same unstacking possible for the expected values as we did with the observed\n",
    "\n",
    "# create expected values:\n",
    "df5_expected = df5.groupby(['Sample', 'ShipRegion'])['Freight'].sum()\n",
    "# unstack dataframe for more readability\n",
    "df5_expected = df5_expected.unstack()\n",
    "# add row sum\n",
    "df5_expected['ROW_TOTAL'] = df5_expected.sum(axis=1)\n",
    "\n",
    "df5_expected"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 89,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>ShipRegion</th>\n",
       "      <th>British Isles</th>\n",
       "      <th>Central America</th>\n",
       "      <th>Eastern Europe</th>\n",
       "      <th>North America</th>\n",
       "      <th>Northern Europe</th>\n",
       "      <th>Scandinavia</th>\n",
       "      <th>South America</th>\n",
       "      <th>Southern Europe</th>\n",
       "      <th>Western Europe</th>\n",
       "      <th>ROW_TOTAL</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Sample</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Federal Shipping</th>\n",
       "      <td>1586.83</td>\n",
       "      <td>418.34</td>\n",
       "      <td>66.06</td>\n",
       "      <td>6546.28</td>\n",
       "      <td>912.43</td>\n",
       "      <td>271.94</td>\n",
       "      <td>1640.30</td>\n",
       "      <td>587.92</td>\n",
       "      <td>8482.41</td>\n",
       "      <td>20512.51</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Speedy Express</th>\n",
       "      <td>998.59</td>\n",
       "      <td>176.31</td>\n",
       "      <td>8.72</td>\n",
       "      <td>2578.82</td>\n",
       "      <td>1369.54</td>\n",
       "      <td>291.38</td>\n",
       "      <td>2496.23</td>\n",
       "      <td>705.70</td>\n",
       "      <td>7560.04</td>\n",
       "      <td>16185.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>United Package</th>\n",
       "      <td>3124.09</td>\n",
       "      <td>528.13</td>\n",
       "      <td>100.96</td>\n",
       "      <td>6844.28</td>\n",
       "      <td>2351.82</td>\n",
       "      <td>623.07</td>\n",
       "      <td>4077.42</td>\n",
       "      <td>1076.24</td>\n",
       "      <td>9518.84</td>\n",
       "      <td>28244.85</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>COLUM_TOTAL</th>\n",
       "      <td>5709.51</td>\n",
       "      <td>1122.78</td>\n",
       "      <td>175.74</td>\n",
       "      <td>15969.38</td>\n",
       "      <td>4633.79</td>\n",
       "      <td>1186.39</td>\n",
       "      <td>8213.95</td>\n",
       "      <td>2369.86</td>\n",
       "      <td>25561.29</td>\n",
       "      <td>64942.69</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "ShipRegion        British Isles  Central America  Eastern Europe  \\\n",
       "Sample                                                             \n",
       "Federal Shipping        1586.83           418.34           66.06   \n",
       "Speedy Express           998.59           176.31            8.72   \n",
       "United Package          3124.09           528.13          100.96   \n",
       "COLUM_TOTAL             5709.51          1122.78          175.74   \n",
       "\n",
       "ShipRegion        North America  Northern Europe  Scandinavia  South America  \\\n",
       "Sample                                                                         \n",
       "Federal Shipping        6546.28           912.43       271.94        1640.30   \n",
       "Speedy Express          2578.82          1369.54       291.38        2496.23   \n",
       "United Package          6844.28          2351.82       623.07        4077.42   \n",
       "COLUM_TOTAL            15969.38          4633.79      1186.39        8213.95   \n",
       "\n",
       "ShipRegion        Southern Europe  Western Europe  ROW_TOTAL  \n",
       "Sample                                                        \n",
       "Federal Shipping           587.92         8482.41   20512.51  \n",
       "Speedy Express             705.70         7560.04   16185.33  \n",
       "United Package            1076.24         9518.84   28244.85  \n",
       "COLUM_TOTAL               2369.86        25561.29   64942.69  "
      ]
     },
     "execution_count": 89,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# concat both tables to ONE frequency table\n",
    "df5_crosstab = pd.concat([df5_observed, df5_expected], axis=0)\n",
    "df5_crosstab"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 5.2 - Hypothesis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "$H_0$: There is no relationship between each shipping company's freight volume and its supplied regions. Both categorical variables are probabilistically independent and each company has the same share in each region as it does globally:\n",
    "\n",
    "> $H_0: X_1 = X_2, ..., = X_m$\n",
    "\n",
    "$H_1$: There is a relationship between each shipping company's freight volume and its supplied regions.\n",
    "\n",
    "> $H_1: X_i \\neq X_j$\n",
    "\n",
    "I set my significance level to: \n",
    "\n",
    "> **$\\alpha$ = 0.05**"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 5.3 - Statistical Analysis"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Appropriate Test"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "To determine whether the proportions of all three shippers in the nine regions are the same, a **$\\chi^2$ - Test of Independence** is appropriate.\n",
    "\n",
    "Because of the $\\chi^2$ - Distribution's shape, the significance level is always specified on the right (no one-tailed or two-tailed specification is necessary)."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "####  Chi-Square's Assumptions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* When testing the data, the cells should be **frequencies**, or counts of cases, and not percentages. --> Okay.\n",
    "\n",
    "* The levels (categories) of the variables being tested are **mutually exclusive**. --> Okay.\n",
    "\n",
    "* Each participant contributes to only one cell within the Chi-squared table. --> Okay.\n",
    "\n",
    "* The groups being tested must be **independent**. --> Okay.\n",
    "\n",
    "* The value of **expected cells should be greater than 5.** --> Assumption is met, see calculation below."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Test Statistic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 90,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>ShipRegion</th>\n",
       "      <th>British Isles</th>\n",
       "      <th>Central America</th>\n",
       "      <th>Eastern Europe</th>\n",
       "      <th>North America</th>\n",
       "      <th>Northern Europe</th>\n",
       "      <th>Scandinavia</th>\n",
       "      <th>South America</th>\n",
       "      <th>Southern Europe</th>\n",
       "      <th>Western Europe</th>\n",
       "      <th>ROW_TOTAL</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Sample</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Federal Shipping</th>\n",
       "      <td>1586.83</td>\n",
       "      <td>418.34</td>\n",
       "      <td>66.06</td>\n",
       "      <td>6546.28</td>\n",
       "      <td>912.43</td>\n",
       "      <td>271.94</td>\n",
       "      <td>1640.30</td>\n",
       "      <td>587.92</td>\n",
       "      <td>8482.41</td>\n",
       "      <td>20512.51</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Speedy Express</th>\n",
       "      <td>998.59</td>\n",
       "      <td>176.31</td>\n",
       "      <td>8.72</td>\n",
       "      <td>2578.82</td>\n",
       "      <td>1369.54</td>\n",
       "      <td>291.38</td>\n",
       "      <td>2496.23</td>\n",
       "      <td>705.70</td>\n",
       "      <td>7560.04</td>\n",
       "      <td>16185.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>United Package</th>\n",
       "      <td>3124.09</td>\n",
       "      <td>528.13</td>\n",
       "      <td>100.96</td>\n",
       "      <td>6844.28</td>\n",
       "      <td>2351.82</td>\n",
       "      <td>623.07</td>\n",
       "      <td>4077.42</td>\n",
       "      <td>1076.24</td>\n",
       "      <td>9518.84</td>\n",
       "      <td>28244.85</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>COLUM_TOTAL</th>\n",
       "      <td>5709.51</td>\n",
       "      <td>1122.78</td>\n",
       "      <td>175.74</td>\n",
       "      <td>15969.38</td>\n",
       "      <td>4633.79</td>\n",
       "      <td>1186.39</td>\n",
       "      <td>8213.95</td>\n",
       "      <td>2369.86</td>\n",
       "      <td>25561.29</td>\n",
       "      <td>64942.69</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "ShipRegion        British Isles  Central America  Eastern Europe  \\\n",
       "Sample                                                             \n",
       "Federal Shipping        1586.83           418.34           66.06   \n",
       "Speedy Express           998.59           176.31            8.72   \n",
       "United Package          3124.09           528.13          100.96   \n",
       "COLUM_TOTAL             5709.51          1122.78          175.74   \n",
       "\n",
       "ShipRegion        North America  Northern Europe  Scandinavia  South America  \\\n",
       "Sample                                                                         \n",
       "Federal Shipping        6546.28           912.43       271.94        1640.30   \n",
       "Speedy Express          2578.82          1369.54       291.38        2496.23   \n",
       "United Package          6844.28          2351.82       623.07        4077.42   \n",
       "COLUM_TOTAL            15969.38          4633.79      1186.39        8213.95   \n",
       "\n",
       "ShipRegion        Southern Europe  Western Europe  ROW_TOTAL  \n",
       "Sample                                                        \n",
       "Federal Shipping           587.92         8482.41   20512.51  \n",
       "Speedy Express             705.70         7560.04   16185.33  \n",
       "United Package            1076.24         9518.84   28244.85  \n",
       "COLUM_TOTAL               2369.86        25561.29   64942.69  "
      ]
     },
     "execution_count": 90,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# using the crosstab I built\n",
    "df5_crosstab"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "I had a bit of fun building my own **function to calculate the test statistic**:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 91,
   "metadata": {},
   "outputs": [],
   "source": [
    "def chi_statistic(dataframe):\n",
    "    \"\"\" Function that takes in the dataframe and calculates the Chi Statistic \n",
    "    for Chi-Square test of homogeneity by:\n",
    "    \n",
    "    a) computing the expected frequency:\n",
    "    E(i,j) = (Row Total * Column Total) / Grand Total\n",
    "    \n",
    "    b) calculating Chi-Squared:\n",
    "    squaring the product of observed (O) and the expected (E) frequencies, \n",
    "    dividing it by E and \n",
    "    summing all values up:\n",
    "    chi = Σ of ( (O(i,j) * E(i,j)) **2 ) / E(i,j) \"\"\"\n",
    "    \n",
    "    # calculate grand\n",
    "    grand_total = dataframe.iloc[3, 9]    \n",
    "    \n",
    "    # define an empty list for ALL expected chi-values\n",
    "    chi_total = []\n",
    "    \n",
    "    # iterate through all rows (=samples)\n",
    "    for row_j in range(0,3):\n",
    "        \n",
    "        # calculate row_total for each row\n",
    "        row_total = dataframe.iloc[row_j, 9]\n",
    "        \n",
    "        # define an empty list for the expected chi-values per single row\n",
    "        chi_per_row = []\n",
    "        \n",
    "        # iterate through all columns in that row (= features)\n",
    "        for column_i in range(0,10):\n",
    "            \n",
    "            # calculate the column total\n",
    "            col_total = dataframe.iloc[3, column_i]\n",
    "            # grab the observed value\n",
    "            obs_value = dataframe.iloc[row_j, column_i]\n",
    "            # calculate first the expected frequency\n",
    "            exp_value = (row_total * col_total) / grand_total\n",
    "            # calculate second \"single\" chi value\n",
    "            single_chi = ((obs_value-exp_value)**2) / exp_value\n",
    "            # append them to the list\n",
    "            chi_per_row.append(single_chi)\n",
    "        \n",
    "        # append the sum of row-wise chi-values to the overall list\n",
    "        chi_total.append(sum(chi_per_row))\n",
    "    \n",
    "    # sum all values up to get the chi-squared\n",
    "    return sum(chi_total)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 92,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "2757.5246458453066"
      ]
     },
     "execution_count": 92,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# and now let's run it:\n",
    "chi_statistic(df5_crosstab)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 93,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "16"
      ]
     },
     "execution_count": 93,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# getting the degrees of freedom: df = (n − 1) * (m − 1) where n=samples and m=features\n",
    "df = (3-1) * (9-1)\n",
    "df"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Checking a Chi table, it reveals: \n",
    "\n",
    "For df = 16 and $\\alpha = 0.05$, the critical value of chi-squared is 26.296 - even for $\\alpha = 0.01$ the value is 32.000, i.e. our test statistic is much higher and **we can reject the null hypothesis**."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 94,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Chi Statistic:        2757.5246458453066\n",
      "p-value (two-tailed): 0.000000000000\n"
     ]
    }
   ],
   "source": [
    "# ALSO using the built-in chi contingency function to get the p value\n",
    "chi, p, df, exp_frequencies = stats.chi2_contingency(df5_crosstab)\n",
    "print(f\"Chi Statistic:        {chi}\")\n",
    "print(f\"p-value (two-tailed): {p:.12f}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The Chi-squared value matches the one we calculated in our function. And the p-value indicates a **highly significant result**."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 95,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Expected Frequencies: [[1.80338050e+03 3.54636311e+02 5.55084569e+01 5.04401753e+03\n",
      "  1.46360836e+03 3.74727883e+02 2.59442181e+03 7.48533468e+02\n",
      "  8.07367568e+03 2.05125100e+04]\n",
      " [1.42295158e+03 2.79824639e+02 4.37987693e+01 3.97996580e+03\n",
      "  1.15485546e+03 2.95677830e+02 2.04712018e+03 5.90627924e+02\n",
      "  6.37050781e+03 1.61853300e+04]\n",
      " [2.48317791e+03 4.88319050e+02 7.64327739e+01 6.94539667e+03\n",
      "  2.01532618e+03 5.15984287e+02 3.57240801e+03 1.03069861e+03\n",
      "  1.11171065e+04 2.82448500e+04]\n",
      " [5.70951000e+03 1.12278000e+03 1.75740000e+02 1.59693800e+04\n",
      "  4.63379000e+03 1.18639000e+03 8.21395000e+03 2.36986000e+03\n",
      "  2.55612900e+04 6.49426900e+04]]\n"
     ]
    }
   ],
   "source": [
    "print(\"Expected Frequencies:\", exp_frequencies)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "--> Since **all of the expected frequencies are greater than 5**, the chi2 test results can be trusted."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#### Effect Size"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The effect size for a Chi-square test can be calculated with Cramer’s V:\n",
    "> #### $V= \\sqrt{ \\frac{\\chi^2} {n * df} } $"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 96,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0.35078318989327995"
      ]
     },
     "execution_count": 96,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "import math\n",
    "\n",
    "# chi-value we calculated with our function\n",
    "chi = chi_statistic(df5_crosstab)\n",
    "\n",
    "# observations, i.e. the length of original dataframe\n",
    "n = df5.shape[0]\n",
    "\n",
    "# df = degress of freedom we calculated above\n",
    "df = df\n",
    "\n",
    "v = math.sqrt(chi/(n*df))\n",
    "v"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "According to Cohen, this constitutes an almost **median effect**."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 5.4 - Conclusions"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**A Chi-Square Test of Independence with $\\alpha$ = 0.05 was used to analyze whether the variables \"shipping company\" and \"region\" are probabilistically independent, therefore whether each shipping company has the same relative share in each region as it does globally:**\n",
    "\n",
    "* There was a **statistically significant difference** between n = 3 shipping companies and m = 9 regions with p = 0.0000000.\n",
    "\n",
    "* Therefore I may reject the null hypothesis in support of the alternative: There is indeed a relationship between each shipping company's freight volume and supplied regions.\n",
    "\n",
    "* The effect size points to a median effect, so we explored a **medium practical significance**.\n",
    "\n",
    "* My $\\alpha$ = 0.05 is effectively the probability that I might mistakenly reject the null hypothesis when it is actually true. This is called a \"Type 1 Error\". <br> With a significance level set to 5%, I am saying that only a small probability of a Type 1 error occurring is acceptable. The opposite is a \"Type 2 Error\" where I may mistakenly support the null hypothesis when the alternative is actually true.\n",
    "\n",
    "**The results could be used to provide shipping companies who already hold a large number of total shares within certain regions with more freights/higher shipping volumes (within their regions), in return for reducing their shipping costs.**\n",
    "\n",
    "**Regions with skewed share distributions (where one shipping company already holds many shares) could be targeted.** \n",
    "\n",
    "**Examples: Federal Shipping already holds many shares in North America, Speedy Express in Western Europe, etc.**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 97,
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>ShipRegion</th>\n",
       "      <th>British Isles</th>\n",
       "      <th>Central America</th>\n",
       "      <th>Eastern Europe</th>\n",
       "      <th>North America</th>\n",
       "      <th>Northern Europe</th>\n",
       "      <th>Scandinavia</th>\n",
       "      <th>South America</th>\n",
       "      <th>Southern Europe</th>\n",
       "      <th>Western Europe</th>\n",
       "      <th>ROW_TOTAL</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Sample</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Federal Shipping</th>\n",
       "      <td>1586.83</td>\n",
       "      <td>418.34</td>\n",
       "      <td>66.06</td>\n",
       "      <td>6546.28</td>\n",
       "      <td>912.43</td>\n",
       "      <td>271.94</td>\n",
       "      <td>1640.30</td>\n",
       "      <td>587.92</td>\n",
       "      <td>8482.41</td>\n",
       "      <td>20512.51</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Speedy Express</th>\n",
       "      <td>998.59</td>\n",
       "      <td>176.31</td>\n",
       "      <td>8.72</td>\n",
       "      <td>2578.82</td>\n",
       "      <td>1369.54</td>\n",
       "      <td>291.38</td>\n",
       "      <td>2496.23</td>\n",
       "      <td>705.70</td>\n",
       "      <td>7560.04</td>\n",
       "      <td>16185.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>United Package</th>\n",
       "      <td>3124.09</td>\n",
       "      <td>528.13</td>\n",
       "      <td>100.96</td>\n",
       "      <td>6844.28</td>\n",
       "      <td>2351.82</td>\n",
       "      <td>623.07</td>\n",
       "      <td>4077.42</td>\n",
       "      <td>1076.24</td>\n",
       "      <td>9518.84</td>\n",
       "      <td>28244.85</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>COLUM_TOTAL</th>\n",
       "      <td>5709.51</td>\n",
       "      <td>1122.78</td>\n",
       "      <td>175.74</td>\n",
       "      <td>15969.38</td>\n",
       "      <td>4633.79</td>\n",
       "      <td>1186.39</td>\n",
       "      <td>8213.95</td>\n",
       "      <td>2369.86</td>\n",
       "      <td>25561.29</td>\n",
       "      <td>64942.69</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "ShipRegion        British Isles  Central America  Eastern Europe  \\\n",
       "Sample                                                             \n",
       "Federal Shipping        1586.83           418.34           66.06   \n",
       "Speedy Express           998.59           176.31            8.72   \n",
       "United Package          3124.09           528.13          100.96   \n",
       "COLUM_TOTAL             5709.51          1122.78          175.74   \n",
       "\n",
       "ShipRegion        North America  Northern Europe  Scandinavia  South America  \\\n",
       "Sample                                                                         \n",
       "Federal Shipping        6546.28           912.43       271.94        1640.30   \n",
       "Speedy Express          2578.82          1369.54       291.38        2496.23   \n",
       "United Package          6844.28          2351.82       623.07        4077.42   \n",
       "COLUM_TOTAL            15969.38          4633.79      1186.39        8213.95   \n",
       "\n",
       "ShipRegion        Southern Europe  Western Europe  ROW_TOTAL  \n",
       "Sample                                                        \n",
       "Federal Shipping           587.92         8482.41   20512.51  \n",
       "Speedy Express             705.70         7560.04   16185.33  \n",
       "United Package            1076.24         9518.84   28244.85  \n",
       "COLUM_TOTAL               2369.86        25561.29   64942.69  "
      ]
     },
     "execution_count": 97,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# original crosstable\n",
    "df5_crosstab"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 98,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>ShipRegion</th>\n",
       "      <th>British Isles</th>\n",
       "      <th>Central America</th>\n",
       "      <th>Eastern Europe</th>\n",
       "      <th>North America</th>\n",
       "      <th>Northern Europe</th>\n",
       "      <th>Scandinavia</th>\n",
       "      <th>South America</th>\n",
       "      <th>Southern Europe</th>\n",
       "      <th>Western Europe</th>\n",
       "      <th>ROW_TOTAL</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Sample</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Federal Shipping</th>\n",
       "      <td>7.735913</td>\n",
       "      <td>2.039438</td>\n",
       "      <td>0.322047</td>\n",
       "      <td>31.913598</td>\n",
       "      <td>4.448164</td>\n",
       "      <td>1.325728</td>\n",
       "      <td>7.996584</td>\n",
       "      <td>2.866153</td>\n",
       "      <td>41.352375</td>\n",
       "      <td>100.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Speedy Express</th>\n",
       "      <td>6.169723</td>\n",
       "      <td>1.089320</td>\n",
       "      <td>0.053876</td>\n",
       "      <td>15.933070</td>\n",
       "      <td>8.461613</td>\n",
       "      <td>1.800272</td>\n",
       "      <td>15.422793</td>\n",
       "      <td>4.360121</td>\n",
       "      <td>46.709211</td>\n",
       "      <td>100.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>United Package</th>\n",
       "      <td>11.060742</td>\n",
       "      <td>1.869828</td>\n",
       "      <td>0.357446</td>\n",
       "      <td>24.231957</td>\n",
       "      <td>8.326544</td>\n",
       "      <td>2.205960</td>\n",
       "      <td>14.435977</td>\n",
       "      <td>3.810394</td>\n",
       "      <td>33.701153</td>\n",
       "      <td>100.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>COLUM_TOTAL</th>\n",
       "      <td>8.791613</td>\n",
       "      <td>1.728878</td>\n",
       "      <td>0.270608</td>\n",
       "      <td>24.589958</td>\n",
       "      <td>7.135199</td>\n",
       "      <td>1.826826</td>\n",
       "      <td>12.647998</td>\n",
       "      <td>3.649156</td>\n",
       "      <td>39.359765</td>\n",
       "      <td>100.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "ShipRegion        British Isles  Central America  Eastern Europe  \\\n",
       "Sample                                                             \n",
       "Federal Shipping       7.735913         2.039438        0.322047   \n",
       "Speedy Express         6.169723         1.089320        0.053876   \n",
       "United Package        11.060742         1.869828        0.357446   \n",
       "COLUM_TOTAL            8.791613         1.728878        0.270608   \n",
       "\n",
       "ShipRegion        North America  Northern Europe  Scandinavia  South America  \\\n",
       "Sample                                                                         \n",
       "Federal Shipping      31.913598         4.448164     1.325728       7.996584   \n",
       "Speedy Express        15.933070         8.461613     1.800272      15.422793   \n",
       "United Package        24.231957         8.326544     2.205960      14.435977   \n",
       "COLUM_TOTAL           24.589958         7.135199     1.826826      12.647998   \n",
       "\n",
       "ShipRegion        Southern Europe  Western Europe  ROW_TOTAL  \n",
       "Sample                                                        \n",
       "Federal Shipping         2.866153       41.352375      100.0  \n",
       "Speedy Express           4.360121       46.709211      100.0  \n",
       "United Package           3.810394       33.701153      100.0  \n",
       "COLUM_TOTAL              3.649156       39.359765      100.0  "
      ]
     },
     "execution_count": 98,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# inelegant way to transform all values into percentages (row-wise calculated!)\n",
    "df5_crosstab['British Isles'] = (df5_crosstab['British Isles'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['Central America'] = (df5_crosstab['Central America'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['Eastern Europe'] = (df5_crosstab['Eastern Europe'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['North America'] = (df5_crosstab['North America'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['Northern Europe'] = (df5_crosstab['Northern Europe'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['Scandinavia'] = (df5_crosstab['Scandinavia'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['South America'] = (df5_crosstab['South America'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['Southern Europe'] = (df5_crosstab['Southern Europe'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['Western Europe'] = (df5_crosstab['Western Europe'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab['ROW_TOTAL'] = (df5_crosstab['ROW_TOTAL'] / df5_crosstab['ROW_TOTAL'])*100\n",
    "df5_crosstab"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.6.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About